@font-face {
  font-family: 'checkbox';
  src: url('/assets/fonts/checkbox/checkmark.eot?45009866');
  src: url('/assets/fonts/checkbox/checkmark.eot?45009866#iefix') format('embedded-opentype'),
       url('/assets/fonts/checkbox/checkmark.woff2?45009866') format('woff2'),
       url('/assets/fonts/checkbox/checkmark.woff?45009866') format('woff'),
       url('/assets/fonts/checkbox/checkmark.ttf?45009866') format('truetype'),
       url('/assets/fonts/checkbox/checkmark.svg?45009866#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* CHECKBOX */

input[type=checkbox].css-checkbox { 
  /* to hide the checkbox itself */
  display:none; 

  + label.css-label {
    color: @paragraph;
    font-size:15px;
    font-weight: normal;
    cursor: pointer;
  }
  + label.css-label:before { 
    font-family: 'checkbox';
    /* check mark icon */
    content:  '\e800'; 
    color: #fff;
    font-size: 9pt;

    display: inline-block;
    text-align: center;
    vertical-align: middle;
    width: 18px;
    height: 18px;
    line-height: 18px;
    margin-right: 5px;
    background-color: #fff;
    border: 2px solid rgb(210, 215, 216);
    border-radius: 2px;
  } 

  &:checked + label.css-label:before { 
    background-color: #65B254;
    background-color: var(--secondary-color);
    border-color: #65B254;
    border-color: var(--secondary-color);
  } 
} 
