@import "./variables";

.mat-dialog-container {
    min-width: 85vw;
    padding: 0!important;   
    .mat-datepicker-content {
        padding: .75em;
        margin: 0;
    }
    .dialog {        
        display: grid; 
        grid-template-columns: auto;
        grid-template-rows: minmax(auto, 84px)  auto;
        max-height: 85vh;
        
        .header {
            z-index: 1000;
            padding: 24px 24px 0;
            background-color: #fff;
            position: sticky;
            top: 0;
            
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 1;
            grid-row-end: 2;        
            justify-content: space-between;
            

            display: grid; 
            grid-template-columns: 1fr auto;
            grid-template-rows: auto;
            align-items: center;
            
            padding-bottom:.5em;   
            &:after {
                grid-column-start: 1;
                grid-column-end: 3;                
                content: '';      
                padding-top: .25em;         
                border-bottom: 2px solid @divider;
            }           
            .title {
                grid-column-start: 1;
                grid-column-end: 2;
                grid-row-start: 1;
                grid-row-end: 2;   
                background-color: #fff;     
                color:  #1C5074;                
                color: var(--primary-color);
            }
            .button {
                grid-column-start: 2;
                grid-column-end: 3;
                grid-row-start: 1;
                grid-row-end: 2;        
                margin-left: .25em;
            }
        }
        .content {  
            padding: 1em 24px 24px;
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 2;
            grid-row-end: 3;           
            h4 {
                color: @paragraph;    
                margin: 1em 0;            
            }
            p {
                margin: 1em 0 2em;
                color: @paragraph;                    
            }
            label:not(.mat-form-field-label) {
                padding: 0.5em 0;
            }

            footer {
                background-color: #ffffff;
                border-top: 1px solid @divider;
                padding: 10px 0;
                button {
                    margin-right: 5px;
                }
            }
        }       
    }
}



.dialog-overflow-visible {
    .mat-dialog-container {
        overflow: visible;
    }
}


@media screen and (min-width: @break-point) {
    .mat-dialog-container {
        min-width: auto;        
        .dialog {
            max-height: auto;
            height: auto;
        }
    }
}