@import "./variables";

.alert-danger {
    font-size: 0.8em;
    color: #E00001;
    text-decoration: none;
    margin:2px 0 10px;
}

.summary-errors {
    margin:10px 0 5px;
    font-weight: bold;
    font-size: 1em;
    color: #E00001;
}

.invalid {
    border-color:#E00001;
}

input, select, textarea {
    display: block;
    padding: 10px 10px;
    margin-bottom: 10px;
    width: 100%;
    border: 1px solid @divider;
    transition: border-width 0.2s ease;
    border-radius: 2px;
    color: @paragraph;
    outline: none;
    box-shadow: none;
    font-weight: normal;
    font-size: 15px;
}

input {
    box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.1);
    &:focus {
        box-shadow: 0px 0px 10px rgba(117, 164, 197, 0.3);
    }
    &.ng-invalid:not(.ng-untouched) {
        border: 1px solid @high-alert !important;
        box-shadow: 0px 0px 10px rgba(187, 40, 40, .3);
    }
}

        
.primary-btn {
    color: #fff;
    background-color: #1C5074;
    background-color: var(--primary-color);
    border-color: #1C5074;
    border: 1px solid var(--primary-color);
    &:hover, &:focus  {
        background-color: #236391;
        background-color: var(--primary-color-hover);
        border-color: #236391;
        border: 1px solid var(--primary-color-hover);
    }
}

.secondary-btn {
    background-color: #65B254;
    background-color: var(--secondary-color);
    border-color: #65B254;
    border: 1px solid var(--secondary-color);
    color: #fff;
    &:hover, &:focus  {
        background-color: #a1be86;
        background-color: var(--secondary-color-hover);
        border-color: #a1be86;
        border: 1px solid var(--secondary-color-hover);
    }
}

.edit-form {
    fieldset {
        background: #fff;
    } 
    
    .width20 {
        width: 20%;
    }

    .width100 {
        width: 100%;
    }

    .content {
        width: 100%;
     
        .mat-tab-body-wrapper {
            height: inherit;
        }
    }

    .form-row {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        margin: 0 0 10px 0;
       
        .tag {
            margin-right: 10px;
            .optional {
                color: @alternative-text;
                font-weight: normal;
                font-size: 10pt;
            }
        }
        &.input-with-icon {
            position: relative;
            input {
                outline: none;
                color: #444;
                border-left-width: 35px !important;
                border-color: #1C5074;
                border-color: var(--primary-color);
                + mat-icon {
                    position: absolute;
                    top: 8px;
                    left: 6px;
                    color: #fff;
                }
                &:disabled, &.disabled-field {
                    border-color: @divider;
                    pointer-events: none;

                }
            }
        }
        .field {
            display: flex;
            align-items: center;
            &.width-remain {
                // This fills the remaining space, by using flexbox. 
                flex: 1 1 auto;
            }
         
            .ddl {
                width: 250px;
            }
            .field-msg {
                margin-left: 5px;
            }
            
            .number {
                width: 80px;
                border: 0px;
                border-radius: 0px;
                border-bottom: 1px solid rgba(0, 0, 0, 0.6);
                box-shadow: none;
                margin: 0px 10px;
                background: transparent;
            }
        }
        .alert {
            width: 100%;
        }
       
    }

    footer {
        background-color: #ffffff;
        border-top: 1px solid @divider;
        padding: 8pt 20px 5pt;
        button {
            margin-right: 5px;
        }
    }
}

@media screen and (max-width: @break-point) {
    .edit-form {
        .form-row {
            flex-flow: column wrap;
            .tag {
                width: 100% !important;
                margin-bottom: 5px;
                margin-right: 0;
            }
            .field {
                width: 100%;
            }
        }      
        .fixed-footer {
            padding: 4pt 20px 5pt;
        }
    }
}