@font-face {
    font-family: 'sycada-icons';
    src:  url('/assets/fonts/sycada-icons.eot?uarwrx');
    src:  url('/assets/fonts/sycada-icons.eot?uarwrx#iefix') format('embedded-opentype'), 
        url('/assets/fonts/sycada-icons.ttf?uarwrx') format('truetype'), 
        url('/assets/fonts/sycada-icons.woff?uarwrx') format('woff'), 
        url('/assets/fonts/sycada-icons.svg??uarwrx#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'sycada-icons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-ev-charge-points-manager:before {
    content: "\e90e";
}
.icon-bookings:before {
    content: "\e90d";
}
.icon-ev-operations:before {
    content: "\e90c";
}
.icon-admin:before {
    content: "\e900";
}
.icon-events:before {
    content: "\e901";
}
.icon-customize-dashboard:before {
    content: "\e902";
}
.icon-dashboard:before {
    content: "\e903";
}
.icon-driver-score-card:before {
    content: "\e904";
}
.icon-fleet-diagnostics:before {
    content: "\e905";
}
.icon-follow-up:before {
    content: "\e906";
}
.icon-gps-track:before {
    content: "\e907";
}
.icon-percentage:before {
    content: "\e908";
}
.icon-reporting:before {
    content: "\e909";
}
.icon-trip-review:before {
    content: "\e90a";
}
.icon-vehicle-activity:before {
    content: "\e90b";
}
.icon-enlarge2:before {
    content: "\e98b";
    display: inline-block;
    moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.icon-fiscal-trips:before {
    content: "\e93c";
}
.icon-driver-take-over:before {
    content: "\e8d3";
  }
