﻿@import "./variables";

.score_value{
    font-weight: bold;
    color: @paragraph;
}

.score_letter {
    width: 32px;
    height: 32px;
    border-radius: 2px;
    color:#fff;
    line-height: 32px;
    text-align: center;
    display: inline-block;
}

.score_letter.A{
  background-color: @energy-A
}
.score_letter.B{
  background-color: @energy-B
}
.score_letter.C{
  background-color: @energy-C
}
.score_letter.D{
  background-color: @energy-D
}
.score_letter.E{
  background-color: @energy-E
}
.score_letter.F{
  background-color: @energy-F
}
.score_letter.G{
  background-color: @energy-G
}
.score_letter.H{
  background-color: @energy-H
}
