@import "./variables";

/* Checkbox Hack */

.toggle-buttons {
    display: flex;
    flex-flow: row wrap;
    > div {
        margin-left: -1px;
        background-color: #ffffff;
        &.equal-widths {
            flex: 1;
        }
    }

    label {
        height: 100%;
        display: block;
        border: 1px solid @divider;
        border-radius: 3px;
        padding: 9px;
        text-align: center;
        box-shadow: 0 1px 3px 0px rgba(0,0,0,.1) !important;
        position: relative;
        color: @paragraph;
        background-color: #ffffff;
        font-weight: normal;
        font-size: 12pt;
        border-bottom: 3px solid #dedede;
      }

      input[type="radio"]:checked + label, input[type="checkbox"]:checked + label {
        border-bottom-color: #65B254;
        border-bottom: 3px solid var(--secondary-color);
      }

      input[type="radio"]:disabled + label, input[type="checkbox"]:disabled + label {
        background-color: #ffffff;
        border-bottom: 3px solid #dedede;
      }

      input[type="radio"], input[type="checkbox"] {
        display: none;
        &:not(:disabled) ~ label {
          cursor: pointer;
        }
        &:disabled ~ label {
          color: hsla(150, 5%, 75%, 1);
          box-shadow: none;
          cursor: not-allowed;
        }
      }

  }

@media only screen and (max-width: @break-point) {
    .radios {
        flex-direction: column;
    }
}


.toggle-btn {
	display:inline;
	margin-right: -6px;

    label {
        -moz-appearance: button;
        display: inline-block;
        cursor: pointer;
        color: #8F999D;
        border:1px solid #e0e5e6;
        padding: 8px 15px;
        height: 38px;
        background-color: #fff;
        border-radius: 2px;
        text-align: center;
        font-weight: normal;
        box-shadow: 0 1px 3px 0px rgba(0,0,0,.1) !important;
    }

    input[type=checkbox], input[type=radio]  {
        position: absolute;
        top: -9999px;
        left: -9999px;

        &:checked + label {
            border-bottom-color: #65B254;
            border-bottom:3px solid var(--secondary-color);
            color: #505956;
            font-weight: 500;
        }

        &:disabled + label {
            color: #e0e5e6;
            cursor: default;
        }
    }
}


.toggle-btn.tab-like {

    label {
        background-color: @form-tabs;
        box-shadow: none !important;
        &:hover {
            background-color: @form-tabs-hover;
        }
    }

    input[type=checkbox], input[type=radio]  {
        border: 1px solid @divider;

        &:checked + label {
            background-color: #fff;
            border-bottom: 1px solid @divider;
        }
    }

}

.toggle-btn.tab-like.horizontal {
    input[type=checkbox], input[type=radio]  {
        &:checked + label {
            border-bottom: 1px solid #fff;
        }
     }
}

.toggle-btn.tab-like.vertical {
    input[type=checkbox], input[type=radio]  {
        &:checked + label {
            border-right: 1px solid #fff;
        }
     }
}
