// THEMES WITH PRIMARY COLOR BLUE
.theme-blue-green, .theme-blue-red, .theme-blue-lgreen, .theme-blue-orange  {
    --primary-color: #1C5074;
    --primary-color-hover: #236391;
}
.theme-blue-green{
    --secondary-color: #65B254;
    --secondary-color-hover: #a1be86;
}
.theme-blue-red {
    --secondary-color: #e40520;
    --secondary-color-hover: #ee8c7d;
}
.theme-blue-lgreen {
    --secondary-color: #c7d527;
    --secondary-color-hover: #d8e268;
}
.theme-blue-orange {
    --secondary-color: #f47920;
    --secondary-color-hover: #f79c5a;
}

// THEMES WITH PRIMARY COLOR TIRQUAZ
.theme-tirquaz-lgreen, .theme-tirquaz-red, .theme-tirquaz-green,.theme-tirquaz-orange {
    --primary-color: #0ea4b5;
    --primary-color-hover: #56bfcb;
}
.theme-tirquaz-lgreen {
    --secondary-color: #c7d527;
    --secondary-color-hover: #d8e268;
}
.theme-tirquaz-red {
    --secondary-color: #e40520;
    --secondary-color-hover: #ee8c7d;
}
.theme-tirquaz-green {
    --secondary-color: #65B254;
    --secondary-color-hover: #a1be86;
}
.theme-tirquaz-orange {
    --secondary-color: #f47920;
    --secondary-color-hover: #f79c5a;
}

// THEMES WITH PRIMARY COLOR PURPLE
.theme-purple-orange, .theme-purple-green, .theme-purple-lgreen, .theme-purple-red {
    --primary-color: #472f91;
    --primary-color-hover: #5e3ebf;
}
.theme-purple-orange {
    --secondary-color: #f47920;
    --secondary-color-hover: #f79c5a;
}
.theme-purple-green {
    --secondary-color: #65B254;
    --secondary-color-hover: #a1be86;
}
.theme-purple-lgreen {
    --secondary-color: #c7d527;
    --secondary-color-hover: #d8e268;
}
.theme-purple-red {
    --secondary-color: #e40520;
    --secondary-color-hover: #ee8c7d;
}

.primary-color {
    color: #1C5074 !important;
    color: var(--primary-color) !important;
}
.primary-color-hover {
    color: #236391;
    color: var(--primary-color-hover);
}
.primary-color-background {
    background: #1C5074;
    background: var(--primary-color);
}
.primary-color-border {
    border-color: #1C5074;
    border-color: var(--primary-color);
}
.primary-color-border-left {
    border-left-color: #1C5074;
    border-left-color: var(--primary-color);
}
.primary-color-border-right {
    border-right-color: #1C5074;
    border-right-color: var(--primary-color);
}
.primary-color-border-top {
    border-top-color: #1C5074;
    border-top-color: var(--primary-color);
}
.primary-color-border-bottom {
    border-bottom-color: #1C5074;
    border-bottom-color: var(--primary-color);
}


.secondary-color {
    color: #65B254 !important;
    color: var(--secondary-color) !important;
}
.secondary-color-hover {
    color: #a1be86;
    color: var(--secondary-color-hover);
}
.secondary-color-background {
    background:#65B254;
    background: var(--secondary-color);
}
.secondary-color-border {
    border-color: #65B254;
    border-color: var(--secondary-color);
}
.secondary-color-border-left {
    border-left-color: #65B254;
    border-left-color: var(--secondary-color);
}
.secondary-color-border-right {
    border-right-color: #65B254;
    border-right-color: var(--secondary-colo);
}
.secondary-color-border-top {
    border-top-color: #65B254;
    border-top-color: var(--secondary-color);
}
.secondary-color-border-bottom {
    border-bottom-color: #65B254;
    border-bottom-color: var(--secondary-color);
}
