﻿@images-path: '../images';

@alternative-text: #818787;
@alternative-color: #ecefef;
@alternative-color-hover: #d1d7d7;
@neutral-color: #8F999D;
@neutral-color-hover: #cfd4d4;
@text-color: #232629;
@paragraph: rgba(41, 50, 48, 0.9);
@sublabel: rgba(41, 50, 48, 0.6);
@form-tabs: #f6f6f6;
@form-tabs-hover: #e5e5e5;
@divider: #E0E5E6;
@bgGrey: #ECF0F1;
@bgWhite: #FFFFFF;
@h2Color: #35403f;
@disabled: #8f999d; 
@disabledButtonColor: #cdd2d3;
  // CAUTION: make sure aligned with common/score.ts : ScoreColorMap
@energy-A: #00A74E; //dark green
@energy-B: #4BBA42; //light green
@energy-C: #B3CA15; //green-yellow
@energy-D: #FFD80F; //yellow
@energy-E: #FEBA00; //yello-orange
@energy-F: #F57000; //orange
@energy-G: #E00001; //red
@energy-H: #A10202; //dark red

@good-alert: #00A74E;
@low-alert: #FFD80F;
@high-alert: #C34706;
@neutral-alert: #8F999D;

@good-graph: #ACE67F;
@low-graph: #FFE563;
@high-graph: #EAA480;

@primary-font-size: 16px;
@primary-font-families: "Roboto", sans-serif;

@break-point: 55em;
@large-break-point: 60em;
