<div class="dialog import-export">
    <div class="header">
        <div class="title">
            <h2>
                {{ request.title | translate }}
            </h2>
        </div>
        <div class="button">
            <button aria-label="clear" mat-icon-button (click)="close()">
                <mat-icon>clear</mat-icon>
            </button>
        </div>
    </div>
    <div class="content">

        <ng-template [ngIf]="(message && !message.success)">
            <fieldset class="edit-form"> 
                <legend>{{ 'import_export.export' | translate }} (xlsx)</legend>
                <div class="form-row">
                    <label class="tag width20" for="generateReport"> {{ 'form.actions.generate' | translate }} </label>
                    <div class="field width-remain">
                        <custom-selector class="ddl"
                                        [options]="exportOptions"
                                        [(modelData)]="exportSelection"
                                        [dataID]="'exportReport'"
                                        (modelDataChange)="export($event)"
                                        [disabled]="exportLoading">
                        </custom-selector>
                    </div>
                </div>
                <!-- export execution loader -->
                <div *ngIf="exportLoading">
                    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                </div>
            </fieldset>
            <fieldset class="edit-form"> 
                <legend>{{ 'import_export.import' | translate }} (xlsx)</legend>
                <div class="form-row">                
                    <div class="upload">
                        <h3>{{ 'import_export.select_file' | translate }}</h3>                   
                        <div class="file-input">
                            <input #fileInput type="file" />
                            <button type="button" 
                                    class="btn primary-btn" 
                                    [disabled]="importLoading"
                                    (click)="upload()">
                                <mat-icon>file_upload</mat-icon>
                                {{ 'file_upload.upload' | translate }}
                            </button>                    
                        </div>                            
                    </div>
                    <div class="note">
                        <b>{{ 'import_export.note' | translate}}</b>
                        <ul>
                            <li>
                                {{'import_export.note_message' | translate }}
                            </li>
                            <li>
                                {{'import_export.extra_note' | translate}}
                            </li>
                        </ul> 
                    </div>                
                </div>
                <!-- import execution loader -->
                <div *ngIf="importLoading">
                    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                </div>
            </fieldset>    

            <div class="message error" *ngIf="message.error">
                {{ message.error | translate }}
            </div>            
        </ng-template>

        <div class="message success" *ngIf="message && message.success">
            {{ message.success | translate }}
        </div> 
        
        <footer class="footer" *ngIf="message && !message.error && !message.success">        
            <button aria-label="cancel" class="btn alternative-btn" (click)="close()">
                {{ 'form.actions.close' | translate }}
            </button>
        </footer>
            
    </div>
</div>