@import "../../styles/variables";
@import "../../styles/forms";

.import-export {     
    .content {        
        .form-row {
            .upload {
                flex-flow: column;
                h3 {
                    font-size: .875em;
                    margin-bottom: 0.75em;
                }           
                .file-input {
                    width: 100%;
                    display: flex;
                    input {
                        margin-bottom: 0px;
                        max-width: 224px;
                    }
                }                   
            }
            button {
                margin-right:.5em;
            }
            .note {
                padding: 0.5em;
                margin-top: 1em;                                
                font-size: 0.875em;
                text-align: justify;
                word-spacing: -1px;
                color: #8a6d3b;
                background-color: #fcf8e3;                
                border-radius: 3px;
                border: 2px solid #faebcc;
                ul {
                    list-style-position: inside;
                    li {                    
                        margin-top: 0.25em;
                        &::before {
                            content: "›";                             
                            color: #c58e30; 
                            font-weight: bolder;
                            font-size: 1.6em;                          
                            margin-left: 0.25em;
                        }
                    }
                }
            } 
            .extra-note {
                padding: 0.5em;
                color:@high-alert;
                font-size: 1em;
                text-align: center;
            }           
        } 
        .message {
            font-size: 1.25em;
            text-align: center;
            font-weight: bold;
            margin-top: 1em;            
        }   
        .success {
            color: @good-alert;
        }

        .error {
            color: @high-alert;
        }

        footer {
            margin-top: 1em;
        }
    }
}

@media screen and (min-width: @break-point) {
    .import-export {
        max-width: 550px;      
    }
}
