<page-container title="{{ 'admin.categories.users.roles' | translate }}: {{ 'form.actions.edit' | translate }}"
                [backButton]="true"
                (notifyOnBack)="back()"
                [loading]="loading">

    <form pageContent #editForm="ngForm" (ngSubmit)="onSubmit(editForm)" class="edit-form"> 
        <div class="admin-edit-label">{{ getLabelEntity() }}</div>

        <!-- PRODUCT RIGHTS -->
        <fieldset>
            <access-rights [style.width.%]="100" 
                            [(modelData)]="role.rights" 
                            [showSelectAll]="true"> 
            </access-rights>
        </fieldset>
        <!-- END OF PRODUCT RIGHTS -->
   
    </form> 

    <footer fixedFooter>
        <button aria-label="submit" type="submit" (click)="onSubmit(editForm)" [disabled]="editForm.invalid || loading " class="btn secondary-btn">
            {{ 'form.actions.save' | translate }}          
        </button>
        <button aria-label="back" (click)="back()" type="reset" class="btn alternative-btn">
            {{ 'form.actions.cancel' | translate }}
        </button>
    </footer>
</page-container>
