﻿<page-container class="ip-restrictions"
                [title]="'company.category.access_restrictions.ip_restrictions'"
                [backButton]="false"                
                [addButton]="true"
                (notifyOnAdd)="addNew()">
    <div pageContent>
        <data-table [records]="ipsData"
                    [settings]="ipRestrictionsListTableSettings"
                    [loading]="loading"
                    [pager]="pager"
                    (onActionClick)="onManage($event)"
                    (onScrollDown)="loadMore()">
        </data-table>
    </div>
</page-container>
