﻿<div class="toggle-buttons" *ngIf="!ddlMode">
    <div *ngFor="let status of data">
        <input type="radio" [id]="'status_' + status.id" [name]="'status_' + status.id"
               [(ngModel)]="modelData"
               [value]="status.id"
               (ngModelChange)="onSelectOption(status.id)">
        <label [for]="'status_' + status.id">{{ status.name }}</label>
    </div>
</div>
<custom-selector class="selectOnMobile"
                [ngClass]="ddlMode ? 'desktop' : ''"
                [options]="data"
                [(modelData)]="modelData"
                [dataID]="'status-idxs'"
                [loading]="loading"
                (modelDataChange)="onSelectOption($event)">
</custom-selector>