<page-container class="edit-drive-score"
                title="{{ 'admin.categories.scores.score_definition' | translate }}: {{ action | translate }}"
                [backButton]="true"
                (notifyOnBack)="back()"
                [loading]="loading">
                
    <form pageContent #editForm="ngForm" (ngSubmit)="onSubmit(editForm)" class="edit-form table-layout table-mobile-off "> 
        <div class="admin-edit-label">{{ getLabelEntity() }}</div>

        <!-- BASIC INFO -->
        <fieldset class="main">
            <div class="form-row">
                <label class="tag width20" for="name">{{ 'score_definition.view.name' | translate }}</label>
                <div class="field width-remain">
                    <input type="text" 
                        id="name" 
                        name="name"
                        required 
                        [(ngModel)]="score.name" 
                        #name="ngModel"/>
                </div>
                <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                    {{ 'form.errors.required' | translate | myStringFormat: ['score_definition.view.name' | translate] }}
                </div>
            </div>
            <div class="form-row">
                <label class="tag width20" for="isDefault">{{ 'score_definition.add.type' | translate }}</label>
                <div class="field width-remain">
                    <custom-selector class="ddl"
                                    [style.width.%]="100"
                                    [options]="typeOptions"
                                    [(modelData)]="score.type"
                                    [dataID]="'type-list'">
                    </custom-selector>
                </div>
            </div>
            <div class="form-row">
                <label class="tag width20" for="isDefault">{{ 'score_definition.add.weighting_by' | translate }}</label>
                <div class="field width-remain">
                    <custom-selector class="ddl"
                                    [style.width.%]="100"
                                    [options]="weightByOptions"
                                    [(modelData)]="score.weightBy"
                                    [dataID]="'weight-by-list'">
                    </custom-selector>
                </div>
            </div>
            <div class="form-row">
                <label class="tag width20" for="isDefault">{{ 'score_definition.add.default_drivescore' | translate }}</label>
                <div class="field width-remain toggle-buttons">
                    <input type="checkbox"
                            id="isDefault" 
                            name="isDefault"
                            [(ngModel)]="score.isDefault" 
                            #isDefault="ngModel"/>
                    <label for="isDefault">
                        {{ (score.isDefault == true ?  'form.actions.enabled' : 'form.actions.disabled') | translate }}
                    </label>
                </div>
            </div>

            <!-- SCORE LABEL - PERCENTAGES MAPPING -->
            <div class="form-row" style="margin-top:2em">
                <label class="tag width100">{{ 'score_definition.add.label_mapping' | translate }}</label>
                <div class="field width-remain">
                    <drive-score-percentages [(modelData)]="score.scorePercentages" [(isValid)]="scorePercentagesValid"></drive-score-percentages>
                </div>
            </div>
            <!-- END OF SCORE LABEL - PERCENTAGES MAPPING -->

        </fieldset>
        <!-- END OF BASIC INFO -->

        <br/>
        <div class="border-title">
            <div class="border"></div>
            <h3>{{ 'score_definition.add.device_types' | translate }}</h3>
        </div>

        <!-- DEVICE TYPE GROUPS  -->
        <ng-template ngFor let-dtgroup [ngForOf]="score.deviceTypeGroupParameterSets">
            <fieldset [ngClass]="{ 'secondary-color-border': dtgroup.enabled }">
                <legend class="toggle-buttons"> 
                    <!-- DEVICE TYPE GROUP SELECTION -->
                    <input type="checkbox"
                            [id]="dtgroup.deviceTypeGroupID + '_ckb'" 
                            [name]="dtgroup.deviceTypeGroupID + '_ckb'" 
                            [(ngModel)]="dtgroup.enabled"
                            (change)="onDeviceTypeGroupAvailabilityChange(dtgroup)"/>
                    <label [for]="dtgroup.deviceTypeGroupID + '_ckb'" >
                        {{ dtgroup.name }} 
                    </label>
                </legend>

                <!-- DEVICE TYPE GROUPS CONTENT -->
                <ng-template [ngIf]="dtgroup.enabled">

                    <div class="twocol">
                        <!-- DATAPOINT SELECTION -->
                        <div class="left">
                            <div class="form-row">
                                <label class="tag" for="type">{{ 'score_definition.add.data_points' | translate }}: </label>
                                <div class="field width-remain">
                                    <datapoints-list [style.width.%]="100"
                                                     [dtgroupid]="dtgroup.deviceTypeGroupID"
                                                     [modelData]=""
                                                     (modelDataOnLoad)="onDataPointLoad($event, dtgroup)"
                                                     (modelDataChange)="onDataPointSelection($event, dtgroup)">

                                    </datapoints-list>
                                </div>
                            </div>
                        </div>
                        <!-- END OF DATAPOINT SELECTION -->

                        <!-- CUSTOM BY SELECTION -->
                        <div class="right">
                            <div class="form-row" *ngIf="dtgroup.dataPointIDs && dtgroup.dataPointIDs.length > 0">
                                <label class="tag" for="type">{{ 'score_definition.add.customise_by' | translate }}: </label>
                                <div class="field width-remain">
                                    <custom-selector class="ddl"
                                                    [options]="customByOptions"
                                                    [dataID]="'custom-by-' + dtgroup.deviceTypeGroupID"
                                                    (modelDataChange)="onCustomBySelect($event, dtgroup)"
                                                    [(modelData)]="dtgroup.customBy">
                                    </custom-selector>
                                </div>
                            </div>
                        </div>
                        <!-- END OF CUSTOM BY SELECTION -->

                    </div>

                    <!-- ENABLED DATAPOINTS LIST -->
                    <mat-chip-list class="datapoint-list">
                        <ng-template ngFor let-datapoint [ngForOf]="dtgroup.dataPoints">
                            <div class="datapoint-item">
                                <mat-chip color='accent' selected="true" (click)="onDataPointRemoval(datapoint, dtgroup)">
                                    {{ datapoint.name }}
                                    <mat-icon>clear</mat-icon>
                                </mat-chip>
                            </div>
                        </ng-template>
                    </mat-chip-list>
                    <!-- END OF ENABLED DATAPOINTS LIST -->

                    <!-- DRIVE CYCLES -->
                    <ng-template [ngIf]="driveCycles && dtgroup.dataPointIDs && dtgroup.dataPointIDs.length > 0">
                        <tabs>
                            <tab *ngFor="let dc of driveCycles" [tabTitle]="dc.name">
                                <!-- DRIVE CYCLE SELECTION -->
                                <div class="form-row">
                                    <label class="tag ">{{ 'score_definition.add.drive_cycle' | translate }}:</label>
                                    <div class="field width-remain toggle-buttons"> 
                                        <input type="checkbox"
                                                [id]="dtgroup.deviceTypeGroupID + dc.id + '_dc_ckb'" 
                                                [name]="dtgroup.deviceTypeGroupID + dc.id + '_dc_ckb'" 
                                                [ngModel]="driveCycleEnabled(dc.id, dtgroup)"
                                                (change)="onDriveCycleSelection(dc.id, dtgroup)"/>
                                        <label [for]="dtgroup.deviceTypeGroupID + dc.id + '_dc_ckb'" >
                                            {{ (driveCycleEnabled(dc.id, dtgroup) ? 'form.actions.enabled' : 'form.actions.disabled') | translate }}
                                        </label>
                                    </div>
                                </div>
                                <!-- END OF DRIVE CYCLE SELECTION -->

                                <!--CUSTOM BY DDLS -->
                                <ng-template [ngIf]="dtgroup.customBy !== customByEnumOptions.None">
                                    <div class="form-row" [ngSwitch]="dtgroup.customBy">
                                        <label class="tag ">{{ 'score_definition.add.choose' | translate }}:</label>
                                        <div class="field width-remain">
                                            <asset-groups *ngSwitchCase="customByEnumOptions.HRGroup" 
                                                            [style.width.%]="100"
                                                            [htmlID]="'hrsMenu' + dtgroup.deviceTypeGroupID + dc.id"
                                                            [fetchData]="true"
                                                            [showAllOption]="false"
                                                            [showNoneOption]="true"
                                                            [selected]="-1"
                                                            [type]="groupTypes.Driver"
                                                            (notifyOnInit)="onLoadDriverGroups($event, dtgroup, dc.id)"
                                                            (notifyOnChange)="onSelectDriverGroup($event, dtgroup, dc.id)">
                                            </asset-groups>
                                            <asset-groups *ngSwitchCase="customByEnumOptions.VehGroup"  
                                                        [style.width.%]="100"
                                                        [htmlID]="'vehMenu' + dtgroup.deviceTypeGroupID + dc.id"
                                                        [fetchData]="true"
                                                        [showAllOption]="false"
                                                        [showNoneOption]="true"
                                                        [type]="groupTypes.Vehicle"
                                                        [selected]="-1"
                                                        (notifyOnInit)="onLoadVehicleGroups($event, dtgroup, dc.id)"
                                                        (notifyOnChange)="onSelectVehicleGroup($event, dtgroup, dc.id)">
                                            </asset-groups>
                                            <vehicle-types-list *ngSwitchCase="customByEnumOptions.VehType" class="ddl"
                                                            [showAllOption]="false"
                                                            [showNoneOption]="true"
                                                            [authorizedOnly]="true"
                                                            (onLoad)="onLoadVehicleTypes($event, dtgroup, dc.id)"
                                                            (modelDataChange)="onSelectVehicleType($event, dtgroup, dc.id)">
                                            </vehicle-types-list>
                                            <span *ngSwitchDefault></span>
                                        </div>
                                    </div>
                                </ng-template>
                                <!-- END OF CUSTOM BY DDLS -->

                                <div *ngFor="let drivecycle of dtgroup.driveCycleParameterSets | myDriveCycleFilter: dc.id">
                                    <!-- PARAMETER SETS -->
                                    <fieldset class="parameter-set">
                                        <legend class="primary-color assetlabel" *ngIf="!drivecycle.vehicleGroupID && !drivecycle.humanResourceGroupID && !drivecycle.vehicleTypeID;else content">
                                            {{ 'score_definition.view.default' | translate }}
                                        </legend>
                                       
                                        <ng-template #content>
                                            <legend class="primary-color assetlabel">{{ getParameterSetName(drivecycle, dtgroup) }}</legend>
                                            <div class="button-options">
                                                <button aria-label="move down" 
                                                        type="button" 
                                                        class="btn alternative-btn" 
                                                        [disabled]="hideDescreasePriorityBtn(drivecycle, dtgroup)"
                                                        (click)="onDriveCycleParameterSetPriorityDown(drivecycle, dtgroup)">
                                                    <mat-icon>keyboard_arrow_down</mat-icon>
                                                </button>
                                                <button aria-label="move up" 
                                                        type="button" 
                                                        class="btn alternative-btn" 
                                                        [disabled]="drivecycle.priority < 3"
                                                        (click)="onDriveCycleParameterSetPriorityUp(drivecycle, dtgroup)">
                                                    <mat-icon>keyboard_arrow_up</mat-icon>
                                                </button>
                                                <button aria-label="clear"
                                                        type="button" 
                                                        class="btn alternative-btn" 
                                                        [disabled]="drivecycle.priority < 2"
                                                        (click)="onDriveCycleParameterSetRemove(drivecycle, dtgroup)">
                                                    <mat-icon>clear</mat-icon>
                                                </button>
                                            </div>
                                        </ng-template>
                                        
                                        <!-- MAX VALUE INPUT -->
                                        <div class="form-row">
                                            <label class="tag width20">{{ 'score_definition.add.max_value' | translate }}</label>
                                            <div class="field width-remain">
                                                <input class="number"
                                                        type="number"
                                                        [id]="'dc_ckb' + getFormFiedDisciminator(drivecycle)" 
                                                        [name]="'dc_ckb' + getFormFiedDisciminator(drivecycle)" 
                                                        [(ngModel)]="drivecycle.maxValue"
                                                        validateNumber
                                                        required
                                                        #maxValue="ngModel"/>
                                            </div>
                                            <div [hidden]="maxValue.valid || maxValue.pristine" class="alert alert-danger">
                                                {{ maxValue.errors | myFormValidationMessage: { field: 'score_definition.add.max_value' } }}
                                            </div>
                                        </div>
                                        <!-- END OF MAX VALUE INPUT -->

                                        <!-- DATAPOINT PARAMETER SETS GRID -->
                                        <div class="table-contents add-shadows">
                                            <table>
                                                <thead>
                                                    <tr class="table-header">
                                                        <th class="column-header">
                                                            <span>{{ 'score_definition.add.data_point' | translate }}</span>
                                                        </th>
                                                        <th class="column-header">
                                                            <span class="title">{{ 'score_definition.add.weight' | translate }}</span>
                                                        </th>
                                                        <th class="column-header">
                                                            <span class="title">{{ 'score_definition.add.target' | translate }}</span>
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <ng-template ngFor let-parameterSet [ngForOf]="drivecycle.datapointParameterSets" let-i="index">
                                                        <tr>
                                                            <td>
                                                                {{ parameterSet.name }}
                                                            </td>
                                                            <td>
                                                                <div class="form-row">
                                                                    <div class="field">
                                                                        <input class="number"
                                                                            type="number"
                                                                            [id]="'wgt_' + getFormFiedDisciminator(drivecycle) + i" 
                                                                            [name]="'wgt_' + getFormFiedDisciminator(drivecycle) + i" 
                                                                            [(ngModel)]="parameterSet.weight"
                                                                            validateNumber
                                                                            required
                                                                            #weight="ngModel"/>
                                                                    </div>
                                                                    <div [hidden]="weight.valid || weight.pristine" class="alert alert-danger">
                                                                        {{ weight.errors | myFormValidationMessage: { field: 'score_definition.add.weight' } }}
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="form-row">
                                                                    <div class="field">
                                                                        <input class="number"
                                                                            type="number"
                                                                            [id]="'tgt_' + getFormFiedDisciminator(drivecycle) + i" 
                                                                            [name]="'tgt_' + getFormFiedDisciminator(drivecycle) + i" 
                                                                            [(ngModel)]="parameterSet.target"
                                                                            validateNumber
                                                                            required
                                                                            #target="ngModel"/>
                                                                    </div>
                                                                    <div [hidden]="target.valid || target.pristine" class="alert alert-danger">
                                                                        {{ target.errors | myFormValidationMessage: { field: 'score_definition.add.target' } }}
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </ng-template>
                                                </tbody>
                                            </table>
                                        </div>
                                        <!-- END OF DATAPOINT PARAMETER SETS GRID-->

                                        <!-- COPY TO OPTIONS -->
                                        <div class="copyto-options primary-color-border-top">
                                            <div class="twocol">
                                                <!-- COPY SETTINGS TO ANOTHER ASSET -->
                                                <div class="left">
                                                    <div class="form-row" *ngIf="showCopyToAssetsDDL(drivecycle, dtgroup)">
                                                        <label class="tag" for="type">{{ 'score_definition.add.copy_to_option' | translate }}: </label>
                                                        <div class="field width-remain">
                                                            <custom-selector class="ddl"
                                                                [style.width.%]="100"
                                                                [options]="getCopyToAssetOptions(drivecycle, dtgroup)"
                                                                [dataID]="'copy2optionlist' + getFormFiedDisciminator(drivecycle)"
                                                                [modelData]="-1"
                                                                (modelDataChange)="onCopyToAsset($event, drivecycle, dtgroup)">
                                                            </custom-selector>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- END OF COPY SETTINGS TO ANOTHER ASSET -->
                        
                                                <!-- COPY SETTINGS TO ANOTHER DRIVE CYCLE -->
                                                <div class="right">
                                                    <div class="form-row" >
                                                        <label class="tag" for="type">{{ 'score_definition.add.copy_to_drive_cycle' | translate }}: </label>
                                                        <div class="field width-remain">
                                                            <custom-selector class="ddl"
                                                                [style.width.%]="100"
                                                                [options]="getCopyToDriveCycleOptions(dc.id)"
                                                                [modelData]="-1"
                                                                [dataID]="'copy2dclist' + getFormFiedDisciminator(drivecycle)"
                                                                (modelDataChange)="onCopyToDriveCycle($event, drivecycle, dtgroup)">
                                                            </custom-selector>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- END OF COPY SETTINGS TO ANOTHER DRIVE CYCLE -->
                        
                                            </div>
                                        </div>
                                        <!-- END OF COPY TO OPTIONS -->

                                        <!-- SHOW STATS FOR DRIVE CYCLE -->
                                        <fieldset class="score-stats-wrapper">
                                            <legend class="toggle-buttons"> 
                                                <input type="checkbox"
                                                        [id]="'stats_ckb' + getFormFiedDisciminator(drivecycle)"
                                                        [name]="'stats_ckb' + getFormFiedDisciminator(drivecycle)"
                                                        [(ngModel)]="drivecycle.showStats"
                                                        (change)="onShowStatsChange(drivecycle)"/>
                                                <label [for]="'stats_ckb' + getFormFiedDisciminator(drivecycle)">
                                                    {{ 'score_definition.add.show_hide_stats' | translate }} 
                                                </label>
                                            </legend>
                                            <score-stats *ngIf="drivecycle.showStats" [score]="score" [dtgroup]="dtgroup" [drivecycle]="drivecycle"></score-stats>
                                        </fieldset>

                                        <!-- END OF COPY TO OPTIONS -->
                                    </fieldset>
                                    <!-- SHOW STATS FOR DRIVE CYCLE -->
                                </div>
                            </tab>
                        </tabs>
                     
                    </ng-template>  
                    <!-- END OF DRIVE CYCLES -->

                </ng-template>
                <!-- END OF DEVICE TYPE GROUPS CONTENT -->

            </fieldset>
        </ng-template>
        <!-- END OF DEVICE TYPE GROUPS -->

    </form>
            
    <footer fixedFooter>
        <button aria-label="submit" type="submit" (click)="onSubmit(editForm)" [disabled]="editForm.invalid || !scorePercentagesValid" class="btn secondary-btn">
            {{ 'form.actions.save' | translate }}          
        </button>
        <button aria-label="back" (click)="back()" type="reset" class="btn alternative-btn">
            {{ 'form.actions.cancel' | translate }}
        </button>
    </footer>
</page-container>

