@import "../../../styles/variables";
@import "../../../shared/data-table/data-table";

.edit-drive-score {
    .main .wrapper-dropdown {
        max-width: none;
    }
    tab {
        .tab-contents {
            padding: 1em;
        }
    }
    .twocol {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;
        .left, .right {
            width: 49%;       
        }
    }  

    .datapoint-list {
        margin: 0 10px;
        .datapoint-item {
            background: none;
            margin-right: .25em;            
            border: none;            
            padding: .25em .25em .25em 0;
            max-width: 280px;
            .mat-standard-chip {
                padding: 20px 12px;
            }
            .mat-chip {
                color: #fff !important;    
                &:not(.mat-basic-chip) {
                    background: #65B254;
                    background: var(--secondary-color);
                }           
            }
            .mat-icon {
                margin-left: .5em;
                padding: .25em;
                font-size: 1.2em; 
                width: auto; 
                height: auto;
                vertical-align: text-bottom;
                cursor: pointer;
            }
        }
    }

    .parameter-set {
        position: relative;
        margin-top: 30px;
        .assetlabel {
            font-weight: 500;
            font-size: 1.2em;
        }
        .button-options {
            background-color: #fff;
            position: absolute;
            right: 15px;
            top: -10px;
            button {
                min-width: 30px;
                height: 30px;
                margin-right: 5px;
            }
        }
    }

    .copyto-options {
        width: 100%;
        color: #505956;
        margin-top: 20px;
        padding-top: 15px;
        border-top-width: 1px;
        border-top-style: dotted;
    }

    .score-stats-wrapper {
        background: #f7f6f6;
    }
}


@media only screen and (max-width: @break-point) {
    .edit-drive-score {
        .twocol {
            .left, .right {
                width: 100%;       
            }
        }
    }
}