<page-container class="edit-password-policy"
                title="{{ 'company.category.basic.settings.password_policy' | translate }}: {{ 'form.actions.edit' | translate }}"
                [backButton]="true"
                (notifyOnBack)="back()"
                [loading]="loading">
                
    <form pageContent #editForm="ngForm" (ngSubmit)="onSubmit(editForm)" class="edit-form"> 
        <div class="admin-edit-label">{{ getLabelEntity() }}</div>
        <fieldset>
            <div class="form-row">
                <label class="tag width20" for="minPasswordLength">{{ 'password_policies.min_password_length' | translate }}</label>
                <div class="field width-remain">
                    <input class="number"
                            type="number" 
                            id="minPasswordLength" 
                            name="minPasswordLength"
                            [(ngModel)]="policy.minPasswordLength" 
                            #minPasswordLength="ngModel"
                            min="8"
                            required
                            validateNumber/>
                </div>
                <div [hidden]="minPasswordLength.valid || minPasswordLength.pristine" class="alert alert-danger">
                    {{ minPasswordLength.errors | myFormValidationMessage: { field: 'password_policies.min_password_length', min: 8 } }}
                </div>
            </div>
            <div class="form-row">
                <label class="tag width20" for="minLowerCaseChars">{{ 'password_policies.min_lowercase_chars' | translate }}</label>
                <div class="field width-remain">
                    <input class="number"
                            type="number" 
                            id="minLowerCaseChars" 
                            name="minLowerCaseChars"
                            [(ngModel)]="policy.minLowerCaseChars" 
                            #minLowerCaseChars="ngModel"
                            min="0"
                            required
                            validateNumber/>
                </div>
                <div [hidden]="minLowerCaseChars.valid || minLowerCaseChars.pristine" class="alert alert-danger">
                    {{ minLowerCaseChars.errors | myFormValidationMessage: { field: 'password_policies.min_lowercase_chars', min: 0 } }}
                </div>
            </div>
            <div class="form-row">
                <label class="tag width20" for="minUpperCaseChars">{{ 'password_policies.min_uppercase_chars' | translate }}</label>
                <div class="field width-remain">
                    <input class="number"
                            type="number" 
                            id="minUpperCaseChars" 
                            name="minUpperCaseChars"
                            [(ngModel)]="policy.minUpperCaseChars" 
                            #minUpperCaseChars="ngModel"
                            min="0"
                            required
                            validateNumber/>
                </div>
                <div [hidden]="minUpperCaseChars.valid || minUpperCaseChars.pristine" class="alert alert-danger">
                    {{ minUpperCaseChars.errors | myFormValidationMessage: { field: 'password_policies.min_uppercase_chars', min: 0 } }}
                </div>
            </div>
            <div class="form-row">
                <label class="tag width20" for="minDigits">{{ 'password_policies.min_numbers' | translate }}</label>
                <div class="field width-remain">
                    <input class="number"
                            type="number" 
                            id="minDigits" 
                            name="minDigits"
                            [(ngModel)]="policy.minDigits" 
                            #minDigits="ngModel"
                            min="0"
                            required
                            validateNumber/>
                </div>
                <div [hidden]="minDigits.valid || minDigits.pristine" class="alert alert-danger">
                    {{ minDigits.errors | myFormValidationMessage: { field: 'password_policies.min_numbers', min: 0 } }}
                </div>
            </div>
            <div class="form-row">
                <label class="tag width20" for="minSpecialChars">{{ 'password_policies.min_special_characters' | translate }}</label>
                <div class="field width-remain">
                    <input class="number"
                            type="number" 
                            id="minSpecialChars" 
                            name="minSpecialChars"
                            [(ngModel)]="policy.minSpecialChars" 
                            #minSpecialChars="ngModel"
                            min="0"
                            required
                            validateNumber/>
                </div>
                <div [hidden]="minSpecialChars.valid || minSpecialChars.pristine" class="alert alert-danger">
                    {{ minSpecialChars.errors | myFormValidationMessage: { field: 'password_policies.min_special_characters', min: 0 } }}
                </div>
            </div>
             
            <footer>
                <!-- SAVE/CANCEL BUTTONS -->
                <div class="buttons-left">
                    <button aria-label="submit" type="submit" [disabled]="!editForm.form.valid || loading " class="btn secondary-btn">
                        {{ 'form.actions.save' | translate }}          
                    </button>
                    <button aria-label="back" (click)="back()" type="reset" class="btn alternative-btn">
                        {{ 'form.actions.cancel' | translate }}
                    </button>
                </div>
                <!-- END - SAVE/CANCEL BUTTONS -->

                <!-- RESTORE DEFAULTS BUTTON -->
                <div *ngIf="!policy.isDefault" class="buttons-right">
                    <button aria-label="restore" *ngIf="!loading" type="button" class="btn delete-btn" (click)="restoreDefaults()">
                        {{ 'password_policies.restore_defaults' | translate }}
                    </button>
                </div>
                <!-- END RESTORE DEFAULTS BUTTON -->
            </footer>
        </fieldset>
    </form>
</page-container>
