@import "../../styles/variables";

.announcements {
    .color-explanation {
        margin-bottom: 1em;
        .explanation {
            padding: 0 1em 0 0.35em;
            vertical-align: middle;
            color: var(--primary-color);
            font-weight: bold;
            font-size: 1em;
        }
    }

    .not-available-announcements {
        color: var(--primary-color);
        padding: 4em 0;
        text-align: center;
    }

    .no-cultures {
        text-align: center;
        padding: 2em 0;
    }

    .cultures-available {        
        padding: 1em 0;
    }


    .title {
        flex-grow: 1;
        flex-basis: 50%;
        align-self: center;
    }

    .desc {
        display: none;
        flex-grow: 1;
        flex-basis: 50%;
        align-self: center;
    }

    .list-explanation {
        padding-left: 1em;
    }

    .dot {
        height: 14px;
        width: 14px;
        border-radius: 50%;
        display: inline-block;
        vertical-align: middle;
        align-self: center;
    }


    .info {
        background-color: #d9edf7;
        border: 1px solid;
        border-color: #bce8f1;
        color: #3a87ad;
    }

    .warning {
        background-color: #fcf8e3;
        border: 1px solid;
        border-color: #faebcc;
        color: #8a6d3b;
    }

    button {
        margin-right: .5em;
    }

    .delete-icon {
        margin-right: .5em;
    }
}

@media screen and (min-width: @break-point) { 
    .announcements {
        .desc {
            display: flex;
        }
    }
}