<page-container class="announcements"
                [title]="'announcements.title'" 
                [addButton]="true"
                (notifyOnAdd)="add()"
                [loading]="loading">

    <div pageContent>   
        <div class="color-explanation">     
            <span class="dot info"></span><span class="explanation">info</span>            
            <span class="dot warning"></span><span class="explanation">warning</span>           
        </div>  
        <mat-accordion *ngIf="!loading">
            <ng-template [ngIf]="announcements">  
                <ng-template ngFor let-announcement [ngForOf]="announcements">
                    <mat-expansion-panel class="accordion">
                        <mat-expansion-panel-header class="accordion-header">
                            <mat-panel-title class="title">
                                <span class="dot" [ngClass]="announcement.type === announcementTypes.Information ? 'info' : 'warning'"></span> 
                                <span class="list-explanation">{{ announcement.title }}</span>
                            </mat-panel-title>
                            <mat-panel-description class="desc">
                                {{ announcement.description }}   
                                
                            </mat-panel-description>
                            <button aria-label="delete" type="button" class="ud-button" mat-icon-button (click)="$event.stopPropagation();deleteAnnouncement(announcement.id);"> 
                                <mat-icon>delete</mat-icon>
                            </button> 
                        </mat-expansion-panel-header>
                        <h4 class="no-cultures" *ngIf="announcement.terms.length === 0">{{ 'announcements_admin.no_available_culture' | translate }}</h4>
                            <ng-template [ngIf]="announcement.terms.length > 0"> 
                                <h4 class="cultures-available">{{ 'announcements_admin.cultures' | translate }}</h4> 
                                <data-table [records]="announcement.terms"
                                            [settings]="tableSettings"   
                                            [loading]="false"                                                           
                                            (onActionClick)="onManage($event, announcement.id)">
                                </data-table>
                            </ng-template>

                        <mat-action-row>
                            <button aria-label="add culture" type="button" class="btn primary-btn" [disabled]="disableAddCulture(announcement.terms)" (click)="newTerm(announcement.id)">{{ 'announcements_admin.add_new' | translate }}</button>
                            <button aria-label="edit announcement" type="button" class="btn alternative-btn"  (click)="editAnnouncement(announcement.id, announcement.defaultTermId)">{{ 'announcements_admin.edit_announcement_button' | translate }}</button>
                        </mat-action-row>
                        
                    </mat-expansion-panel>
                </ng-template>
            </ng-template>
            <ng-template [ngIf]="!announcements || announcements.length === 0">  
                <h3 class="not-available-announcements">{{ 'announcements_admin.no_available_announcements' | translate }}</h3>
            </ng-template>
        </mat-accordion>            
    </div>
</page-container> 
