<page-container class="edit-tariff"
                title="{{ 'book_n_go.tariffs.title' | translate }}: {{ action | translate }}"
                [backButton]="true"
                (notifyOnBack)="back()"
                [loading]="loading">

    <form pageContent #editForm="ngForm" (ngSubmit)="onSubmit(editForm)" class="edit-form"> 

        <div class="admin-edit-label">{{ getLabelEntity() }}</div>
        <fieldset>  
            <div class="form-row">
                <label class="tag" for="name">{{ 'book_n_go.tariffs.name' | translate }}</label>
                <div class="field width-remain">
                    <input type="text" id="name" required
                        [(ngModel)]="tariff.name" name="name"
                        #name="ngModel"/>
                </div>
                <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                    {{ 'form.errors.required' | translate | myStringFormat: ['book_n_go.tariffs.name' | translate] }}
                </div>
            </div>
        </fieldset>
        <div class="form-row">
            <fieldset>
                <legend>
                    <input class="css-checkbox" type="checkbox" id="timeBased"
                            [(ngModel)]="tariff.timeBased" name="timeBased"
                            #timeBased="ngModel" />
                    <label  [ngClass]="{'bold': tariff.timeBased }" class="css-label" for="timeBased">{{ 'book_n_go.tariffs.time_based' | translate }}</label>
                </legend>

                <div class="field width-remain columns">
                    <div class="field width-remain">
                        <span class="field-msg">
                            {{ 'book_n_go.tariffs.time_based.per_15_minutes'  | translate }}
                        </span>
                        <input class="number" type="number" id="timePer15Minutes" min="0"
                            [(ngModel)]="tariff.timePer15Minutes" name="timePer15Minutes"
                            #timePer15Minutes="ngModel"/>
                    </div>
                    <div class="field width-remain">
                        <span class="field-msg">
                            {{ 'book_n_go.tariffs.time_based.per_hour'  | translate }}
                        </span>
                        <input class="number" type="number" id="timePerHour" min="0"
                            [(ngModel)]="tariff.timePerHour" name="timePerHour"
                            #timePerHour="ngModel"/>
                    </div>
                    <div class="field width-remain">
                        <span class="field-msg">
                            {{ 'book_n_go.tariffs.time_based.per_24_hours'  | translate }}
                        </span>
                        <input class="number" type="number" id="timePer24Hours" min="0"
                            [(ngModel)]="tariff.timePer24Hours" name="timePer24Hours"
                            #timePer24Hours="ngModel"/>
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="form-row">
            <fieldset>
                <legend>
                    <input class="css-checkbox" type="checkbox" id="distanceBased"
                            [(ngModel)]="tariff.distanceBased" name="distanceBased"
                            #distanceBased="ngModel" />
                    <label [ngClass]="{'bold': tariff.distanceBased }" class="css-label" for="distanceBased">{{ 'book_n_go.tariffs.distance_based' | translate }}</label>
                </legend>

                <div class="field width-remain columns">
                    <div class="field">
                        <span class="field-msg">
                            {{ 'book_n_go.tariffs.distance_length'  | translate | myStringFormat: [this.userOptions.metrics.distance] }}
                        </span>
                        <input class="number" type="number" id="distancePrice" min="0"
                            [(ngModel)]="tariff.distancePrice" name="distancePrice"
                            #distancePrice="ngModel"/>
                    </div>
                </div>
            </fieldset>

        </div>
        <div class="form-row">
            <fieldset>
                <legend>
                    <input class="css-checkbox" type="checkbox" id="startFee"
                            [(ngModel)]="tariff.startFee" name="startFee"
                            #distanceBased="ngModel" />
                    <label [ngClass]="{'bold': tariff.startFee }" class="css-label" for="startFee">{{ 'book_n_go.tariffs.start_fee' | translate }}</label>
                </legend>
                <div class="field">
                    <input class="number" type="number" id="startFeePrice" min="0"
                        [(ngModel)]="tariff.startFeePrice" name="startFeePrice"
                        #startFeePrice="ngModel"/>
                </div>
            </fieldset>
        </div>
      
    </form>
    <footer fixedFooter>
        <button aria-label="submit" type="submit" (click)="onSubmit(editForm)" [disabled]="editForm.invalid" class="btn secondary-btn">
            {{ 'form.actions.save' | translate }}          
        </button>
        <button aria-label="back" (click)="back()" type="reset" class="btn alternative-btn">
            {{ 'form.actions.cancel' | translate }}
        </button>
    </footer>
</page-container>
