.edit-tariff {
    .form-row {
        .field {
            display: flex;
            align-items: center;
         
            &.columns {
                flex-flow: column;
                align-items: flex-start;
            }
        }
    }
}