<mat-form-field class="autocomplete">
    <input matInput #searchTerm 
            [(ngModel)]="inputSelected"
            placeholder="{{ 'form.search.pleaceholder' | translate }}"
            [matAutocomplete]="auto"
            [formControl]="searchTermControl">
    <div class="autocomplete-clear" *ngIf="!loading && inputSelected && inputSelected.length > 0" (click)="clearInput($event)">
        <mat-icon>clear</mat-icon>
    </div>
    <div class="autocomplete-loader" *ngIf="loading">
        <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
    </div>
</mat-form-field>

<mat-autocomplete #auto="matAutocomplete">
    <mat-option (onSelectionChange)="selected(item)" *ngFor="let item of items" [value]="item.name">
        {{ item.name }}
    </mat-option>
</mat-autocomplete>