<page-container class="edit-booking"
                title="{{ 'book_n_go.bookings.block_booking' | translate }}: {{ action | translate }}"
                [backButton]="true"
                (notifyOnBack)="back()"
                [loading]="loading">

    <form pageContent #editForm="ngForm" (ngSubmit)="onSubmit(editForm)" class="edit-form"> 
        <fieldset>
            <div class="form-row" *ngIf="booking.referenceID">
                <label class="tag width20">{{ 'book_n_go.bookings.referenceID' | translate }}</label>
                <div class="field width-remain">
                    <label>{{ booking.referenceID }}</label>
                </div>
            </div>

            <div class="form-row">
                <label class="tag width20" for="name">{{ 'book_n_go.tariffs.name' | translate }}</label>
                <div class="field width-remain">
                    <input type="text" id="name" required
                        [(ngModel)]="booking.name" name="name"
                        #name="ngModel"/>
                </div>
                <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                    {{ 'form.errors.required' | translate | myStringFormat: ['book_n_go.tariffs.name' | translate] }}
                </div>
            </div>

            <div class="form-row">
                <label class="tag width20" for="pudop">{{ 'book_n_go.bookings.pudop' | translate }}</label>
                <div class="field width-remain">
                    <search-mechanism placeholder="{{ 'form.search.pleaceholder' | translate }}"
                                    [style.width.%] = "100"
                                    [name]="booking.pudopLabel"
                                    [chosenOption]="searchTypes.Location"
                                    (onSelect)="onLocationSelect($event)">
                    </search-mechanism>
                    <input type="hidden" id="pudopID" required
                            [(ngModel)]="booking.pudopID" name="pudopID"
                            #pudopID="ngModel"/>
                </div>
                <div [hidden]="pudopID.valid || pudopID.pristine" class="alert alert-danger">
                    {{ 'form.errors.required' | translate | myStringFormat: ['book_n_go.bookings.pudop' | translate] }}
                </div>
            </div>
            
            <div class="form-row">
                <label class="tag width20" for="sinceDTP">{{ 'book_n_go.bookings.since' | translate }}</label>
                <div class="field width-remain">
                    <datepicker [id]="'sinceDTP'" 
                                [(modelData)]="sinceDate"
                                [max]="tillDate">
                    </datepicker>
                    <timepicker [stepMinutes]="15" [(hours)]="sinceDateHours" [(minutes)]="sinceDateMinutes"></timepicker>
                </div>
            </div>

            <div class="form-row">
                <label class="tag width20" for="tillDTP">{{ 'book_n_go.bookings.till' | translate }}</label>
                <div class="field width-remain">
                    <datepicker [id]="'tillDTP'" 
                                [(modelData)]="tillDate"
                                [min]="sinceDate">        
                    </datepicker>
                    <timepicker [stepMinutes]="15" [(hours)]="tillDateHours" [(minutes)]="tillDateMinutes"></timepicker>
                </div>
            </div>
        </fieldset>
        <div class="form-row">
            <label class="tag width20" for="pudop">{{ 'book_n_go.bookings.vehicles' | translate }}</label>
            <div class="field width-remain">
                <mat-form-field class="autocomplete">
                    <input #vehicleTerm matInput [formControl]="vehicleTermControl" 
                                    placeholder="{{ 'form.search.pleaceholder' | translate }}"
                                    [matAutocomplete]="vehicleTerm">
                    <div class="autocomplete-clear" *ngIf="!blockBookingVehicleLoading && vehicleTermControl.value && vehicleTermControl.value.length > 0" (click)="clearVehicleSearchInput($event)"  >
                        <mat-icon>clear</mat-icon>
                    </div>    
                    <div class="autocomplete-loader" *ngIf="blockBookingVehicleLoading">
                        <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
                    </div>
                </mat-form-field>
            
                <mat-autocomplete #vehicleTerm="matAutocomplete">
                    <mat-option (onSelectionChange)="onVehicleSelect(item)" *ngFor="let item of blockBookingVehicleItems | async" [value]="item.name">
                        {{ item.name }}
                    </mat-option>
                </mat-autocomplete>
            </div>
        </div>
        <data-table [records]="booking.blockBookingVehicles"
                    [settings]="blockBookingVehicleTableSettings"
                    (onActionClick)="onDeleteBlockBookingVehicle($event)">
        </data-table>
    </form>

    <footer fixedFooter>
        <button aria-label="submit" type="submit" (click)="onSubmit(editForm)" [disabled]="editForm.invalid || loading" class="btn secondary-btn">
            {{ 'form.actions.save' | translate }}          
        </button>
        <button aria-label="back" (click)="back()" type="reset" class="btn alternative-btn">
            {{ 'form.actions.cancel' | translate }}
        </button>
    </footer>
</page-container>
