<page-container title="{{ 'admin.categories.users.manage' | translate }}: {{ 'user_roles.access.title' | translate }}"
                [backButton]="true"
                (notifyOnBack)="back()"
                [loading]="loading">

    <form pageContent #editForm="ngForm" (ngSubmit)="onSubmit(editForm)" class="edit-form"> 
        <div class="admin-edit-label">{{ getLabelEntity() }}</div>

        <fieldset>
            <!-- AUTHORISED ASSETS -->
            <asset-group-membership *ngIf="!loading"
                                    [roleID]="userRoleID"
                                    [includeUngrouped]="true"
                                    [groupType]="user.groupType"
                                    [(groupIDs)]="user.groupIDs"
                                    [showSelectAll]="true">
            </asset-group-membership>
            <!-- END OF AUTHORISED ASSETS -->
        </fieldset>
    
    </form>

    <footer fixedFooter>
        <button aria-label="submit" type="submit" (click)="onSubmit(editForm)" [disabled]="editForm.invalid" class="btn secondary-btn">
            {{ 'form.actions.save' | translate }}          
        </button>
        <button aria-label="back" (click)="back()" type="reset" class="btn alternative-btn">
            {{ 'form.actions.cancel' | translate }}
        </button>
    </footer>
</page-container>
