﻿@import "../../styles/variables";

custom-selector {
    .mobile-view {
        display: none;
    }
    .desktop-view {
        display: block;     
        .dropdown {
            /* Size & position */
            position: absolute;
            /*top: 100%;*/
            left: 0px;
            right: 0px;

            /* Styles */
            line-height: normal;
            background: #f0f6f7;
            -webkit-transition: all 0.3s ease-out;
            -moz-transition: all 0.3s ease-out;
            -ms-transition: all 0.3s ease-out;
            -o-transition: all 0.3s ease-out;
            transition: all 0.3s ease-out;
            list-style: none;
            z-index: 1000000;
            box-shadow: 0 1px 3px 0px rgba(0,0,0,.1) !important;
            border: 1px solid #E0E5E6;
            padding: 2px;
                
            max-height: 200px;
            overflow-y: scroll;

            /* Hiding */
            opacity: 0;
            pointer-events: none;
            li {
                padding:1px;            
                &:hover:not(.disabled) {
                    span {
                        background: #65B254;
                        background: var(--secondary-color);
                        color: #fff;
                    }
                }
                &.disabled {
                    span {
                        background: #e0e5e6;
                        color: @neutral-color;
                        cursor: not-allowed;
                    }
                }
                span {
                    display: block;
                    text-decoration: none;
                    color: rgba(0, 0, 0, 0.87);
                    padding: .5em;
                    border-radius:2px;
                }
            }
        }
    }
   

    .wrapper-dropdown {
        /* Size and position */
        position: relative; /* Enable absolute positionning for children and pseudo elements */
        max-width: 250px;
        // min-width: 230px;
        margin: 0;
        padding: 0px 8px;
        height: 40px;
        line-height: 40px;

        /* Styles */
        background: #fff;
        cursor: pointer;
        outline: none;
        box-shadow: 0 1px 3px 0px rgba(0,0,0,.1) !important;
        border: 1px solid #E0E5E6;
        font-size: 15px;
        font-weight: 400;

        .hidden {
            display: none;
        }

        &.disabled {
            pointer-events: none;
            color: #fff;
            background-color: @disabled;
        }

        &.active {
            &:after {
                border-width: 0 6px 6px 6px;
            }
            .dropdown {
                opacity: 1;
                pointer-events: auto; 
                // top: 100%;
            }
        }

        .ellipsis {
            text-overflow: ellipsis;
            /* Required for text-overflow to do anything */
            white-space: nowrap;
            overflow: hidden;
        }

        &::after {
            content: "";
            width: 12px;
            height: 12px;
            position: absolute;
            right: 9px;
            top: 50%;
            margin-top: -3px;
            background: url(/assets/images/icon_arrow.svg) no-repeat;
        }
   
    }
}
@media screen and (max-width: @break-point) {
    custom-selector {
        .desktop-view {
            display: none;
            max-width: none;
        }
        .mobile-view {
            display: block;
            position: relative;

            select {
                border: none;
                box-shadow: none;
                background: transparent;
                background-image: none;
                -webkit-appearance: none;
            }
            select:focus {
                outline: none;
            }
            .disabled {
                pointer-events: none;
                color: #fff;
                background-color: @disabled;
            }
        }
    }
}