﻿<div tabindex="1" class="desktop-view wrapper-dropdown" (blur)="onBlurEvent()" (click)="toggleOpen()" [ngClass]="{ 'active': active, 'disabled': disabled }">
    <div class="ellipsis" *ngIf="!loading">{{ selectedText }}</div>
    <div *ngIf="loading">{{ 'data.loading' | translate }}</div>
    <ul [ngClass]="{'hidden': !active }" class="dropdown" data-id="{{ dataID }}">        
        <ng-template [ngIf]="!loading">
            <li *ngFor="let option of options" [ngClass]="{'disabled' : !option.enabled}" (click)="onOptionChange(option)">
                <span>{{ option.name }}</span>
            </li>
        </ng-template>
    </ul>
</div>

<div class="mobile-view wrapper-dropdown" [ngClass]="{ 'active': active }">
    <select [ngClass]="{ 'disabled': disabled }" [disabled]="disabled" data-id="{{ dataID }}" *ngIf="!loading" (change)="onOptionChange(options[$event.target.selectedIndex])">
        <option *ngFor="let opt of options" [selected]="selectedText === opt.name" [disabled]="!opt.enabled" [value]="opt">{{ opt.name }}</option>
    </select>
</div>