<page-container class="cp-details"
                title="{{ 'ev_charging_points_manager.details.title' | translate }}: {{ evChargePointDetails ? evChargePointDetails.name : ''}}"
                [backButton]="true"
                (notifyOnBack)="back()"
                [loading]="loading">

    <div pageContent>
        <div class="message" *ngIf="!loading && !evChargePointDetails">
            <h3 align="center">{{ 'form.errors.unknown' | translate }}</h3>
        </div>
        <div class="main" *ngIf="evChargePointDetails.id">
            <div class="left-info card add-shadows">
                <div class="row-result">
                    <span class="tags">{{ 'ev_charging_points_manager.details.connector_status' | translate }}</span>                            
                    <div class="result">
                        <ng-template ngFor let-connector [ngForOf]="evChargePointDetails.connectors">
                            <div class="inline" [innerHTML]="connector | myChargePointConnectorFormat: { hideZeroConnector: false }"></div>                            
                            <div [innerHTML]="connector | myChargePointConnectorErrorFormat"></div>
                        </ng-template>
                    </div>                                
                </div>
                <div class="row-result">
                    <span class="tags">{{ 'ev_charging_points_manager.details.boot_time' | translate }}</span>
                    <span class="result">{{ evChargePointDetails.bootTime | myDateFormat: { 
                        display: dateDisplayOptions.both, 
                        dateFormat: userOptions.localOptions.short_date,
                        showSeconds: true
                    } }}</span>
                </div>
                <div class="row-result">
                    <span class="tags">{{ 'ev_charging_points_manager.details.vendor' | translate }}</span>
                    <span class="result">{{ evChargePointDetails.vendor ? evChargePointDetails.vendor : 'N/A' }}</span>
                </div>
                <div class="row-result">
                    <span class="tags">{{ 'ev_charging_points_manager.details.model' | translate }}</span>
                    <span class="result">{{ evChargePointDetails.model ? evChargePointDetails.model : 'N/A' }}</span>
                </div>
                <div class="row-result">
                    <span class="tags">{{ 'ev_charging_points_manager.details.firmware_version' | translate }}</span>
                    <span class="result">{{ evChargePointDetails.firmwareVersion ? evChargePointDetails.firmwareVersion : 'N/A' }}</span>
                </div>
                <div class="separator"></div>
                <div class="row-result">
                    <span class="tags">{{ 'ev_charging_points_manager.details.meter_type' | translate }}</span>
                    <span class="result">{{ evChargePointDetails.meterType ? evChargePointDetails.meterType : 'N/A' }}</span>

                </div>
                <div class="row-result">
                    <span class="tags">{{ 'ev_charging_points_manager.details.meter_serial' | translate }}</span>
                    <span class="result">{{ evChargePointDetails.meterSerialNumber ? evChargePointDetails.meterSerialNumber : 'N/A' }}</span>
                </div>                       
                <div class="row-result">
                    <span class="tags">{{ 'ev_charging_points_manager.details.charge_point_serial' | translate }}</span>
                    <span class="result">{{ evChargePointDetails.serialNumber ? evChargePointDetails.serialNumber : 'N/A' }}</span>
                </div>
                <div class="separator"></div>
                <div class="row-result">
                    <span class="tags">{{ 'ev_charging_points_manager.details.imsi' | translate }}</span>
                    <span class="result">{{ evChargePointDetails.imsi ? evChargePointDetails.imsi : 'N/A' }}</span>
                </div>
                <div class="row-result">
                    <span class="tags">{{ 'ev_charging_points_manager.details.iccid' | translate }}</span>
                    <span class="result">{{ evChargePointDetails.iccid ? evChargePointDetails.iccid : 'N/A' }}</span>
                </div>
                <div class="row-result">
                    <span class="tags">{{ 'ev_charging_points_manager.details.ip_address' | translate }}</span>
                    <span class="result">{{ evChargePointDetails.ipAddress ? evChargePointDetails.ipAddress : 'N/A' }}</span>
                </div>
                <div class="row-result">
                    <span class="tags">{{ 'ev_charging_points_manager.details.last_heartbeat' | translate }}</span>
                    <span class="result">{{ evChargePointDetails.lastHeartbeat ?  (evChargePointDetails.lastHeartbeat | myDateFormat: { 
                        display: dateDisplayOptions.both, 
                        dateFormat: userOptions.localOptions.short_date,
                        showSeconds: true
                        }) : 'N/A' }}</span>
                </div>                                                
            </div>
            <div class="right-info">
                <div *ngIf="buttonLoading">
                    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                </div>
                <div class="card add-shadows" *ngIf="!buttonLoading">
                    <div class="actions">
                        <h4>{{ 'ev_charging_points_manager.perform' | translate }}</h4>
                        <ul>              
                            <li class="action" (click)="performAction(cpActions.SoftReset)">
                                <mat-icon class="right-icon primary-color">
                                    arrow_drop_down
                                </mat-icon>
                                <span>{{ 'ev_charging_points_manager.perform.soft_reset' | translate }}</span>
                            </li>
                            <li class="action" (click)="performAction(cpActions.HardReset)">
                                <mat-icon class="right-icon primary-color">
                                    arrow_drop_down
                                </mat-icon>
                                <span>{{ 'ev_charging_points_manager.perform.hard_reset' | translate }}</span>
                            </li>
                            <li class="action" (click)="openFirmwareDialog()">
                                <mat-icon class="right-icon primary-color">
                                    arrow_drop_down
                                </mat-icon>
                                <span>{{ 'ev_charging_points_manager.perform.firmware_update' | translate }}</span>
                            </li>
                            <li class="action" (click)="performAction(cpActions.ClearCache)">
                                <mat-icon class="right-icon primary-color">
                                    arrow_drop_down
                                </mat-icon>
                                <span>{{ 'ev_charging_points_manager.perform.clear_cache' | translate }}</span>
                            </li>
                            <li *ngIf="evChargePointDetails.connectors.length > 1 || (evChargePointDetails.connectors.length === 1 && evChargePointDetails.connectors[0].id !== 0)" class="action" (click)="performAction(cpActions.Unlock, evChargePointDetails.connectors)">
                                <mat-icon class="right-icon primary-color">
                                    arrow_drop_down
                                </mat-icon>
                                <span>{{ 'ev_charging_points_manager.perform.unlock' | translate }}</span>
                            </li>
                        </ul>
                    </div>
                    <div class="actions">
                        <h4>{{ 'ev_charging_points_manager.perform.status_change' | translate }}</h4>
                        <ul>
                            <span [ngSwitch]="getZeroConnectorStatus()">
                                <li *ngSwitchCase="connectorStatusOptions.Unavailable" class="action" 
                                                (click)="performAction(cpActions.SetOperative)">
                                    {{ 'ev_charging_points_manager.perform.status_change.set' | translate }}: 
                                    <b>{{ 'ev_charging_points_manager.statuses.available' | translate }}</b>
                                </li>
                                <li *ngSwitchCase="connectorStatusOptions.Available" class="action" 
                                                (click)="performAction(cpActions.SetInoperative)">
                                    {{ 'ev_charging_points_manager.perform.status_change.set' | translate }}:
                                        <b>{{ 'ev_charging_points_manager.statuses.unavailable' | translate }}</b>
                                </li>
                                <li *ngSwitchDefault>
                                    N/A
                                </li>
                            </span>
                        </ul>
                    </div>
                </div>                
            </div>                                              
        </div>
        <div class="charge-point-history">
            <div class="border-title">
                <div class="border"></div>
                <h3> {{ 'ev_charging_points_manager.details.history' | translate }}</h3>
            </div>
            <div style="padding: 1em 0;">
                <filters>
                    <div class="filter-rows">                        
                        <div class="filter-row">                    
                            <label class="tag one-tag" for="period-selector">{{ 'period_selector.title' | translate }}:</label>                        
                            <period-selector [htmlID]="'period'"
                                                [options]="periodSelectorOptions"
                                                [(modelData)]="historyRequest.periodType"
                                                (modelDataChange)="onPeriodSelect($event)">
                            </period-selector>                        
                        </div>                                                                
                    </div>
                </filters>     
                <data-table [records]="evChargePointHistory"
                            [(settings)]="tableSettings"
                            [loading]="historyLoading"
                            [pager]="pager"
                            [sorting]="historyRequest.sorting"
                            (onSortSelection)="onSort($event)"
                            (onScrollDown)="loadMore()">
                </data-table>  
            </div>
        </div>    
    </div>    
</page-container>
