@import "../../../styles/variables";

.cp-details {
    .message {
        margin: auto;
        padding: 2em;
        color: @sublabel;
    }

    .main {
        display: flex;
        flex-direction: row;
        h4 {
            margin: 1em 0;
        }

        .left-info {
            width: 80%;
            padding: 1em;
            .charging-status {
                margin-top: 15px;
            }
            .inline {
                display: inline-block;
                margin-right: 5px; 
                margin-top: 10px;
            }
        }

        .right-info {
            width: 20%;
            margin-left: 1em;

            .card {
                padding: 1em;
                margin-bottom: 15px;
            }

            .link {
                display: flex;
                width: 100%;
                text-decoration: none;
                font-weight: normal;
                color: var(--primary-color);

                .text {
                    width: 90%;
                }

                &:hover {
                    cursor: pointer;
                    color: var(--primary-color-hover);
                }
            }

            .actions {
                h4 {
                    color: rgba(0, 0, 0, 0.54);
                }

                span {
                    vertical-align: top;
                }
                .action {
                    width: 100%;
                    padding: .5em;
                    cursor: pointer;
                    .right-icon {
                        transform: rotate(-90deg);
                    }

                    &:hover {
                        background-color: rgba(0, 0, 0, 0.1);
                    }
                }
            }
        }
    }

    .row-result {
        display: flex;

        .tags {
            font-size: 1em;
            font-weight: 500;
            color: @sublabel;
            flex: 0 1 50%;
            padding: .5em 0;
        }

        .result {
            font-size: 1em;
            font-weight: 500;
            color: @paragraph;
            flex: 0 1 50%;
            padding: .5em 0;

            ul {
                li {
                    padding-bottom: 0.75em;
                }
            }
        }
    }

    .separator {
        border-bottom: 1px solid @divider;
        margin: 1em 0;
    }
}

@media screen and (max-width: @break-point) {
    .cp-details {
        .main {
            flex-direction: column;
            .left-info {
                width: 100%;
                .inline {
                    display: block;
                    margin-right: 0px; 
                }
            }

            .right-info {
                width: 100%;
                margin-left: 0em;
            }
        }
    }
}
