﻿<div class="dialog create-account">
    <div class="header">
        <div class="title">
            <h3>{{ 'create_account.title' | translate }}</h3>
        </div>
        <button aria-label="clear" mat-icon-button>
            <mat-icon (click)="closeDialog()">clear</mat-icon>
        </button>
    </div>
    <div *ngIf="loading">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
    <div class="content">
        <!-- CODE VALIDATION FORM -->
        <form #codeConfirmForm="ngForm" *ngIf="!driver"
            (ngSubmit)="onConfirmCode(codeConfirmForm)">
            <p class="create-content">{{ 'create_account.code.description' | translate }} </p>
            <input type="text" id="code" required
                    [(ngModel)]="codeEntered"
                    name="code"
                    #code="ngModel"
                    placeholder="{{ 'create_account.code.placeholder' | translate }}"/>

            <footer>
                <button aria-label="submit" type="submit" class="btn secondary-btn"
                        [disabled]="codeConfirmForm.invalid || loading">
                    {{ 'form.actions.send' | translate }}
                </button>
                <button aria-label="close" (click)="closeDialog()" type="reset" class="btn alternative-btn">
                    {{ 'form.actions.cancel' | translate }}
                </button>
            </footer>
        </form>
        <!-- END OF CODE VALIDATION FORM -->

        <!-- ACCOUNT CREATION FORM -->
        <form #accountCreationForm="ngForm" *ngIf="driver" class="edit-form account-creation-form"
             (ngSubmit)="onAccountCreation(accountCreationForm)" >
            <p class="create-content" [innerHTML]="'create_account.create_content' | translate: { value : driver.fullname } "></p>

            <div class="form-row input-with-icon">
                <input type="email"
                        id="email"
                        name="email"
                        [ngClass]="(!driver || (driver.email && driver.email.length > 0)) ? 'disabled-field' : '' "
                        placeholder="{{ 'create_account.email_address' | translate }}"
                        required
                        validateEmail
                        [(ngModel)]="account.email"
                        #email="ngModel"/>
                <mat-icon>contact_mail</mat-icon>
                <div [hidden]="email.valid || email.pristine" class="alert alert-danger">
                    {{ email.errors | myFormValidationMessage: { field: 'create_account.email_address' } }}
                </div>

                <!-- <div class="dont-use-email">
                    <input class="css-checkbox"
                            type="checkbox"
                            id="account-email-not-username"
                            name="account-email-not-username"
                            (change)="showUsernameField = !showUsernameField"
                            [(ngModel)]="account.doNotUseEmailAsUserName"
                            #doNotUseEmailAsUserName="ngModel"/>
                    <label class="css-label" for="account-email-not-username">
                        {{ 'create_account.email_address.not_as_username' | translate }}
                    </label>

                </div> -->
            </div>

            <div class="form-row input-with-icon" *ngIf="showUsernameField">
                    <input type="text"
                            id="accountUsername"
                            name="accountUsername"
                            placeholder="{{ 'create_account.username' | translate }}"
                            required
                            [(ngModel)]="account.username"
                            #accountUsername="ngModel"/>
                    <mat-icon>person</mat-icon>
                    <div [hidden]="accountUsername.valid || accountUsername.pristine" class="alert alert-danger">
                        {{ accountUsername.errors | myFormValidationMessage: { field: 'create_account.username' } }}
                    </div>
                </div>

            <div class="form-row input-with-icon">
                <input type="password"
                        id="accountPassword"
                        name="accountPassword"
                        placeholder="{{ 'create_account.password' | translate }}"
                        required
                        [(ngModel)]="account.password"
                        #accountPassword="ngModel"/>
                <mat-icon>lock</mat-icon>
                <div [hidden]="accountPassword.valid || accountPassword.pristine" class="alert alert-danger">
                    {{ accountPassword.errors | myFormValidationMessage: { field: 'create_account.password' } }}
                </div>
            </div>

            <password-rules
                        [password]="account.password"
                        [type]="passwordRulesOptions.driver"
                        [code]="codeEntered"
                        (onValidation)="onPasswordValidation($event)">
            </password-rules>

            <div class="form-row input-with-icon">
                <input type="password"
                        id="confirmPassword"
                        name="confirmPassword"
                        placeholder="{{ 'create_account.confirm_password' | translate }}"
                        required
                        validateEqual="accountPassword"
                        [(ngModel)]="account.confirmPassword"
                        #confirmPassword="ngModel"/>
                    <mat-icon>lock</mat-icon>
                <div [hidden]="confirmPassword.valid || confirmPassword.pristine" class="alert alert-danger">
                    {{ confirmPassword.errors | myFormValidationMessage: { field: 'create_account.confirm_password', compareField: 'create_account.password' } }}
                </div>
            </div>

            <footer>
                <button aria-label="submit" type="submit" class="btn secondary-btn"
                        [disabled]="accountCreationForm.invalid || !isPasswordValid || loading">
                    {{ 'form.actions.send' | translate }}
                </button>
                <button aria-label="reset" (click)="closeDialog()" type="reset" class="btn alternative-btn">
                    {{ 'form.actions.cancel' | translate }}
                </button>
            </footer>
        </form>
        <!-- END OF ACCOUNT CREATION -->
    </div>

</div>
