﻿@import "../../styles/variables";

 .create-account {    
    .account-creation-form {
        .form-row {
            .dont-use-email {
               margin-bottom: 20px;
            }
        }
    }
}

@media screen and (min-width: @break-point) {
    .create-account {
        max-width: 500px;
    }
}
