﻿<div class="dialog browsers-version">
    <div class="header">        
        <div class="button">
            <mat-icon (click)="dialogRef.close('no')">clear</mat-icon>
        </div>
    </div>
    <div class="content">
        <div>
            <img alt="chrome" src="/assets/images/browsers/chrome.svg" />
            <p>
                <a class="primary-link" [attr.rel]="'noopener'" [attr.target]="'_blank'" [attr.href]="'https://www.google.com/chrome/browser/desktop/index.html'">50+</a>
            </p>
        </div>
        <div>
            <img alt="firefox" src="/assets/images/browsers/firefox.svg" />
            <p>
                <a class="primary-link" [attr.rel]="'noopener'" [attr.target]="'_blank'" [attr.href]="'https://www.mozilla.org/en-US/firefox/new/'">35+</a>
            </p>
        </div>
        <div>
            <img alt="edge" src="/assets/images/browsers/edge.svg" />
            <p>
                <a class="primary-link" [attr.rel]="'noopener'" [attr.target]="'_blank'" [attr.href]="'https://www.microsoft.com/en-us/download/details.aspx?id=48126'">Edge 15+</a>
            </p>
        </div>
        <div>
            <img alt="safari for mac" src="/assets/images/browsers/safari.svg" />
            <p>
                <a class="primary-link" [attr.rel]="'noopener'" [attr.target]="'_blank'" [attr.href]="'https://support.apple.com/downloads/#safari'">9+</a>
            </p>
        </div>
        <div>
            <img alt="opera" src="/assets/images/browsers/opera.svg" />
            <p>
                <a class="primary-link" [attr.rel]="'noopener'" [attr.target]="'_blank'" [attr.href]="'http://www.opera.com/computer'">36+</a>
            </p>
        </div>
    </div> 
</div>