@import "../../styles/variables";

.login-page {
    height: auto; 
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    margin: 80px auto 0;

    .login-page-wrapper {
        min-height: 400px;
        width: 450px; 
        box-shadow: 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
        border-top: 1px solid rgba(0,0,0,0.14);
        .logo {
            text-align: center;
            margin: 1em 0 0;
            img {
                max-width: 120px;
            }
        }

        .header {
            border-top: 0;
            padding: 5px;
        
        }
        .title {
            margin: 1em 1em 2em 1em ;
            padding-bottom: 15px;
            text-align: center;
        }

        .input-wrapper {
            position: relative;
            input {
                outline: none;
                color: #444;
                border-left-width: 35px !important;

                + mat-icon {
                    position: absolute;
                    top: 8px;
                    left: 6px;
                    color: #fff;
                }
            }
        }

        ul {
            margin-top:1em;
            a {
                font-size: .8em;
                text-decoration: underline;
            }
        }

        .submit-btn {
            margin: 10px 0;
            width: 100%;
            padding: .8em;
            font-size: 1em;
            box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
        }
    }
}

.login-footer {
    width: 450px; 
    background: #f5f5f5;
    height: 38px;
    padding: 0 5px 5px;
    border-top: 1px solid #dedede;
    color: #7b7a7a;
    font-size: 10px;
    display: flex;
    align-items: center;
    margin-top: -12px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    
    a.footer-logo {
        flex-grow: 1;
        height: 100%;
        background: url("/assets/images/logos/sycada-footer-logo.png") no-repeat scroll 5px 5px transparent;
        color: #9f9e9e;
        font-size: 11px;
        margin-top: 0;
        padding-top: 10px;
        padding-left: 88px;
        text-decoration: none;
        cursor: pointer;
    }
    a.footer-logo:hover {
        color: #3f4040;
        text-decoration: none;
    }
    .supported-browsers {
        background: url("/assets/images/browsers/globe.png") no-repeat scroll 5px 4px transparent;
        width: 40px;
        height: 33px;
        cursor: pointer;
        justify-content: flex-end;
    }
}

.browsers-version {
     .header {        
        position: relative;    
        border: none!important; 
        margin-bottom:.5em;   
        .button {
            position: absolute;
            top:-12px;
            right:-12px;
            cursor: pointer;
        }        
    }
    .content {        
        display: flex;
        flex-wrap: wrap; 
        > div {
            padding:0 1em;
            flex: 0 1 20%;
            min-width: 75px;
            text-align: center;
            p {
                margin: 0.25em 0 1em;
                a {
                    font-size: 1em;
                }
            }
        }
    }
}

@media screen and (max-width: @break-point) {
    .login-page {
        margin: 0;
        .login-page-wrapper {
            box-shadow: none;
            border-top: 0px;
            width: 100%;
        }
        .login-footer {
            width: 100%;
        }
    }
}

