<div *ngIf="!loginRedirect" class="login-page">
    <div class="login-page-wrapper card">
        <div class="header">
            <country-selector [options]="langOptions" 
                            [noneOption]="true"
                            [selected]="selectedLanguage"
                            (onSelect)="selectDisplayLanguage($event)">
            </country-selector>
        </div>
        <div *ngIf="loading">
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </div>
        <form class="login" (ngSubmit)="login()" [formGroup]="loginForm" >
            <div class="content">
                <h4 class="title primary-color">{{ 'login.welcome' | translate }}</h4>                
                <div class="input-wrapper">                   
                    <input class="primary-color-border" 
                            aria-label="username" 
                            placeholder="{{ 'login.username' | translate }}"
                            name="username" 
                            type="text" 
                            formControlName="username" />
                    <mat-icon>person</mat-icon>
                    <div *ngIf="loginForm.get('username').hasError('required') && loginForm.get('username').touched" class="alert-danger">
                        {{ 'form.errors.required' | translate | myStringFormat: ['login.username' | translate] }}
                    </div>
                </div>
                <div class="input-wrapper">                    
                    <input class="primary-color-border" 
                            aria-label="password" 
                            placeholder="{{ 'login.password' | translate }}" 
                            name="password" 
                            type="password" 
                            formControlName="password" />
                    <mat-icon>lock</mat-icon>
                    <div *ngIf="loginForm.get('password').hasError('required') && loginForm.get('password').touched" class="alert-danger">
                        {{ 'form.errors.required' | translate | myStringFormat: ['login.password' | translate] }}
                    </div>
                </div>
                <!--  -->
                <re-captcha *ngIf="showRecaptcha" formControlName="recaptchaReactive" (resolved)="resolved($event)"  name="captcha" required></re-captcha>
                <button aria-label="submit" type="submit" class="submit-btn btn primary-btn" [disabled]="!loginForm.valid || loading">{{ 'login.button' | translate }}</button>
                <div class="alert-danger" *ngIf="message && message.length > 0">
                    {{ message | translate }}
                </div>
                <ul>
                    <li>
                        <a class="primary-link" (click)="createAccount()">{{ 'login.create_account' | translate }}</a>
                    </li>
                    <li>
                        <a class="primary-link" (click)="forgotPassword()">{{ 'login.forgot_password' | translate }}</a>
                    </li>
                
                </ul>                                
            </div>
        </form>
    </div>
    
    <div class="login-footer card">
        <a rel="noopener noreferrer" href="http://www.sycada.com/" target="_blank" class="footer-logo pull-left">
            Your partner in sustainable mobility solutions
        </a>
        <a class="supported-browsers" 
            matTooltip="{{ 'login.supported_browsers' | translate }}" 
            matTooltipPosition="before" 
            (click)="browserVersion()">
        </a>
    </div>    

</div>


<div *ngIf="loginRedirect">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div> 

