<div class="dialog edit-culture">
    <div class="header">   
        <div class="title">
            <h3>{{ 'form.actions.edit' | translate }}</h3>
        </div>     
        <button aria-label="clear" mat-icon-button>
            <mat-icon (click)="closeDialog(false)">clear</mat-icon>
        </button>
    </div>

    <div *ngIf="loading">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
    <div class="content">
        <form [formGroup]='editCultureForm' (ngSubmit)="onSubmit()" class="edit-form">   
            <div class="form-row">
                <label class="tag width20" for="culture">{{ 'announcements_admin.culture' | translate }}</label>
                <div class="field width-remain">
                    <custom-selector class="ddl"                           
                                    [options]="cultureOptions"
                                    [modelData]="record.culture"
                                    [dataID]="'culture'"
                                    (modelDataChange)="changeCulture($event)"                                     
                                    name="culture">
                    </custom-selector>
                    <div *ngIf="editCultureForm.get('culture').hasError('required') && editCultureForm.get('culture').touched" class="alert-danger">
                        {{ 'form.errors.required' | translate | myStringFormat: ['announcements_admin.culture' | translate] }}
                    </div>
                </div>                
            </div>                 
            <div class="form-row">
                <label class="tag width20" for="title">{{ 'announcements_admin.title' | translate }}</label>
                <div class="field width-remain">
                    <input type="text" 
                            id="label" 
                            name="title"
                            required                          
                            formControlName="title" />
                </div>
                <div *ngIf="editCultureForm.get('title').hasError('required') && editCultureForm.get('title').touched" class="alert-danger">
                    {{ 'form.errors.required' | translate | myStringFormat: ['announcements_admin.title' | translate] }}
                </div>
            </div>
            <div class="form-row">
                <label class="tag width20" for="description">{{ 'announcements_admin.description' | translate }}</label>
                <div class="field width-remain">
                    <input type="text" 
                            id="label" 
                            name="description"
                            required
                            formControlName="description" />
                </div>              
                <div *ngIf="editCultureForm.get('description').hasError('required') && editCultureForm.get('description').touched" class="alert-danger">
                    {{ 'form.errors.required' | translate | myStringFormat: ['announcements_admin.description' | translate] }}
                </div>
            </div>                          
            <footer id="footer">
                <button aria-label="submit" type="submit" [disabled]="!editCultureForm.valid || loading" class="btn secondary-btn">
                    {{ 'form.actions.save' | translate }}          
                </button>
                <button aria-label="close" (click)="closeDialog(false)" type="reset" class="btn alternative-btn">
                    {{ 'form.actions.cancel' | translate }}
                </button>
            </footer>
        </form>
    </div>
</div>
