<page-container title="{{ 'admin.categories.vehicles.types' | translate }}: {{ 'energy_category.target_baselines' | translate }}"
                [backButton]="true"
                (notifyOnBack)="back()"
                [addButton]="true"
                (notifyOnAdd)="addFactor()">

    <div pageContent>
   
        <div class="admin-edit-label">{{ getLabelEntity() }}</div>

        <energy-target-baselines [vehicleTypeID]="vehicleTypeID"></energy-target-baselines>
        
    </div>
</page-container>