<page-container title="{{ 'admin.categories.charge_points' | translate }}: {{ 'charge_points.linked_with' | translate }}"
                [backButton]="true"
                (notifyOnBack)="back()">
   
    <div pageContent>
        <div #wrapper class="edit-form">
            <div class="admin-content">
                <div class="admin-edit-label">{{ getLabelEntity() }}</div>
            </div>
            <div class="form-row">
                <mat-form-field class="autocomplete">
                    <input matInput #searchTerm 
                                        placeholder="{{ 'charge_points.manage_links.link' | translate }}" 
                                        [matAutocomplete]="auto" 
                                        (keyup)="getUnlinkedChargePoints(searchTerm.value)">
                    <div class="autocomplete-loader" *ngIf="loadingUnlinkedCps">
                        <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
                    </div>
                </mat-form-field>

                <mat-autocomplete #auto="matAutocomplete" ng-disabled="disabled">
                    <mat-option (onSelectionChange)="onLinkChargePoint(item.id)" *ngFor="let item of unlinked" [value]="item.name">
                        {{ item.name }}
                    </mat-option>
                </mat-autocomplete>
            </div>
        </div>
        
        <data-table [records]="linked"
                    [settings]="tableSettings"
                    [loading]="loading"
                    (onActionClick)="onManage($event)"
                    (onSortSelection)="onSort($event)">
        </data-table>
    </div>
</page-container>
