<div class="dialog edit-asset-links-dialog" style="width: 500px;">
    <div class="header">
        <div class="title">
            <h2>
                {{ 'assets.links.title' | translate }}
            </h2>
        </div>
        <div class="button">
            <button aria-label="clear" mat-icon-button (click)="close()">
                <mat-icon>clear</mat-icon>
            </button>
        </div>
    </div>
    <div *ngIf="loading">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
    <div class="content">    
        <form #editForm="ngForm" (ngSubmit)="onSubmit(request)" class="edit-form">             
            <div class="form-row">
                <div class="field width-remain">
                    <search-mechanism style="width: 100%"
                                    placeholder="{{ 'assets.tracking_device' | translate }}"
                                    id="trackingDeviceLabel"
                                    [name]="request.trackingDeviceLabel"  
                                    [disabled]="request.trackingDeviceID && !trackingDeviceEnabled"                                      
                                    [chosenOption]="searchTypes.TrackingDevice"
                                    (onSelect)="onTrackingDeviceSelect($event)">
                    </search-mechanism>
                </div>
                <div class="width-remain note note-warning" *ngIf="trackingDeviceLinkedWarningMessage" [innerHtml]="trackingDeviceLinkedWarningMessage"> </div>
            </div>
            <div class="form-row">
                <fieldset>
                    <legend>{{ 'assets.vehicle' | translate }}</legend>
                    <div class="width-remain" style="margin-bottom: 15px">
                        <div class="toggle-buttons">
                            <div class="equal-widths">
                                <input type="radio" id="linked" name="isLinked"   
                                    [(ngModel)]="vehSearchForLinked"
                                    [value]="true">
                                <label for="linked">{{ 'assets.links.search.linked' | translate }}</label>
                            </div>
                            <div class="equal-widths">
                                <input type="radio" id="non-linked" name="isLinked"  
                                    [(ngModel)]="vehSearchForLinked"
                                    [value]="false">
                                <label for="non-linked">{{ 'assets.links.search.non-linked' | translate }}</label>
                            </div>
                        </div>
                    </div>
                    <div class="field width-remain">
                        <mat-form-field class="autocomplete">
                            <input #vehTerm type="text" matInput                     
                                    [formControl]="vehSearchTermControl" 
                                    [matAutocomplete]="autoVeh"
                                    placeholder="{{ 'form.search.pleaceholder' | translate }}"/>
                            <div class="autocomplete-clear" *ngIf="!vehSearchLoading && vehTerm.value && vehTerm.value.length > 0" (click)="clearInput($event, 'vehicle')">
                                <mat-icon>clear</mat-icon>
                            </div>
                            <div class="autocomplete-loader" *ngIf="vehSearchLoading">
                                <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
                            </div>
                        </mat-form-field>
                        
                        <mat-autocomplete #autoVeh="matAutocomplete" ng-disabled="disabled">
                            <mat-option (onSelectionChange)="onVehicleSelect(item)" *ngFor="let item of vehs" [value]="item.name">
                                {{ item.name }}
                            </mat-option>
                        </mat-autocomplete>
                        
                    </div>
                    <div class="width-remain note note-warning" *ngIf="vehicleLinkedWarningMessage" [innerHtml]="vehicleLinkedWarningMessage"> </div>

                </fieldset>
            </div>             
            <div class="form-row">
                <fieldset>
                    <legend>{{ 'assets.driver' | translate }}</legend>
                    <div class="width-remain" style="margin-bottom: 15px">
                        <div class="toggle-buttons">
                            <div class="equal-widths">
                                <input type="radio" id="hr-linked" name="hrlinked"   
                                    [(ngModel)]="hrSearchForLinked"
                                    [value]="true">
                                <label for="hr-linked">{{ 'assets.links.search.linked' | translate }}</label>
                            </div>
                            <div class="equal-widths">
                                <input type="radio" id="hr-non-linked" name="hrlinked"  
                                    [(ngModel)]="hrSearchForLinked"
                                    [value]="false">
                                <label for="hr-non-linked">{{ 'assets.links.search.non-linked' | translate }}</label>
                            </div>
                        </div>
                    </div>
                    <div class="field width-remain">
                        <mat-form-field class="autocomplete">
                            <input #hrTerm type="text" matInput                     
                                    [formControl]="hrSearchTermControl" 
                                    [matAutocomplete]="autoHrs"
                                    placeholder="{{ 'form.search.pleaceholder' | translate }}"/>
                            <div class="autocomplete-clear" *ngIf="!hrSearchLoading && hrTerm.value && hrTerm.value.length > 0" (click)="clearInput($event, 'driver')">
                                <mat-icon>clear</mat-icon>
                            </div>
                            <div class="autocomplete-loader" *ngIf="hrSearchLoading">
                                <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
                            </div>
                        </mat-form-field>
                        
                        <mat-autocomplete #autoHrs="matAutocomplete" ng-disabled="disabled">
                            <mat-option (onSelectionChange)="onDriverSelect(item)" *ngFor="let item of hrs" [value]="item.name">
                                {{ item.name }}
                            </mat-option>
                        </mat-autocomplete>
                      
                    </div>
                    <div class="width-remain note note-warning" *ngIf="hrLinkedWarningMessage" [innerHtml]="hrLinkedWarningMessage"> </div>
                </fieldset>
            </div>  
            <footer id="footer">      
                <button aria-label="submit" type="submit" [disabled]="saveBtnDisabled()" class="btn secondary-btn">
                    {{ 'form.actions.save' | translate }}
                </button>   
                <button aria-label="cancel" type="reset" class="btn alternative-btn" (click)="close()">
                    {{ 'form.actions.cancel' | translate }}
                </button>
            </footer>                                           
        </form> 
    </div> 
</div>
