<div class="page-card">
    <div class="page-loader" *ngIf="loading">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
    <ng-template #titleTmpl >
        <div class="page-card-header" [ngClass]="mainClass == true ? 'main' : ''">
            <button aria-label="back" *ngIf="backButton" class="back-button" mat-icon-button (click)="onBack()" >
                <mat-icon>keyboard_backspace</mat-icon>
            </button> 
            <h3 class="title">
                {{ title | translate }}
            </h3>
            <div class="more-add-options">                       
                <button aria-label="add" *ngIf="addButton" class="header-button" (click)="onAdd()">
                    <mat-icon>add_circle_outline</mat-icon>
                </button>           
                <more-options-menu [options]="options"
                                    [subTitles]="true"
                                    [isForHeader]="true"
                                    (notifyOnOptionSelection)="onOptionSelection($event)">
                </more-options-menu>
            </div>
        </div>
    </ng-template>
    <ng-template [ngTemplateOutlet]="titleTmpl"></ng-template>
    <div pageHeader>
        <ng-template [ngTemplateOutlet]="titleTmpl"></ng-template>
    </div>

    <div #pageContent class="content">
        <ng-content select="[pageContent]"></ng-content>
    </div>
    <div #pageFooter class="fixed-footer">
        <ng-content select="[fixedFooter]"></ng-content>
    </div>
</div>