@import "../../styles/variables";

/* Card for main page */
.page-card {
    overflow: hidden;
    background: none;
    margin: 0;
    padding: 0;
    height: 100%;

    .admin-edit-label {
        color: #bfbdbd;
        letter-spacing: 2px;
        font-size: 15pt;
        font-style: italic;
        font-weight: bold;
        text-shadow: 1px 1px #F2f2f2;
        margin: 10px 0px 10px 0px;
    }

    .content {
        width:100%; 
        margin-top: 56px; 
        padding: 1.75em 2em;
        
        overflow-y: auto;
        overflow-x: hidden;

         /* To smooth any scrolling behavior iOS */
        -webkit-overflow-scrolling: touch;
    }

    .page-loader {
        position: absolute;
        top: 52px;
        left: 0;
        width: 100%;
        z-index: 15;
    }

    .fixed-footer {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        footer {
            display: flex;
            height: 60px;
            padding: 0.7em 1em;
            background: #fff;
            border-top: 1px solid @divider;
            .btn {
                margin-right: 5px;
            }
            &.no-padding {
                padding: unset;
            }
        }
    }

    &-header  {
        position: absolute; 
        top:0; 
        left:0; 
        width:100%; 
        display: flex;
        background-color: @bgGrey;
        border-top: 0px; 
        border-bottom: 1px solid @divider;
        align-items: center;
        height: 52px;
        padding-left: 1.5em;
        &:after {
            content: '';
            display: block;
        }
       

        .title {
            font-size: 16pt;
            font-weight: 400;
            color: @paragraph;
            flex: 0 1 auto;
        }
        .header-button {
            background: #F1F7F8;
            border-width: 0px 0px 1px 1px;
            border-style:  solid;
            border-color:  @divider;
            height: 52px;
            width: 52px;
            color:  #1C5074;
            color: var(--primary-color);
            &:hover {
                color: #fff;
                background:  #65B254;
                background: var(--secondary-color);
                border-color:  #a1be86;
                border-color: var(--secondary-color-hover);
            }
        }    

        .more-add-options {
            flex: 1 1 auto;
            text-align: right;
        }   

        &.main {
            background-color:  #1C5074;
            background-color: var(--primary-color);
            .title {
                color: #fff;
            }
        }
    }
}

@media screen and (max-width: @break-point) {
    .page-card {
        .page-loader {
            top: 0px;
        }
        .fixed-footer {
            footer {
                height: 48px;
                padding: 0.3em 1em;
            }
        }
        .content {
            margin-top: 5px;
        }
        .page-card-header {
            display: none;
            // position: fixed;
            // top: 0px;
            // left: 20%;
            // width: 55%;
        }
    }
}