<div *ngIf="loading">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>

<form #editForm="ngForm" (ngSubmit)="onSubmit(editForm)" class="edit-form"> 
    <div class="form-row" *ngIf="roleID > 0">
        <label class="tag width20" for="allowUserToRemove">{{ 'dashboard.edit_widget.allow_edit_remove' | translate }}</label>
        <div class="field width-remain toggle-buttons">
            <input type="checkbox"
                    id="allowUserToRemove" 
                    name="allowUserToRemove"
                    [(ngModel)]="widget.allowUserToRemove" 
                    #allowUserToRemove="ngModel"/>
            <label for="allowUserToRemove">
                {{ (widget.allowUserToRemove == true ?  'form.actions.enabled' : 'form.actions.disabled') | translate }}
            </label>
        </div>
    </div>
    <div class="form-row">
        <label class="tag width20" for="title">{{ 'dashboard.edit_widget.widget_title' | translate }}</label>
        <div class="field width-remain">
            <input type="text" id="title" name="title"
                    required
                    [(ngModel)]="widget.title" 
                    #title="ngModel"
                    (change)="previewWidget()"/>
        </div>
        <div [hidden]="title.valid || title.pristine" class="alert alert-danger">
            {{ title.errors | myFormValidationMessage: { field: 'dashboard.edit_widget.widget_title' } }}
        </div>   
    </div>
    <div class="form-row">
        <label class="tag width20" for="type">{{ 'dashboard.edit_widget.data_type' | translate }}</label>
        <div class="field width-remain">
            <custom-selector [style.width.%] = "100"
                                [options]="chartOptions"
                                [(modelData)]="widget.type"
                                [dataID]="'chart-widget'"
                                (modelDataChange)="onChangeChartType($event)">
            </custom-selector>
        </div>
    </div>


    <div class="form-row">
        <label class="tag width20" for="period">{{ 'period_selector.title' | translate }}</label>
        <div class="field width-remain">
            <period-selector [style.width.%] = "100"
                            [htmlID]="'period'"
                            [options]="periodSelectorOptions"
                            [(modelData)]="widget.periodType"
                            (modelDataChange)="onChangePeriod($event)">
            </period-selector>
        </div>
    </div>
    <div class="form-row asset-options" >
        <label class="tag width20">{{ 'assets.title' | translate }}</label>
        <div class="field width-remain">
            <dashboard-asset-selection [style.width.%] = "100" 
                                    [showNoneOption]="false"
                                    [options]="assetTypeOptions"
                                    [modelData]="assetSelected"
                                    (modelDataChange)="onDashboardAssetSelection($event)">
            </dashboard-asset-selection>
        </div>
    </div>
    <!-- REFERENCE ASSETS -->
    <div class="form-row reference asset-options" *ngIf="showReferenceAssetsOptions()">
        <div class="tag width20">
            <label>{{ 'dashboard.edit_widget.reference_assets' | translate }}</label>
            <span matTooltip="{{ 'dashboard.chart_widget.reference_assets_tooltip' | translate }}" matTooltipPosition="after"><mat-icon>info_outline</mat-icon></span>
        </div>
        <div class="field width-remain">
            <dashboard-asset-selection [style.width.%] = "100" 
                                        [disabled]="true"
                                        [showNoneOption]="true"
                                        [options]="assetTypeOptions"
                                        [modelData]="referenceAssetSelected"
                                        (modelDataChange)="onReferenceAssetSelection($event)">
            </dashboard-asset-selection>
        </div>
    </div>

    <!-- WIDGET SPECIFIC OPTIONS -->
    <fieldset class="options">
        <legend>{{ 'dashboard.edit_widget.options' | translate }}</legend>

        <!-- VIEW GRANULARITY -->
        <div class="form-row" *ngIf="showViewGranularityInput()">
                <label class="tag width20" for="granularity">{{ 'dashboard.edit_widget.view' | translate }}</label>
                <div class="field width-remain">
                    <div class="toggle-buttons">
                        <div class="equal-widths">
                            <input type="radio" id="month" name="viewGranularity"   
                                [(ngModel)]="widget.viewGranularity"
                                [value]="granularityOptions.Monthly"
                                [attr.disabled]="getGranularityOptionAvailability(granularityOptions.Monthly)"
                                #viewGranularity="ngModel">
                            <label for="month">{{ 'dashboard.edit_widget.month' | translate }}</label>
                        </div>
                        <div class="equal-widths">
                            <input type="radio" id="week" name="viewGranularity"
                                [(ngModel)]="widget.viewGranularity"
                                [value]="granularityOptions.Weekly"
                                [attr.disabled]="getGranularityOptionAvailability(granularityOptions.Weekly)"
                                #viewGranularity="ngModel">
                            <label for="week">{{ 'dashboard.edit_widget.week' | translate }}</label>
                        </div>
                        <div class="equal-widths">	
                            <input type="radio" id="day" name="viewGranularity"
                                    [(ngModel)]="widget.viewGranularity"
                                    [value]="granularityOptions.Daily"
                                    [attr.disabled]="getGranularityOptionAvailability(granularityOptions.Daily)"
                                    #viewGranularity="ngModel">
                            <label for="day"> {{ 'dashboard.edit_widget.daily' | translate }}</label>
                        </div>
                    </div>
                </div>
            </div>

            <!-- ENERGY TYPE -->
            <div class="form-row" *ngIf="showEnergyTypeInput()">
                <label class="tag width20" for="energy-type">{{ 'dashboard.edit_widget.energy_type' | translate }}</label>
                <div class="field width-remain">
                    <energy-types-list [style.width.%]="100"
                                    [(modelData)]="widget.energyTypeID"
                                    (modelDataChange) = "previewWidget()"
                                    [showAllOption]="true">
                    </energy-types-list>
                </div>
            </div>

            <!-- DISTRIBUTION TYPES -->
            <div class="form-row" *ngIf="showDistributionOptionsInput()">
                <label class="tag width20" for="distribution-types">{{ 'distribution_types.title' | translate }}</label>
                <div class="field width-remain">
                    <distribution-types [style.width.%]="100"
                                        (notifyOnChange)="onChangeDistributionType($event)" 
                                        [selected]="widget.distributeBy">
                    </distribution-types>
                </div>
            </div>


            <!-- SCORES -->
            <div class="form-row" *ngIf="showScoresInput()">
                <label class="tag width20" for="driver-score">{{ 'dashboard.edit_widget.score_type' | translate }}</label>
                <div class="field width-remain">
                    <scores-list [style.width.%]="100"
                                [(modelData)]="widget.scoreID"
                                (modelDataChange) = "previewWidget()"
                                [energyScoreEnabled]="showEnergyScoreOption()">
                    </scores-list>
                </div>
            </div>


        <!-- GROUP DEVICE TYPES -->
        <div class="form-row" *ngIf="showDeviceTypeGroupsInput()">
            <label class="tag width20" for="deviceTypesMenu">{{ 'dashboard.edit_widget.device_type' | translate }}</label>
            <div class="field width-remain">
                <asset-groups [style.width.%]="100"
                                [htmlID]="'deviceTypesMenu'"
                                [fetchData]="true"
                                [showAllOption]="false"
                                [selected]="widget.deviceTypeGroupID"
                                [type]="groupTypes.DeviceType"
                                (notifyOnChange)="onChangeDeviceTypeGroup($event)">
                </asset-groups>
                </div>
        </div>

        <!-- TARGET -->
        <div class="form-row width-remain" *ngIf="showTargetInput()">
            <label class="tag width20" for="targetValue">{{ 'dashboard.summary_widget.target' | translate }}</label>
            <div class="field width-remain">
                <input  name="targetValue" 
                        id="targetValue" 
                        [(ngModel)]="widget.targetValue" 
                        validateRange
                        min="1"
                        max="100"
                        #targetValue="ngModel"/>
            </div>
            <div [hidden]="targetValue.valid || targetValue.pristine" class="alert alert-danger">
                {{ targetValue.errors | myFormValidationMessage: { field: 'dashboard.summary_widget.target', min: 1, max: 100 } }}
            </div>  
        </div>

    </fieldset>

    <footer pageFooter>
        <button aria-label="submit" type="submit" (click)="onSubmit(editForm)" [disabled]="editForm.invalid" class="btn secondary-btn">
            {{ 'form.actions.save' | translate }}          
        </button>
        <button aria-label="reset" (click)="done()" type="reset" class="btn alternative-btn">
            {{ 'form.actions.cancel' | translate }}
        </button>
    </footer>
</form>
