<div *ngIf="loading">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>

<form #editForm="ngForm" (ngSubmit)="onSubmit(editForm)" class="edit-form"> 

    <div class="form-row" *ngIf="roleID > 0">
        <label class="tag width20" for="allowUserToRemove">{{ 'dashboard.edit_widget.allow_edit_remove' | translate }}</label>
        <div class="field width-remain toggle-buttons">
            <input type="checkbox"
                    id="allowUserToRemove" 
                    name="allowUserToRemove"
                    [(ngModel)]="widget.allowUserToRemove" 
                    #allowUserToRemove="ngModel"/>
            <label for="allowUserToRemove">
                {{ (widget.allowUserToRemove == true ?  'form.actions.enabled' : 'form.actions.disabled') | translate }}
            </label>
        </div>
    </div>
    <div class="form-row">
        <label class="tag width20" for="title">{{ 'dashboard.edit_widget.widget_title' | translate }}</label>
        <div class="field width-remain">
            <input type="text" id="title" name="title"
                    required
                    [(ngModel)]="widget.title" 
                    #title="ngModel"
                    (change)="previewWidget()"/>
        </div>
        <div [hidden]="title.valid || title.pristine" class="alert alert-danger">
            {{ title.errors | myFormValidationMessage: { field: 'dashboard.edit_widget.widget_title' } }}
        </div>   
    </div>
    <div class="form-row">
        <label class="tag width20" for="period">{{ 'period_selector.title' | translate }}</label>
        <div class="field width-remain">
            <period-selector [style.width.%] = "100"
                                [htmlID]="'period'"
                                [options]="periodSelectorOptions"
                                [(modelData)]="widget.periodType"
                                (modelDataChange)="onChangePeriod($event)">
            </period-selector>
        </div>
    </div>
    <div class="form-row asset-options" >
        <label class="tag width20">{{ 'assets.title' | translate }}</label>
        <div class="field width-remain">
            <dashboard-asset-selection [style.width.%] = "100" 
                                    [options]="assetTypeOptions"
                                    [showNoneOption]="false"
                                    [modelData]="assetSelected"
                                    (modelDataChange)="onEventsAssetSelection($event)">
            </dashboard-asset-selection>
        </div>
    </div>

    <!-- WIDGET SPECIFIC OPTIONS -->
    <fieldset class="options">
        <legend>{{ 'dashboard.edit_widget.options' | translate }}</legend>

            <!-- CLASSES -->
            <div class="form-row">
            <label class="tag width20" for="eventClasses">{{ 'dashboard.event_widget.clas' | translate }}</label>
            <div class="field width-remain">
                    <events-classes-list [style.width.%] = "100"
                                [(modelData)]="widget.classIdx" 
                                (modelDataChange)="previewWidget()"
                                [ddlMode]="true">
                    </events-classes-list>
            </div>
        </div>
        
        <!-- PRIORITIES -->
        <div class="form-row">
            <label class="tag width20" for="eventPriorities">{{ 'dashboard.event_widget.priority' | translate }}</label>
            <div class="field width-remain">
                <events-priorities-list [style.width.%] = "100"
                                        [(modelData)]="widget.priorityIdx" 
                                        (modelDataChange)="previewWidget()"
                                        [ddlMode]="true"> 
                </events-priorities-list>
            </div>
        </div>

    </fieldset>

    <footer pageFooter>
        <button aria-label="submit" type="submit" (click)="onSubmit(editForm)" [disabled]="editForm.invalid" class="btn secondary-btn">
            {{ 'form.actions.save' | translate }}          
        </button>
        <button aria-label="reset" (click)="done()" type="reset" class="btn alternative-btn">
            {{ 'form.actions.cancel' | translate }}
        </button>
    </footer>
</form>