﻿<page-container class="page-error">
    <div pageContent>        
        <h1>{{ 'error-pages.unexpected.title' | translate }}</h1>      
        <h4>{{ 'error-pages.unexpected.content' | translate }}</h4>
    </div>
</page-container>