@import "../../styles/variables";

.maximized {
    position: fixed !important;
    top: 65px;
    left: 90px;
    width: calc(100% - 90px) !important;
    height: calc(100% - 65px) !important;
    z-index: 100000;
}

@media screen and (max-width: @break-point) {
    .maximized {
        left: 0px;
        width: 100% !important;
    }
}
