<div class="dialog edit-energy-correction-factor">
    <div class="header">   
        <div class="title">
            <h3>{{ (entity.targetID ? 'form.actions.edit' : 'form.actions.add' ) | translate }}</h3>
        </div>     
        <button aria-label="clear" mat-icon-button>
            <mat-icon (click)="closeDialog()">clear</mat-icon>
        </button>
    </div>
    <div *ngIf="loading">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
    <div class="content">  
        <form #editForm="ngForm" (ngSubmit)="onSubmit(editForm)" class="edit-form"> 
            <div class="form-row">
                <label class="tag" for="startTimestamp">{{ 'energy_category.target_baselines.start_date' | translate }}</label>
                <div class="field width-remain">
                    <datepicker [id]="'startTimestamp'" 
                                [(modelData)]="startTimestamp">
                    </datepicker>
                </div>
            </div>
            <div class="form-row">
                <label class="tag" for="driveCycleID">{{ 'energy_category.target_baselines.drive_cycle' | translate }}</label>
                <div class="field width-remain">
                    <custom-selector class="ddl" 
                                    [disabled]="entity.targetID"
                                    [loading]="loadingDriveCycles"
                                    [options]="driveCycles"
                                    [(modelData)]="entity.driveCycleID"
                                    [dataID]="'drive-cycles-list'">
                    </custom-selector>
                </div>
            </div>
                
            <div class="form-row">
                <label class="tag" for="baselineValue">{{ 'energy_category.target_baselines.baseline_value' | translate }}</label>
                <div class="field width-remain">
                    <input type="number" 
                            id="baselineValue" 
                            name="baselineValue"
                            required
                            validateNumber
                            [(ngModel)]="entity.baselineValue" 
                            #baselineValue="ngModel"/>
                </div>
                <div [hidden]="baselineValue.valid || baselineValue.pristine" class="alert alert-danger">
                    {{ baselineValue.errors | myFormValidationMessage: { field: 'energy_category.target_baselines.baseline_value' } }}
                </div>
            </div>
            <div class="form-row">
                <label class="tag" for="targetValue">{{ 'energy_category.target_baselines.target_value' | translate }}</label>
                <div class="field width-remain">
                    <input type="number" 
                            id="targetValue" 
                            name="targetValue"
                            required
                            validateNumber
                            [(ngModel)]="entity.targetValue" 
                            #targetValue="ngModel"/>
                </div>
                <div [hidden]="targetValue.valid || targetValue.pristine" class="alert alert-danger">
                    {{ targetValue.errors | myFormValidationMessage: { field: 'energy_category.target_baselines.target_value' } }}
                </div>
            </div>
        
            <footer id="footer">
                <button aria-label="submit" type="submit" [disabled]="!editForm.form.valid || loading " class="btn secondary-btn">
                    {{ 'form.actions.save' | translate }}          
                </button>
                <button aria-label="back" (click)="closeDialog()" type="reset" class="btn alternative-btn">
                    {{ 'form.actions.cancel' | translate }}
                </button>
            </footer>
        </form>
    </div>  
</div>
