@import "../../../styles/variables";

.edit-energy-correction-factor {    
    label {
       width: 100%;
    }
   
}

@media screen and (min-width: @break-point) { 
    .edit-energy-correction-factor {
        max-width: 550px;              
    }
}