<page-container class="view-vehicles"
                [title]="'admin.categories.vehicles'"
                [backButton]="true"
                (notifyOnBack)="back()"
                [options]="pageOptions"
                (notifyOnOptionSelection)="onSelectPageOption($event)">

    <div pageContent>
        <!-- FILTERS -->
        <filters>
            <div class="filter-rows reverse">
                <div class="filter-row">
                    <mat-form-field class="autocomplete">
                        <input type="text" matInput
                                [formControl]="searchTermControl"
                                placeholder="{{ 'form.search.pleaceholder' | translate }}"/>
                        <div class="autocomplete-clear" *ngIf="!loading && request.searchTerm && request.searchTerm.length > 0" (click)="clearInput($event)">
                            <mat-icon>clear</mat-icon>
                        </div>
                    </mat-form-field>
                </div>
                <div class="filter-row">
                    <label class="tag">{{ 'assets.title' | translate }}</label>
                    <div class="asset-options">
                        <entity-types class="entity-types"
                                        [htmlID]="'entity-type'"
                                        [enabled]="entityTypesData"
                                        (notifyOnChange)="onChangeEntityType($event)"
                                        [selected]="entityOption">
                        </entity-types>
                        <div class="assets-ddl" *ngIf="entityOption === entityTypes.Vehicles">
                            <asset-groups   [fetchData]="true"
                                            [htmlID]="'vehicleGroupsMenu'"
                                            [type]="groupTypes.Vehicle"
                                            [selected]="request.groupID"
                                            (notifyOnChange)="onChangeGroup($event)">
                            </asset-groups>
                        </div>
                        <div class="assets-ddl" *ngIf="entityOption === entityTypes.VehicleTypes">
                            <vehicle-types-list class="ddl"
                                                [(modelData)]="request.vehicleTypeID"
                                                [showAllOption]="true"
                                                [authorizedOnly]="true"
                                                (modelDataChange)="onChangeVehicleType($event)">
                            </vehicle-types-list>
                        </div>
                    </div>
                </div>
            </div>
        </filters>
        <!-- END OF FILTERS -->

        <data-table [records]="vehicles"
                    [settings]="tableSettings"
                    [loading]="loading"
                    [pager]="pager"
                    [sorting]="request.sorting"
                    (onActionClick)="onManage($event)"
                    (onSortSelection)="onSort($event)"
                    (onScrollDown)="onScrollDown()">
        </data-table>
    </div>
</page-container>


