<div class="score-stats">
    <form #statsForm="ngForm" class="edit-form">
        <div class="form-row">
            <label class="tag width20" for="period">{{ 'period_selector.title' | translate }}</label>
            <div class="field width-remain">
                <period-selector [style.width.%] = "100"
                                [htmlID]="'period'"
                                [options]="periodSelectorOptions"
                                [(modelData)]="request.periodType"
                                (modelDataChange)="onPeriodChange($event)">
                </period-selector>
            </div>
        </div>
        
        <!-- ASSETS -->
        <div class="form-row asset-options">
            <label class="tag width20">{{ 'assets.title' | translate }}</label>
            <div class="field width-remain">
                <entity-types [htmlID]="'entity-type'" 
                            [enabled]="entityTypeOptions" 
                            (notifyOnChange)="onChangeEntityTypeGroup($event)" 
                            [selected]="entityOption">
                </entity-types>
                <div class="assets-field" *ngIf="entityOption == entityTypes.Vehicles">
                    <asset-groups [htmlID]="'assetGroupsMenu'"
                                    [fetchData]="true"
                                    [selected]="request.groupID"
                                    [type]="groupTypes.Vehicle"
                                    (notifyOnChange)="onChangeGroup($event)">
                    </asset-groups>
                </div>
                <div class="assets-field" *ngIf="entityOption == entityTypes.Drivers">
                    <asset-groups [htmlID]="'assetGroupsMenu'"
                                    [fetchData]="true"
                                    [selected]="request.groupID"
                                    [type]="groupTypes.Driver"
                                    (notifyOnChange)="onChangeGroup($event)">
                    </asset-groups>
                </div>
                <div class="assets-field" *ngIf="entityOption == entityTypes.VehicleTypes">
                    <vehicle-types-list [style.width.%] = "100"
                                        [showAllOption]="true"
                                        [showNoneOption]="false"
                                        [(modelData)]="request.vehicleTypeID"
                                        [authorizedOnly]="true"
                                        (modelDataChange)="onChangeGroupVehicleTypes($event)">
                    </vehicle-types-list>
                </div>
            </div>
        </div>

        <!-- DISTRIBUTION TYPES -->
        <div class="form-row">
            <label class="tag width20" for="distribution-types">{{ 'distribution_types.title' | translate }}</label>
            <div class="field width-remain">
                <distribution-types [style.width.%] = "100"
                                    (notifyOnChange)="onChangeDistributionType($event)" 
                                    [selected]="request.distributeBy">
                </distribution-types>
            </div>
        </div>

        <div class="form-row">
            <label class="tag width20" for="type" [ngSwitch]="request.distributeBy">
                <span *ngSwitchCase="distributionTypes.NumOfTrips">{{ 'score_stats.min_occurrences' | translate }} (#)</span>
                <span *ngSwitchCase="distributionTypes.Duration"></span>
                <span *ngSwitchCase="distributionTypes.Distance"></span>
                <!--<span *ngSwitchCase="distributionTypes.Duration">{{ 'score_stats.min_duration' | translate }} ({{ 'time.hours' | translate}})</span>
                <span *ngSwitchCase="distributionTypes.Distance">{{ 'score_stats.min_distance' | translate }} ({{ userOption.metrics.distance }})</span>-->
                <span *ngSwitchDefault>{{ 'score_stats.min_occurrences' | translate }} (#)</span>
            </label>
            <div class="field" *ngIf="!request.distributeBy || request.distributeBy == distributionTypes.NumOfTrips">
                <input class="number" min="1" type="number" name="minimum" id="minimum" [(ngModel)]="request.minimum" (change)="get()"/>
            </div>
        </div>

    </form>
    <!-- RESULTS -->
    <div class="result-stats">        
        <!-- LOADER WHILE FETCHING DATA FROM SERVER -->
        <div class="loader" *ngIf="loading">
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </div>
        <!-- END - LOADER WHILE FETCHING DATA FROM SERVER -->

        <div class="msg" *ngIf="error && !loading">
            <h4>{{ error | translate }}</h4>
        </div> 

        <ng-template [ngIf]="stats && !loading && !error">
            <div class="stats-table">
                <p *ngIf="stats.totalDistance"><span>{{ 'score_stats.total_mileage' | translate }}:</span> 
                {{ stats.totalDistance |  myNumberFormat: { 
                                                            decimalSeparator: localOptions.decimal_separator,
                                                            thousandsSeparator: localOptions.thousands_separator, 
                                                            decimals: 2
                                                        }
                }} {{ userOptions.metrics.distance }}
                </p>
                <p *ngIf="stats.totalDuration">
                    <span>{{ 'score_stats.total_duration' | translate }}:</span> 
                    {{ stats.totalDuration | myTimeFormat: { format: 'HH:mm', includeDays: true }  }}
                </p>
                <p *ngIf="stats.trips"><span>{{ 'score_stats.trips' | translate }} (#):</span> {{ stats.trips }}</p>
                <p *ngIf="stats.inDefaultRangePerc"><span>{{ 'score_stats.trips_with_score' | translate }} [ 0 - 100 ]:</span> {{ stats.inDefaultRangePerc }}%</p>
                <p *ngIf="stats.minScore"><span>{{ 'score_stats.min_score' | translate }}:</span> {{ stats.minScore }}</p>
                <p *ngIf="stats.maxScore"><span>{{ 'score_stats.max_score' | translate }}:</span> {{ stats.maxScore }}</p>
            </div>                    
    
            <div class="charts">
                <div class="bar-chart" *ngIf="stats.aggregations && stats.aggregations.length > 0">
                    <amchart [type]="chartTypes.Serial"
                                [htmlID]="'sbarchart'"
                                [options]="makeOccurencesChart()"
                                style="width:100%; display:block; height:400px;">
                    </amchart>
                </div>
                <div class="pie-chart" *ngIf="stats.slices && stats.slices.length > 0">
                    <amchart [type]="chartTypes.Pie"
                                [htmlID]="'spiechart'"
                                [options]="makePieChart()"
                                style="width:100%; display:block; height:400px;">
                    </amchart>
                </div>
            </div>
        </ng-template>
    </div>
    <!-- END OF RESULTS -->
</div>