@import "../../../../styles/variables";

.score-stats {
    .asset-options {
        .field {
            flex-flow: row wrap;
        }
        entity-types {
            width: 100%;
        }
        .assets-field {
            width: 100%;
        }
    }
    .period-options {
        width: 100%;
    }

    .result-stats {
        background: #ffffff;
        margin-top: 1em;
        border:1px solid @divider;
        box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.1);
          
        .stats-table {
            padding: 1em;
            border-bottom:1px solid @divider;
            p {
                margin-bottom: 1em;
                span {
                    font-weight: bold;
                }
            }
        }

        .charts {                   
            flex: 0 1 100%;
            flex-wrap: wrap;
            display: flex;
            .bar-chart {
                margin-top: 1em;
                flex: 0 1 100%; 
                margin-right: 1em;                     
            }
            .pie-chart {
                margin-top: 1em;
                flex: 0 1 100%;
            }
        }
        
    }
   

    .loader {
        width: 100%;
        height: 10px;
       
    } 
    .msg {
        text-align: center;
        color: @neutral-color;
    }
}

@media only screen and (min-width: @large-break-point) {
    .score-stats {
        .asset-options {
            entity-types {
                margin-right: 5px;
                width: 40%;
                max-width: 250px;
            }
            .assets-field {
                width: 48%;
                max-width: 250px;
            }
        }

        .result-stats {
            .charts {   
                flex: 0 1 100%;    
                flex-wrap: nowrap;     
                .bar-chart {
                    flex: 0 1 50%;                       
                }
                .pie-chart {
                    flex: 0 1 50%;
                }
            }
        }
    }
}