@font-face {
  font-family: 'ev-assets';
  src: url('/assets/fonts/ev-assets/ev-assets.eot?28755211');
  src: url('/assets/fonts/ev-assets/ev-assets.eot?28755211#iefix') format('embedded-opentype'),
       url('/assets/fonts/ev-assets/ev-assets.woff2?28755211') format('woff2'),
       url('/assets/fonts/ev-assets/ev-assets.woff?28755211') format('woff'),
       url('/assets/fonts/ev-assets/ev-assets.ttf?28755211') format('truetype'),
       url('/assets/fonts/ev-assets/ev-assets.svg?28755211#ev-assets') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?28755211#fontello') format('svg');
  }
}
*/
 
 [class^="ev-icon-"]:before, [class*=" ev-icon-"]:before {
  font-family: "ev-assets";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.ev-icon-charging:before { content: '\e800'; } /* '' */
.ev-icon-driving:before { content: '\e801'; } /* '' */
.ev-icon-parked:before { content: '\e802'; } /* '' */
.ev-icon-offline:before { content: '\e803'; } /* '' */
.ev-icon-unknown:before { content: ' '; } /* '' */


.ev-icon {
  font-size: 16pt;
  border-radius: 2px;
}
.ev-icon-unknown  {
  background-color: transparent !important;
}
.ev-icon-offline  {
  background-color: #808584 !important;
  color: #fff !important;
  padding: 4px 11px;
}
.ev-icon.medium  {
  background-color: #F57000;
  color: #fff;
}
.ev-icon.high  {
  background-color: #ffffff;
  color: #00A74E;
}
.ev-icon.low {
  color: #fff;  
  background-color:#E00001;
}
.ev-icon-parked, .ev-icon-unknown {
  padding: 4px 10px;
}
.ev-icon-charging {
  padding: 4px 12px;
}
.ev-icon-driving {
  padding: 4px 6px;
}