@import "../../styles/variables";
@import (inline) "./ev-assets.css";
@import "../../charge-point-manager/charging-status";

.ev-vehicles {
    .page-card {
        background: #ffffff;
    }
    .tab-selection {
        position: absolute;
        top: 7px;
        right: 65px;
        width: 80%;
        text-align: right;
    }
    .filters-bar {
        padding: 0.5em 2em;                
    }
    .map-view {
        display: flex;
        width: 100%;
        position: absolute;
        left: 0px;
        .map {
            position: relative;
            width: 80%;
            min-width: 350px;
        }
        .evs {
            width: 20%;
            height: inherit;
            .top-bar {
                height: 50px;
            }
            .ev-map-view-list {
                height: calc(~"100% - 50px");
                width: 100%;
                overflow-y: auto;
                li {
                    font-size: 15px;
                    .summary {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        background-color: #F2F2F2;
                        border: 1px solid #E0E5E6;
                        color: #979797;
                        cursor: pointer;
                        &.selected {
                            background-color: @form-tabs-hover !important;
                        }
                        .label {
                            margin-left: 10px;
                        }
                        .soc {
                            font-size: 10pt;
                            margin-left: 10px;
                            color: #293230;
                        }
                    }
                    .details {
                        padding: .5em;
                        .row {
                            display: flex;
                            padding-bottom: 5px;
                            font-family: Arial, Helvetica, sans-serif;
                            .tag {
                                color: #979797;
                                margin-right: 10px;
                            }
                            .value {
                                color: #293230;
                            }
                        }
                    }
                }
            }
        }
    }
    .charging-status {
        text-align: left;
    }
}


@media screen and (max-width: @break-point) {
    .ev-vehicles {
        .tab-selection {
            position: unset;
        }      
        .filters-bar {
            padding: 0.5em 1em;                
        }

        .map-view {
            flex-flow: column;
            padding: 1em;
            .map {
                height: 250px;
                min-height: 250px;
                // width: calc(~"100% - 30px");
                width: 100%;
                align-self: center;
            }
            .evs {
                width: 100%;
                height: 300px;
                .ev-map-view-list {
                    max-height: 300px;
                }
            }
        }
    }
}

