<page-container class="ev-vehicles"
                [title]="'sidebar.ev_operations.vehicles'"
                [options]="pageOptions"
                (notifyOnOptionSelection)="onSelectPageOption($event)">

    <div pageContent>
        <!-- LIST/MAP VIEW SELECTION -->
        <div class="tab-selection">
            <div class="toggle-btn">
                <input type="radio"
                        name="tab-selection"
                        id="list-view"
                        [value]="true"
                        [(ngModel)]="listViewShow"
                        (change)="onViewSelection()">
                <label for="list-view">{{ 'ev_operations.list_view' | translate }}</label>
            </div>
            <div class="toggle-btn">
                <input type="radio"
                        name="tab-selection"
                        id="map-view"
                        [value]="false"
                        [(ngModel)]="listViewShow"
                        (change)="onViewSelection()">
                <label for="map-view">{{ 'ev_operations.map_view' | translate }}</label>
            </div>
        </div>
        <!-- END OF LIST/MAP VIEW SELECTION -->

        <!-- FILTERS -->
        <filters>
            <div class="filter-rows">
                <div class="filter-row ddl-filter">
                    <label class="tag">{{ 'assets.groups.vehicle' | translate }}</label>
                    <asset-groups class="ddl"
                                    [htmlID]="'assetGpsMenu'"
                                    [fetchData]="true"
                                    [selected]="request.vehicleGroupID"
                                    [type]="groupTypes.Vehicle"
                                    (notifyOnChange)="onChangeGroup($event)">
                    </asset-groups>
                </div>
                <div class="filter-row ddl-filter">
                    <label class="tag">{{ 'ev_operations.tripEvStatuses.tag_title' | translate }}</label>
                    <custom-selector class="ddl"
                                        [dataID]="'filter-status'"
                                        [options]="tripEvStatusesArray"
                                        [(modelData)]="request.status"
                                        (modelDataChange)="onSelectTripEvStatus($event)">
                    </custom-selector>
                </div>
                <div class="filter-row search-filter">
                    <mat-form-field class="autocomplete">
                        <input #term type="text" matInput
                                [(ngModel)]="request.searchTerm"
                                [formControl]="termControl"
                                placeholder="{{ 'form.search.pleaceholder' | translate }}" />
                        <div class="autocomplete-clear" *ngIf="!loading && request.searchTerm && request.searchTerm.length > 0" (click)="clearInput($event)">
                            <mat-icon>clear</mat-icon>
                        </div>
                    </mat-form-field>
                </div>
            </div>
        </filters>
        <!-- END OF FILTERS -->

        <!-- LIST VIEW -->
        <div *ngIf="listViewShow" style="height: 80%">
            <data-table [records]="data"
                        [(settings)]="tableSettings"
                        [loading]="loading"
                        [pager]="pager"
                        [sorting]="request.sorting"
                        (onSortSelection)="onSort($event)"
                        (onScrollDown)="loadMore()">
            </data-table>
        </div>
        <!-- END OF LIST VIEW -->

        <!-- MAP VIEW -->
        <resize-container class="map-view" *ngIf="!listViewShow">
            <!-- MAP -->
            <div class="map">
                <google-map id="ev-assets-map"
                            [mode]="mapModes.marker"
                            [assets]="data"
                            [selected]="selectedAssets"
                            [customOptionsGroups]="[customOptionsGroups.basic, customOptionsGroups.traffic]">
                </google-map>
            </div>
            <!-- END OF MAP -->

            <!-- EVS LIST -->
            <div class="evs">
                <div class="top-bar">
                    <div align="right">
                        <button aria-label="delete all selected" mat-icon-button *ngIf="selectedAssets && selectedAssets.length > 0" (click)="deselectAllAssets($event)">
                            <mat-icon svgIcon="deselect_icon"></mat-icon>
                        </button>
                        <button aria-label="EVs ordering options" mat-icon-button [matMenuTriggerFor]="evsOrderingOptions" >
                            <mat-icon>sort</mat-icon>
                        </button>
                        <mat-menu x-position="after" y-position="below" #evsOrderingOptions="matMenu">
                            <ul>
                                <li *ngFor="let column of tableSettings">
                                    <button aria-label="on sort selection" mat-menu-item *ngIf="column.sorting" (click)="onMapSortSelection(column)">
                                        {{ column.header | translate }}
                                        <mat-icon *ngIf="column.sorting.selected == true">
                                            {{ column.sorting.order === tableColumnSortOrderOptions.asc ? 'arrow_drop_up' : 'arrow_drop_down' }}
                                        </mat-icon>
                                    </button>
                                </li>
                            </ul>
                        </mat-menu>
                    </div>
                    <div *ngIf="!loading && (message && message.length > 0)">
                        <h4 align="center">{{ 'data.empty_records' | translate }}</h4>
                    </div>
                    <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
                </div>

                <ul #myList class="ev-map-view-list"
                    infinite-scroll
                    [infiniteScrollDistance]="1.8"
                    [infiniteScrollThrottle]="500"
                    [scrollWindow]="false"
                    (scrolled)="loadMore()">
                    <li *ngFor="let ev of data">
                        <div class="summary" (click)="onAssetSelect($event, ev)" [ngClass]="isAssetSelected(ev) ? 'selected' : ''">
                            <div class="left">
                                <span class="icon" [innerHTML]="formatIconStatus(ev)"></span>
                                <span class="label">{{ ev.vehicleLabel }}</span>
                                <span class="soc">{{ ev.soC?  ev.soC + '%' : 'N/A' }}</span>
                            </div>
                            <button (click)="toggleDetails(ev.vehicleID)" aria-label="option" type="button" mat-icon-button>
                                <mat-icon>keyboard_arrow_down</mat-icon>
                            </button>
                        </div>

                        <div [id]="'details_'+ ev.vehicleID" class="details" style="display: none">
                            <div class="row">
                                <div class="tag">{{'ev_operations.list_options.soc' | translate }}</div>
                                <div class="value">{{ ev.soC ?  ev.soC + '%' : 'N/A' }}</div>
                            </div>
                            <div class="row">
                                <div class="tag">{{'ev_operations.list_options.range' | translate }}</div>
                                <div class="value">{{ ev.range ?  ev.range + userOptions.metrics.distance : 'N/A' }}</div>
                            </div>
                            <div class="row">
                                <div class="tag">{{'ev_charging_monitor.list_options.charge_location' | translate }}</div>
                                <div class="value" [innerHTML]="getChargeLocation(ev)"></div>
                            </div>
                            <div class="row">
                                <div class="tag">{{'ev_charging_monitor.list_options.charging_status' | translate }}</div>
                                <div class="value" [innerHTML]="getChargingStatus(ev)"></div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- END OF EVS LIST -->

        </resize-container>
        <!-- END OF MAP VIEW -->
    </div>
</page-container>
