﻿<page-container class="ocpp"
                title="{{ 'ev_charging_points_manager.ocpp' | translate }}: {{ cpHeaderTitle ? cpHeaderTitle : ''}}"
                [backButton]="true"
                (notifyOnBack)="back()">            

    <div pageContent>
        <filters>
            <div class="filter-rows">
                <div class="filter-row">                
                    <label class="tag one-tag">{{ 'ev_charging_points_manager.ocpp.date' | translate }}:</label>                    
                    <div class="date-picker">
                        <datepicker [id]="'tillDTP'" [(modelData)]="ocppDate"></datepicker>
                        <button aria-label="ocpp date" class="btn secondary-btn submit-button" (click)="fetchData()">
                            <mat-icon>search</mat-icon>
                        </button>
                    </div>

                </div>
                <div class="filter-row">
                    <div class="toggle-buttons">
                        <input type="checkbox"
                                id="errors-only"
                                name="errors-only"
                                [(ngModel)]="request.showErrors"
                                (change)="fetchData()" />
                        <label for="errors-only">
                            {{ 'ev_charging_points_manager.ocpp.only_show_errors' | translate }}
                        </label>

                        <input type="checkbox"
                                id="heartbeats-hide"
                                name="heartbeats-hide"
                                [(ngModel)]="request.hideHeartbeats"
                                (change)="fetchData()" />
                        <label for="heartbeats-hide">
                            {{ 'ev_charging_points_manager.ocpp.hide_heartbeats' | translate }}
                        </label>
                    </div>
                </div>
                
            </div>
        </filters>
        
        <data-table [records]="data"
                    [(settings)]="tableSettings"
                    [loading]="loading"
                    [pager]="pager"
                    [sorting]="request.sorting"
                    (onSortSelection)="onSort($event)"
                    (onScrollDown)="loadMore()"
                    (onActionClick)="onOCPPDetails($event)">
        </data-table>  
    </div>
</page-container>
