    
amchart {
    display: block;
    height: inherit;
    width: 100%;

    .chartdiv {
        display: block;
        height: inherit;
        width: 100%;
    }

    .chartdiv.with-legend {
        width: 75%;
        float: left;
    }
    .custom-legenddiv {
        width: 25%;
        float: right;
        padding: 10px 0 0 0;
        height: 100%;
        overflow-y: auto;
    }
    
    .custom-legenddiv > div {
        // float: left;
        margin: 0 8px 8px 0;
    }
    

    .custom-legenddiv .title {
        color: #646464;
        font-size: 12px;
        font-weight: 500;
    }
    
    .custom-legenddiv .value {
        margin: 10px 0 0 3px;
        color: #323232;
        font-size: 12px;
    }

    .custom-legenddiv .square {
        padding: 1px 5px 1px 10px;
        background-color: #555;
    }
}