<page-container [title]="'vehicles.category.readings.inactivation'" 
                [backButton]="true"
                (notifyOnBack)="back()"
                [addButton]="true"
                (notifyOnAdd)="addInactivationPeriod()">
    <div pageContent>       
        <data-table [records]="periods"
                    [settings]="tableSettings"
                    [loading]="loading"
                    (onActionClick)="onManage($event)">
        </data-table>
    </div>    
</page-container>
