﻿@import "../../styles/variables";

.reset-password {
    max-width: 500px;
    background-color: white;
    height: auto;
    display: flex;
    flex-flow: column;
    margin: 80px auto 0;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    border-top: 1px solid @divider;
    
    .header {
        padding: 1em 2em;
        border-bottom: 1px solid @divider;
    }
    .content {
        margin-top: 15px;
        .form-content {
            padding: 1em 2em;
            p {
                margin-bottom: 15px;
            }
        }
    }
}

@media screen and (max-width: @break-point) {
    .reset-password {
        margin: 0;
        box-shadow: none;
        border-top: 0px;
        width: 100%;
        height: 100%;
    }
}

