﻿<div class="reset-password">
    <div class="header">
        <div class="title primary-color">
            <h3>{{ 'reset_password.title' | translate }}</h3>
        </div>
        <!-- <button mat-icon-button>
            <mat-icon (click)="closeDialog()">clear</mat-icon>
        </button> -->
    </div>
    <div class="content">
        <div *ngIf="loading">
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </div>

        <!-- ACCOUNT CREATION FORM -->
        <form *ngIf="user"
                class="edit-form account-creation-form"
                #resetPasswordForm="ngForm"
                (ngSubmit)="onResetPassword(resetPasswordForm)" >

            <div class="form-content">
                <p [innerHTML]="'reset_password.description' | translate | myStringFormat: [user.fullname, user.username] "></p>

                <div class="form-row input-with-icon">
                    <input type="password"
                            id="newPassword"
                            name="newPassword"
                            placeholder="{{ 'reset_password.new_password' | translate }}"
                            required
                            [(ngModel)]="request.newPassword"
                            #newPassword="ngModel"/>
                    <mat-icon>lock</mat-icon>
                    <div [hidden]="newPassword.valid || newPassword.pristine" class="alert alert-danger">
                        {{ newPassword.errors | myFormValidationMessage: { field: 'reset_password.new_password' } }}
                    </div>
                </div>
                <password-rules
                        [password]="request.newPassword"
                        [type]="passwordRulesOptions.user"
                        [code]="request.code"
                        (onValidation)="onPasswordValidation($event)">
                </password-rules>

                <div class="form-row input-with-icon">
                    <input type="password"
                            id="confirmNewPassword"
                            name="confirmNewPassword"
                            placeholder="{{ 'reset_password.confirm_new_password' | translate }}"
                            required
                            validateEqual="newPassword"
                            [(ngModel)]="request.confirmNewPassword"
                            #confirmNewPassword="ngModel"/>
                        <mat-icon>lock</mat-icon>
                    <div [hidden]="confirmNewPassword.valid || confirmNewPassword.pristine" class="alert alert-danger">
                        {{ confirmNewPassword.errors | myFormValidationMessage: { field: 'reset_password.confirm_new_password', compareField: 'reset_password.new_password' } }}
                    </div>
                </div>
                <re-captcha #captcha *ngIf="showRecaptcha" [(ngModel)]="request.recaptchaReactive" (resolved)="onCaptchaResolved($event)" name="captcha" required></re-captcha>
            </div>
            <footer>
                <button aria-label="submit" type="submit" class="btn secondary-btn"
                        [disabled]="resetPasswordForm.invalid || !isPasswordValid || loading">
                    {{ 'form.actions.save' | translate }}
                </button>
                <button aria-label="cancel" (click)="goToLoginPage()" type="reset" class="btn alternative-btn">
                    {{ 'form.actions.cancel' | translate }}
                </button>
            </footer>
        </form>
        <!-- END OF ACCOUNT CREATION -->
    </div>

</div>
