@import "../../../styles/variables";

.edit-quick-filters {
    .content {
        background: #fff;
    }
    .asset-options {
        entity-types {
            margin-right: 5px;
            width: 40%;
            max-width: 250px;
        }
        .assets-field {
            width: 48%;
            max-width: 250px;
        }
    }
}

@media screen and (max-width: @break-point) {
    .edit-quick-filters {
        .asset-options {
            flex-flow: row wrap;
            entity-types {
                width: 100%;
            }
            .assets-field {
                width: 100%;
            }
        }
    }
}