<page-container class="edit-quick-filters"
                title="{{ 'quick_filters.title' | translate }}: {{ action | translate }}" 
                [backButton]="true"
                (notifyOnBack)="back()"
                [loading]="loading">
    <form pageContent #editForm="ngForm" (ngSubmit)="onSubmit(editForm)" class="edit-form"> 
        <div class="form-row">
            <label class="tag width20" for="name">{{ 'quick_filters.name' | translate }}</label>
            <div class="field width-remain">
                <input type="text" 
                    id="name" required
                    [(ngModel)]="item.name" name="name"
                    #name="ngModel"/>
            </div>
            <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                {{ 'form.errors.required' | translate | myStringFormat: ['quick_filters.name' | translate] }}
            </div>
        </div>
        <div class="form-row">
            <label class="tag width20" for="isDefault">{{ 'quick_filters.default' | translate }}</label>
            <div class="field width-remain">
                <mat-slide-toggle #isDefault="ngModel"
                                id="isDefault" 
                                [(ngModel)]="item.isDefault" 
                                name="isDefault">
                </mat-slide-toggle>
            </div>
        </div>
        <div class="form-row" *ngIf="showGroups">
            <label class="tag width20">{{ 'assets.title' | translate }} </label>
            <div class="field width-remain asset-options">
                <entity-types [htmlID]="'entity-type'" 
                            [enabled]="qfEntityTypes" 
                            (notifyOnChange)="onChangeEntityType($event)" 
                            [selected]="entityOption">
                </entity-types>
                <div class="assets-field" >                       
                    <asset-groups *ngIf="entityOption == entityTypes.Drivers"
                                [fetchData]="true" 
                                [htmlID]="'driverGroupsMenu'" 
                                [type]="groupTypes.Driver" 
                                [selected]="item.groupID"
                                (notifyOnChange)="onChangeTargetGroup($event)">
                    </asset-groups>

                    <vehicle-types-list *ngIf="entityOption == entityTypes.VehicleTypes"
                                [showAllOption]="true"
                                [showNoneOption]="false"
                                [authorizedOnly]="true"
                                [(modelData)]="item.vehicleTypeID">
                    </vehicle-types-list>
                </div>
            </div>
        </div>
        <div class="form-row">
            <label class="tag width20" for="name">{{ 'quick_filters.options'| translate }}</label>
            <div class="field width-remain">
                <quick-filter-columns [modalView]="false"
                                        [entityID]="item.entityID"
                                        [showSaveOption]="false"
                                        [propertyIDs]="item.propertyIDs"
                                        [scoreIDs]="item.scoreIDs"
                                        (onColumnChange)="onColumnChange($event)">
                </quick-filter-columns>
            </div>
        </div> 
    </form>

    <footer fixedFooter>
        <button aria-label="submit" type="submit" (click)="onSubmit(editForm)"  [disabled]="editForm.invalid || loading" class="btn secondary-btn">
            {{ 'form.actions.save' | translate }}          
        </button>
        <button aria-label="back" (click)="back()" type="reset" class="btn alternative-btn">
            {{ 'form.actions.cancel' | translate }}
        </button>
    </footer>

</page-container>
