<page-container class="edit-vehicle-type-bookngo-settings"
                title="{{ 'admin.categories.vehicles.types' | translate }}: {{ 'vehicle_types.category.book_n_go' | translate }}"
                [backButton]="true"
                (notifyOnBack)="back()">

    <div pageContent>
        <div class="admin-edit-label">{{ getLabelEntity() }}</div>

        <fieldset class="edit-form"> 
            <legend>{{ 'vehicle_types.category.book_n_go' | translate }}</legend>
            <form  #editForm="ngForm" (ngSubmit)="onSubmit(editForm)" class="edit-form"> 
                <div class="form-row">
                    <label class="tag width20" for="typicalEconomy">{{ 'vehicle_types.book_n_go.typical_economy' | translate }}</label>
                    <div class="field">
                        <input class="number" type="number" id="typicalEconomy" min="0"
                            [(ngModel)]="vehicleType.typicalEconomy" name="typicalEconomy"
                            #typicalEconomy="ngModel"/>
                        <span class="field-msg"> Wh/{{ userOptions.metrics.distance }}</span>
                    </div>
                    <div [hidden]="typicalEconomy.valid || typicalEconomy.pristine" class="alert alert-danger">
                        {{ 'form.errors.required' | translate | myStringFormat: ['vehicle_types.book_n_go.typical_economy' | translate] }}
                    </div>
                </div>
                <div class="form-row">
                    <label class="tag width20" for="typicalEconomy">{{ 'vehicle_types.book_n_go.prebooking_charge_margin' | translate }}</label>
                    <div class="field">
                        <timepicker [(hours)]="vehicleType.preBookingChargingMarginHours" [(minutes)]="vehicleType.preBookingChargingMarginMinutes"></timepicker>
                    </div>
                    <div [hidden]="typicalEconomy.valid || typicalEconomy.pristine" class="alert alert-danger">
                        {{ 'form.errors.required' | translate | myStringFormat: ['vehicle_types.book_n_go.prebooking_charge_margin' | translate] }}
                    </div>
                </div>
                <footer id="footer">
                    <button type="submit" [disabled]="!editForm.form.valid" class="btn secondary-btn">
                        {{ 'form.actions.save' | translate }}          
                    </button>
                    <button (click)="back()" type="reset" class="btn alternative-btn">
                        {{ 'form.actions.cancel' | translate }}
                    </button>
                </footer>
            </form>
        </fieldset>

        <br/>
        <!-- EV IMAGE SELECTION -->
        <fieldset class="edit-form"> 
            <legend>{{ 'vehicle_types.book_n_go.image' | translate }}</legend>
            <div class="form-row">
                <div class="upload-logo">
                    <div class="image-preview"> 
                        <img #evImage [src]="vehicleTypeImageURL" (error)="imgErrorHandler($event)"/>
                    </div>
                    <div class="file-input">
                        <input #fileLogoInput type="file" />
                        <button type="button" 
                                class="btn primary-btn" 
                                [disabled]="loadingEvImageUpload"
                                (click)="uploadEvImageFile()">
                            <mat-icon>file_upload</mat-icon>
                            {{ 'file_upload.upload' | translate }}
                        </button>
                        <ng-template [ngIf]="vehicleTypeImageURL">
                            <button type="button" 
                                    class="btn delete-btn" 
                                    (click)="removeEvImageFile()">
                                <mat-icon>clear</mat-icon>
                                {{ 'file_upload.remove' | translate }}
                            </button>
                        </ng-template>
                    </div>
                    <div class="upload-notes">
                        <div>{{ 'file_upload.file_size' | translate }}: <b>200KB</b></div>
                        <div>{{ 'vehicle_types.book_n_go.image_min_width' | translate }}: <b>480px</b></div>
                        <div>{{ 'file_upload.allowed_types' | translate }}: <b>png</b></div>
                    </div>
                </div>
            </div>
        </fieldset>
        <!-- EV IMAGE SELECTION --> 
    </div>
</page-container>
