<page-container title="{{ 'admin.categories.users.roles' | translate }}: {{ 'user_roles.category.quick_filters' | translate }}"
                [backButton]="true"
                (notifyOnBack)="back()"
                [loading]="loading">

    <form pageContent #editForm="ngForm" (ngSubmit)="onSubmit(editForm)" class="edit-form"> 
        <div class="admin-edit-label">{{ getLabelEntity() }}</div>

        <!-- QUICK FILTER -->
        <quick-filter-columns *ngIf="role.quickFilter" 
                            [modalView]="false"
                            [entityID]="role.quickFilter.entityID"
                            [showSaveOption]="false"
                            [propertyIDs]="role.quickFilter.propertyIDs"
                            [scoreIDs]="role.quickFilter.scoreIDs"
                            (onColumnChange)="onColumnSelection($event)">
        </quick-filter-columns>
        <!-- END OF QUICK FILTER -->
    </form>
    <footer fixedFooter>
        <button aria-label="submit" type="submit" (click)="onSubmit(editForm)" [disabled]="editForm.invalid" class="btn secondary-btn">
            {{ 'form.actions.save' | translate }}          
        </button>
        <button aria-label="back" (click)="back()" type="reset" class="btn alternative-btn">
            {{ 'form.actions.cancel' | translate }}
        </button>
    </footer>
</page-container>

