.more-options-menu {
    font-family: Roboto,"Helvetica Neue",sans-serif;
        
    h3 {
        padding: 16px;
        font-size: 14px;
        font-weight: 500;
        color: rgba(0,0,0,.54);
    }
    
    .option button {
        border: 0;
        background-color: transparent;
        text-align: left;
        font-size: 16px;
        line-height: 26px;
        img {
            float: left;
            margin-right: 10px;
        }
    }

    .checkbox-option {
        text-overflow: ellipsis;
        display: block;
        line-height: 48px;
        height: 48px;
        padding: 0 16px;
        .css-label {
            font-size: 16px !important;
        }
    }

}
