<div *ngIf="options">
    <button aria-label="more-options" *ngIf="isForHeader" class="header-button" [matMenuTriggerFor]="menuOptions">
        <mat-icon class="material-icons">more_vert</mat-icon>
    </button>
    <button aria-label="more-options" *ngIf="!isForHeader" mat-icon-button [matMenuTriggerFor]="menuOptions">
        <mat-icon>more_vert</mat-icon>
    </button>
     <!-- mat-icon-button  -->

    <mat-menu #menuOptions="matMenu" xPosition="after" yPosition="below" [overlapTrigger]="false" class="header-menu">
        <ng-template ngFor let-group [ngForOf]="options">
            <mat-list class="more-options-menu">
                <h3 *ngIf="subTitles" mat-subheader>{{ group.term | translate }}</h3>
                <ng-template ngFor let-option [ngForOf]="group.options">
                    <ng-template [ngIf]="option.enabled">
                        <div  mat-menu-item (click)="onOptionSelection(option)">
                            <ng-container *ngIf="option.type == types.none">
                                <mat-list-item class="option">
                                    <button>                                    
                                        {{ option.term | translate }}
                                    </button>
                                </mat-list-item>
                            </ng-container>
                            <ng-container *ngIf="option.type == types.svgIcon">
                                <mat-list-item class="option">
                                    <button>                                    
                                        <mat-icon [ngClass]="option.svgIconClass" [svgIcon]="option.svgIcon"></mat-icon>
                                        {{ option.term | translate }}
                                    </button>
                                </mat-list-item>
                            </ng-container>
                            <ng-container *ngIf="option.type == types.checkbox">
                                <mat-list-item class="option checkbox-option">
                                    <input class="css-checkbox" [attr.id]="'checkbox' + option.id" type="checkbox" 
                                        [checked]="option.checkboxValue" 
                                        [disabled]="true" /> <!--set to disable so that handling can be done at onOptionSelection -->
                                    <label class="css-label" [attr.for]="'checkbox' + option.id">
                                        {{ (option.checkboxValue == true ?  'form.actions.enabled' : 'form.actions.disabled') | translate }}
                                    </label>
                                </mat-list-item>
                            </ng-container>
                        </div>
                    </ng-template>
                </ng-template>
            </mat-list>
        </ng-template>
    </mat-menu>
</div>