﻿<page-container class="edit-notification-policies"
                title="{{ 'notification_policies.title' | translate }}: {{ action | translate }}"
                [backButton]="true"
                (notifyOnBack)="back()"
                [loading]="loading">

    <form pageContent #editForm="ngForm" (ngSubmit)="onSubmit(editForm)" class="edit-form notification-policies-form">
        <div class="admin-edit-label">{{ getLabelEntity() }}</div>
            <div class="form-row">
                <label class="tag width20" for="name">{{ 'notification_policies.name' | translate }}</label>
                <div class="field width-remain">
                    <input type="text"
                        id="name"
                        name="name"
                        required
                        [(ngModel)]="notificationPolicy.name"
                        #name="ngModel" />
                </div>
                <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                    {{ name.errors | myFormValidationMessage: { field: 'notification_policies.name' } }}
                </div>
            </div>
            <div class="form-row">
                <label class="tag width20" for="send-to-driver">{{ 'notification_policies.send_driver' | translate }}</label>
                <div class="field width-remain">
                    <div class=" toggle-buttons">
                        <input type="checkbox"
                            id="send-to-driver-sms"
                            name="send-to-driver-sms"
                            [(ngModel)]="sendToDriver[0].enabled" />
                        <label for="send-to-driver-sms">
                            {{ 'notification_policies.sms' | translate }}
                        </label>
                        <input type="checkbox"
                            id="send-to-driver-email"
                            name="send-to-driver-email"
                            [(ngModel)]="sendToDriver[1].enabled" />
                        <label for="send-to-driver-email">
                            {{ 'notification_policies.email' | translate }}
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <label class="tag width20" for="send-to-fleet-manager">{{ 'notification_policies.send_fleet_manager' | translate }}</label>
                <div class="field width-remain">
                    <div class=" toggle-buttons">
                        <input type="checkbox"
                            id="send-to-fleet-manager-sms"
                            name="send-to-fleet-manager-sms"
                            [(ngModel)]="sendToFleetManager[0].enabled" />
                        <label for="send-to-fleet-manager-sms">
                            {{ 'notification_policies.sms' | translate }}
                        </label>
                        <input type="checkbox"
                            id="send-to-fleet-manager-email"
                            name="send-to-fleet-manager-email"
                            [(ngModel)]="sendToFleetManager[1].enabled" />
                        <label for="send-to-fleet-manager-email">
                            {{ 'notification_policies.email' | translate }}
                        </label>
                    </div>
                </div>
            </div>

        <fieldset>
            <legend>
                <b>
                    {{ 'notification_policies.users_pop_up' | translate }}
                    ({{ notificationPolicy.users ? notificationPolicy.users.length : 0 }})
                </b>
            </legend>
            <div class="form-row">
                <label class="tag width20" for="">{{ 'notification_policies.add_to_list' | translate }}</label>
                <div class="field width-remain">
                    <search-mechanism class="search-assets"
                                    placeholder="{{ 'form.search.pleaceholder' | translate }}"
                                    [chosenOption]="assetTypes.User"
                                    (onSelect)="onAssetSelect($event)">
                    </search-mechanism>
                </div>
            </div>
            
            <div class="asset-selection" *ngIf="notificationPolicy.users">
                <mat-chip-list *ngIf="notificationPolicy.users && notificationPolicy.users.length > 0">          
                    <ng-template ngFor let-asset [ngForOf]="notificationPolicy.users">
                        <div class="chip-bg">
                            <mat-chip color='accent' selected="false">
                                {{ asset.name }}
                                <mat-icon (click)="removeAsset(asset.id)">clear</mat-icon>
                            </mat-chip>
                        </div>
                    </ng-template>
                </mat-chip-list>
            </div>

        </fieldset>
        <fieldset>
            <legend>
                <b>
                    {{ 'notification_policies.email_addresses' | translate }}
                    ({{ notificationPolicy.emailAddresses ? notificationPolicy.emailAddresses.length : 0 }})
                </b>
            </legend>
            <div class="form-row">
                <label class="tag width20" for="">
                    <mat-icon class="more-info" [matTooltipPosition]="'after'" matTooltip="{{ 'notification_policies.email_info' | translate }}">info_outline</mat-icon> 
                    {{ 'notification_policies.add_to_list' | translate }}
                    </label>
                <div class="field width-remain">
                    <add-to-list
                                [chosenOption]="validationType.email"
                                (onSelect)="onListItemSelect($event, validationType.email)"
                                (onAdd)="onListItemSelect($event, validationType.email)">
                    </add-to-list>
                </div>
            </div>

            <div class="asset-selection" *ngIf="notificationPolicy.emailAddresses">
                <mat-chip-list>
                    <ng-template ngFor let-asset [ngForOf]="notificationPolicy.emailAddresses">
                        <div class="chip-bg">
                            <mat-chip color='accent' selected="false">
                                {{ asset }}
                                <mat-icon (click)="removeListItem(asset, validationType.email)">clear</mat-icon>
                            </mat-chip>
                        </div>
                    </ng-template>
                </mat-chip-list>
            </div>

        </fieldset>
        <fieldset>
            <legend>
                <b>
                    {{ 'notification_policies.mobile_numbers' | translate }}
                    ({{ notificationPolicy.mobilePhoneNumbers ? notificationPolicy.mobilePhoneNumbers.length : 0 }})
                </b>
            </legend>
            <div class="form-row">
                <label class="tag width20" for="">
                    <mat-icon class="more-info" [matTooltipPosition]="'after'" matTooltip="{{ 'notification_policies.phone_info' | translate }}">
                        info_outline
                    </mat-icon> 
                    {{ 'notification_policies.add_to_list' | translate }}</label>
                <div class="field width-remain">
                    <add-to-list [chosenOption]="validationType.phone"
                                (onSelect)="onListItemSelect($event, validationType.phone)"
                                (onAdd)="onListItemSelect($event, validationType.phone)">
                    </add-to-list>
                </div>
            </div>

            <div class="asset-selection" *ngIf="notificationPolicy.mobilePhoneNumbers">
                <mat-chip-list>
                    <ng-template ngFor let-asset [ngForOf]="notificationPolicy.mobilePhoneNumbers">
                        <div class="chip-bg">
                            <mat-chip color='accent' selected="false">
                                {{ asset }}
                                <mat-icon (click)="removeListItem(asset, validationType.phone)">clear</mat-icon>
                            </mat-chip>
                        </div>
                    </ng-template>
                </mat-chip-list>
            </div>
        </fieldset>           
    </form>
                 
    <footer fixedFooter>
        <button aria-label="submit" type="submit" (click)="onSubmit(editForm)" [disabled]="editForm.invalid || loading " class="btn secondary-btn">
            {{ 'form.actions.save' | translate }}
        </button>
        <button aria-label="back" (click)="back()" type="reset" class="btn alternative-btn">
            {{ 'form.actions.cancel' | translate }}
        </button>
    </footer>
</page-container>
