﻿@import "../../../../styles/variables";
@import "../../../../styles/forms";

.edit-notification-policies {
    .notification-policies-form {
        #name {
            max-width: 250px;
        }

        .more-info {
            vertical-align: middle;
            height: 24px;
            width: 18px;
            font-size: 20px;
        }

        .asset-selection {
            padding: 1em;

            .chip-bg {
                background: none;
                margin-right: .25em;
                border: none;
                padding: .25em .25em .25em 0;

                .mat-chip {
                    color: #fff !important;

                    &:not(.mat-basic-chip) {
                        background: #65B254;
                        background: var(--secondary-color);
                    }
                }

                .mat-icon {
                    margin-left: .5em;
                    padding: .25em;
                    font-size: 1em;
                    width: auto;
                    height: auto;
                    vertical-align: text-bottom;
                    cursor: pointer;
                }
            }
        }
    }
}
