<page-container class="edit-driver-account-settings"
                title="{{ 'admin.categories.drivers.manage' | translate }} : {{ 'drivers.category.user' | translate }}"
                [backButton]="true"
                (notifyOnBack)="back()">
     
  <div pageContent>  
        <div class="admin-edit-label">{{ getLabelEntity() }}</div>
        <ng-container *ngIf="driverID">
            <!-- ACCOUNT CREATION CODE -->
            <edit-driver-account-creation [driverID]="driverID"></edit-driver-account-creation>
            <!-- END OF ACCOUNT CREATION CODE -->
                    
            <!-- BLOCK/REMOVE ACCOUNT -->
            <block-remove-driver-account [driverID]="driverID"></block-remove-driver-account>
            <!-- END OF BLOCK/REMOVE ACCOUNT -->

            <!-- ACCOUNT ROLE -->
            <edit-driver-role [driverID]="driverID"></edit-driver-role>
            <!-- END OF ACCOUNT ROLE -->
        </ng-container>             
    </div>
</page-container>
