<page-container title="{{ 'admin.categories.charge_points.groups' | translate }}: {{ 'form.actions.edit' | translate }}"
                [backButton]="true"
                (notifyOnBack)="back()">
    
    <div pageContent class="settings-list-wrapper">
        <div class="admin-edit-label">{{ labelService.get() }}</div>

        <settings-list [options]="options"></settings-list>
    </div>                
</page-container>
