﻿<page-container class="energy-score"
                [title]="'admin.categories.scores.energy_score'"
                [backButton]="true"
                (notifyOnBack)="back()"
                [loading]="loading">

    <form pageContent class="edit-form" novalidate (ngSubmit)="save($event)" [formGroup]="energyScoreForm">
        <fieldset>
            <legend>{{ 'energy_score.label_mapping' | translate }}</legend>
            <div class="form-row-flex" formArrayName="scores">
                <ng-template ngFor let-score [ngForOf]="energyScoreDef">
                    <div class="form-item" [formGroupName]="score.value">
                        <div>
                            <div class="score" [ngClass]="score.formName">
                                {{score.letter}}
                            </div>
                            <div class="input">
                                <input type="number"
                                        [ngClass]="{'invalid':!energyScoreForm.controls['scores'].controls[score.value].valid && energyScoreForm.controls['scores'].controls[score.value].touched}"
                                        formControlName="percentage"
                                        class="validate" required />
                            </div>
                        </div>
                        <!-- Error display -->
                        <div *ngIf="formErrors.scores[score.value]" class="alert-danger" [innerHTML]="formErrors.scores[score.value].percentage"></div>
                    </div>
                </ng-template>
            </div>
            <footer>
                <!-- SAVE/CANCEL BUTTONS -->
                <div class="buttons-left">
                    <button aria-label="submit" *ngIf="!loading" class="btn secondary-btn" type="submit" [disabled]="!energyScoreForm.valid">
                        {{ 'form.actions.save' | translate }}
                    </button>
                    <button aria-label="back" *ngIf="!loading" type="reset" class="btn alternative-btn" (click)="back()">
                        {{ 'form.actions.cancel' | translate }}
                    </button>
                </div>
                <!-- END - SAVE/CANCEL BUTTONS -->

                <!-- RESTORE DEFAULTS BUTTON -->
                <div *ngIf="!isDefault" class="buttons-right">
                    <button aria-label="delete" *ngIf="!loading" type="button" class="btn delete-btn" (click)="restoreDefaults()">
                        {{ 'energy_score.restore_defaults' | translate }}
                    </button>
                </div>
                <!-- END RESTORE DEFAULTS BUTTON -->

            </footer>
        </fieldset>
    </form>
</page-container>
