﻿@import "../../styles/variables";

.fiscal-trips-unauthorized {
    margin-bottom: 0!important;
    .content {
        padding: 0 2em;
        text-align: center;

        h1 {
            text-align: center;
            font-size: 2.2em;
            color: @paragraph;
            font-weight: bold;
            padding: 1em 0 0.25em;
        }

        h4 {
            text-align: center;
            font-weight: 300;
            padding-bottom: 1em;
            color: @neutral-color;
        }
    }
}
