﻿
<page-container class="fiscal-trips-unauthorized"
                [title]="'sidebar.fiscal_trips'">

    <div pageContent>
        <h1>{{ 'fiscal_trips.nl.unauthorized.title' | translate }}</h1>      
        <h4>{{ 'fiscal_trips.nl.unauthorized.message' | translate }}</h4>
    </div>
    
</page-container>
