<page-container title="{{ 'sidebar.trip_review' | translate }}{{ assetLabel ? ': ' + assetLabel : ''}}" 
                [backButton]="showBackBtn"
                (notifyOnBack)="navigateToSearch()">

    <div class="trips" pageContent>
        <!-- FILTERS -->
        <filters>
            <toolbar [entityID]="quickFilterEntities.Trips"
                [showSaveOption]="true"
                [params]="request.quickFilters"
                [sorting]="request.sorting"
                (requestChange)="onChangeQuickFilterOption($event)">
            </toolbar>
            <div class="period-row">
                <label class="tag" for="period-selector">{{ 'period_selector.title' | translate }}:</label>
                <div class="field">
                    <div>
                        <period-selector [htmlID]="'period'"
                                        [options]="periodSelectorOptions"
                                        [(modelData)]="request.periodType"
                                        (modelDataChange)="onPeriodSelect($event)">
                        </period-selector>

                    </div>
                </div>
            </div>
        </filters>
        <!-- END OF FILTERS -->

        <!-- DATA TABLE -->
        <ng-template [ngIf]="tableSettings.length > 0">
            <data-table [records]="trips"
                        [settings]="tableSettings"
                        [loading]="loading"
                        [pager]="pager"
                        [sorting]="request.sorting"
                        (onSortSelection)="onSort($event)"
                        (onScrollDown)="onScrollDown()"
                        (onActionClick)="onTripDetails($event)">
            </data-table>
        </ng-template>
        <!-- END OF DATA TABLE-->
    </div>
    <!-- PREVIOUS/NEXT DATES SELECTION -->
    <footer fixedFooter class="trips-dates">
        <div class="previous-date">
            <button aria-label="previous date" (click)="onPreviousDate()">
                <mat-icon class="icon">keyboard_arrow_left</mat-icon>
                <span>
                    {{ previousDay | myDateFormat : { display: dateDisplayOptions.date, dateFormat: 'DD MMMM' } }}
                </span>
            </button>
        </div>
        <div class="next-date">
            <button aria-label="next date" (click)="onNextDate()" [disabled]="disableNextDate">
                <span>
                    {{ nextDay | myDateFormat : { display: dateDisplayOptions.date, dateFormat: 'DD MMMM' } }}
                </span>
                <mat-icon class="icon" *ngIf="!disableNextDate">keyboard_arrow_right</mat-icon>               
            </button>
        </div>
    </footer>
    <!-- END OF PREVIOUS/NEXT DATES SELECTION -->

</page-container>
