﻿@import "../../styles/variables";
@import "../../styles/scores";

.trips {
   
    .filters-bar {
        margin-bottom: 1em;
        .period-row {
            display: flex;
            align-items: center;
            width:99%;
            .tag {
                margin-right: 5px;
            }
            .field {
                flex-grow: 1;
            }
        }

        .mobile {
            display: none;
        }
    }
}

.trips-dates {
    display: flex;
    height: inherit;
    padding: unset !important;
    border-top: unset !important;
    button {
        background: @form-tabs;
        outline: none;
        border: none;
        cursor: pointer;
        height: inherit;
        font-size: 1.2em;
        padding: 1em;
        &:hover {
            background: @form-tabs-hover;
        }
        &:disabled {
            color: @disabled;
            &:hover {
                background: @form-tabs;
                cursor: default;
            }
        }    
        span {
            vertical-align: super;
        }
    }
    .previous-date {
        flex: 1 0 auto;
        text-align: left;
        height: inherit;
    }
    .next-date {
        text-align: right;
        flex: 1 0 auto;
        height: inherit;
    }
}

@media screen and (max-width: @break-point) {
    .trips {
        .filters-bar {
            .period-row {
                .tag {
                    font-size: .9em;
                }
            }
            .mobile {
                margin-top: 5px;
                display: flex;
                justify-content: space-between;
                
            }
            .hide-filters {
                display: none;
            }
        }
    }
    .trips-dates {
        button {
            padding: .25em;
            font-size: 1em;
        }
    }
}