<div *ngIf="loading">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>

<form #editForm="ngForm" (ngSubmit)="onSubmit(editForm)" class="edit-form"> 
    <div class="form-row" *ngIf="roleID > 0">
        <label class="tag width20" for="allowUserToRemove">{{ 'dashboard.edit_widget.allow_edit_remove' | translate }}</label>
        <div class="field width-remain toggle-buttons">
            <input type="checkbox"
                    id="allowUserToRemove" 
                    name="allowUserToRemove"
                    [(ngModel)]="widget.allowUserToRemove" 
                    #allowUserToRemove="ngModel"/>
            <label for="allowUserToRemove">
                {{ (widget.allowUserToRemove == true ?  'form.actions.enabled' : 'form.actions.disabled') | translate }}
            </label>
        </div>
    </div>
    <div class="form-row">
        <label class="tag width20" for="title">{{ 'dashboard.edit_widget.widget_title' | translate }}</label>
        <div class="field width-remain">
            <input type="text" id="title" name="title"
                    required
                    [(ngModel)]="widget.title" 
                    #title="ngModel"
                    (change)="previewWidget()"/>
        </div>
        <div [hidden]="title.valid || title.pristine" class="alert alert-danger">
            {{ title.errors | myFormValidationMessage: { field: 'dashboard.edit_widget.widget_title' } }}
        </div>   
    </div>
    <div class="form-row">
        <label class="tag width20" for="period">{{ 'period_selector.title' | translate }}</label>
        <div class="field width-remain">
            <period-selector [style.width.%] = "100"
                            [htmlID]="'period'"
                            [options]="periodSelectorOptions"
                            [(modelData)]="widget.periodType"
                            (modelDataChange)="onChangePeriod($event)">
            </period-selector>
        </div>
    </div>
    <div class="form-row asset-options" >
        <label class="tag width20">{{ 'assets.title' | translate }}</label>
        <div class="field width-remain">
            <dashboard-asset-selection [style.width.%] = "100" 
                                    [showNoneOption]="false"
                                    [options]="assetTypeOptions"
                                    [modelData]="assetSelected"
                                    (modelDataChange)="onRankingAssetSelection($event)">
            </dashboard-asset-selection>
        </div>
    </div>

    <!-- WIDGET SPECIFIC OPTIONS -->
    <fieldset class="options">
        <legend>{{ 'dashboard.edit_widget.options' | translate }}</legend>
        <!-- SCORES -->
        <div class="form-row width-remain">
            <label class="tag width20" for="driver-score">{{ 'dashboard.edit_widget.score_type' | translate }}</label>
            <div class="field width-remain">
                <scores-list [style.width.%]="100"
                            [(modelData)]="widget.scoreID"
                            (modelDataChange) = "previewWidget()"
                            [energyScoreEnabled]="false">
                    </scores-list>
            </div>
        </div>

        <!-- NUMBER OF ROWS -->
        <div class="form-row width-remain" *ngIf="showNumberOfRows()">
            <label class="tag width20" for="numOfRows">{{ 'dashboard.ranking_widget.rows' | translate }}</label>
            <div class="field width-remain">
                <input name="numOfRows" id="numOfRows" 
                        [(ngModel)]="widget.numberOfRows"
                        validateRange
                        required
                        min="1"
                        max="50"
                        #numberOfRows="ngModel"
                        (change)="previewWidget()"/>
            </div>

            <div [hidden]="numberOfRows.valid || numberOfRows.pristine" class="alert alert-danger">
                {{ numberOfRows.errors | myFormValidationMessage: { field: 'dashboard.ranking_widget.rows', min: 1, max: 50 } }}
            </div>  
        </div>
                
        <!-- SORT DIRECTION -->
        <div class="form-row">
            <label class="tag width20" for="rankingDirection">{{ 'dashboard.ranking_widget.direction' | translate }}</label>
            <div class="field width-remain">
                <custom-selector [style.width.%]="100"
                                [options]="sortDirections"
                                [(modelData)]="widget.sortDirection"
                                dataID="sort-direction"
                                (modelDataChange)="previewWidget()">
                </custom-selector>
            </div>
        </div>

    </fieldset>

    <footer pageFooter>
        <button aria-label="submit" type="submit" (click)="onSubmit(editForm)" [disabled]="editForm.invalid" class="btn secondary-btn">
            {{ 'form.actions.save' | translate }}          
        </button>
        <button aria-label="reset" (click)="done()" type="reset" class="btn alternative-btn">
            {{ 'form.actions.cancel' | translate }}
        </button>
    </footer>
</form>