
<div class="period-selector">
    <custom-selector class="period-options"
                     [options]="periodOptions"
                     [(modelData)]="modelData"
                     [dataID]="htmlID"
                     (modelDataChange)="onChangeOption($event)">
    </custom-selector>
    <div class="toolbar-fill-remaining-space">
        <div *ngIf="showDatepicker" [ngClass]="showDatepicker ? 'show' : 'hide'">
            <datepicker [id]="'sinceDTP'"
                        [(modelData)]="matSinceDatePicker"
                        (modelDataChange)="onSelectSinceDate($event)">
            </datepicker>
            <datepicker [id]="'tillDTP'"
                        [(modelData)]="matTillDatePicker"
                        (modelDataChange)="onSelectTillDate($event)">
            </datepicker>

            <button aria-label="search" class="btn secondary-btn submit-button" (click)="datepickerSubmit()">
                <mat-icon>search</mat-icon>
            </button>
        </div>
    </div>
</div>
