<page-container class="view-driver-take-over"
                [title]="'sidebar.driver_take_over'" 
                [backButton]="true"
                (notifyOnBack)="back()"
                [loading]="loadingToTakeOver">
    <div pageContent>
        <!-- FILTERS -->
        <mat-form-field class="autocomplete">
            <input type="text" matInput 
                    [formControl]="searchTermControl" 
                    placeholder="{{ 'form.search.pleaceholder' | translate }}"/>
            <div class="autocomplete-clear" *ngIf="!loading && request.searchTerm && request.searchTerm.length > 0" (click)="clearInput($event)">
                <mat-icon>clear</mat-icon>
            </div>
        </mat-form-field> 
        <!-- END OF FILTERS -->
        
        <!-- DATA -->
        <data-table [records]="drivers"
                    [settings]="tableSettings"
                    [loading]="loading"
                    [pager]="pager"
                    [sorting]="request.sorting"
                    (onActionClick)="onManage($event)"
                    (onSortSelection)="onSort($event)"
                    (onScrollDown)="onScrollDown()">
        </data-table>
        <!-- END OF DATA -->
    </div>

</page-container>
