@import "../../styles/variables";

.view-driver-take-over {
    .blocked-account {  
        color:red; 
    }
    .blocked-account-icon-wrapper {
        position: relative;
    }
    .blocked-account-icon {
        background: red;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        right: 60%;
    }
   
}


@media screen and (max-width: @break-point) {
    .view-driver-take-over {
        .blocked-account-icon {
            right: 0;
        }        
    }
}
