@import "../../styles/variables";
// @import (inline) "../../styles/mdDateTimePicker.css";

 .period-selector {
    display: flex;
    flex-flow: column wrap;
    .period-options {
        width: 100%;
        margin-right: 3px;
        margin-bottom: 3px;
    }
    .datepicker {
        margin-right: 3px;
    }
    .submit-button {
        min-width: 100%;
        width: 45px; 
        height: 40px; 
        color:#fff;
        margin-bottom: 3px;
    }

    .show {
        display: block;
    }
    .hide {
        display: none;
    }

    .toolbar-fill-remaining-space {
        // This fills the remaining space, by using flexbox. 
        // Every toolbar row uses a flexbox row layout.
        flex: 0 1 auto;                
    }
    .submit-button {        
        margin-top: .5em;
    }
    
}


@media screen and (min-width: @large-break-point) {
    .period-selector {
        flex-flow: row wrap;
        .period-options  {
            width: 250px;
        }
        .show {
            display: flex;
        }
        .hide {
            display: none;
        }        
        .submit-button {
            min-width: 45px;
            margin: 0;
        }
    }
}