﻿.audit-log-details {
    max-height: 500px;
    ul {
        li {
            padding: 0.5em 0;
            .green {
                color:green;
            }

            .red {
                color: #bf3232;
            }
        }
    }
    .no-change {
        padding: 1em 0em;
        color: var(--primary-color);
    }
    footer {
        margin-top: 1em;
    }
}
