﻿<div class="dialog audit-log-details">
    <div class="header">
        <div class="title">
            <h3>{{ 'audit_log.header.details' | translate }}</h3>
        </div>
        <button aria-label="clear" mat-icon-button>
            <mat-icon (click)="closeDialog()">clear</mat-icon>
        </button>
    </div>
    <div class="content">
        <ul>
            <li> 
                <b>{{ 'audit_log.header.date_time' | translate }}</b>:  
                    {{ data.timestamp | myDateFormat: { display: dateDisplayOptions.both, dateFormat: userOptions.localOptions.short_date } }}
            </li>
            <li> 
                <b>{{ 'audit_log.header.user_label' | translate }}</b>:  {{ data.userLabel }} 
            </li>
            <li *ngFor="let detail of details;">
                <b>{{ detail.label | myAuditLogParameterName: data.entityType }}</b>: 
                <div *ngIf="detail.label === 'Rights'; else defaultLogView">
                    <audit-log-acl [modelData]="detail.newValue"></audit-log-acl>
                </div>
                
                <ng-template #defaultLogView>
                    <ng-template [ngIf]="detail.oldValue">
                        <span class="red"> {{ detail.oldValue | myAuditLogParameterValue: data.entityType }} </span>
                        <ng-template [ngIf]="detail.newValue">{{'audit_log.details.changed_to' | translate }}</ng-template>
                    </ng-template>
                    <ng-template [ngIf]="detail.newValue">
                        <span class="green"> {{ detail.newValue | myAuditLogParameterValue: data.entityType }} </span>
                    </ng-template>
                </ng-template>

            </li>
        </ul>
        <div class="no-change" *ngIf="!details || details.length === 0">
            {{ 'audit_log.details.no_changes' | translate }}
        </div>
           
        <footer>
            <button aria-label="reset" type="reset" (click)="closeDialog()" class="btn alternative-btn">
                {{ 'form.actions.close' | translate }}
            </button>
        </footer>
    </div>
</div>