@import "../styles/variables";

.charging-status {
    display: block;
    color: #000;
    padding: 10px;
    border-radius: 2px;
    min-width: 100px;
    text-align: center;

    &:not(:last-child) {
        margin-bottom: 15px;
    }
      
        
    &.unlock {
        border: none;
        margin-left: 10px;
        cursor: pointer;
    }
    &.available {
        background: rgba(0, 77, 0, 0.349);
    }
    &.prepare-charging-finishing {
        background: #adcbe2;
    }
    &.unavailable {
        background:  rgba(224, 45, 0, 0.349);
    }
    &.faulted {
        background: #bf1123;//E00001;
    }

    &.unknown {
        background: #bbbbbb;
    }
}


.cp-connector-error {
    margin-top: 15px;
    display: block;
    font-size: 10pt;
    color: #999999;
    border-top: 1px solid #dddddd;
    border-left: 0.5em solid #DDD;
    padding: 10px !important;
    border-radius: 0 !important;
    position: relative; 
    box-shadow: 1px 1px 1px #aaaaaa;

    .ico {
        width: 10px;
        height: 10px;
        background-color: #fff;
        border: 1px solid #dddddd;    
        border-right: 0px;
        border-top: 0px;
        transform: rotate(135deg);
        position: absolute;
        left: 15px;
        top: -6px;
        z-index: 500000;
    }
}


@media screen and (max-width: @break-point) {
    .charging-status {
        display: initial;
    }
}