@import "../../../styles/variables";
.quick-filters {
    position: relative;
    .wrapper {
        background: #fff;
        color: @paragraph;
        padding: 10px 10px 0;
        fieldset {
            legend {
               color: @sublabel;
            }
            .cluster-wrapper {
                display: flex;
                flex-flow: row wrap;
                align-items: center;
                .option {
                    width: 50%;
                    margin-bottom: 10px;
                }
            }
        }
        footer {
            padding: 5px 2px;
            border-top: 1px solid @divider;
        }
        .close-btn { 
            display: none; 
        }
    }

    &.modal {
        &.open {
            .wrapper, .ico {
                display: block;
            }
        }
        &.close {
            .wrapper, .ico {
                display: none;
            }
        }
        .wrapper {
            position: absolute;
            top: 45px;
            right: -20px;
            width: 350px;
            max-height: 440px;
            overflow-y: hidden;
            z-index: 50000;
            border: 1px solid @divider;
            border-radius: 2px;
            box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
            .form {
                max-height: 350px;
                overflow-y: auto;

                .expanded {
                   
                    .cluster-wrapper  {
                        display: block;
                    }
                }
                .collapsed {
                    .cluster-wrapper  {
                        display: none;
                    }
                }
            }
        }
        .ico {
            width: 10px;
            height: 10px;
            background-color: #fff;
            border: 1px solid @divider;    
            border-right: 0px;
            border-top: 0px;
            transform: rotate(135deg);
            position: absolute;
            right: 15px;
            z-index: 500000;
        }
    }
}
@media screen and (max-width: @break-point) {
    .quick-filters {
        &.modal {
            .wrapper {
                width: 300px;
                .form {
                    max-height: 320px;
                }
            }
        }
    }
}