<div class="quick-filters" [ngClass]="[modalView ? 'modal' : '', open ? 'open' : 'close']">
    <button aria-label="edit" *ngIf="modalView" mat-icon-button (click)="setVisibility()">
        <mat-icon>tune</mat-icon>
    </button>
    <div class="ico" *ngIf="modalView"></div>
    <div class="wrapper">
        <div class="form">
            <ng-template ngFor let-cluster [ngForOf]="clusters">
                <fieldset [attr.id]="'cluster_' + cluster.id">
                    <legend (click)="toggle(cluster.id)">
                        {{ cluster.name | translate }}
                        <button aria-label="option" type="button" mat-icon-button>
                            <mat-icon>keyboard_arrow_down</mat-icon>
                        </button>
                    </legend>
                    <div class="cluster-wrapper">
                        <ng-template ngFor let-option [ngForOf]="columns | myQuickFiltersColumnFilter: cluster.id">
                            <div class="option">
                                <!--md-menu-disable-close="md-menu-disable-close"-->
                                <input class="css-checkbox" type="checkbox"
                                       [attr.id]="option.header"
                                       [checked]="option.checked"
                                       [disabled]="option.disabled"
                                       (click)="onChangeOption(option)" />
                                <label class="css-label" [attr.for]="option.header">
                                    {{ option.header | translate }}
                                </label>
                            </div>
                        </ng-template>
                    </div>
                </fieldset>
            </ng-template>
        </div>
        <footer *ngIf="modalView">
            <button aria-label="save" *ngIf="showSaveOption==true" class="btn secondary-btn" (click)="onCreateNew($event)"> {{ 'quick_filters.save_as' | translate }}</button> 
            <button aria-label="apply" id="quick-filters-apply-btn" class="btn primary-btn"(click)="onApply()">{{ 'form.actions.apply' | translate }}</button> 
        </footer>
    </div>
</div> 