<page-container class="edit-widget" 
                [mainClass]="true"
                [title]="action"
                [backButton]="false">

    <div class="edit-widget-container" pageContent>
        <div class="widget-details">   
            <ng-container [ngSwitch]="widgetType">
                <chart-widget-editor *ngSwitchCase="widgetTypes.Chart"
                                    [widgetID]="widgetID"
                                    (onComplete)="back()">
                </chart-widget-editor>
                <summary-widget-editor *ngSwitchCase="widgetTypes.Summary"
                                        [widgetID]="widgetID"
                                        (onComplete)="back()">
                </summary-widget-editor>
                <events-widget-editor *ngSwitchCase="widgetTypes.Events"
                                        [widgetID]="widgetID"
                                        (onComplete)="back()">
                </events-widget-editor>
                <ranking-widget-editor *ngSwitchCase="widgetTypes.Ranking"
                                        [widgetID]="widgetID"
                                        (onComplete)="back()">
                </ranking-widget-editor>
            </ng-container> 
        </div>
        <div class="widget-preview" >
            <div class="preview-lbl">{{ 'dashboard.edit_widget.preview' | translate }}</div>
            <ng-container [ngSwitch]="widgetType">
                <chart-widget *ngSwitchCase="widgetTypes.Chart" 
                                [widget]="widget"
                                [editing]="true">
                </chart-widget>
                <summary-widget *ngSwitchCase="widgetTypes.Summary" 
                                [widget]="widget"
                                [editing]="true">
                </summary-widget>
                <events-widget *ngSwitchCase="widgetTypes.Events"
                                [widget]="widget"
                                [editing]="true">
                </events-widget>
                <ranking-widget *ngSwitchCase="widgetTypes.Ranking"
                                [widget]="widget"
                                [editing]="true">
                </ranking-widget> 
            </ng-container>
            <div class="preview-widget-footer">
                <button *ngIf="widgetID && widget.allowUserToRemove == true" aria-label="delete" [disabled]="deleteLoading" class="btn delete-btn" (click)="delete()">
                    {{ 'form.actions.delete' | translate }}
                </button>
            </div>
        </div>
    </div>
</page-container>
