﻿@import "../../styles/variables";

.edit-widget {
    .content {
        background-color: #fff;
        padding: 0 !important;
    }
    .fixed-footer {
        width: 41.5%;
        border-right: 1px solid @divider;
    }
    
    .edit-widget-container {
        width: 100%;

        .widget-details {
            width: 42%; 
            height: 100%;
            display: inline-block;
            vertical-align: top;
            padding: 1em 1em 1em 2em;
            .asset-options {
                entity-types {
                    margin-right: 5px;
                    width: 30%;
                }
                .assets-field {
                    width: 45%;
                }
                //Fake the disabled effect using CSS.
                &.reference {
                    entity-types {
                        select {
                            pointer-events: none;
                            color: @disabled; 
                        }
                        .wrapper-dropdown {
                            pointer-events: none;
                            color: @disabled; 
                        }
                    }
                }
        
            }
            .period-options {
                width: 100%;
            }
            .wrapper-dropdown {
                max-width: none;
            }
            .toggle-buttons {
                width: 100%;
                flex: 1;
            }
    
        }

        .widget-preview {
            background-color: #fafafa;
            width: 58%;
            height: 100%;
            display: inline-block;
            padding: 1em;

            .preview-lbl {
                text-align: center;
                margin: 20px 0;
                color: @sublabel;
            }

            .preview-widget-footer {
                padding: 1em;
                text-align: right;
            }
        }
    }
}

@media screen and (max-width: @break-point) {
    .edit-widget {
        .fixed-footer {
            width: 100%;
        }

        .edit-widget-container {
            .widget-details {
                display: block;
                width: 100%; 
                .asset-options {
                    entity-types {
                        margin-right: 0px;
                        width: 100%;
                    }
                    .assets-field {
                        width: 100%;
                    }
                }
            }
            .widget-preview {
                padding: 1em 2em;
                width: 100%;
            }
        }
    }
}
