<page-container class="trip-details"
                title="{{ 'sidebar.trip_review' | translate }}: {{ assetLabel }}" 
                [backButton]="true"
                (notifyOnBack)="navigateTo()"
                [loading]="loading">

    <tabs pageContent [selectedTab]="selectedMainTab" (onTabSelection)="onSelectMainTab($event)">
        <tab tabTitle="{{ 'trip_review.details.title' | translate }}">
            <div class="two-cols">
                <div class="left-info card add-shadows">   
                    <div class="message" *ngIf="!loading && !trip">
                        <h3 align="center">{{ 'form.errors.unknown' | translate }}</h3>
                    </div>

                    <ng-template [ngIf]="trip">                         
                        <div class="info-row">
                            <span class="tag">{{ 'trip_review.details.driver' | translate }}</span>
                            <span class="value reassign-driver">
                                {{ trip.driverLabel }}

                                <button class="icon-button" 
                                        *ngIf="showTripReassignmentBtn()"
                                        [matTooltipPosition]="'below'" matTooltip="{{ 'trip_review.reassignment.title' | translate }}"
                                        (click)="reassignDriver()">
                                    <mat-icon class="primary-color">assignment_ind</mat-icon>
                                </button>
                            </span>
                        </div>
                        <div class="info-row">
                            <span class="tag">{{ 'trip_review.details.vehicle' | translate }}</span>
                            <span class="value">{{ trip.vehicleLabel }}</span>
                        </div>
                        <div class="separator"></div>
                        <div class="info-row">
                            <span class="tag">{{ 'trip_review.details.date' | translate }}</span>
                            <span class="value">
                                {{ trip.startTimestamp | myDateFormat: { display: dateDisplayOptions.date, dateFormat: 'DD MMMM' } }}
                                <span *ngIf="!isSameDay(trip.startTimestamp, trip.stopTimestamp)"> 
                                    - {{ trip.stopTimestamp | myDateFormat: { display: dateDisplayOptions.date, dateFormat: 'DD MMMM' } }}
                                </span>
                            </span>
                        </div>
                        <div class="info-row">
                            <span class="tag">{{ 'trip_review.details.time' | translate }}</span>
                            <span class="value">
                                {{ trip.startTimestamp | myDateFormat: { display: dateDisplayOptions.time, dateFormat: userOptions.localOptions.moment_locale } 
                                | myTripPropertyFormat: { name: 'startTimestamp', closed: trip.isClosed, hidden: trip.isHidden, settings: trip.displaySettings} }} - 
                                {{ trip.stopTimestamp | myDateFormat: { display: dateDisplayOptions.time, dateFormat: userOptions.localOptions.moment_locale }  
                                | myTripPropertyFormat: { name: 'stopTimestamp', closed: trip.isClosed, hidden: trip.isHidden, settings: trip.displaySettings} }}
                            </span>
                        </div>
                        <div class="info-row">
                            <span class="tag">{{ 'trip_review.details.duration' | translate }}</span>
                            <span class="value">{{ trip.durationSecs | myTimeFormat: { format: 'HH:mm', includeDays: true } 
                                | myTripPropertyFormat: { name: 'durationSecs', closed: trip.isClosed, hidden: trip.isHidden, settings: trip.displaySettings} }} 
                            </span>
                        </div>
                        <div class="info-row">
                            <span class="tag">{{ 'trip_review.details.distance' | translate }}</span>
                            <span class="value">{{ trip.distance |  myNumberFormat: { 
                                                                                    decimalSeparator: userOptions.localOptions.decimal_separator,
                                                                                    thousandsSeparator: userOptions.localOptions.thousands_separator, 
                                                                                    decimals: 2
                                                                                } 
                                | myTripPropertyFormat: { name: 'distance', closed: trip.isClosed, hidden: trip.isHidden, settings: trip.displaySettings} }} 
                                {{ userOptions.metrics.distance }}
                            </span>
                        </div>
                        
                        <div class="info-row score-row">
                            <span class="tag">{{ 'trip_review.details.energy_score' | translate }}</span>
                            <span [innerHtml]="trip.energyScore | myScoreFormat"> </span>
                        </div>
                        <div class="separator"></div>
                        <div class="info-row score-row" *ngFor="let driveScore of trip.scoreDescription.scores" >
                            <span class="tag">{{ driveScore.scoreName }}</span>
                            <span [innerHtml]="driveScore.score | myScoreFormat"> </span>
                        </div>
                    </ng-template>
                </div>
                
                <div class="right-info card add-shadows">
                    <ul class="card locations">
                        <li class="msg" *ngIf="loading || loadingTraces; else tripLocationView">
                            {{ 'data.loading' | translate }}
                        </li>
                        <ng-template #tripLocationView>
                            <li class="msg" *ngIf="tripLocationDataHidden; else tripLocationValidView">
                                {{ 'trip_review.details.location_data_hidden' | translate }}
                            </li>
                            <ng-template #tripLocationValidView>
                                <li class="info-row">
                                    <span class="tag"> 
                                        {{ 'trip_review.details.start_address' | translate }}:
                                    </span> 
                                    <span class="value" *ngIf="trip"> 
                                        {{ trip.startAddress }}
                                    </span>
                                </li>
                                <li class="info-row">
                                    <span class="tag">
                                        {{ 'trip_review.details.end_address' | translate }}:
                                    </span> 
                                    <span class="value" *ngIf="trip"> 
                                        {{ trip.stopAddress }}
                                    </span>
                                </li>
                            </ng-template>
                        </ng-template>
                    </ul>
                    
                    <div class="card map">
                        <!--  
                            map should always be visible independently of whether or not we have data.
                            otherwise initialization fails (especially when moving along the dates)
                        -->
                        <google-map id="trip_map" 
                                    [mode]="mapModes.marker"
                                    [traces]="traces" 
                                    [loading]="loadingTraces"
                                    [customOptionsGroups]="[customOptionsGroups.trip]">
                        </google-map>
                    </div>
                </div>
                
            </div>
        </tab>
        
        <ng-template #headerTemplate>
            {{ events ? events.length : '' }} {{ 'trip_review.events' | translate }}
            <span class="alert-icon" *ngIf="events && events.length > 0">!</span>
        </ng-template>
        <tab [disabled]="!events || events.length === 0 || loading || loadingEvents " [headerTemplate]="headerTemplate">
            <div class="two-cols events">
                <div class="left-info card add-shadows">   
                    <ul *ngIf="events">
                        <li *ngFor="let event of events" (click)="onEventSelect(event)" 
                            [ngClass]="selectedEvent && event.timestamp == selectedEvent.timestamp ? 'selected' : ''">
                            <span class="time">{{ event.timestamp | myDateFormat: { display: dateDisplayOptions.time }  }}</span>
                            <span class="description">{{ event.description }}</span>
                            <span class="address">{{ event.address }}</span>
                        </li>
                    </ul>
                </div>
                <div class="right-info card add-shadows">   
                    <!-- map should always be visible independently of whether or not we have data.
                    otherwise initialization fails (especially when moving along the dates) -->
                    <google-map id="events_map" 
                                [mode]="mapModes.marker" 
                                [events]="events" 
                                [selected]="[selectedEvent]">
                    </google-map>
                </div>
            </div>
        </tab>
        <tab *ngIf="trip && trip.scoreDescription" tabTitle="{{ 'trip_review.score_description.title' | translate }}">
            <div class="scores-wrapper">
                <div class="scores-title"> 
                    {{ 'trip_review.score_description.scores' | translate }}
                    <span class="drive-cycle">
                        ({{ 'trip_review.score_description.drive_cycle' | translate }}: {{ trip.scoreDescription.driveCycleName }})
                    </span>
                </div>
                <div class="scores-body"> 
                    <tabs (onTabSelection)="redrawCharts()">
                        <tab [tabTitle]="sc.scoreName"  *ngFor="let sc of trip.scoreDescription.scores">
                            <div class="description">
                                <div class="data_points">
                                        <amchart [attr.data-score-id]="sc.score.id" 
                                                [type]="chartType" 
                                                [htmlID]="'schart' + sc.score.id" 
                                                [options]="getChartOptions('schart' + sc.score.id, sc.dataPoints)" 
                                                [customLegend]="true"
                                                style="width:100%; height:360px;">
                                        </amchart>
                                </div>
                                <div *ngIf="sc.score" class="score">
                                    <div class="v_align">
                                        <span [innerHtml]="sc.score | myScoreFormat: scoreFormatter.all"> </span>
                                    </div>
                                </div>
                            </div>
                        </tab>
                    </tabs>
                </div>
            </div>
        </tab>
    </tabs>


    <!-- PREVIOUS/NEXT DATES SELECTION -->
    <footer fixedFooter class="trip-detail-dates">
        <div class="previous-date">
            <button aria-label="previous date" (click)="onPreviousDate()">
                <mat-icon class="icon">keyboard_arrow_left</mat-icon>
                <div class="timestamp" *ngIf="trip">
                    <span class="date-part" *ngIf="trip.previousStartTimestamp;else notAvailable" >
                        {{ trip.previousStartTimestamp | myDateFormat: { display: dateDisplayOptions.date, dateFormat: 'DD MMMM' } }}
                    </span>
                    <span class="time-part" *ngIf="trip.previousStartTimestamp">
                        {{ trip.previousStartTimestamp | myDateFormat: { display: dateDisplayOptions.time } }} - 
                        
                        <ng-container *ngIf="isSameDay(trip.previousStartTimestamp, trip.previousStopTimestamp); else notSameDay" >
                            {{ trip.previousStopTimestamp | myDateFormat: { display: dateDisplayOptions.time } }}
                            <ng-template #notSameDay>
                                {{ trip.previousStopTimestamp | myDateFormat: { display: dateDisplayOptions.date, dateFormat: 'DD MMMM' } }}
                            </ng-template>       
                        </ng-container>
                    </span>
                </div>
            </button>
        </div>
        <div class="next-date">
            <button aria-label="next date" (click)="onNextDate()">
                <div class="timestamp" *ngIf="trip">
                    <span class="date-part" *ngIf="trip.nextStartTimestamp;else notAvailable">
                        {{ trip.nextStartTimestamp | myDateFormat: { display: dateDisplayOptions.date, dateFormat: 'DD MMMM' } }}
                    </span>
                    
                    <span class="time-part" *ngIf="trip.nextStartTimestamp;">
                        {{ trip.nextStartTimestamp | myDateFormat: { display: dateDisplayOptions.time } }}  -
                            
                        <ng-container *ngIf="isSameDay(trip.nextStartTimestamp, trip.nextStopTimestamp); else notSameDay" >
                            {{ trip.nextStopTimestamp | myDateFormat: { display: dateDisplayOptions.time } }}
                            <ng-template #notSameDay>
                                {{ trip.nextStopTimestamp | myDateFormat: { display: dateDisplayOptions.date, dateFormat: 'DD MMMM' } }}
                            </ng-template>       
                        </ng-container>
                    </span>
                </div>
                <mat-icon class="icon">keyboard_arrow_right</mat-icon>
            </button>
        </div>
        <ng-template #notAvailable>
            <span class="date-part">N/A</span>
        </ng-template>
    </footer>
    <!-- END OF PREVIOUS/NEXT DATES SELECTION -->
</page-container>

