@import "../../styles/variables";

.trip-details {
    .content {
        padding: 0 !important;
    }
    tabs {
        height: 90%;
    }
    .two-cols {
        display: flex;
        flex-direction: row;
        min-height: 350px;
        height: inherit;

        .left-info {
            width: 40%;
            padding: 1em 2em;
            height: 98%;
            overflow-y: auto;
        }

        .right-info {
            width: 58%;
            margin-left: 1em;
        }
        .info-row {
            display: flex;
            align-items: center;
            .tag {
                font-size: 1em;
                font-weight: 500;
                color: @sublabel;
                flex: 0 1 40%;
                padding: .5em .5em .5em 0;
            }
            .value {
                font-size: 1em;
                font-weight: 500;
                color: @paragraph;
                flex: 0 1 60%;
                padding: .5em 0;
            }
        }
        .separator {
            border-bottom: 1px solid @divider;
            margin: 12px 0;
        }
    }

    .locations {
        margin-bottom: 0px;
        padding: .5em;
        background-color: @form-tabs;
        height: 20%;
        .msg {
            display: flex;
            align-items: center;
            text-align: center;
            justify-content: center;
            height: 100%;
            color: @alternative-text;
            font-size: 1.1em;
            font-weight: 500;
        }
        .info-row {
            height: 49%;
            .tag {
                flex: unset;
            }
        }
    }

    .map {
        min-height: 250px;
        height: 80%;
    }

    .alert-icon {
        text-align: center;
        padding: 2px 9px;
        background-color: @high-alert;
        border-radius: 2px;
        color: #fff;
        font-weight: 500;
    
    }
    .events {
        height: inherit;
        .left-info {
            min-height: 300px;
        }
        ul {
            li {
                display: flex;
                border-bottom: 1px solid @divider;                    
                padding: .5em 0;
                span {
                    font-size: 1em;
                    font-weight: 500;
                    padding: .25em;
                    color: @sublabel;
                    &.time {
                        flex: 0 1 auto;                            
                        padding: .25em;
                        padding-right: .5em;
                    }
                    &.description {
                        flex: 1 1 45%;
                    }
                    &.address {
                        flex: 0 1 45%;
                    }
                }
                &:hover {
                    cursor: pointer;
                    background-color: @form-tabs-hover;
                }
            }
            li.selected {
                background-color: @form-tabs-hover;
            }
        }
    }



    .trip-detail-dates {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        height: inherit;
        padding: unset !important;
        border-top: unset !important;
        .previous-date {
            width: 50%;
            height: inherit;
            .timestamp {
                align-items: flex-start;
            }
        }
        .next-date {
            height: inherit;
            .timestamp {
                align-items: flex-end;
            }
        }

        button {
            display: flex;
            background: @form-tabs;
            height: inherit;
            outline: none;
            border: none;
            font-size: 1.2em;
            &:hover {
                background: @form-tabs-hover;
                cursor: pointer;
            }
            &:disabled {
                &:hover {
                    background: @form-tabs;
                    cursor: default;
                }
            }    
            .timestamp {
                display: flex;
                flex-flow: column;
                .date-part {
                    font-size: .8em;
                    font-weight: bold;
                    color: @sublabel;
                    margin-bottom: .25em;
                    vertical-align: super;
                }
                .time-part {
                    font-size: 1em;
                }
            }
            .icon {
                font-size: 1.7em;
                margin: auto;
                margin-right: 12px;
            }
        }
        
    }

    .scores-wrapper {
        .scores-title {
            border-bottom: 1px solid #E0E5E6;
            padding: 10px;
            text-align: center;
            font-size: 1em;
            font-weight: 500;
            color: @paragraph;
            background-color: @bgGrey;
            .drive-cycle {
                font-size: .9em;
                color: @sublabel;
            }
        }
        .scores-footer{
            .info{
                padding: 1em 0;
            }
        }
        .description {
            display: flex;
            flex-direction: row;  
            align-items: center;
            justify-content: center;
            background: #E0E5E6;
            .data_points {
                background: #fff;
                flex: 5 0 0%; 
                .info{
                    margin-top: 10px;
                    margin-left: 10px;
                    display: flex;
                    flex-flow: row wrap;
                    border-bottom: 1.5px solid @divider;
                    .result{
                        flex: 0 0 150px;
                    }
                    .measured-wrapper {
                        margin-bottom: 1.2em;
                        flex: 1 0 auto;
                        .measured { 
                            min-width: 2px;
                            height: 50px;
                            background-color:#fa9b73;
                            border-radius: 2px;
                            position: relative;
                            .value {
                                position: absolute;
                                top: 16px;
                            }
                            .target {
                                position: absolute;
                                top: 0;
                                border-left: 1px solid @paragraph;
                                height: 50px;
                                .target_value{
                                    top: 51px;
                                    vertical-align: middle;
                                    position: absolute;
                                    left: -5px;
                                    text-align: center;
                                    color: @paragraph;
                                }
                            }
                        }
                    }
                    .normalized_value {
                        flex: 0 0 100px;
                        margin: 18px 0px;
                        font-size: 1.5em;
                        color:@paragraph;
                        font-weight: bold;
                    }
                }
            }
            .score {
                flex: 1 0 0%;
                padding: 5px 0;
                .v_align {
                    text-align:  center;
                }
                span {
                    display: inline-block;
                }
                
                .score_value {
                    font-size: 2em;
                }
                .score_letter {
                    margin-right: 10px;
                    width: 55px;
                    height: 55px;
                    line-height: 55px;
                    font-size: 2.5em;
                }
                
            } 
        }

    }
}

@media screen and (max-width: @break-point) {
    .trip-details {
        .two-cols  {
            height: auto;
            flex-direction: column;
            .left-info {
                min-height: inherit;
                width: 100%;
                info-row {
                    display: flex;
                    align-items: center;
                    .tag, .value {
                        font-size: .9em;
                    }
                }
            }

            .right-info {
                min-height: inherit;
                width: 100%;
                margin-left: 0em;
            }
        }
        .scores-wrapper {
            .description {
                flex-direction: column;  
                align-items: stretch;
            }
        }

        .trip-detail-dates {
            button {
                padding: .25em;
                font-size: .8em;
            }
        }
    }
}
