<div class="dialog fiscal-trips-nl-notification">
    <div class="header">
        <div class="title">
            <h2>{{ 'fiscal_trips.nl.notification.title' | translate }}</h2>
        </div>
        <div class="button">
            <button aria-label="clear" mat-icon-button (click)="closeDialog()">
                <mat-icon>clear</mat-icon>
            </button>
        </div>
    </div>
    <div class="content">
        <p>
            {{ data | translate }}
        </p>
        <br />
        <footer class="footer">        
            <button aria-label="close" class="btn alternative-btn" (click)="closeDialog()">
                {{ 'form.actions.close' | translate }}
            </button>
        </footer>     
    </div>   
    
</div>
