<page-container class="bookings"
                [title]="'book_n_go.bookings.title'" 
                [backButton]="true"
                (notifyOnBack)="back()"
                [addButton]="true"
                (notifyOnAdd)="manage()">

    <div pageContent>
        <filters>
            <div class="filter-rows">                
                <div class="filter-row">                
                    <label class="tag one-tag" for="period-selector">{{ 'period_selector.title' | translate }}:</label>
                    <bookings-period-selector class="period-selector-component" 
                                    [htmlID]="'period'"
                                    [(modelData)]="request.periodType"
                                    (modelDataChange)="onPeriodSelect($event)">
                    </bookings-period-selector>
                </div>                        
                <div class="filter-row">                    
                    <mat-form-field class="autocomplete">
                        <input type="text" matInput 
                            [formControl]="searchTermControl" 
                            placeholder="{{ 'form.search.pleaceholder' | translate }}"/>
                        <div class="autocomplete-clear" *ngIf="!loading && request && request.searchTerm && request.searchTerm.length > 0" (click)="clearInput($event)">
                            <mat-icon>clear</mat-icon>
                        </div>
                    </mat-form-field>                                
                </div>
            </div>            
        </filters>
        
        
        <data-table [records]="bookings"
                    [settings]="tableSettings"
                    [loading]="loading"
                    [pager]="pager"
                    [sorting]="request.sorting"
                    (onActionClick)="onManage($event)"
                    (onSortSelection)="onSort($event)"
                    (onScrollDown)="onScrollDown()">
        </data-table>
    </div>
</page-container>
