<page-container [title]="'admin.categories.devices.links'" 
                [backButton]="true"
                (notifyOnBack)="back()"
                [addButton]="true"
                (notifyOnAdd)="addNew()">
    <div class="asset-links" pageContent>
        <div class="top-area">
            <div class="card add-shadows filters-bar">      
                <mat-form-field class="autocomplete">
                    <input #term type="text" matInput                     
                            [formControl]="searchTermControl" 
                            placeholder="{{ 'form.search.pleaceholder' | translate }}"/>
                    <div class="autocomplete-clear" *ngIf="!loading && request.searchTerm && request.searchTerm.length > 0" (click)="clearInput($event)">
                        <mat-icon>clear</mat-icon>
                    </div>
                </mat-form-field>    
                        
            </div>
            <div class="card add-shadows display-info-row">
                <div class="display-info">
                    <p class="row">
                        <span class="asset-links-notation">(*)</span> 
                        {{ 'assets.links.notation.asterisk' | translate }}
                    </p>
                    <p class="row">
                        <span class="asset-links-notation">(-)</span> 
                        {{ 'assets.links.notation.dash' | translate }}
                    </p>
                </div>
            </div>
        </div>
    
        <!-- DATA TABLE -->
        <data-table [records]="assetLinks"
                    [settings]="tableSettings"
                    [loading]="loading"
                    [pager]="pager"
                    [sorting]="request.sorting"
                    (onActionClick)="onManage($event)"
                    (onSortSelection)="onSort($event)"
                    (onScrollDown)="onScrollDown()">
        </data-table>
    </div>
</page-container>
