@import "../../../styles/variables";

.asset-links {
    .top-area {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        
        .display-info-row {
            width: 39%;
            margin-left: .5em;
            display: flex;
            .display-info {
                padding: 1em .5em;
                width: 100%;
                p {
                    width: 100%;
                    margin-bottom: .5em;
                    font-size: .8em;
                    .asset-links-notation {
                        font-weight: bold;
                        display: inline-block;
                        vertical-align: middle;
                    }
                }
            }
        }
        .filters-bar {
            width: 60%;
            padding: 1em 2em;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;

        }
    }

}

@media screen and (max-width: @break-point) {
    .asset-links {
        .top-area {
            flex-direction: column;

            .display-info-row {
                width: 100%;
                margin-left: 0em;
                .display-info {
                    p {
                        display: inline-block;
                    }
                }
            }

            .filters-bar {
                width: 100%;
                flex-direction: column;
            }
        }
    }
}