<page-container title="{{ 'admin.categories.vehicles.types' | translate }}: {{ 'energy_category.correction_factors' | translate }}"
                [backButton]="true"
                (notifyOnBack)="back()"
                [addButton]="true"
                (notifyOnAdd)="addFactor()">
    

    <div pageContent>
        <div class="admin-edit-label">{{ getLabelEntity() }}</div>

        <energy-correction-factors [vehicleTypeID]="vehicleTypeID"></energy-correction-factors>
    </div>
</page-container>