<div class="dialog edit-vehicle-inactivation-period">
    <div class="header">   
        <div class="title">
            <h3>{{ (period && period.id ? 'form.actions.edit' : 'form.actions.add') | translate }}</h3>
        </div>     
        <button aria-label="clear" mat-icon-button>
            <mat-icon (click)="closeDialog()">clear</mat-icon>
        </button>
    </div>
    <div *ngIf="loading">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
    <div class="content">
        <form #editPeriodForm="ngForm" (ngSubmit)="onSubmit(editPeriodForm)" class="edit-form"> 
            <div class="form-row">
                <label class="tag width20" for="sinceDTP">{{ 'vehicles.inactivation.since' | translate }}</label>
                <div class="field width-remain">
                    <datepicker [id]="'sinceDTP'" 
                                [(modelData)]="sinceDate"
                                [max]="tillDate">
                    </datepicker>
                </div>
            </div>
            <div class="form-row">
                <label class="tag width20" for="tillDTP">{{ 'vehicles.inactivation.till' | translate }}</label>
                <div class="field width-remain">
                    <datepicker [id]="'tillDTP'" 
                                [(modelData)]="tillDate"
                                [min]="sinceDate">        
                    </datepicker>
                    <button type="button" class="btn primary-btn clear-till-date clear-till-date" (click)="tillDate = null">
                        <mat-icon>clear</mat-icon>
                    </button>
                </div>
            </div>
            <div class="form-row">
                <label class="tag width20" for="comments">{{ 'vehicles.inactivation.comments' | translate }}</label>
                <div class="field width-remain">
                    <textarea style="resize: none"
                            rows="2"
                            name="comments"
                            id="comments" 
                            [(ngModel)]="period.comments" 
                            #comments="ngModel"
                            required>
                    </textarea>
                </div>
                <div [hidden]="comments.valid || comments.pristine" class="alert alert-danger">
                    {{ comments.errors | myFormValidationMessage: { field: 'vehicles.inactivation.comments' } }}
                </div>
            </div>

            <footer id="footer">
                <button aria-label="submit" type="submit" [disabled]="!editPeriodForm.form.valid || loading " class="btn secondary-btn">
                    {{ 'form.actions.save' | translate }}          
                </button>
                <button aria-label="back" (click)="closeDialog()" type="reset" class="btn alternative-btn">
                    {{ 'form.actions.cancel' | translate }}
                </button>
            </footer>
        </form>
    </div>
</div>
