@import "../../../../../styles/variables";

.edit-vehicle-inactivation-period {
    .edit-form {
        width: 500px;
        .clear-till-date {
            width: 45px;
            min-width: unset;
        }
    }
}


@media screen and (max-width: @break-point) {
    .edit-vehicle-inactivation-period {
        .edit-form {
            width: auto;
        }
    }
}