<page-container class="events"
                [title]="'events.list.title'" 
                [options]="pageOptions"
                (notifyOnOptionSelection)="onSelectPageOption($event)"
                [loading]="searchLoading">

    <div pageContent class="events-contents">
        <event-manager-widgets [autoRefreshEnabled]="autoRefreshEnabled"></event-manager-widgets>
        <div class="mobile" (click)="showFilters = !showFilters">
            <h3 class="primary-color">{{ 'data.filters' | translate }}</h3>
            <mat-icon class="primary-color"> 
                {{ showFilters ? 'arrow_drop_up' : 'arrow_drop_down' }}
            </mat-icon>
        </div>
    
        <event-filters  [ngClass]="showFilters == true ? '' : 'hide-filters'"
                        [id]="'events-filters'"
                        (notifyOnChange)="onChangeEventFilter($event)" 
                        (notifyOnLoad)="onLoadEventFilters($event)"
                        [request]="request"
                        [style.display]="hideElement('events-filters') == true ? 'none' : 'block'">
        </event-filters>

        <events-grid [id]="'events-list'" 
                    [(filters)]="request" 
                    [widgetView]="false" 
                    (onSortSelection)="onSortSelection($event)" 
                    [statuses]="statuses"
                    (createWidget)="newEventWidget($event)"
                    [style.display]="hideElement('events-list') == true ? 'none' : 'block'"
                    [autoRefreshEnabled]="autoRefreshEnabled"
                    [headerOptionsEnabled]="true">
        </events-grid>
    </div>
</page-container>
