﻿@import "../../styles/variables";

.events {
    .events-contents {
        position: relative;
        #events-list {
            .table-wrapper {
                max-height: 400px;
            }
        }
        .mobile {
            display: none; 
        }
    }

    .centralize {
        margin: auto;
        vertical-align: middle;
        text-align: center;
    }       

    .events-list-grid {
        height: 600px;
    }
}


@media screen and (max-width: @break-point) {
    .events {
        .events-contents {
            .mobile {
                padding: 1em;
                display: flex;
                justify-content: space-between;
            }
            .hide-filters {
                display: none !important;
            }
        }
    }
}
