@import "../../styles/variables";

.access-rights-head {
    border-top: 3px solid #8F999D;    
    color: rgba(41, 50, 48, 0.6);
    padding: 14px 1em;                    
    border-bottom: 2px solid #ddd;
    label {
        font-weight: 500!important;
    }
}
.access-rights {
    border-left-width: 1px;
    border-left-style: solid;
    border-bottom: 1px solid @divider;
    .module {
        background:  repeat-x scroll 50% 50% #f8f8f8;
        padding: .4em 1em;
        border-right: 1px solid @divider;
        border-top: 1px solid @divider;
        .properties {
            margin-top: .5em;
            .property {
                border-right: 1px solid @divider;
                border-top: 1px solid @divider;
                border-left-width: 1px;
                border-left-style: solid;
                padding: .4em;
                margin-left: 1.3em;
                background: none repeat scroll 0 0 #FFFFFF;
            }
        }
    }
}