<div class="access-rights-head" *ngIf="showSelectAll">
    <input class="css-checkbox" type="checkbox" [id]="'selectAll'" [name]="'selectAll'"     
            [(ngModel)]="selectedAll" 
            (change)="onSelectionAll()" />
    <label class="css-label" [for]="'selectAll'">{{ 'assets.group.members.select_all' | translate }}</label> 
</div>
<section class="access-rights secondary-color-border-left">
    <ng-template ngFor let-module [ngForOf]="modelData">
        <div class="module primary-color" *ngIf="moduleCompanyOrRoleHas(module)">
            <input class="css-checkbox" type="checkbox" 
                    [id]="'module_' + module.id" 
                    [name]="'module_' + module.id"     
                    [(ngModel)]="module.hasAccess"
                    (change)="onChangeModuleOption(module)"/>
            <label class="css-label" [for]="'module_' + module.id">{{ module.id | myAccessRightsModuleName }}</label>
            
            <div class="properties" *ngIf="module.properties && module.properties.length > 0">
                <ng-template ngFor let-property [ngForOf]="module.properties">
                    <div class="property secondary-color-border-left" *ngIf="propertyCompanyOrRoleHas(property)">
                        <input class="css-checkbox" type="checkbox" 
                                [id]="'property_' + property.id + '_' + module.id"
                                [name]="'property_' + property.id + '_' + module.id" 
                                [(ngModel)]="property.hasAccess"
                                (change)="onChangePropertyOption(module, property)"/>
                        <label class="css-label" [for]="'property_' + property.id + '_' + module.id">{{ module.id | myAccessRightsPropertyName: property.id }}</label>
                    </div>
                </ng-template>
            </div>

        </div>
    </ng-template>    
</section> 