﻿<div class="dialog update-events">
    <div class="header">
        <div class="title">
            <h2>
                {{ 'events_update_dialog.title' | translate }}
            </h2>
        </div>
        <div class="button">
            <button aria-label="close dialog" mat-icon-button (click)="dialogRef.close('no')">
                <mat-icon>clear</mat-icon>
            </button>
        </div>
    </div>
    <div class="content">        
        <div>
            <label class="tag" for="status">{{ 'events.list.status' | translate }}</label>
            <div class="field">
                <custom-selector [options]="statuses"
                                 [modelData]="status"
                                 [dataID]="'status'"
                                 [loading]="loading"
                                 (modelDataChange)="onStatusChange($event)">
                </custom-selector>
            </div>      
        </div>
        <footer class="footer">
            <button aria-label="close dialog with status" class="btn primary-btn" (click)="dialogRef.close({ status: status })">
                {{ 'form.actions.update' | translate }}
            </button>
            <button aria-label="close dialog with no" class="btn alternative-btn" (click)="dialogRef.close('no')">
                {{ 'form.actions.cancel' | translate }}
            </button>
        </footer>        
    </div>
    
</div>