@import "../../styles/variables";

.update-events {    
    .header {        
        display: flex;
        .title {
            flex-grow: 2;
            margin-right:1em;                  
        }
        .button {
            flex-basis: auto;
        }
    }
    .content {        
       > div {
           margin: 1em 0;
           display: flex;
           .tag {
               flex: 0 1 30%;
               padding-right:.5em;
           }
           .field {
               flex: 0 1 70%;
               .wrapper-dropdown {
                   .dropdown {
                       display: none;
                    }
               }
               .wrapper-dropdown.active {                    
                    .dropdown {
                        display: block;
                    }
                }
           }
       }
       
    }
}