<div class="dialog edit-energy-correction-factor">
    <div class="header">   
        <div class="title">
            <h3>{{ (entity.id ? 'form.actions.edit' : 'form.actions.add' ) | translate }}</h3>
        </div>     
        <button aria-label="clear" mat-icon-button>
            <mat-icon (click)="closeDialog()">clear</mat-icon>
        </button>
    </div>
    <div *ngIf="loading">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>    
    <div class="content">
        <form #editForm="ngForm" (ngSubmit)="onSubmit(editForm)" class="edit-form"> 
            <div class="form-row">
                <label class="tag" for="startTimestamp">{{ 'energy_category.correction_factors.start_date' | translate }}</label>
                <div class="field width-remain">
                    <datepicker [id]="'startTimestamp'" 
                                [(modelData)]="startTimestamp">
                    </datepicker>
                </div>
            </div>
            <div class="form-row">
                <label class="tag" for="value">{{ 'energy_category.correction_factors.value' | translate }}</label>
                <div class="field width-remain">
                    <input type="number" 
                            id="primaryValue" 
                            name="primaryValue"
                            required
                            validateNumber
                            [(ngModel)]="entity.primaryValue" 
                            #primaryValue="ngModel"/>
                </div>
                <div [hidden]="primaryValue.valid || primaryValue.pristine" class="alert alert-danger">
                    {{ primaryValue.errors | myFormValidationMessage: { field: 'energy_category.correction_factors.value' } }}
                </div>
            </div>
            <!-- <div class="form-row" *ngIf="secondaryEnergyTypeName">
                <label class="tag" for="secondaryValue">{{ secondaryEnergyTypeName | translate }}</label>
                <div class="field width-remain">
                    <input type="text" 
                            id="secondaryValue" 
                            name="secondaryValue"
                            required
                            [(ngModel)]="entity.secondaryValue" 
                            #secondaryValue="ngModel"/>
                </div>
                <div [hidden]="secondaryValue.valid || secondaryValue.pristine" class="alert alert-danger">
                    {{ secondaryValue.errors | myFormValidationMessage: { field: secondaryEnergyTypeName } }}
                </div>
            </div> -->
        
            <footer id="footer">
                <button aria-label="submit" type="submit" [disabled]="!editForm.form.valid || loading " class="btn secondary-btn">
                    {{ 'form.actions.save' | translate }}          
                </button>
                <button aria-label="back" (click)="closeDialog()" type="reset" class="btn alternative-btn">
                    {{ 'form.actions.cancel' | translate }}
                </button>
            </footer>
        </form>
    </div>  

</div>
