﻿@import "../../../styles/variables";

.audit-log {
    .filters-bar {
        padding: 1em 1em 0;

        .mobile {
            display: flex;
            justify-content: space-between;
        }

        .filter-rows {
            display: flex;
            padding-bottom: 0;
            flex-flow: column;

            &.hide-filters {
                display: none;
            }

            .filter-row {
                padding-top: .75em;
                display: flex;
                justify-content: flex-start;
                flex: 1 1 auto;

                .period-selector {
                    .period-options {
                        width: 250px;
                    }
                }
            }
        }
    }
}


@media screen and (min-width: @break-point) {
    .audit-log {
        .filters-bar {
            .mobile {
                display: none;
            }

            .filter-rows {
                flex-flow: row;
                flex-wrap: wrap;

                &.hide-filters {
                    display: flex;
                }

                .filter-row {
                    padding: 0 .75em 0 0;
                    width: auto;                    
                }
            }
        }
    }
}
