﻿
<page-container class="audit-log"
                title="{{ 'sidebar.fiscal_trips' | translate }}: {{ 'audit_log.title' | translate }}"
                [backButton]="true"
                (notifyOnBack)="back()">
    
    <div pageContent>
        <filters>
            <div class="filter-rows">
                <div class="filter-row edit-form">
                    <div class="form-row">
                        <label class="tag" for="period-selector">{{ 'period_selector.title' | translate }}:</label>
                        <div class="field width-remain">
                            <period-selector [htmlID]="'period'"
                                                [options]="periodSelectorOptions"
                                                [(modelData)]="request.periodType"
                                                (modelDataChange)="onPeriodSelect($event)">
                            </period-selector>
                        </div>
                    </div>
                </div>
                <div class="filter-row edit-form">
                    <div class="form-row">
                        <label class="tag" for="period-selector">{{ 'fiscal_trips.nl.audit_log.revision_type' | translate }}:</label>
                        <div class="field width-remain">
                            <custom-selector class="ddl" dataID="action-options"
                                                [options]="actionOptions"
                                                [(modelData)]="request.revisionType"
                                                (modelDataChange)="onCustomSelect($event)">
                            </custom-selector>
                        </div>
                    </div>
                </div>
                <div class="filter-row edit-form">
                    <div class="form-row">
                        <div class="field width-remain">
                            <mat-form-field class="autocomplete">
                                <input matInput #term [(ngModel)]="request.searchTerm"
                                    placeholder="{{ 'form.search.pleaceholder' | translate }}"
                                    (keyup)="onSearch(term.value)">
                                <div class="autocomplete-clear" *ngIf="!loadingSearch && request.searchTerm && request.searchTerm.length > 0" (click)="clearInput($event)">
                                    <mat-icon>clear</mat-icon>
                                </div>
                                <div class="autocomplete-loader" *ngIf="loadingSearch">
                                    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
                                </div>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>
        </filters>    

        <data-table [records]="data"
                    [(settings)]="tableSettings"
                    [loading]="loading"
                    [pager]="pager"
                    [sorting]="request.sorting"
                    (onSortSelection)="onSort($event)"
                    (onScrollDown)="loadMore()"
                    (onActionClick)="onAuditLogDetails($event)">
        </data-table>
    </div>
</page-container>
