@import "../../../../styles/variables";

.edit-vehicle-type {
    .inactivate {
        select {
            pointer-events: none;
            color: @disabled; 
        }
        .wrapper-dropdown {
            pointer-events: none;
            color: @disabled; 
        }
    }
}