<page-container class="edit-vehicle-type"
                title="{{ 'admin.categories.vehicles.types' | translate }}: {{ action | translate }}"
                [backButton]="true"
                (notifyOnBack)="back()"
                [loading]="loading">

    <form pageContent #editForm="ngForm" (ngSubmit)="onSubmit(editForm)" class="edit-form"> 
        <div class="admin-edit-label">{{ getLabelEntity() }}</div>

        <fieldset>
            <legend>{{ 'form.field.basic_data' | translate }}</legend>
            <div class="form-row">
                <label class="tag width20" for="name">{{ 'vehicle_types.name' | translate }}</label>
                <div class="field width-remain">
                    <input type="text" 
                        id="name" 
                        name="name"
                        required 
                        [(ngModel)]="vehicleType.name" 
                        #name="ngModel"/>
                </div>
                <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                    {{ 'form.errors.required' | translate | myStringFormat: ['vehicle_types.name' | translate] }}
                </div>
            </div>
            <div class="form-row">
                <label class="tag width20" for="model">{{ 'vehicle_types.model' | translate }}</label>
                <div class="field width-remain">
                    <input type="text" 
                        id="model" 
                        name="model"
                        [(ngModel)]="vehicleType.model" 
                        #model="ngModel"/>
                </div>
            </div>
            <div class="form-row">
                <label class="tag width20" for="type">{{ 'vehicle_types.type' | translate }}</label>
                <div class="field width-remain">
                    <input type="text" 
                        id="type" 
                        name="type"
                        [(ngModel)]="vehicleType.type" 
                        #type="ngModel"/>
                </div>
                <div [hidden]="type.valid || type.pristine" class="alert alert-danger">
                    {{ 'form.errors.required' | translate | myStringFormat: ['vehicle_types.type' | translate] }}
                </div>
            </div>
            <div class="form-row">
                <label class="tag width20" for="year">{{ 'vehicle_types.year' | translate }}</label>
                <div class="field width-remain">
                    <input type="text" 
                        id="year" 
                        name="year"
                        validateNumber
                        [(ngModel)]="vehicleType.year" 
                        #year="ngModel"/>
                </div>
            </div>
            <div [hidden]="year.valid || year.pristine" class="alert alert-danger">
                {{ year.errors | myFormValidationMessage: { field: 'vehicle_types.year' } }}
            </div>
        </fieldset>

        <fieldset [ngClass]="vehicleType.id > 0 ? 'inactivate' : '' ">
            <legend>{{ 'vehicle_types.energy_specific_data' | translate }}</legend>
            <!-- PRIMARY ENERGY TYPE -->
            <div class="form-row">
                <label class="tag width20" for="primary-energy-type">{{ 'vehicle_types.primary_energy_type' | translate }}</label>
                <div class="field width-remain">
                    <energy-types-list  *ngIf="!loading"
                                    [style.width.%]="100"
                                    [(modelData)]="vehicleType.primaryEnergyTypeID"
                                    [showAllOption]="false"
                                    [showNoneOption]="showNoneOptionForPrimaryEnergyType()">
                    </energy-types-list>
                </div>
            </div>

            <!-- SECONDARY ENERGY TYPE -->
            <div class="form-row">
                <label class="tag width20" for="secondary-energy-type">{{ 'vehicle_types.secondary_energy_type' | translate }}</label>
                <div class="field width-remain">
                    <energy-types-list [style.width.%]="100"
                                    [(modelData)]="vehicleType.secondaryEnergyTypeID"
                                    [showAllOption]="false"
                                    [showNoneOption]="true">
                    </energy-types-list>
                </div>
            </div>
            <!-- EV TYPE -->
            <div class="form-row">
                <label class="tag width20" for="granularity">{{ 'vehicle_types.ev_type' | translate }}</label>
                <div class="field width-remain">
                    <div class="toggle-buttons">
                        <div class="equal-widths">
                            <input type="radio" id="none" name="evtype"   
                                [(ngModel)]="vehicleType.evType"
                                [value]="evTypes.None"
                                #evType="ngModel"
                                [disabled]="vehicleType.id > 0">
                            <label for="none">{{ 'vehicle_types.ev_type.none' | translate }}</label>
                        </div>
                        <div class="equal-widths">
                            <input type="radio" id="hev" name="evtype"
                                [(ngModel)]="vehicleType.evType"
                                [value]="evTypes.HybridEV"
                                #evType="ngModel"
                                [disabled]="vehicleType.id > 0">
                            <label for="hev">{{ 'vehicle_types.ev_type.hybridEV' | translate }}</label>
                        </div>
                        <div class="equal-widths">	
                            <input type="radio" id="phev" name="evtype"
                                    [(ngModel)]="vehicleType.evType"
                                    [value]="evTypes.PluggableHybridEV"
                                    #evType="ngModel"
                                    [disabled]="vehicleType.id > 0">
                            <label for="phev"> {{ 'vehicle_types.ev_type.pluggableHybridEV' | translate }}</label>
                        </div>
                        <div class="equal-widths">	
                            <input type="radio" id="bev" name="evtype"
                                    [(ngModel)]="vehicleType.evType"
                                    [value]="evTypes.BatteryEV"
                                    #evType="ngModel"
                                    [disabled]="vehicleType.id > 0">
                            <label for="bev"> {{ 'vehicle_types.ev_type.batteryEV' | translate }}</label>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    
    </form>

    <footer fixedFooter>
        <button aria-label="submit" type="submit" (click)="onSubmit(editForm)" [disabled]="editForm.invalid" class="btn secondary-btn">
            {{ 'form.actions.save' | translate }}          
        </button>
        <button aria-label="back" (click)="back()" type="reset" class="btn alternative-btn">
            {{ 'form.actions.cancel' | translate }}
        </button>
    </footer>
</page-container>
