@import "../../../styles/variables";

.summary-widget {
    height: 100%;
    .header-summary-widget {
        border-bottom: 0px !important;
        .title {
            text-align: center !important;
        }
    }

    .loader {
        height: 135px;
    }
    .widget-content {
        .primary-value {
            display: flex;
            flex-flow: column;
            justify-content: center;
            text-align: center;
            height: 100%;
            &.with-target {
                height: calc(100% - 50px);
            }
          
            h1 {
                font-size: 2em;
            }
            span.metric {
                color: @sublabel;
                font-size: 1.275em;
                font-weight: bold;
            }
        }

        .targets {
            width: 100%;
            height: 50px;
            display: flex;
            margin-top: 1em;

            .button-option {
                width: 15%;
                text-align:right;
            }
            .part {
                font-size: 1.2em;
                color: @paragraph;
            }
            .left-part {
                width: 33%;
                text-align: left;
                margin-left: 10px;
            }
            .middle-part {
                width: 33%;
                text-align: center;
            }
            .right-part {
                width: 33%;
                text-align: right;
                margin-right: 10px;
            }
        }
    }

    .score {
        padding: 2em;
        .score_value {
            font-size: 2em;
        }
        .score_letter {
            margin-right: 10px;
            width: 55px;
            height: 55px;
            line-height: 55px;
            font-size: 2.5em;
        }
        span {
            display: inline-block;
        }
    }
}
@media screen and (max-width: @break-point) {
    .summary-widget {
        .targets {
            .second-value {
                font-size: 1em;
            }
            .target-value {
                font-size: 1em;
            }
        }
    }
}


