<div class="widgets summary-widget">
    <div class="card add-shadows" [ngClass]="'widget-row-1'">
        <div class="header header-summary-widget" [ngClass]="headerStyle" [matTooltip]="headerTooltip" matTooltipPosition="above" >
            <div class="title">{{ widget.title }}</div>
            <div class="header-buttons">
                <button aria-label="edit" class="icon-button" (click)="edit(widget.id)" *ngIf="!editing && widget.allowUserToRemove == true">
                    <mat-icon class="primary-color">mode_edit</mat-icon>
                </button>
                <button aria-label="delete forever" class="icon-button" (click)="openDialog(widget)" *ngIf="!editing && widget.allowUserToRemove == true">
                    <mat-icon class="primary-color">delete_forever</mat-icon>
                </button>
                <maximize-button *ngIf="!editing" [referenceID]="elementRef.nativeElement.id" ></maximize-button>
            </div>
        </div>

        <div class="loader" *ngIf="loading">
            <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
        </div>
        <div class="widget-content" *ngIf="!loading">
            <h3 *ngIf="message" style="width:100%" class="msg" align="center">{{ message | translate }}</h3>
            <ng-template [ngIf]="!message && (scoreResult || result)">
                <div [ngClass]="{ 'with-target' : widget.targetValue }" class="primary-value" [ngSwitch]="widget.type">
                    <ng-container *ngSwitchCase="summaryTypes.Score">
                        <div class="score" [innerHtml]="scoreResult | myScoreFormat: scoreFormatter.all">  </div>
                    </ng-container>
                    <ng-container *ngSwitchCase="summaryTypes.ScoreDriven">
                            <h1> 
                            {{ result.secondaryValue | myNumberFormat: { 
                                    decimalSeparator: userOptions.localOptions.decimal_separator,
                                    thousandsSeparator: userOptions.localOptions.thousands_separator, 
                                    decimals: 2
                                }
                            }}
                        </h1>
                        <span class="metric">%</span>
                    </ng-container>
                    <ng-container *ngSwitchCase="summaryTypes.TotalDuration">
                        <h1> {{ result.primaryValue | myTimeFormat: { format: 'HH:mm', includeDays: true }  }} </h1>
                        <span> </span>
                    </ng-container>
                    <ng-container *ngSwitchDefault>
                        <div class="primary-value" [ngSwitch]="widget.valueType">
                            <div *ngSwitchCase="summaryWidgetValueTypes.Volume">
                                <h1> 
                                    {{ result.primaryValue | myNumberFormat: { 
                                            decimalSeparator: userOptions.localOptions.decimal_separator,
                                            thousandsSeparator: userOptions.localOptions.thousands_separator, 
                                            decimals: 2
                                        }
                                    }}
                                </h1>
                                <span class="metric">{{ metricLabel }}</span>
                            </div>
                            <div *ngSwitchCase="summaryWidgetValueTypes.Percentage">
                                <h1> 
                                    {{ result.secondaryValue | myNumberFormat: { 
                                            decimalSeparator: userOptions.localOptions.decimal_separator,
                                            thousandsSeparator: userOptions.localOptions.thousands_separator, 
                                            decimals: 2
                                        }
                                    }}
                                </h1>
                                <span class="metric">%</span>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </ng-template>

            <div class="targets" *ngIf="widget.targetValue">
                <div class="part left-part">
                    
                </div>
                <div class="part middle-part">
                    <div class="widget-icons">                                
                        <mat-icon class="custom-svg-icon" svgIcon="percentage_icon"></mat-icon>        
                        <span>{{ deviationPercValue |  myNumberFormat: { 
                                    decimalSeparator: userOptions.localOptions.decimal_separator,
                                    thousandsSeparator: userOptions.localOptions.thousands_separator, 
                                    decimals: 2
                                }
                        }}
                        </span>
                    </div>
                </div>
                <div class="part right-part">
                    <div *ngIf="widget.targetValue != null" class="widget-icons">     
                        <mat-icon class="custom-svg-icon" svgIcon="target_icon"></mat-icon>             
                        <span>{{ widget.targetValue  |  myNumberFormat: { 
                                                    decimalSeparator: userOptions.localOptions.decimal_separator,
                                                    thousandsSeparator: userOptions.localOptions.thousands_separator, 
                                                    decimals: 2
                                                }
                        }}
                        </span>
                    </div>
                </div>
            </div>  
        </div>

        <div class="widget-footer-buttons" *ngIf="!loading">
            <button aria-label="edit" class="icon-button" (click)="edit(widget.id)" *ngIf="!editing && widget.allowUserToRemove == true">
                <mat-icon class="primary-color">mode_edit</mat-icon>
            </button>
            <button aria-label="delete forever" class="icon-button" (click)="openDialog(widget)" *ngIf="!editing && widget.allowUserToRemove == true">
                <mat-icon class="primary-color">delete_forever</mat-icon>
            </button>
            <maximize-button *ngIf="!editing" [referenceID]="elementRef.nativeElement.id"></maximize-button>

        </div>
    </div>
</div>