<div class="quick-filters-bar">
    <div class="item left-item" [ngClass]="showGroups ? '' : 'no-assets'">
         <div class="search-buttons">
           
            <!-- loading -->
            <div *ngIf="loading">
                <label>{{ 'quick_filters.title' | translate }}:</label>
                <label>{{ 'data.loading' | translate }}</label>
            </div>
                     
            <!-- data -->
            <div *ngIf="!loading">
                   <!-- no data -->
                <div *ngIf="qfData == null || qfData.length == 0">
                    <label class="tag">{{ 'quick_filters.title' | translate }}: N/A</label>
                    <button aria-label="add" class="ud-button" mat-icon-button (click)="onCreateQuickFilters()"> 
                        <mat-icon>add</mat-icon>
                    </button>  
                </div>
                <div *ngIf="qfData && qfData.length > 0"> 
                    <div class="form-row">
                        <label class="tag">{{ 'quick_filters.title' | translate }}:</label>
                        <div class="desktop field">
                           
                            <div *ngFor="let item of qfData">
                                <button aria-label="select" *ngIf="item.id != null" data-id="{{item.id}}" (click)="onSelectQuickFilter(item)"
                                        class="btn" [ngClass]="request.id && item.id == request.id ? 'secondary-btn' : 'alternative-btn'">
                                    {{ item.name }}
                                </button>
                            </div>
                            <div>
                                <button aria-label="edit" class="ud-button" mat-icon-button (click)="onEditQuickFilters()">
                                    <mat-icon>edit</mat-icon>
                                </button>
                            </div>
                        </div>
                        <div class="mobile field">
                            <custom-selector dataID="quick-filters-ddl"
                                            [options]="qfData"
                                            [(modelData)]="request.id"
                                            (modelDataChange)="onSelectQuickFilterDDL($event)">
                            </custom-selector>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="item right-item" [ngClass]="showGroups ? '' : 'no-assets'">
        <div class="entity-options" *ngIf="showGroups">
            <div class="form-row">
                <label class="tag">{{ 'assets.title' | translate }}: </label>
                <div class="field">
                    <div class="assets-ddl">
                        <entity-types   [htmlID]="'entity-type'" 
                                        [enabled]="entityTypesData" 
                                        (notifyOnChange)="onChangeEntityType($event)" 
                                        [selected]="entityOption">
                        </entity-types>
                    </div>
                    <div class="assets-ddl" [ngClass]="entityOption == entityTypes.Drivers ? '' : 'hide'">
                        <asset-groups   [fetchData]="true" 
                                        [htmlID]="'driverGroupsMenu'" 
                                        [type]="groupTypes.Driver" 
                                        [selected]="request.groupID"
                                        (notifyOnChange)="onChangeGroup($event)">
                        </asset-groups>
                    </div>

                    <div class="assets-ddl" [ngClass]="entityOption == entityTypes.VehicleTypes ? '' : 'hide'" >
                        <vehicle-types-list *ngIf="entityOption == entityTypes.VehicleTypes"
                                            [showAllOption]="true"
                                            [showNoneOption]="false"
                                            [authorizedOnly]="true"
                                            (onLoad)="onLoadVehicleTypes($event)"
                                            [modelData]="request.vehicleTypeID"
                                            (modelDataChange)="onChangeVehicleType($event)">
                        </vehicle-types-list>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-options">
            <quick-filter-columns [modalView]="true"
                                    [entityID]="entityID"
                                    [showSaveOption]="showSaveOption"
                                    [propertyIDs]="request.propertyIDs" 
                                    [scoreIDs]="request.scoreIDs"
                                    (onColumnChange)="onColumnChange($event)"
                                    [sorting]="sorting">
            </quick-filter-columns>
        </div>
    </div>

</div>
