@import "../../../styles/variables";

.quick-filters-bar {
    display: flex;
    flex-flow: row wrap;
    .item {
        margin-bottom: 10px;

        &.left-item {
            width: 55%;
        }

        &.left-item.no-assets {
            width: 80%;
        }
        
        &.right-item {
            display: flex;
            justify-content: flex-end;
            width: 45%;

            .entity-options {
                width: 90%;
                .assets-ddl {
                    max-width: 250px;
                    width: 50%;
                }
            }
        }
        &.right-item.no-assets {
            width: 20%;
        }

        .form-row {
            display: flex;
            align-items: center;
            width: 100%;

            .tag {
                margin-right: 5px;
            }

            .field {
                flex-grow: 1;
                display: flex;
                flex-flow: row wrap;

                &.mobile {
                    display: none;
                }

                .wrapper-dropdown {
                    margin-right: 3px;
                }
                
                .btn {
                    margin-right: 3px;
                    max-width: 200px;
                    text-overflow: ellipsis;
                    /* Required for text-overflow to do anything */
                    white-space: nowrap;
                    overflow: hidden;
                }

                .hide {
                    display: none;
                }
            }
        }
    }
}

@media screen and (max-width: @break-point) {
    .quick-filters-bar {
        .item {
            .tag {
                font-size: .9em;
            }
            &.left-item, &.right-item {
                width: 100%;
                justify-content: flex-start;
            }

            .form-row {
                .field {
                    &.desktop {
                        display: none;
                    }
                    &.mobile {
                        display: block;
                    }
                }
            }

            &.right-item .entity-options {
                .assets-ddl {
                    width: 100%;
                }
            }
        }
    }
}
