﻿<div [ngClass]="{ 'hidden' : hide }">
    <ul [ngClass]="{ 'breadcrumb' : !hide }">
        <li *ngFor="let breadcrumb of breadcrumbs$ | async; let isLastItem = last" class="breadcrumb-item" >
            <a class="primary-link" [routerLink]="[breadcrumb.url]" [skipLocationChange]="skipLocChange" [ngClass]="{ 'last' : isLastItem }">
                {{ breadcrumb.label | translate }}
            </a>
        </li>
    </ul>
</div>