@import "../../styles/variables";

.breadcrumb {
    padding: 0.1em 1em;
    background-color: #fafafa;
    position: absolute;
    z-index: 10;
    width: 98.5%;
    display: block;
    top: 56px;

    li {
        display: inline;

        + li {
            &:before {
                color: #1C5074;
                color: var(--primary-color);
                content: " > ";
                padding: 0 0.25em;
                font-size: 0.75em;
            }
        }

        a {
            margin-left: 0;
            font-size: 0.75em;
            font-weight: normal;
            line-height: normal;
            &.last {
                color: @paragraph;
                cursor: default;
                text-decoration: none;
            }
        }
    }
}
@media screen and (max-width: @break-point) {
    .breadcrumb {
        top: 6px;
        width: 97%;
    }
}
