@import "../../styles/variables";

.admin-homepage {
    .content {
        > div {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;                      
            .section {
                width: 33%;

                h3 {
                    font-size: 1.4em;
                    line-height: 1em;
                    margin: 1em 0 .6em 0;
                }
                ul {
                    li {
                        min-width: 220px;
                        margin-bottom: 5px;
                        a {
                            font-weight: normal;
                            font-size: 12pt;
                            color:rgba(41, 50, 48, 0.9);
                        
                        }
                    }            
                }
            
            }
        }
    }    
}
@media screen and (max-width: @break-point) {
    .admin-homepage {
        .content {
            > div {
                .section {
                    width: 100%;
                }
            }
        }
    }
}