﻿<page-container [title]="'admin.title'" class="admin-homepage">
    <div pageContent>
        <ng-template ngFor let-item [ngForOf]="adminOptions">
            <ng-template [ngIf]="item.visible == true">
                <div class="section">
                    <h3 class="primary-color">{{ item.categoryTitle | translate }}</h3>
                    <ul *ngFor="let catOption of item.categoryOptions;">
                        <li  *ngIf="catOption.accessible">
                            <a class="primary-link" [routerLink]="catOption.params" [skipLocationChange]="skipLocChange">{{ catOption.option | translate }}</a>
                        </li>
                    </ul>
                </div>
            </ng-template>
        </ng-template>
    </div>
</page-container>