<div class="fiscal-trips-driver-summary">
    <div *ngIf="loading" class="loader" >
        <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
    </div>

    <div class="summary" *ngIf="data && !message && !loading; else Error">
        <p>
            <span class="title">{{ 'fiscal_trips.nl.summary.total_business_mileage' | translate }}: </span>
            <span class="val" *ngIf="data.totalBusiness !== null && data.totalBusiness !== undefined; else NotAvailable"> 
                {{ data.totalBusiness |  myNumberFormat: { 
                        decimalSeparator: userOptions.localOptions.decimal_separator,
                        thousandsSeparator: userOptions.localOptions.thousands_separator, 
                        decimals: 2
                    }
                }} km
            </span>
        </p>
        <p>
            <span class="title">{{ 'fiscal_trips.nl.summary.total_private_mileage' | translate }}: </span>
            <span class="val" *ngIf="data.totalPrivate !== null && data.totalPrivate !== undefined; else NotAvailable"> 
                {{ data.totalPrivate |  myNumberFormat: { 
                    decimalSeparator: userOptions.localOptions.decimal_separator,
                    thousandsSeparator: userOptions.localOptions.thousands_separator, 
                    decimals: 2
                    }
                }} km
            </span>
        </p>
        <p>
            <span class="title">{{ 'fiscal_trips.nl.summary.oldest_non_validated' | translate }}: </span>
            <span class="val oldest-not-validated" *ngIf="data.oldestNonValidatedTrip; else NotAvailable">
                <a class="primary-link" href="javascript:void(0)" (click)="oldestNonValidatedTripClick()">
                    {{ data.oldestNonValidatedTrip | myDateFormat: { display: dateDisplayOptions.both, dateFormat: userOptions.localOptions.short_date } }}
                </a>      
            </span>    
        </p>
    </div>

    <ng-template #Error>
        <p class="error"> {{ message | translate }}</p>
    </ng-template>

    <ng-template #NotAvailable>
        <span class="val">
            N/A
        </span>
    </ng-template>
</div>