.fiscal-trips-driver-summary {
    display: table;
    width: 100%;
    height: 100%;

    .loader {
        height: 40px !important;
        display: table-cell;
        vertical-align: middle;
    }

    .summary {
        display: table-cell;
        vertical-align: middle;
        p {
            margin-bottom: 10px;
            &:last-child {
                margin-bottom: 0px;
            }
            span, a {
                vertical-align: middle;
            }
        
            .val {
                font-weight: bold;
                a {
                    font-weight: bold;
                    margin-left: 0;
                    line-height: normal;
                }
            }
            .right-icon {
                transform: rotate(-90deg);
                margin-left: -.5em;
                vertical-align: middle;
            }
        }
    }
}