﻿.edit-subscription {
    .ddl-assets {
        min-width: 250px;
        width: 100%;
    }
    .chip-item {
        margin-bottom: 5px !important;
    }
    .email-wrapper {
        input {
            margin-bottom: 0px;
        }
        .add-email {
            min-width: 50px;
        }
    }
    .toggle-buttons {
        > div {
            min-width: 50px;
            flex: 1;
        }
        margin-bottom: 1em;

        &.week-days {
            margin: 20px;
        }
    }
    .recipients-disclaimer {
        margin-top: 2em;
    }
    .next-occurences {
        width: 100%;
        border: 1px solid rgba(0,0,0,.125);
        border-radius: .25rem;
        max-height: 200px;
        max-width: 260px;
        overflow-y: auto;
        li {
            color: #696969;
            padding: 5px;
            font-size: 10pt;
            &:nth-child(2n+1) {
                background: none repeat scroll 0 0 #f2f2f2;
            }
            .index {
                padding-right: 7px;
                color: #b3b2b2;
                border-right: 1px solid rgba(0, 0, 0, 0.125);
            }
        }
    }
}
