<page-container class="edit-user-settings"
                title="{{ 'admin.categories.users.manage' | translate }}: {{ action | translate }}"
                [backButton]="true"
                (notifyOnBack)="back()"
                [loading]="loading">

    <form pageContent #editForm="ngForm" (ngSubmit)="onSubmit(editForm)" class="edit-form">
        <div class="admin-edit-label">{{ getLabelEntity() }}</div>

        <fieldset>
            <legend>{{ 'form.field.basic_data' | translate }}</legend>
            <div class="form-row">
                <label class="tag width20" for="firstname">{{ 'users.firstname' | translate }}</label>
                <div class="field width-remain">
                    <input type="text" id="firstname" name="firstname"
                            required
                            [(ngModel)]="user.firstname"
                            #firstname="ngModel"/>
                </div>
                <div [hidden]="firstname.valid || firstname.pristine" class="alert alert-danger">
                    {{ firstname.errors | myFormValidationMessage: { field: 'users.firstname' } }}
                </div>
            </div>
            <div class="form-row">
                <label class="tag width20" for="lastname">{{ 'users.lastname' | translate }}</label>
                <div class="field width-remain">
                    <input type="text" id="lastname" name="lastname"
                            required
                            [(ngModel)]="user.lastname"
                            #lastname="ngModel"/>
                </div>
                <div [hidden]="lastname.valid || lastname.pristine" class="alert alert-danger">
                    {{ lastname.errors | myFormValidationMessage: { field: 'users.lastname' } }}
                </div>
            </div>
            <div class="form-row">
                <label class="tag width20" for="email">{{ 'users.email' | translate }}</label>
                <div class="field width-remain">
                    <input type="text" id="email" name="email"
                            required
                            validateEmail
                            [(ngModel)]="user.email"
                            #email="ngModel"/>
                </div>
                <div [hidden]="email.valid || email.pristine" class="alert alert-danger">
                    {{ email.errors | myFormValidationMessage: { field: 'users.email' } }}
                </div>
            </div>
            <div class="form-row">
                <label class="tag width20" for="phone">
                    {{ 'users.phone_number' | translate }}
                    <span class="optional">{{ 'form.field.optional' | translate }}</span>
                </label>
                <div class="field width-remain">
                    <input type="text" id="phone"  name="phone"
                            validatePhoneNumber
                            [(ngModel)]="user.phone"
                            #phone="ngModel"/>
                </div>
                <div [hidden]="phone.valid || phone.pristine" class="alert alert-danger">
                    {{ phone.errors | myFormValidationMessage: { field: 'users.phone_number' } }}
                </div>
            </div>
            <div class="form-row">
                <label class="tag width20" for="username">{{ 'users.username' | translate }}</label>
                <div class="field width-remain">
                    <input type="text" id="username" name="username"
                            required
                            [(ngModel)]="user.username"
                            #username="ngModel"/>
                </div>
                <div [hidden]="username.valid || username.pristine" class="alert alert-danger">
                    {{ username.errors | myFormValidationMessage: { field: 'users.username' } }}
                </div>
            </div>
            <!-- ELEMENTS ONLY FOR USER CREATE -->
            <ng-template [ngIf]="!user.id">
                <div class="form-row">
                    <label class="tag width20" for="user_role">{{ 'users.role' | translate }}</label>
                    <div class="field width-remain">
                        <user-roles-list class="ddl" [(modelData)]="user.roleID"></user-roles-list>
                    </div>
                </div>
                <div class="form-row">
                    <label class="tag width20" for="password">{{ 'users.password' | translate }}</label>
                    <div class="field width-remain" style="flex-flow: column; align-items: normal;">
                        <input type="password"
                                id="password"
                                name="password"
                                [(ngModel)]="user.password"
                                #password="ngModel"/>
                        <password-rules style="margin-top: 15px;"
                                [password]="user.password"
                                [type]="passwordRulesOptions.issuer"
                                (onValidation)="onPasswordValidation($event)">
                        </password-rules>
                    </div>

                </div>


                <div class="form-row">
                    <label class="tag width20" for="confirmPassword">{{ 'users.confirm_password' | translate }}</label>
                    <div class="field width-remain">
                        <input type="password"
                                id="confirmPassword"
                                name="confirmPassword"
                                validateEqual="password"
                                [(ngModel)]="user.confirmPassword"
                                #confirmPassword="ngModel"/>
                    </div>
                    <div [hidden]="confirmPassword.valid || confirmPassword.pristine" class="alert alert-danger">
                        {{ confirmPassword.errors | myFormValidationMessage: { field: 'users.confirm_password', compareField: 'users.password' } }}
                    </div>
                </div>
            </ng-template>
            <!-- END OF ELEMENTS ONLY FOR USER CREATE -->
        </fieldset>
        <fieldset>
            <legend>Profile</legend>
            <div class="form-row">
                <label class="tag width20" for="vehicle_label">{{ 'labels.vehicle' | translate }}</label>
                <div class="field width-remain">
                    <custom-selector class="ddl"
                                    [options]="vehicleLabels"
                                    [(modelData)]="user.vehicleLabel"
                                    [dataID]="'vehicle_label'">
                    </custom-selector>
                </div>
            </div>
            <div class="form-row">
                <label class="tag width20" for="driver_label">{{ 'labels.driver' | translate }}</label>
                <div class="field width-remain">
                    <custom-selector class="ddl"
                                    [options]="driverLabels"
                                    [(modelData)]="user.driverLabel"
                                    [dataID]="'driver_label'">
                    </custom-selector>
                </div>
            </div>
            <div class="form-row">
                <label class="tag width20" for="culture">{{ 'users.language' | translate }}</label>
                <div class="field width-remain">
                    <cultures-list class="ddl" [(modelData)]="user.culture"></cultures-list>
                </div>
            </div>
            <div class="form-row">
                <label class="tag width20" for="timeZoneIndex">{{ 'users.timezone' | translate }}</label>
                <div class="field width-remain">
                    <timezones-list class="ddl" [(modelData)]="user.timeZoneIndex"></timezones-list>
                </div>
            </div>
            <div class="form-row">
                <label class="tag width20" for="measurement_system">{{ 'measurement.system' | translate }}</label>
                <div class="field width-remain">
                    <custom-selector class="ddl"
                                    [options]="measurementSystems"
                                    [(modelData)]="user.measurementSystem"
                                    [dataID]="'measurement_system'">
                    </custom-selector>
                </div>
            </div>
        </fieldset>
    </form>
    <footer fixedFooter>
        <button aria-label="submit" type="submit" (click)="onSubmit(editForm)" [disabled]="editForm.invalid || (!user.id && !isPasswordValid) || loading " class="btn secondary-btn">
            {{ 'form.actions.save' | translate }}
        </button>
        <button aria-label="back" (click)="back()" type="reset" class="btn alternative-btn">
            {{ 'form.actions.cancel' | translate }}
        </button>
    </footer>
</page-container>
