
<form  #editForm="ngForm" (ngSubmit)="onSubmit(editForm)" class="edit-form"> 
    <fieldset>
        <legend>{{ 'drivers.category.user.role' | translate }}</legend>
        <p> 
            {{ (hasAccount ? 'drivers.account.update.set_role.description' : 'drivers.account.creation.set_default_role.description') | translate }}
        </p>
        <br/>
        <div class="form-row">
            <div class="field width-remain">
                <custom-selector class="ddl"
                                [loading]="loadingDriverRoles"
                                [options]="driverRoles"
                                [(modelData)]="driver.roleID"
                                [dataID]="'driver-roles-list'">
                </custom-selector>
            </div>
        </div>
        <div class="form-row" style="margin-top:15px;">
            <div class="field width-remain">
                <button aria-label="submit" type="submit" [disabled]="!editForm.form.valid || !driver.roleID || loading " class="btn secondary-btn">
                    {{ (hasAccount ? 'drivers.account.update.set_role.btn' : 'drivers.account.creation.set_default_role.btn') | translate }}
                </button>
            </div>
        </div>

        <div *ngIf="loading">
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </div>
    </fieldset>
</form>
