.events-grid {
    background: #fff;
    height: inherit;
}

.maximized {
    .events-grid {
        .wrap-overlay { 
            padding: 0px;
        }
        .table-head {
            margin: 0px;
        }
    }
}
