<div class="asset-group-dimensions">
    <custom-selector class="dimensions-ddl" 
                    [options]="data"
                    [(modelData)]="modelData"
                    [dataID]="htmlID"
                    [loading]="loading"
                    (modelDataChange)="onChangeDimension($event)">
    </custom-selector>

    <ng-template [ngIf]="editing == true">
        <div class="add-wrapper">
            <button aria-label="add" *ngIf="!showAddInput" class="btn primary-btn" (click)="onAddDimension()">
                <mat-icon>add_circle_outline</mat-icon>
            </button>

            <form #addDimensionTagForm="ngForm" (ngSubmit)="onSaveDimension(newTagInput.value)"  *ngIf="showAddInput">
                <input  type="text" 
                        name="new-tag" 
                        [(ngModel)]="tag" 
                        #newTagInput="ngModel"
                        required>
                <button aria-label="submit" class="btn primary-btn" type="submit" [disabled]="addDimensionTagForm.invalid">
                    <mat-icon>save</mat-icon>
                </button>
                <button aria-label="delete" class="btn delete-btn" type="reset" (click)="addDimensionTagForm.reset(); onCancelDimension()">
                    <mat-icon>cancel</mat-icon>
                </button>
            </form>
        </div>
        <button aria-label="delete forever" *ngIf="!showAddInput && modelData > 0" class="btn delete-btn" type="button" (click)="onDeleteDimension()">
            <mat-icon>delete_forever</mat-icon>
        </button>
   </ng-template>
</div>
