.asset-group-dimensions {
    display: flex;
    width:100%;
    flex-flow: row wrap;
    .dimensions-ddl {
        width: 250px;
    }
    .add-wrapper {
        flex: 0 1 auto;
        display: flex;
    }
    button {
        min-width: 50px;
        height: 40px;
    }
}