<div *ngIf="loading">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>

<form #editForm="ngForm" (ngSubmit)="onSubmit(editForm)" class="edit-form"> 
    <div class="form-row" *ngIf="roleID > 0">
        <label class="tag width20" for="allowUserToRemove">{{ 'dashboard.edit_widget.allow_edit_remove' | translate }}</label>
        <div class="field width-remain toggle-buttons">
            <input type="checkbox"
                    id="allowUserToRemove" 
                    name="allowUserToRemove"
                    [(ngModel)]="widget.allowUserToRemove" 
                    #allowUserToRemove="ngModel"/>
            <label for="allowUserToRemove">
                {{ (widget.allowUserToRemove == true ?  'form.actions.enabled' : 'form.actions.disabled') | translate }}
            </label>
        </div>
    </div>
    <div class="form-row">
        <label class="tag width20" for="title">{{ 'dashboard.edit_widget.widget_title' | translate }}</label>
        <div class="field width-remain">
            <input type="text" id="title" name="title"
                    required
                    [(ngModel)]="widget.title" 
                    #title="ngModel"/>
        </div>
        <div [hidden]="title.valid || title.pristine" class="alert alert-danger">
            {{ title.errors | myFormValidationMessage: { field: 'dashboard.edit_widget.widget_title' } }}
        </div>   
    </div>
    <div class="form-row">
        <label class="tag width20" for="type">{{ 'dashboard.edit_widget.data_type' | translate }}</label>
        <div class="field width-remain">
            <custom-selector [style.width.%]="100"
                            dataID="summary-widget"
                            [options]="summaryOptions"
                            [(modelData)]="widget.type"
                            (modelDataChange)="onChangeType()">
            </custom-selector>
        </div>
    </div>

    <div class="form-row">
        <label class="tag width20" for="period">{{ 'period_selector.title' | translate }}</label>
        <div class="field width-remain">
            <period-selector [style.width.%] = "100"
                                [htmlID]="'period'"
                                [options]="periodSelectorOptions"
                                [(modelData)]="widget.periodType"
                                (modelDataChange)="onChangePeriod($event)">
            </period-selector>
        </div>
    </div>
    <div class="form-row asset-options" >
        <label class="tag width20">{{ 'assets.title' | translate }}</label>
        <div class="field width-remain">
            <dashboard-asset-selection [style.width.%] = "100" 
                                    [showNoneOption]="false"
                                    [options]="assetTypeOptions"
                                    [modelData]="assetSelected"
                                    (modelDataChange)="onSummaryAssetSelection($event)">
            </dashboard-asset-selection>
        </div>
    </div>

    <!-- WIDGET SPECIFIC OPTIONS -->
    <fieldset class="options" *ngIf="showOptions()">
        <legend>{{ 'dashboard.edit_widget.options' | translate }}</legend>
        <!-- SCORES -->
        <div class="form-row width-remain" *ngIf="showScoresInput()">
            <label class="tag width20" for="driver-score">{{ 'dashboard.edit_widget.score_type' | translate }}</label>
            <div class="field width-remain">
                <scores-list [style.width.%]="100"
                            [(modelData)]="widget.scoreID"
                            (modelDataChange) = "previewWidget()"
                            [energyScoreEnabled]="true">
                </scores-list>
            </div>
        </div>

        <!-- ENERGY TYPE -->
        <div class="form-row" *ngIf="showEnergyTypeInput()">
            <label class="tag width20" for="energy-type">{{ 'dashboard.edit_widget.energy_type' | translate }}</label>
            <div class="field width-remain">
                <energy-types-list [style.width.%]="100"
                                [(modelData)]="widget.energyTypeID"
                                (modelDataChange) = "previewWidget()"
                                [showAllOption]="true">
                </energy-types-list>
            </div>
        </div>


        <!-- DISTRIBUTION TYPES -->
        <div class="form-row" *ngIf="showDistributionOptionsInput()">
            <label class="tag width20" for="distribution-types">{{ 'distribution_types.title' | translate }}</label>
            <div class="field width-remain">
                <distribution-types [style.width.%]="100"
                                    (notifyOnChange)="onChangeDistributionType($event)" 
                                    [selected]="widget.distributeBy">
                </distribution-types>
            </div>
        </div>


        <!-- SUMMARY TYPE OF VALUE -->
        <div class="form-row" *ngIf="showValueTypeSelect()">
            <label class="tag width20" for="valueType">{{ 'dashboard.summary_widget.value_type' | translate }}</label>
            <div class="field width-remain">
                <custom-selector [style.width.%]="100"
                                [options]="valueTypes"
                                [(modelData)]="widget.valueType"
                                dataID="value-type"
                                (modelDataChange)="previewWidget()">
                </custom-selector>
            </div>
        </div>
            
        <!-- SUMMARY THRESHOLD -->
        <div class="form-row" *ngIf="showScoreThresholdInput()">
            <label class="tag width20" for="scoreThreshold">{{ 'dashboard.summary_widget.score-threshold' | translate }}</label>
            <div class="field width-remain">
                <input  type="number" 
                        name="scoreThreshold" 
                        id="scoreThreshold" 
                        min="0" 
                        max="100"
                        required
                        validateRange
                        [(ngModel)]="widget.scoreThreshold" 
                        #scoreThreshold="ngModel"
                    />
            </div>
            <div [hidden]="scoreThreshold.valid || scoreThreshold.pristine" class="alert alert-danger">
                {{ scoreThreshold.errors | myFormValidationMessage: { field: 'dashboard.summary_widget.score-threshold', min: 0, max:100 } }}
            </div>   
        </div>
        <!-- SUMMARY TARGET -->
        <div class="form-row width-remain" *ngIf="showTargetInput()">
            <label class="tag width20" for="targetValue">{{ 'dashboard.summary_widget.target' | translate }}</label>
            <div class="field width-remain">
                <input  name="targetValue" 
                        id="targetValue" 
                        [(ngModel)]="widget.targetValue" 
                        validateRange
                        min="1"
                        max="100"
                        #targetValue="ngModel"/>
            </div>
            <div [hidden]="targetValue.valid || targetValue.pristine" class="alert alert-danger">
                {{ targetValue.errors | myFormValidationMessage: { field: 'dashboard.summary_widget.target', min: 1, max: 100 } }}
            </div>  
        </div>

    </fieldset>

    <footer pageFooter>
        <button aria-label="submit" type="submit" (click)="onSubmit(editForm)" [disabled]="editForm.invalid" class="btn secondary-btn">
            {{ 'form.actions.save' | translate }}          
        </button>
        <button aria-label="reset" (click)="done()" type="reset" class="btn alternative-btn">
            {{ 'form.actions.cancel' | translate }}
        </button>
    </footer>
</form>