<div class="dialog set-default-role-dialog">
    <div class="header">
        <div class="title">
            <h2>
                {{ 'driver.groups.default_roles_to_drivers.title' | translate }}
            </h2>
        </div>
        <div class="button">
            <button aria-label="clear" mat-icon-button (click)="close()">
                <mat-icon>clear</mat-icon>
            </button>
        </div>
    </div>
    <div class="content">    
        <ng-template [ngIf]="!message">
            <fieldset class="edit-form" style="margin-bottom: 6em;"> 
                <legend>{{ 'driver.groups.default_roles_to_drivers.legend' | translate }}</legend>
                <div class="form-row">
                    <label class="tag width20" for="generateReport"> {{ 'driver.groups.default_roles_to_drivers.label' | translate }} </label>
                    <div class="field width-remain">
                            <custom-selector class="ddl"
                                        [loading]="loading"
                                        [options]="driverRoles"                                            
                                        (modelDataChange)="selectedRole($event)"
                                        [dataID]="'driver-roles-list'">
                        </custom-selector>
                    </div>
                </div>                   
            </fieldset>
        </ng-template>

        <div class="message" *ngIf="message">
            {{ message | translate }}
        </div> 
        
        <footer class="footer">
            <button aria-label="submit" type="button" [disabled]="message" (click)="submit()" class="btn secondary-btn">
                {{ 'form.actions.save' | translate }}
            </button>         
            <button aria-label="cancel" class="btn alternative-btn" (click)="close()">
                {{ 'form.actions.close' | translate }}
            </button>
        </footer>
            
    </div>
</div>
