<page-container class="edit-vehicle-settings"
                title="{{ 'admin.categories.vehicles.manage' | translate }}: {{ action | translate }}"
                [backButton]="true"
                (notifyOnBack)="back()">

    <form pageContent #editForm="ngForm" (ngSubmit)="onSubmit(editForm)" class="edit-form"> 
        <div class="admin-edit-label">{{ getLabelEntity() }}</div>
        <fieldset>
            <div class="form-row">
                <label class="tag width20" for="ownID">{{ 'vehicles.ID' | translate }}</label>
                <div class="field width-remain">
                    <input type="text"
                            name="ownID"
                            required
                            id="ownID" 
                            [(ngModel)]="vehicle.ownID" 
                            #ownID="ngModel"/>
                </div>
                <div [hidden]="ownID.valid || ownID.pristine" class="alert alert-danger">
                    {{ ownID.errors | myFormValidationMessage: { field: 'vehicles.ID' } }}
                </div>
            </div>
            <div class="form-row">
                <label class="tag width20" for="licencePlate">{{ 'vehicles.licence_plate' | translate }}</label>
                <div class="field width-remain">
                    <input type="text" 
                            id="licencePlate" 
                            name="licencePlate"
                            required
                            [(ngModel)]="vehicle.licencePlate" 
                            #licencePlate="ngModel"/>
                </div>
                <div [hidden]="licencePlate.valid || licencePlate.pristine" class="alert alert-danger">
                    {{ licencePlate.errors | myFormValidationMessage: { field: 'vehicles.licence_plate' } }}
                </div>
            </div>
            <div class="form-row">
                <label class="tag width20" for="description">
                    {{ 'vehicles.description' | translate }}
                    <span class="optional">{{ 'form.field.optional' | translate }}</span>
                </label>
                <div class="field width-remain">
                    <textarea rows="2"
                            id="description"
                            name="description"
                            [(ngModel)]="vehicle.description"
                            #description="ngModel">
                    </textarea>
                </div>
                <div [hidden]="description.valid || description.pristine" class="alert alert-danger">
                    {{ description.errors | myFormValidationMessage: { field: 'vehicles.description' } }}
                </div>
            </div>
            <div class="form-row">
                <label class="tag width20" for="description">{{ 'vehicles.vehicle_type' | translate }}</label>
                <div class="field width-remain">
                    <vehicle-types-list class="vehicle-types"
                                [showAllOption]="false"
                                [showNoneOption]="true"
                                [authorizedOnly]="false"
                                [modelData]="vehicle.vehicleTypeID"
                                (modelDataChange)="onChangeVehicleType($event)">
                    </vehicle-types-list>
                </div>
            </div>

            <div class="form-row">
                <label class="tag width20" for="chargingID">
                    {{ 'vehicles.chargingID' | translate }}
                    <span class="optional">{{ 'form.field.optional' | translate }}</span>
                </label>
                <div class="field width-remain">
                    <input type="text"
                            name="chargingID"
                            id="chargingID" 
                            [(ngModel)]="vehicle.chargingID" 
                            #chargingID="ngModel"/>
                </div>
            </div>
        </fieldset>
        
       
    </form>
    <footer fixedFooter>
        <button aria-label="submit" type="submit" (click)="onSubmit(editForm)" [disabled]="editForm.invalid || loading " class="btn secondary-btn">
            {{ 'form.actions.save' | translate }}          
        </button>
        <button aria-label="back" (click)="back()" type="reset" class="btn alternative-btn">
            {{ 'form.actions.cancel' | translate }}
        </button>
    </footer>
</page-container>