@import "../../styles/variables";

.datepicker {
    position: relative;
    input {
        width: 100% !important;
        max-width: none;
        margin-bottom: 0 // 3px;
    }
    .datepicker-icon {
        position: absolute;
        right: 5px;
        top: 7px;
        cursor: pointer;
    }
}

@media screen and (min-width: @large-break-point) {
    .datepicker {
        margin-top: 0;
        input {
            max-width: 130px;
        }
    }
}