<div class="datepicker" (click)="datepickerElm.open()">
    <input  [attr.id]="id"
            readonly="true"
            [matDatepicker]="datepickerElm"
            [min]="min"
            [max]="max"
            [(ngModel)]="modelData"
            (dateChange)="onSelectDate($event)" />
    <i class="datepicker-icon material-icons primary-color">date_range</i>
    <mat-datepicker #datepickerElm [touchUi]="touchUiEnabled"> </mat-datepicker>
</div>
