﻿<div class="dialog weekly-time-schedule">
    <div class="header">
        <div class="title">
            <h2>
                {{ 'weekly_time.title' | translate }}
            </h2>
        </div>
        <div class="button">
            <button aria-label="clear" mat-icon-button (click)="onClose()">
                <mat-icon>clear</mat-icon>
            </button>
        </div>
    </div>
    <div class="content">
        <div class="select-all">
            <!--<mat-slide-toggle [checked]="selectedAll" (change)="checkAllTimes($event)">{{ 'weekly_time.check_all_week' | translate }}</mat-slide-toggle>-->
            <div class="content-header">
                <div class="field toggle-buttons">
                    <input type="checkbox"
                           id="checkAll"
                           name="checkAll"
                           [(ngModel)]="selectedAll"
                           (ngModelChange)="checkAllTimes($event)" />
                    <label class="label" for="checkAll">
                        {{ 'weekly_time.check_all_week' | translate }}
                    </label>
                </div>
            </div>
        </div>
        <div class="accordion">
            <mat-accordion>

                <mat-expansion-panel>
                    <mat-expansion-panel-header class="min-height">

                        <!--<mat-slide-toggle [checked]="daysArray[0].checked" (change)="checkAllTimes($event, dayOfWeek.Sunday)">{{ 'weekly_time.enable_all_day' | translate }}</mat-slide-toggle>-->
                        <div class="content-header">
                            <div class="day-width" [ngClass]="{'secondary-color': daysArray[0].partiallyChecked, 'bold':  daysArray[0].partiallyChecked }">{{ 'days_of_the_week.sunday' | translate }}</div>
                            <div class="field toggle-buttons">
                                <input type="checkbox"
                                       id="isSunday"
                                       name="isSunday"
                                       [(ngModel)]="daysArray[0].checked"
                                       (ngModelChange)="checkAllTimes($event, dayOfWeek.Sunday)" />
                                <label class="label" for="isSunday">
                                    {{ 'weekly_time.enable_all_day' | translate }}
                                </label>
                            </div>
                        </div>

                    </mat-expansion-panel-header>

                    <mat-selection-list #sunday (selectionChange)="changedChecks(sunday, dayOfWeek.Sunday)">
                        <mat-list-option [value]="i" *ngFor="let hour of hours; let i = index">
                            {{hour}}
                        </mat-list-option>
                    </mat-selection-list>

                </mat-expansion-panel>

                <mat-expansion-panel>
                    <mat-expansion-panel-header class="min-height">
                        <!--<span class="day-width">{{ 'days_of_the_week.monday' | translate }}</span>
                <mat-slide-toggle [checked]="daysArray[1].checked" (change)="checkAllTimes($event, dayOfWeek.Monday)">{{ 'weekly_time.enable_all_day' | translate }}</mat-slide-toggle>-->


                        <div class="content-header">
                            <div class="day-width" [ngClass]="{'secondary-color': daysArray[1].partiallyChecked, 'bold':  daysArray[1].partiallyChecked }">{{ 'days_of_the_week.monday' | translate }}</div>
                            <div class="field toggle-buttons">
                                <input type="checkbox"
                                       id="isMonday"
                                       name="isMonday"
                                       [(ngModel)]="daysArray[1].checked"
                                       (ngModelChange)="checkAllTimes($event, dayOfWeek.Monday)" />
                                <label class="label" for="isMonday">
                                    {{ 'weekly_time.enable_all_day' | translate }}
                                </label>
                            </div>
                        </div>


                    </mat-expansion-panel-header>

                    <mat-selection-list #monday (selectionChange)="changedChecks(monday, dayOfWeek.Monday)">
                        <mat-list-option [value]="i" *ngFor="let hour of hours; let i = index">
                            {{hour}}
                        </mat-list-option>
                    </mat-selection-list>

                </mat-expansion-panel>

                <mat-expansion-panel>
                    <mat-expansion-panel-header class="min-height">
                        <!--<span class="day-width">{{ 'days_of_the_week.tuesday' | translate }}</span>
                <mat-slide-toggle [checked]="daysArray[2].checked" (change)="checkAllTimes($event, dayOfWeek.Tuesday)">{{ 'weekly_time.enable_all_day' | translate }}</mat-slide-toggle>-->

                        <div class="content-header">
                            <div class="day-width" [ngClass]="{'secondary-color': daysArray[2].partiallyChecked, 'bold':  daysArray[2].partiallyChecked }">{{ 'days_of_the_week.tuesday' | translate }}</div>
                            <div class="field toggle-buttons">
                                <input type="checkbox"
                                       id="isTuesday"
                                       name="isTuesday"
                                       [(ngModel)]="daysArray[2].checked"
                                       (ngModelChange)="checkAllTimes($event, dayOfWeek.Tuesday)" />
                                <label class="label" for="isTuesday">
                                    {{ 'weekly_time.enable_all_day' | translate }}
                                </label>
                            </div>
                        </div>

                    </mat-expansion-panel-header>
                    <mat-selection-list #tuesday (selectionChange)="changedChecks(tuesday, dayOfWeek.Tuesday)">
                        <mat-list-option [value]="i" *ngFor="let hour of hours; let i = index">
                            {{hour}}
                        </mat-list-option>
                    </mat-selection-list>
                </mat-expansion-panel>

                <mat-expansion-panel>
                    <mat-expansion-panel-header class="min-height">
                        <!--<span class="day-width">{{ 'days_of_the_week.wednesday' | translate }}</span>
                <mat-slide-toggle [checked]="daysArray[3].checked" (change)="checkAllTimes($event, dayOfWeek.Wednesday)">{{ 'weekly_time.enable_all_day' | translate }}</mat-slide-toggle>-->

                        <div class="content-header">
                            <div class="day-width" [ngClass]="{'secondary-color': daysArray[3].partiallyChecked, 'bold':  daysArray[3].partiallyChecked }">{{ 'days_of_the_week.wednesday' | translate }}</div>
                            <div class="field toggle-buttons">
                                <input type="checkbox"
                                       id="isWednesday"
                                       name="isWednesday"
                                       [(ngModel)]="daysArray[3].checked"
                                       (ngModelChange)="checkAllTimes($event, dayOfWeek.Wednesday)" />
                                <label class="label" for="isWednesday">
                                    {{ 'weekly_time.enable_all_day' | translate }}
                                </label>
                            </div>
                        </div>

                    </mat-expansion-panel-header>

                    <mat-selection-list #wednesday (selectionChange)="changedChecks(wednesday, dayOfWeek.Wednesday)">
                        <mat-list-option [value]="i" *ngFor="let hour of hours; let i = index">
                            {{hour}}
                        </mat-list-option>
                    </mat-selection-list>

                </mat-expansion-panel>

                <mat-expansion-panel>
                    <mat-expansion-panel-header class="min-height">
                        <!--<span class="day-width">{{ 'days_of_the_week.thursday' | translate }}</span>
                <mat-slide-toggle [checked]="daysArray[4].checked" (change)="checkAllTimes($event, dayOfWeek.Thursday)">{{ 'weekly_time.enable_all_day' | translate }}</mat-slide-toggle>-->

                        <div class="content-header">
                            <div class="day-width" [ngClass]="{'secondary-color': daysArray[4].partiallyChecked, 'bold':  daysArray[4].partiallyChecked}">{{ 'days_of_the_week.thursday' | translate }}</div>
                            <div class="field toggle-buttons">
                                <input type="checkbox"
                                       id="isThursday"
                                       name="isThursday"
                                       [(ngModel)]="daysArray[4].checked"
                                       (ngModelChange)="checkAllTimes($event, dayOfWeek.Thursday)" />
                                <label class="label" for="isThursday">
                                    {{ 'weekly_time.enable_all_day' | translate }}
                                </label>
                            </div>
                        </div>

                    </mat-expansion-panel-header>

                    <mat-selection-list #thursday (selectionChange)="changedChecks(thursday, dayOfWeek.Thursday)">
                        <mat-list-option [value]="i" *ngFor="let hour of hours; let i = index">
                            {{hour}}
                        </mat-list-option>
                    </mat-selection-list>

                </mat-expansion-panel>

                <mat-expansion-panel>
                    <mat-expansion-panel-header class="min-height">
                        <!--<span class="day-width">{{ 'days_of_the_week.friday' | translate }}</span>
                <mat-slide-toggle [checked]="daysArray[5].checked" (change)="checkAllTimes($event, dayOfWeek.Friday)">{{ 'weekly_time.enable_all_day' | translate }}</mat-slide-toggle>-->

                        <div class="content-header">
                            <div class="day-width" [ngClass]="{'secondary-color': daysArray[5].partiallyChecked, 'bold':  daysArray[5].partiallyChecked }">{{ 'days_of_the_week.friday' | translate }}</div>
                            <div class="field toggle-buttons">
                                <input type="checkbox"
                                       id="isFriday"
                                       name="isFriday"
                                       [(ngModel)]="daysArray[5].checked"
                                       (ngModelChange)="checkAllTimes($event, dayOfWeek.Friday)" />
                                <label class="label" for="isFriday">
                                    {{ 'weekly_time.enable_all_day' | translate }}
                                </label>
                            </div>
                        </div>

                    </mat-expansion-panel-header>

                    <mat-selection-list #friday (selectionChange)="changedChecks(friday, dayOfWeek.Friday)">
                        <mat-list-option [value]="i" *ngFor="let hour of hours; let i = index">
                            {{hour}}
                        </mat-list-option>
                    </mat-selection-list>

                </mat-expansion-panel>

                <mat-expansion-panel>
                    <mat-expansion-panel-header class="min-height">
                        <!--<span class="day-width">{{ 'days_of_the_week.saturday' | translate }}</span>
                <mat-slide-toggle [checked]="daysArray[6].checked" (change)="checkAllTimes($event, dayOfWeek.Saturday)">{{ 'weekly_time.enable_all_day' | translate }}</mat-slide-toggle>-->

                        <div class="content-header">
                            <div class="day-width" [ngClass]="{'secondary-color': daysArray[6].partiallyChecked, 'bold':  daysArray[6].partiallyChecked }">{{ 'days_of_the_week.saturday' | translate }}</div>
                            <div class="field toggle-buttons">
                                <input type="checkbox"
                                       id="isSaturday"
                                       name="isSaturday"
                                       [(ngModel)]="daysArray[6].checked"
                                       (ngModelChange)="checkAllTimes($event, dayOfWeek.Saturday)" />
                                <label class="label" for="isSaturday">
                                    {{ 'weekly_time.enable_all_day' | translate }}
                                </label>
                            </div>
                        </div>

                    </mat-expansion-panel-header>

                    <mat-selection-list #saturday (selectionChange)="changedChecks(saturday, dayOfWeek.Saturday)">
                        <mat-list-option [value]="i" *ngFor="let hour of hours; let i = index">
                            {{hour}}
                        </mat-list-option>
                    </mat-selection-list>

                </mat-expansion-panel>

            </mat-accordion>
        </div>
        <footer class="footer">
            <button aria-label="submit" class="btn primary-btn" (click)="onSave()">
                {{ 'form.actions.save' | translate }}
            </button>
            <button aria-label="cancel" class="btn alternative-btn" (click)="onClose()">
                {{ 'form.actions.cancel' | translate }}
            </button>
        </footer>
    </div>    
</div>