﻿@import "../../styles/variables";

.weekly-time-schedule {
    .content {       
        .min-height {
            min-height: 62px;
        }

        .content-header {
            border: none !important;
            padding: .35em 0;
            display: flex;        
            .label {
                padding: 9px!important;
            }

            .day-width {
                padding: 0.75em 0;
                min-width: 90px;
            }

            .bold {
                font-weight: bold !important;
            }
        }

        .accordion {
            max-height: 240px;
            overflow: scroll;
        }

        .select-all {
            padding: .5em 0;
        }

        mat-selection-list {
            max-height: 150px;
            overflow-y: scroll;
        }
    }
}

@media screen and (min-width: @break-point) {
    .weekly-time-schedule {
        max-width: 550px;
        .content {
            padding: 1em 0;

            .content-header {
                padding: .75em 0;

                .day-width {
                    min-width: 120px;
                }
            }

            .accordion {
                max-height: none;
                overflow: inherit;
            }
        }
    }
}
