<page-container title="{{ 'admin.categories.vehicles.groups' | translate }}: {{ 'admin.categories.book_n_go' | translate }}"
                [backButton]="true"
                (notifyOnBack)="back()"
                [loading]="loading">

    <form pageContent #editForm="ngForm" (ngSubmit)="onSubmit(editForm)" class="edit-form"> 
        <div class="admin-edit-label">{{ getLabelEntity() }}</div>
        <fieldset>
            <legend>Common settings</legend>
            <div class="form-row">
                <label class="tag width20" for="isEnabledForBookNGo">{{ 'vehicle.group.book_n_go.is_available'| translate }}</label>
                <div class="field width-remain toggle-buttons">
                    <input type="checkbox"
                            id="isEnabledForBookNGo" 
                            name="allowAccountCreation"
                            [(ngModel)]="group.isEnabledForBookNGo" 
                            #isEnabledForBookNGo="ngModel"/>
                    <label for="isEnabledForBookNGo">
                        {{ (group.isEnabledForBookNGo == true ?  'form.actions.enabled' : 'form.actions.disabled') | translate }}
                    </label>
                </div>
            </div>
            <div class="form-row">
                <label class="tag">{{ 'vehicle.group.book_n_go.start_showing_soc' | translate }}</label>
                <div class="field width-remain">
                    <input type="number"
                            class="number"
                            min=0
                            [(ngModel)]="group.showSoCBeforeBookingHours"
                            name="showSoCBeforeBookingHours"
                            [disabled]="!group.isEnabledForBookNGo"/>
                    <span class="field-msg">
                            {{ 'vehicle.group.book_n_go.hours_before_booking'  | translate }}
                    </span>
                </div>
            </div>
            <div class="form-row">
                <label class="tag width20">{{ 'book_n_go.bookings.pudop' | translate }}</label>
                <div class="field width-remain">
                    <div class="field width-remain">
                        <search-mechanism placeholder="{{ 'form.search.pleaceholder' | translate }}"
                                        [style.width.%] = "100"
                                        [name]="group.pickupPointName"
                                        [chosenOption]="searchTypes.Location"
                                        (onSelect)="onLocationSelect($event)"
                                        [disabled]="!group.isEnabledForBookNGo">
                        </search-mechanism>
                        <input type="hidden" 
                                id="pickupPointID" 
                                required
                                [(ngModel)]="group.pickupPointID" 
                                name="locationID"
                                #pickupPointID="ngModel"/>
                    </div>
                    <div [hidden]="pickupPointID.valid || pickupPointID.pristine" class="alert alert-danger">
                        {{ pickupPointID.errors | myFormValidationMessage: { field: 'book_n_go.bookings.pudop' } }}
                    </div>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend>Company</legend>
            <div class="form-row">
                <label class="tag width20">{{ 'book_n_go.fair_use_policy.title' | translate }}</label>
                <div class="field width-remain">
                    <custom-selector class="ddl"
                                    [options]="fairUsePolicies"
                                    [(modelData)]="group.fairUsePolicyID"
                                    [dataID]="'fairUsePolicyID'">
                    </custom-selector>
                </div>
            </div>
            <div class="form-row">
                <label class="tag width20">{{ 'vehicle.group.book_n_go.primary_tariff' | translate }}</label>
                <div class="field width-remain">
                    <custom-selector class="ddl"
                                    [options]="tariffs"
                                    [(modelData)]="group.tariffID"
                                    [dataID]="'tariffID'">
                    </custom-selector>
                </div>
            </div>

        </fieldset>
        <fieldset *ngIf="group.isEnabledForBookNGo">
            <legend>{{ 'vehicle.group.book_n_go.schedule' | translate }}</legend>
            <div class="form-row">
                <label class="tag width20">{{ 'weekly_time.schedule' | translate }}</label>
                <button type="button" aria-label="schedule" (click)="openSchedule()" class="btn primary-btn">
                    {{ 'weekly_time.set' | translate }}
                </button>
            </div>
        </fieldset>
    
    </form>

    <footer fixedFooter>
        <ng-template [ngIf]="!driverAuthorizationEditMode">
            <button aria-label="submit" type="submit" (click)="onSubmit(editForm)" [disabled]="editForm.invalid" class="btn secondary-btn">
                {{ 'form.actions.save' | translate }}          
            </button>
            <button aria-label="back" (click)="back()" type="reset" class="btn alternative-btn">
                {{ 'form.actions.cancel' | translate }}
            </button>
        </ng-template>
    </footer>
</page-container>