.editing-options-multiple {
    display: none;
    width: 170px;
    background-color: #fff;
    position: fixed;
    bottom: 0vh;
    left: calc(50vw - 85px);
    border: 1px solid #e0e4e5;
    border-radius: 2px;
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
    z-index: 500000;
    font-size: 14px;
    li {
        cursor: pointer;
        padding: .7em;
        border-bottom: 1px solid #e0e4e5;
        &.disabled {
            background-color: #8e979b;
            pointer-events: none;
            &:hover {
                color: #ffffff;
                background-color: transparent;
            }
        }
        &:hover {
            background-color: #e0e4e5;
        }
    }  
}