﻿<div #editingOptionsMultiple  class="card add-shadows editing-options-multiple">
        <!-- {{ 'fiscal_trips.nl.select_action' | translate }} -->
    <ul *ngFor="let option of options;">
        <li [ngClass]="{ 'disabled' : !option.enabled }" (click)="selectOption(option)">
            {{ option.term | translate }}
        </li>
    </ul>
</div>