@import "../../styles/variables";
@import "../../shared/data-table/data-table";

.asset-group-membership {
    height: inherit !important;
    thead {
        td {
            border-top: 3px solid #8F999D;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
            color: rgba(41, 50, 48, 0.6);
            padding: 14px 4px;                    
            border-bottom: 2px solid #ddd;
            label {
                font-weight: 500!important;
            }
        }
    }
    .groups-content-wrapper {
        margin-top: 15px; 
        overflow-y: hidden;
    }
    .no-records {
        background-color: #ffffff !important;
        border: 0px !important;
        td {
            color: @neutral-color !important;
            text-align: center !important;
            font-size: 14pt !important;
        }
    }
}