<div class="asset-group-membership table-layout table-mobile-off">
    <div class="alert alert-danger" *ngIf="message">{{ message | translate }}</div>

    <div *ngIf="loading">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>

    <div class="groups-content-wrapper table-contents">
        <table>
            <thead *ngIf="groups.length > 1 && showSelectAll">
                <tr>
                    <td>
                        <input class="css-checkbox" type="checkbox" [id]="'selectAll'" [name]="'selectAll'"     
                                [(ngModel)]="selectedAll" 
                                (change)="onSelectionAll()" />
                        <label class="css-label" [for]="'selectAll'">{{ 'assets.group.members.select_all' | translate }}</label>
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr class="no-records" *ngIf="groups.length == 0">
                    <td>{{ 'data.empty_records' | translate }}</td>
                </tr>
                <tr *ngFor="let group of groups">
                    <td>
                        <input class="css-checkbox" type="checkbox" [id]="'assetgroup_' + group.id" [name]="'veh_' + group.id"     
                                [(ngModel)]="group.selected" 
                                (change)="onChangeOption()" />
                        <label class="css-label" [for]="'assetgroup_' + group.id">{{ group.name }}</label>
                    </td>
                </tr>    
            </tbody>    
        </table> 
    </div>
</div>