<page-container title="{{ 'admin.categories.drivers.groups' | translate }}" 
                [backButton]="true"
                (notifyOnBack)="back()"
                [addButton]="true"
                (notifyOnAdd)="manage()">
    <div pageContent>         
        <mat-form-field class="autocomplete">
            <input type="text" matInput 
                    [formControl]="searchTermControl" 
                    placeholder="{{ 'form.search.pleaceholder' | translate }}"/>
            <div class="autocomplete-clear" *ngIf="!loading && request.searchTerm && request.searchTerm.length > 0" (click)="clearInput($event)">
                <mat-icon>clear</mat-icon>
            </div>
        </mat-form-field>
        
        <data-table [records]="groups"
                    [settings]="tableSettings"
                    [loading]="loading"
                    [pager]="pager"
                    [sorting]="request.sorting"
                    (onActionClick)="onManage($event)"
                    (onSortSelection)="onSort($event)"
                    (onScrollDown)="onScrollDown()">
        </data-table>
    </div>  
</page-container>

<more-options-edit-options-dialog></more-options-edit-options-dialog>