<page-container class="edit-report"
                [title]="pageTitle"
                [backButton]="true"
                (notifyOnBack)="back()"
                [loading]="loading">

    <div pageContent class="edit-form"> 
        <ng-template [ngIf]="report">
            <fieldset>
                <mat-form-field class="autocomplete">
                    <input matInput (keyup)="onKey($event)" [(ngModel)]="report.basicInfo.name" readonly="{{ !editMode }}" [placeholder]="report.basicInfo.name === '' ? placeholder : '' " />
                    <div class="autocomplete-clear" *ngIf="editMode" (click)="clearInput($event)">
                        <mat-icon>clear</mat-icon>
                    </div>
                    <div *ngIf="!editMode" class="autocomplete-clear" (click)="editName()">
                        <mat-icon>edit</mat-icon>
                    </div>
                </mat-form-field>
            </fieldset>
            
            <div class="option-selection" >
                <fieldset>
                    <legend>
                        {{'reports.columns' | translate }}
                    </legend>
                    <div class="cluster-wrapper">
                        <ng-template ngFor let-item [ngForOf]="report.definition.columns">
                            <div class="option">
                                <input class="css-checkbox" type="checkbox"
                                        [attr.id]="item.key"
                                        [checked]="item.value"                                           
                                        (click)="onChangeOption(item)" />
                                <label class="css-label" [attr.for]="item.key">{{ item.name | translate }}</label>
                            </div>
                        </ng-template>
                    </div>
                </fieldset>

                <fieldset>
                    <legend>
                        {{'reports.aggregations' | translate }}
                    </legend>
                    <div class="cluster-wrapper">
                        <ng-template ngFor let-item [ngForOf]="report.definition.aggregations">
                            <div class="option">
                                <input class="css-checkbox" type="checkbox"
                                        [attr.id]="item.key"
                                        [checked]="item.value"                                           
                                        (click)="onChangeOption(item)" />
                                <label class="css-label" [attr.for]="item.key">{{ item.name | translate }}</label>
                            </div>
                        </ng-template>
                    </div>
                </fieldset>

                <fieldset>
                    <legend>
                        {{'reports.graphs' | translate }}
                    </legend>
                    <div class="cluster-wrapper">
                        <ng-template ngFor let-item [ngForOf]="report.definition.graphs">
                            <div class="option">
                                <input class="css-checkbox" type="checkbox"
                                        [attr.id]="item.key"
                                        [checked]="item.value"                                           
                                        (click)="onChangeOption(item)" />
                                <label class="css-label" [attr.for]="item.key">{{ item.name | translate }}</label>
                            </div>
                        </ng-template>
                    </div>
                </fieldset>
            </div> 
        </ng-template>                          
    </div>
                    
    <footer fixedFooter>
        <ng-template [ngIf]="report">
            <button aria-label="submit" type="submit" class="btn secondary-btn" [disabled]="formInvalid()" (click)="save()">
                {{ 'form.actions.save' | translate }}
            </button>
            <button aria-label="back" class="btn alternative-btn" (click)="back()">
                {{ 'form.actions.cancel' | translate }}
            </button>
        </ng-template>
    </footer> 
</page-container>
