﻿@import "../../../styles/variables";
.edit-report {
    fieldset {
        .cluster-wrapper {
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            .option {
                width: 49%;
                margin-bottom: 10px;
            }
        }
    }
}