<page-container class="edit-charge-point"
                title="{{ 'admin.categories.charge_points' | translate }}: {{ action | translate }}"
                [backButton]="true"
                (notifyOnBack)="back()"
                [loading]="loading">

    <form pageContent #editForm="ngForm" (ngSubmit)="onSubmit(editForm)" class="edit-form">
        <div class="admin-edit-label">{{ getLabelEntity() }}</div>

        <!-- CHARGE POINT BASIC INFO -->
        <fieldset>
            <legend>{{ 'form.field.basic_data' | translate }}</legend>
            <div class="form-row">
                <label class="tag width20" for="name">{{ 'charge_points.name' | translate }}</label>
                <div class="field width-remain">
                    <input
                        id="name"
                        name="name"
                        required
                        [(ngModel)]="chargePoint.name"
                        #name="ngModel"/>
                </div>
                <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                    {{ name.errors | myFormValidationMessage: { field: 'charge_points.name' } }}
                </div>
            </div>
            <div class="form-row">
                <label class="tag width20" for="ocppid">{{ 'charge_points.OCPPID' | translate }}</label>
                <div class="field width-remain">
                    <input type="text"
                        id="ocppid"
                        name="ocppid"
                        required
                        [(ngModel)]="chargePoint.ocppid"
                        #ocppid="ngModel"/>
                </div>
                <div [hidden]="ocppid.valid || ocppid.pristine" class="alert alert-danger">
                    {{ ocppid.errors | myFormValidationMessage: { field: 'charge_points.OCPPID' } }}
                </div>
            </div>
            <div class="form-row">
                <label class="tag width20" for="power">{{ 'charge_points.power' | translate }}</label>
                <div class="field">
                    <input class="number"
                            type="number"
                            id="power"
                            min="0"
                            validateInteger
                            [(ngModel)]="chargePoint.power" name="power"
                            #power="ngModel"/>
                    <span class="field-msg">kW</span>
                </div>
                <div [hidden]="power.valid || power.pristine" class="alert alert-danger">
                    {{ power.errors | myFormValidationMessage: { field: 'charge_points.power' } }}
                </div>
            </div>
        </fieldset>
        <!-- END OF CHARGE POINT BASIC INFO -->

        <!-- CHARGE POINT LOCATION SPECIFIC -->
        <fieldset>
            <legend>{{ 'charge_points.location_data' | translate }}</legend>
            <div class="form-row">
                <label class="tag width20" for="latitude">{{ 'charge_points.latitude' | translate }}</label>
                <div class="field width-remain">
                    <input type="number" class="number"
                        id="latitude"
                        name="latitude"
                        required
                        [(ngModel)]="chargePoint.latitude"
                        #latitude="ngModel"/>
                </div>
                <div [hidden]="latitude.valid || latitude.pristine" class="alert alert-danger">
                    {{ latitude.errors | myFormValidationMessage: { field: 'charge_points.latitude' } }}
                </div>
            </div>
            <div class="form-row">
                <label class="tag width20" for="longitude">{{ 'charge_points.longitude' | translate }}</label>
                <div class="field width-remain">
                    <input type="number" class="number"
                        id="longitude"
                        name="longitude"
                        required
                        [(ngModel)]="chargePoint.longitude"
                        #longitude="ngModel"/>
                </div>
                <div [hidden]="longitude.valid || longitude.pristine" class="alert alert-danger">
                    {{ longitude.errors | myFormValidationMessage: { field: 'charge_points.longitude' } }}
                </div>
            </div>
            <div class="form-row">
                <label class="tag width20" for="longitude">{{ 'charge_points.location' | translate }}</label>
                <div class="field width-remain">
                    <search-mechanism placeholder="{{ 'form.search.pleaceholder' | translate }}"
                                    [style.width.%] = "100"
                                    [name]="chargePoint.locationName"
                                    [chosenOption]="searchTypes.Location"
                                    (onSelect)="onLocationSelect($event)">
                    </search-mechanism>
                    <input type="hidden"
                            id="locationID"
                            required
                            [(ngModel)]="chargePoint.locationID"
                            name="locationID"
                            #locationID="ngModel"/>
                </div>
                <div [hidden]="locationID.valid || locationID.pristine" class="alert alert-danger">
                    {{ locationID.errors | myFormValidationMessage: { field: 'charge_points.location' } }}
                </div>
            </div>
        </fieldset>
        <!-- END OF CHARGE POINT LOCATION SPECIFIC -->

        <!-- NOTIFICATION POLICY -->
        <fieldset>
            <legend>{{ 'charge_points.notifications.event_properties' | translate }}</legend>
            <div class="form-row">
                <label class="tag width20" for="">{{ 'charge_points.notification_policy' | translate }}</label>
                <div class="field width-remain">
                    <notification-policies-list class="ddl"
                            [(modelData)]="chargePoint.notificationPolicyID"
                            [showNoneOption]="true">
                    </notification-policies-list>
                </div>
            </div>
        </fieldset>
        <!-- END OF NOTIFICATION POLICY -->
    </form>

    <footer fixedFooter>
        <button aria-label="submit" type="submit" (click)="onSubmit(editForm)" [disabled]="editForm.invalid" class="btn secondary-btn">
            {{ 'form.actions.save' | translate }}
        </button>
        <button aria-label="back" (click)="back()" type="reset" class="btn alternative-btn">
            {{ 'form.actions.cancel' | translate }}
        </button>
    </footer>
</page-container>
