﻿@import "../../../styles/variables";

.execute-report {
    overflow-y: hidden;
    .admin-edit-label {
        padding: 0em 1em;
    }
    .tag {
        min-width: 150px;
    }
    .search-assets {
        min-width: 250px;
        width: 100%;
        .mat-form-field {
            width: 100%;
        }
    }
  
    .ddl {
        margin-right: 5px;
    }

    .asset-selection {
        border: 1px solid @divider;
        min-height: 50px;
        padding: 1em;
        margin-bottom: 2em;
            
        .chip-bg {
            background: none;
            margin-right:.25em;            
            border: none;            
            padding: .25em .25em .25em 0;
            .mat-chip {
                color: #fff !important;    
                &:not(.mat-basic-chip) {
                    background: #65B254;
                    background: var(--secondary-color);
                }           
            }
            .mat-icon {
                margin-left: .5em;
                padding: .25em;
                font-size: 1em; 
                width: auto; 
                height: auto;
                vertical-align: text-bottom;
                cursor: pointer;
            }
        }
    }

    .reports-footer {
        .execution-loader {
            position: absolute; 
            width: 100%; 
            top:0;
            left: 0;
        }
        .left {
            flex: 1 1 auto;
            display: flex;
            align-items: center;
            label {
                margin-right:3px;
            }
            .ddl {
                width: 150px;
            }
        }
    }
}
