@import "../../styles/variables";
@import "../../styles/scores";


@widgets-header-height-desktop: 60px;
@widgets-header-height-mobile: 45px;
@widgets-footer-height-mobile: 50px;

.widgets-container {

    .editor {
        box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.1);
        border: 1px solid @divider;
        padding: 7px;
        height: 38px;
        width: 100%;
        order: -2;
    }

    .widget-grid {
        display: grid;
        grid-template-columns: 30% 70%;
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;


        .col-zone {
            padding: .7em;
            &.one {
                grid-area: 1 / 1 / 2 / 2;
            }
            &.two {
                grid-area: 1 / 2 / 2 / 3;
                .half {
                    margin-bottom: 5px;
                    display: flex;
                    flex-flow: row wrap;

                    .rowspan-2 {
                        height: 440px;
                        position: relative;
                    }
                    .colspan-1 {
                        width: 49%;
                        margin-left: 7px;
                    }

                    .colspan-2 {
                        width: 100%;
                        padding: 0 7px 1em;
                    }
                }
            }

            .button-options {
                display: none;
            }
            .rowspan-1, .rowspan-2, .colspan-2 {
                padding-bottom: 1em;
            }
        }

        .col-zone.edit {
            position: relative;
            margin-top: 25px;
            border-color: #65B254;
            border: 1px dashed var(--secondary-color);
            background: #f1f1f2;
            padding: 30px 20px 10px;
            &.one {
                // width: 29%;
            }
            &.two {
                // width: 69%;
                margin-left: 5px;
                margin-right: 5px;
                .half {
                    position: relative;
                    background: #e6e6e6;
                    border-color: #65B254;
                    border: 1px dashed var(--secondary-color);
                    padding: 30px 20px 10px;
                    margin-top: 30px;
                }
            }
            .rowspan-1, .rowspan-2, .colspan-2 {
                position: relative;
            }
            .button-options {
                display: block;
                position: absolute;
                top: -15px;
                [mat-icon-button] {
                    background: #65B254;
                    background: var(--secondary-color);
                    color: #fff;
                    width: 28px;
                    height: 28px;
                    mat-icon {
                        font-size: 20px;
                        line-height: 10px;
                    }
                    &:disabled {
                        background: @disabled !important;
                    }
                }


                &.widget-order {
                    top: 5px;
                    right: 2px;
                    padding: 12px;
                    [mat-icon-button] {
                        background: #1C5074;
                        background: var(--primary-color);
                        &:disabled {
                            background: @disabled !important;
                        }
                    }
                }
            }
        }

        .maximized {
            .widget-row-1, .widget-row-2  {
                height: 100%;
                .widget-content {
                    height: calc(100% - @widgets-header-height-desktop);
                }
            }
        }
    }


}


// .widgets-container {

//     display: flex;
//     flex-flow: row wrap;

//     .editor {
//         box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.1);
//         border: 1px solid @divider;
//         padding: 7px;
//         height: 38px;
//         width: 100%;
//         order: -2;
//     }

//     .col-zone {
//         padding: .7em;
//         &.one {
//             width: 30%;
//         }
//         &.two {
//             width: 70%;
//             display: flex;
//             flex-flow: column wrap;
//             .half {
//                 margin-bottom: 5px;
//                 display: flex;
//                 flex-flow: row wrap;
//                 .rowspan-2 {
//                     height: 440px;
//                     position: relative;
//                 }
//                 .colspan-1 {
//                     width: 49%;
//                     margin-left: 7px;
//                 }

//                 .colspan-2 {
//                     width: 100%;
//                 }
//             }
//         }
//         .button-options {
//             display: none;
//         }
//     }


//     .col-zone.edit {
//         position: relative;
//         margin-top: 25px;
//         border-color: #65B254;
//         border: 1px dashed var(--secondary-color);
//         background: #f1f1f2;
//         padding: 30px 20px 10px;
//         &.one {
//             width: 29%;
//         }
//         &.two {
//             width: 69%;
//             margin-left: 5px;
//             margin-right: 5px;
//             .half {
//                 position: relative;
//                 background: #e6e6e6;
//                 border-color: #65B254;
//                 border: 1px dashed var(--secondary-color);
//                 padding: 30px 20px 10px;
//                 margin-top: 30px;
//             }
//         }
//         .button-options {
//             display: block;
//             position: absolute;
//             top: -15px;
//             [mat-icon-button] {
//                 background: #65B254;
//                 background: var(--secondary-color);
//                 color: #fff;
//                 width: 28px;
//                 height: 28px;
//                 mat-icon {
//                     font-size: 20px;
//                     line-height: 10px;
//                 }
//                 &:disabled {
//                     background: @disabled !important;
//                 }
//             }

//             &.widget-order {
//                 top: 5px;
//                 right: 2px;
//                 padding: 12px;
//                 [mat-icon-button] {
//                     background: #1C5074;
//                     background: var(--primary-color);
//                     &:disabled {
//                         background: @disabled !important;
//                     }
//                 }
//             }
//         }
//     }

//     .maximized {
//         .widget-row-1, .widget-row-2  {
//             height: 100%;
//             .widget-content {
//                 height: calc(100% - @widgets-header-height-desktop);
//             }
//         }
//     }
// }

.widgets {
    .widget-content {
        min-height: 80px;
        .msg {
            margin: 50px;
            color: @sublabel;
        }
    }

    .widget-row-1 {
        height: 209px;
        .widget-content {
            height: calc(209px - @widgets-header-height-desktop);
        }
    }

    .widget-row-2 {
        height: 430px;
        .widget-content {
            height: calc(430px - @widgets-header-height-desktop);
        }
    }

    .header {
        height: @widgets-header-height-desktop;
        padding: 0;

        .title {
            padding: 0.7em 1em;
            font-size: 1.2em;
            text-align: left;
        }
        .header-buttons {
            position: absolute;
            right: 0;
            top: 5px;
            visibility: visible;
            padding: 0.7em 1em;
            background: #F1F7F8;
            border-left: 1px solid @divider;
            border-bottom: 1px solid @divider;
            opacity: 0;
            &:hover {
                opacity: 1;
            }
        }

        &.good-on-target {
            border-top-color: @good-alert;
        }
        &.high-on-target {
            border-top-color: @low-alert;
        }
        &.low-on-target {
            border-top-color: @high-alert;
        }
    }

    .widget-footer-buttons {
        visibility: hidden;
    }
}


@media screen and (max-width: @break-point) {
    .widgets-container {
        .widget-grid {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;
            grid-column-gap: 0px;
            grid-row-gap: 0px;
            align-self: center;
            justify-self: stretch;


            // align-items: center;
            // justify-content: center;

            .maximized {
                .widget-row-1, .widget-row-2  {
                    height: 100%;
                    .widget-content {
                        height: calc(100% - @widgets-header-height-desktop - @widgets-footer-height-mobile);
                    }
                }
            }

            .col-zone {
                padding: 0em;
                &.one {
                    width: 100%;
                }
                &.two {
                    width: 100%;
                    .half {
                        width: 100%;
                    }
                }
            }

            .col-zone.edit {
                &.one {
                    width: 100%;
                }
                &.two {
                    width: 100%;
                    margin-left: 0px;
                    margin-right: 0px;
                }
            }
        }
    }
    .widgets {

        .widget-row-1 {
            .widget-content {
                height: calc(209px - @widgets-header-height-mobile - @widgets-footer-height-mobile);
            }
        }

        .widget-row-2 {
            .widget-content {
                height: calc(430px - @widgets-header-height-mobile - @widgets-footer-height-mobile);
            }
        }

        .header {
            height: @widgets-header-height-mobile;
            .title {
                font-size: 16px;
            }
            .header-buttons {
                visibility: hidden;
                position: static;
            }
        }

        .widget-footer-buttons {
            visibility: visible;
            border-top: 1px solid @divider;
            padding: .5em 1em;
            height: @widgets-footer-height-mobile;
        }
    }
}
