<page-container [title]="'sidebar.dashboard'"
                [options]="pageOptions"
                (notifyOnOptionSelection)="onSelectPageOption($event)"
                [loading]="loading">

    <div class="widgets-container" pageContent>
            <div class="editor" *ngIf="editMode && !loading">
                <a href="javascript:void(0)" class="primary-link" (click)="onSaveEdit()">{{ 'customize_layout.save_layout' | translate }}</a>
                <a href="javascript:void(0)" class="primary-link" (click)="onCancelEdit()">{{ 'customize_layout.cancel_changes' | translate }}</a>
            </div>
            <div class="widget-grid">
                <div class="one col-zone" [ngClass]="!editMode ? '' : 'edit'" [style.order]="layout.summary === layoutPositions.right ? 1 : -1" >
                    <div class="button-options">
                        <button aria-label="change layout left" mat-icon-button (click)="onChangeLayout('summary', layoutPositions.left)" [disabled]="layout.summary === layoutPositions.left">
                            <mat-icon>arrow_backward</mat-icon>
                        </button>
                            <button aria-label="change layout right" mat-icon-button (click)="onChangeLayout('summary',layoutPositions.right)" [disabled]="layout.summary === layoutPositions.right">
                            <mat-icon>arrow_forward</mat-icon>
                        </button>
                    </div>
                    <ng-template ngFor let-w [ngForOf]="summaryWidgets" let-i="index">
                        <div class="rowspan-1" [style.display]="hideElement('sw_' + w.instance.id) == true ? 'none' : 'block'">
                            <summary-widget [id] = "'sw_' + w.instance.id"
                                            [widget]="w.instance"
                                            [editing]="false"
                                            (onDeleted)="onDeleted($event)">
                            </summary-widget>
                            <div class="widget-order button-options">
                                <button aria-label="change widget order up" mat-icon-button (click)="onChangeWidgetOrderUp(w)" [disabled]="i===0">
                                    <mat-icon>arrow_upward</mat-icon>
                                </button>
                                <button aria-label="change widget order down" mat-icon-button (click)="onChangeWidgetOrderDown(w)" [disabled]="i === summaryWidgets.length - 1">
                                    <mat-icon>arrow_downward</mat-icon>
                                </button>
                            </div>
                        </div>
                    </ng-template>
                </div>
                <div class="two col-zone" [ngClass]="editMode === false ? '' : 'edit'">
                    <div class="button-options">
                        <button aria-label="on change layout right" mat-icon-button (click)="onChangeLayout('summary',layoutPositions.right)" [disabled]="layout.summary === layoutPositions.right">
                            <mat-icon>arrow_backward</mat-icon>
                        </button>
                            <button aria-label="on change layout left" mat-icon-button (click)="onChangeLayout('summary',layoutPositions.left)" [disabled]="layout.summary === layoutPositions.left">
                            <mat-icon>arrow_forward</mat-icon>
                        </button>
                    </div>
                    <div class="half" [style.order]="layout.charts === layoutPositions.bottom ? 1 : -1" >
                        <div class="button-options">
                            <button aria-label="on change layout top" mat-icon-button (click)="onChangeLayout('charts',layoutPositions.top)" [disabled]="layout.charts === layoutPositions.top">
                                <mat-icon>arrow_upward</mat-icon>
                            </button>
                            <button aria-label="on change layout bottom" mat-icon-button (click)="onChangeLayout('charts',layoutPositions.bottom)" [disabled]="layout.charts === layoutPositions.bottom">
                                <mat-icon>arrow_downward</mat-icon>
                            </button>
                        </div>
                        <ng-template ngFor let-w [ngForOf]="chartWidgets" let-i="index">
                            <div class="C colspan-2"  [style.display]="hideElement('cw_' + w.instance.id) == true ? 'none' : 'block'">
                                <chart-widget [id] = "'cw_' + w.instance.id"
                                            [widget]="w.instance"
                                            [editing]="false"
                                            (onDeleted)="onDeleted($event)">
                                </chart-widget>

                                <div class="widget-order button-options">
                                    <button aria-label="on change order up" mat-icon-button (click)="onChangeWidgetOrderUp(w)" [disabled]="i===0">
                                        <mat-icon>arrow_upward</mat-icon>
                                    </button>
                                    <button aria-label="on change order down" mat-icon-button (click)="onChangeWidgetOrderDown(w)" [disabled]="i === chartWidgets.length - 1">
                                        <mat-icon>arrow_downward</mat-icon>
                                    </button>
                                </div>
                            </div>
                        </ng-template>
                    </div>
                    <div class="half">
                        <div class="button-options">
                            <button aria-label="on change layout position bottom" mat-icon-button (click)="onChangeLayout('charts',layoutPositions.bottom)" [disabled]="layout.charts === layoutPositions.bottom">
                                <mat-icon>arrow_upward</mat-icon>
                            </button>
                            <button aria-label="on change layout position top" mat-icon-button (click)="onChangeLayout('charts',layoutPositions.top)" [disabled]="layout.charts === layoutPositions.top">
                                <mat-icon>arrow_downward</mat-icon>
                            </button>
                        </div>
                        <ng-template ngFor let-w [ngForOf]="otherWidgets" let-i="index">
                            <div class="rowspan-2" [ngClass]="fullWidth ? 'colspan-2' : 'colspan-1'" [style.display]="hideElement('ow_' + w.instance.id) == true ? 'none' : 'block'">
                                <div [ngSwitch]="w.type">
                                    <ranking-widget *ngSwitchCase="widgetTypes.Ranking"
                                                    [id] = "'ow_' + w.instance.id"
                                                    [widget]="w.instance"
                                                    [editing]="false"
                                                    (onDeleted)="onDeleted($event)">
                                    </ranking-widget>
                                    <events-widget *ngSwitchCase="widgetTypes.Events"
                                                    [id] = "'ow_' + w.instance.id"
                                                    [widget]="w.instance"
                                                    [editing]="false"
                                                    (onDeleted)="onDeleted($event)">
                                    </events-widget>
                                    <div class="widget-order button-options">
                                        <button aria-label="on change widget order up" mat-icon-button (click)="onChangeWidgetOrderUp(w)" [disabled]="i===0">
                                            <mat-icon>arrow_backward</mat-icon>
                                        </button>
                                        <button aria-label="on change widget order down" mat-icon-button (click)="onChangeWidgetOrderDown(w)" [disabled]="i === otherWidgets.length - 1">
                                            <mat-icon>arrow_forward</mat-icon>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </div>
                </div>
            </div>

    </div>
</page-container>

