
<div class="dialog">
    <div class="header">
        <div class="title">
            <h3>{{ 'trip_review.reassignment.title' | translate }}</h3>
        </div>
        <button aria-label="close dialog" mat-icon-button>
            <mat-icon (click)="closeDialog()">clear</mat-icon>
        </button>
    </div>
    <div *ngIf="loading">
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </div>
    <div class="content">
        <!-- REASSING TRIP'S DRIVER FORM -->
        <form class="edit-form" #reassignTripForm="ngForm" (ngSubmit)="save(reassignTripForm)">
            <div class="form-row">
                <label class="tag width100" for="comment">{{ 'trip_review.reassignment.to_driver' | translate }}</label>
                <div class="field width-remain">
                    <search-mechanism style="width: 100%"
                                placeholder="{{ 'form.search.pleaceholder' | translate }}"
                                [chosenOption]="searchTypes.Driver"
                                [name]="driverName"
                                (onSelect)="onDriverSelect($event)">
                    </search-mechanism>
                </div>
            </div>

            <div class="form-row">
                <label class="tag width100" for="comment">{{ 'trip_review.reassignment.comment' | translate }}</label>
                <div class="field width-remain">
                    <input type="text" 
                            id="comment" 
                            name="comment"
                            [(ngModel)]="request.comment" 
                            #comment="ngModel"/>
                </div>
            </div>

            <footer>
                <button aria-label="submit" type="submit" class="btn secondary-btn" [disabled]="reassignTripForm.invalid || formInvalid() || loading">
                    {{ 'form.actions.save' | translate }}
                </button>
                <button aria-label="reset" type="reset" (click)="closeDialog()" class="btn alternative-btn">
                    {{ 'form.actions.cancel' | translate }}
                </button>
            </footer>
    
        </form>
    </div>
</div>
