﻿<page-container class="page-error">
    <div pageContent>
        <h1>{{ 'error_pages.page_not_found.title' | translate }}</h1>      
        <h4>{{ 'error_pages.page_not_found.content' | translate }}</h4>
    </div>
</page-container>