﻿@import "../../../styles/variables";

.combine-trips {   
    .edit-form footer {
        margin-top: 2em;
        padding: 1em 0 0;
    }
}

@media screen and (min-width: @break-point) {
    .combine-trips {   
        max-width: 500px;
    }
}
