﻿
<div class="dialog combine-trips">
    <div class="header">
        <div class="title">
            <h3>{{ 'fiscal_trips.nl.combine_trips.title' | translate }}</h3>
        </div>
        <button aria-label="close dialog" mat-icon-button>
            <mat-icon (click)="closeDialog()">clear</mat-icon>
        </button>
    </div>
    <div class="content">
        <div *ngIf="loading">
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </div>       
        <div class="note note-description" 
            innerHtml="{{ 'fiscal_trips.nl.combine_trips.message' | translate | myStringFormat: [combinedTrip.startTimestamp, combinedTrip.stopTimestamp, combinedTrip.duration, combinedTrip.mileage] }}">
        </div>                      
        <!-- COMBINE SELECTED TRIPS FORM -->
        <form class="edit-form combine-trips-form" #combineSelectedTripsForm="ngForm" (ngSubmit)="combine()">
            <div class="form-row">
                <label class="tag" for="comment">
                    {{ 'fiscal_trips.nl.combine_trips.comment' | translate }}                     
                </label>
                <div class="field width-remain">
                    <input type="textarea"
                           id="comment"
                           name="comment"                                     
                           required                           
                           [(ngModel)]="comment"/>
                </div>                
            </div>

            <footer>
                <button aria-label="submit" type="submit" class="btn secondary-btn" [disabled]="loading">
                    {{ 'fiscal_trips.nl.combine_trips.combine_button' | translate }}
                </button>
                <button aria-label="reset" type="reset" (click)="closeDialog()" class="btn alternative-btn">
                    {{ 'form.actions.cancel' | translate }}
                </button>
            </footer>

        </form>
        <!-- END OF COMBINE SELECTED TRIPS FORM -->
    </div>
</div>
