<page-container title="{{ 'admin.categories.vehicles.groups' | translate }}: {{ 'assets.group.access' | translate }}"
                [backButton]="true"
                (notifyOnBack)="back()">

    <div pageContent>
        <div #wrapper>
            <div class="admin-edit-label">{{ getLabelEntity() }}</div>
            <div class="form-row">
                <div class="form-row">
                    <mat-form-field class="autocomplete">
                        <input matInput #searchTerm 
                                            placeholder="{{ 'assets.group.access.add_user' | translate }}" 
                                            [matAutocomplete]="auto" 
                                            (keyup)="getUnauthorizedUsers(searchTerm.value)">
                        <div class="autocomplete-loader" *ngIf="loadingUnauthorizedUsers">
                            <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
                        </div>
                    </mat-form-field>

                    <mat-autocomplete #auto="matAutocomplete" ng-disabled="disabled">
                        <mat-option (onSelectionChange)="onAuthorizeUser(item.id)" *ngFor="let item of unauthorizedUsers" [value]="item.name">
                            {{ item.name }}
                        </mat-option>
                    </mat-autocomplete>
                </div>
            </div>
        </div>
        
        <data-table [records]="authorizedUsers"
                    [settings]="tableSettings"
                    [loading]="loading"
                    [pager]="pager"
                    [sorting]="request.sorting"
                    (onActionClick)="onManage($event)"
                    (onSortSelection)="onSort($event)"
                    (onScrollDown)="onScrollDown()">
        </data-table>
    </div>
</page-container>
