﻿
<div class="dialog edit-trip">
    <div class="header">
        <div class="title">
            <h3>{{ 'fiscal_trips.nl.edit-dialog.title' | translate }}</h3>
        </div>
        <button aria-label="close dialog" mat-icon-button>
            <mat-icon (click)="closeDialog()">clear</mat-icon>
        </button>
    </div>
    <div *ngIf="loading">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
    <div class="content">       
        <!-- FORGOT PASSWORD FORM -->
        <form class="edit-form edit-trip-form" #editSelectedTripForm="ngForm" (ngSubmit)="save(editSelectedTripForm)">
            <!--<p>{{ 'forgot_password.description' | translate }} </p>
            <div class="form-row input-with-icon">
                <input type="email"
                       id="email"
                       name="email"
                       placeholder="{{ 'forgot_password.email' | translate }}"
                       required
                       validateEmail
                       [(ngModel)]="forgotPasswordEmail"
                       #email="ngModel" />
                <mat-icon>contact_mail</mat-icon>
                <div [hidden]="email.valid || email.pristine" class="alert alert-danger">
                    {{ email.errors | myFormValidationMessage: { field: 'forgot_password.email' } }}
                </div>
            </div>-->

            <footer>
                <button aria-label="submit" type="submit" class="btn secondary-btn" [disabled]="editSelectedTripForm.invalid || loading || formIsInvalid()">
                    {{ 'form.actions.save' | translate }}
                </button>
                <button aria-label="reset" type="reset" (click)="closeDialog()" class="btn alternative-btn">
                    {{ 'form.actions.cancel' | translate }}
                </button>
            </footer>

        </form>
        <!-- END OF FORGOT PASSWORD FORM -->
    </div>
</div>
