﻿@import "../../../styles/variables";

.edit-trip {   
    max-width: 320px;
    .content {
        padding: 1em 0 0;
    }
}

@media screen and (min-width: @break-point) {
    .edit-trip {
        min-width: 550px;
        .form-row {
            .tag {
                width: 120px;                
                padding: 0 .5em;
                word-wrap:break-word;
            }
        }
    }
}
