

<ng-template [ngIf]="enabled">
    <button *ngIf="desktopWidth" mat-raised-button color="warn" type="button" (click)="!backToManager ? redirectToAdmin() : redirectToManager()" class="desktop">
        {{ 'back_to_admin.button' | translate }} <small *ngIf="backToManager">({{ backToManager }})</small>
    </button>

    <button *ngIf="!desktopWidth" 
        mat-icon-button 
        matTooltip="{{ 'back_to_admin.button' | translate }}"
        matTooltipPosition="below"
        matTooltipHideDelay="1000" 
        (click)="!backToManager ? redirectToAdmin() : redirectToManager()">
            <mat-icon class="mobile rotate">forward</mat-icon>
    </button>
</ng-template>

<!-- <mat-icon class="mobile rotate" 
    (click)="redirectToAdmin()"
    matTooltip="{{ 'back_to_admin.button' | translate }}"
    matTooltipPosition="below"
    matTooltipHideDelay="1000">
    forward
</mat-icon> -->

