@import "../../styles/variables";


.filters-bar {
    padding: 0.5em 0em;     
   
    .mobile {
        margin-top: 5px;
        display: flex;
        justify-content: space-between;       
        mat-icon {
            cursor: pointer;
        }
    }   

    .hide-filters {
        display: none;
    }

    .reverse {
        flex-flow: column-reverse!important;
    }

    
    
    .filter-rows {
        display: flex;        
        flex-flow: column;                
        
        .filter-row {
            display: flex;                       
            width: 100%;
            padding-top: 1em;
            .autocomplete {
                width: 100%;
                max-width: unset;
            }
            .asset-options, .location-groups {
                flex: 1 0 auto;
                flex-flow: column;
                display: flex;
                .entity-types {
                    width: 100%;
                    margin: 0 0 0.25em;
                }
                .assets-ddl {
                    width: 100%;
                    margin: 0.25em 0 0;           
                }
            }  
            .date-picker {
                flex: 1 0 auto;
                display: flex;
                flex-flow: row;                
            }            
            .tag {
                align-self: center;
                max-width: 150px;
                margin-right: .75em;
                text-align: right;
                width: 20%;
            }
            .one-tag {
                width: auto;
            }
        }
        .search-filter {
            width: 100%;           
        }
        .ddl-filter {
            width: auto;            
            .ddl {      
                width: auto;
                min-width: 230px;      
                flex: none;
            }              
        }
    }

    
}


@media screen and (min-width: @break-point) {

    .filters-bar {           
        .mobile {
            display: none;
        }
        
        .hide-filters {
            display: block;
        }
        .reverse {
            flex-flow: row!important;
        }

        .filter-wrap {
            flex-wrap: wrap;
        }

        .filter-rows {    
            flex-flow: row;   
            align-items: center;   
            .filter-row {
                margin-right: 1.5em;
                .autocomplete {
                    max-width: 250px;
                }   
                .asset-options, .location-groups {                    
                    flex-flow: row;
                    .entity-types {
                        width: auto;
                        min-width: 230px;
                        margin: 0;
                    }
                    .assets-ddl {   
                        width: auto;    
                        min-width: 230px;
                        margin: 0 0 0 3px;                                     
                    }
                }                 
                .tag {
                    width: auto;
                }  
                .date-picker {                    
                    button {
                        margin-top: 0;
                    }
                }                            
            }             
            .search-filter {
                width: 20%;
                justify-content: center;
                .autocomplete {
                    max-width: 250px;
                }
            } 
            .ddl-filter {
                width: 40%;   
                .ddl {                                       
                    flex: 1 0 auto;                    
                }                                       
            }            
        }
    }
}
