<div class="filters-bar">
    <div class="mobile" (click)="showFilters = !showFilters">
        <h3 class="primary-color">{{ 'data.filters' | translate }}</h3>
        <mat-icon class="primary-color"> 
            {{ showFilters ? 'arrow_drop_up' : 'arrow_drop_down' }}
        </mat-icon>
    </div>

    <div [ngClass]="showFilters ? '' : 'hide-filters'">
        <ng-content></ng-content>        
    </div>
</div>