<page-container class="edit-driver-group"
                title="{{ 'admin.categories.drivers.groups' | translate }}: {{ action | translate }}"
                [backButton]="true"
                (notifyOnBack)="back()"
                [loading]="loading">

    <form pageContent #editForm="ngForm" (ngSubmit)="onSubmit(editForm)" class="edit-form"> 
        <div class="admin-content">
            <div class="admin-edit-label">{{ getLabelEntity() }}</div>
        </div>
        <fieldset>
            <legend>{{ 'form.field.basic_data' | translate }}</legend>
            <div class="form-row">
                <label class="tag width20" for="name">{{ 'assets.group.name' | translate }}</label>
                <div class="field width-remain">
                    <input type="text" 
                        id="name" 
                        name="name"
                        required 
                        [(ngModel)]="group.name" 
                        #name="ngModel"/>
                </div>
                <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                    {{ 'form.errors.required' | translate | myStringFormat: ['assets.group.name' | translate] }}
                </div>
            </div>
            <div class="form-row">
                <label class="tag width20" for="description">
                    {{ 'assets.group.description' | translate }}
                    <span class="optional">{{ 'form.field.optional' | translate }}</span>
                </label>
                <div class="field width-remain">
                    <textarea rows="3" style="resize: none;"
                            id="description" 
                            name="description"
                            [(ngModel)]="group.description" 
                            #description="ngModel">
                    </textarea>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend>{{ 'assets.group.dimension_tag' | translate }}</legend>
            <div class="form-row">
                <div class="field width-remain">
                    <asset-group-dimensions 
                        [(modelData)]="group.dimensionID"
                        [htmlID]="'dimension-tag'"
                        [editing]="true"
                        [showAllOption]="false"
                        [showNoneOption]="true">
                    </asset-group-dimensions>
                    <input type="hidden" id="dimensionID" name="dimensionID" [(ngModel)]="group.dimensionID" #dimensionID="ngModel"/> 
                </div>
            </div>
        </fieldset>
    </form>
    <footer fixedFooter>
        <button aria-label="submit" type="submit" (click)="onSubmit(editForm)" [disabled]="editForm.invalid" class="btn secondary-btn">
            {{ 'form.actions.save' | translate }}          
        </button>
        <button aria-label="back" (click)="back()" type="reset" class="btn alternative-btn">
            {{ 'form.actions.cancel' | translate }}
        </button>
    </footer>
</page-container>
