
<fieldset>
    <legend> 
        {{ 'drivers.account.creation' | translate }}
    </legend>

    <ng-container *ngIf="driver.accountCreationCode; else accountCreationCodeMissing" >
        <p class="user-account">
            {{ 'drivers.account.creation.code.description' | translate }}: <b>{{ driver.companyAccountCreationCode }}{{ driver.accountCreationCode }}</b>
        </p>

        <button type="submit"
                class="btn secondary-btn"
                aria-label="submit" 
                [disabled]="loading"  
                (click)="onSubmitAccountSettings()">
            {{ (driver.allowAccountCreation == true ?  'drivers.account.creation.disallow' : 'drivers.account.creation.allow') | translate }}      
        </button>

        <br/><br/>
        <button *ngIf="driver.allowAccountCreation" 
                aria-label="submit to driver" 
                class="btn secondary-btn" 
                type="submit" 
                [disabled]="loading" 
                (click)="onSendAccountCreationCode()">
            {{ 'drivers.account.creation.code.send_to_driver' | translate }}
        </button>
        <label *ngIf="driver.accountCreationCodeLastSent">
            {{ 'drivers.account.creation.code.last_sent' | translate }}:
            {{ driver.accountCreationCodeLastSent | myDateFormat: { display: dateDisplayOptions.both, dateFormat: userOptions.localOptions.short_date } }}
        </label>
    </ng-container>
    <ng-template #accountCreationCodeMissing>
        <p class="user-account">
            {{ 'drivers.errors.creation.code' | translate }}
        </p>
    </ng-template>

    <div *ngIf="loading">
        <br/> 
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
</fieldset>
