.edit-vehicle-settings {
    .ddl {
        margin-bottom: 10px;
        margin-right: 10px;
    }
    textarea {
        resize: none;
    }
    .vehicle-types {
        width: 100%;
        .wrapper-dropdown {
            max-width: none;
        }
    }
}