<page-container class="edit-user-role"
                title="{{ 'admin.categories.users.roles' | translate }}: {{ 'user_roles.category.dashboard' | translate }}"
                [backButton]="true"
                (notifyOnBack)="back()"
                [loading]="loading">

    <div pageContent>
        <div class="admin-edit-label">{{ getLabelEntity() }}</div>

        <!-- DASHBOARD -->
        <ng-template [ngIf]="!dashboardWidgetsEditMode">
            <fieldset class="edit-form">
                <legend>{{ 'form.field.basic_data' | translate }}</legend>
                <div class="form-row">
                    <label class="tag width20">{{ 'user_roles.dashboard.widget_types.description' | translate }}</label>
                    <div class="field width-remain">
                        <div class="toggle-buttons">
                            <div *ngFor="let option of dashboardWidgetOptions">
                                <div *ngIf="option.id !== -1" class="equal-widths">
                                    <input type="checkbox"
                                            [id]="'widgetsOptions' + option.id"
                                            name="widgetsOptions"
                                            [value]="option.checked"
                                            [(ngModel)]="option.checked"/>
                                    <label [for]="'widgetsOptions' + option.id">{{ option.term | translate }}</label>
                                </div>
                            </div>
                        </div>

                        <button aria-label="edit"
                                class="btn primary-btn small-button"
                                type="button"
                                (click)="setAllowedWidgetTypes()">
                            <mat-icon>save</mat-icon>
                        </button>
                    </div>
                </div>
                <div class="form-row">
                    <label class="tag width20">{{ 'user_roles.dashboard.widgets.add' | translate }}</label>
                    <div class="field add-widgets">
                        <custom-selector class="ddl"
                                        [options]="dashboardWidgetOptions"
                                        [(modelData)]="selectedWidgetType">
                        </custom-selector>

                        <button aria-label="edit" class="btn primary-btn small-button"
                                type="button"
                                (click)="onToggleEditingDashboardWidgetView()"
                                [disabled]="selectedWidgetType < 0">
                            <mat-icon>add_circle_outline</mat-icon>
                        </button>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend>{{ 'user_roles.dashboard.widgets' | translate }}</legend>
                <data-table [records]="dashboardWidgets"
                            [loading]="loadingWidgets"
                            [settings]="dashboardWidgetsTableSettings"
                            (onActionClick)="onManageDashboardWidget($event)">
                </data-table>
            </fieldset>
        </ng-template>
        <ng-template [ngIf]="dashboardWidgetsEditMode">
            <div class="dashboard-content tab-content">
                <fieldset>
                    <ng-container [ngSwitch]="selectedWidgetType">
                        <chart-widget-editor *ngSwitchCase="widgetTypes.Chart"
                                            [roleID]="role.id"
                                            [isDriverRole]="role.isDriverRole"
                                            [widgetID]="selectedWidgetID"
                                            (onComplete)="onToggleEditingDashboardWidgetView()">
                        </chart-widget-editor>
                        <summary-widget-editor *ngSwitchCase="widgetTypes.Summary"
                                                [roleID]="role.id"
                                                [isDriverRole]="role.isDriverRole"
                                                [widgetID]="selectedWidgetID"
                                                (onComplete)="onToggleEditingDashboardWidgetView()">
                        </summary-widget-editor>
                        <events-widget-editor *ngSwitchCase="widgetTypes.Events"
                                                [roleID]="role.id"
                                                [isDriverRole]="role.isDriverRole"
                                                [widgetID]="selectedWidgetID"
                                                (onComplete)="onToggleEditingDashboardWidgetView()">
                        </events-widget-editor>
                        <ranking-widget-editor *ngSwitchCase="widgetTypes.Ranking"
                                                [roleID]="role.id"
                                                [isDriverRole]="role.isDriverRole"
                                                [widgetID]="selectedWidgetID"
                                                (onComplete)="onToggleEditingDashboardWidgetView()">
                        </ranking-widget-editor>
                    </ng-container>
                </fieldset>
            </div>
        </ng-template>
        <!-- END OF DASHBOARD -->
    </div>
</page-container>
