@import "../../../../styles/variables";

.edit-user-role {
    .small-button {
        min-width: 50px;
        height: 40px;
    }

    .dashboard-content {
        .asset-options {
            entity-types {
                margin-right: 5px;
                width: 30%;
            }
            .assets-field {
                width: 45%;
            }
        }
    }
}

@media screen and (max-width: @break-point) {
    .edit-user-role {
        .dashboard-header  {
            flex-flow: column wrap;
            align-items: flex-start;
        }
    }
}