
<page-container title="{{ 'admin.categories.vehicles.types' | translate }}: {{ 'vehicle_types.category.energy.bev' | translate }}"
                [backButton]="true"
                (notifyOnBack)="back()"
                [loading]="loading">

    <form pageContent #editForm="ngForm" (ngSubmit)="onSubmit(editForm)" class="edit-form"> 
        <div class="admin-edit-label">{{ getLabelEntity() }}</div>
        <fieldset>
            <legend>
                {{ 'vehicle_types.bev.battery_n_car' | translate }}
            </legend>
            <div class="form-row">
                <label class="tag width20" for="batteryNetCapacity">  {{ 'vehicle_types.bev.battery_net_capacity'  | translate }}</label>
                <div class="field">
                    <input class="number" type="number" id="batteryNetCapacity" min="0"
                        [(ngModel)]="vehicleType.batteryNetCapacity" name="batteryNetCapacity"
                        #batteryNetCapacity="ngModel"/>
                    <span class="field-msg">
                        {{ 'measurement.metric.kWh' | translate }}
                    </span>
                </div>
            </div>

            <div class="form-row">
                <label class="tag width20" for="batteryGrossCapacity">  {{ 'vehicle_types.bev.battery_gross_capacity'  | translate }}</label>
                <div class="field">
                    <input class="number" type="number" id="batteryGrossCapacity" min="0"
                        [(ngModel)]="vehicleType.batteryGrossCapacity" name="batteryGrossCapacity"
                        #batteryGrossCapacity="ngModel"/>
                    <span class="field-msg">
                        {{ 'measurement.metric.kWh' | translate }}
                    </span>
                </div>
            </div>
            <div class="form-row">
                <label class="tag width20" for="maxMotorPower">  {{ 'vehicle_types.bev.max_motor_power' | translate }}</label>
                <div class="field">
                    <input class="number" type="number" id="maxMotorPower" min="0"
                        [(ngModel)]="vehicleType.maxMotorPower" name="maxMotorPower"
                        #maxMotorPower="ngModel"/>
                    <span class="field-msg">
                        kW
                    </span>
                </div>
            </div>
        </fieldset>

        <fieldset>
            <legend>
                {{ 'vehicle_types.bev.soc_classification' | translate }}
            </legend>
            <div class="form-row">
                <div class="field">
                    <span class="field-msg">{{ 'vehicle_types.bev.soc_classification_low' | translate }} &lt; </span>
                    <input class="number" 
                            type="number" 
                            id="batterySoCClasificationLow" 
                            name="batterySoCClasificationLow"
                            min="0"
                            required
                            [(ngModel)]="vehicleType.batterySoCClasificationLow"
                            #batterySoCClasificationLow="ngModel"/>
                    <span class="field-msg"> % &lt; {{ 'vehicle_types.bev.soc_classification_medium' | translate }} &gt; </span>
                    <input class="number" 
                            type="number" 
                            id="batterySoCClasificationHigh" 
                            name="batterySoCClasificationHigh"
                            min="0"
                            required
                            [(ngModel)]="vehicleType.batterySoCClasificationHigh" 
                            #batterySoCClasificationHigh="ngModel"/>
                    <span class="field-msg">% &lt; {{ 'vehicle_types.bev.soc_classification_high' | translate }} </span>
                </div>
                <div [hidden]="batterySoCClasificationHigh.valid || batterySoCClasificationHigh.pristine" class="alert alert-danger">
                    {{ batterySoCClasificationHigh.errors | myFormValidationMessage: { field: 'vehicle_types.bev.soc_classification_high' } }}
                </div>
                <div [hidden]="batterySoCClasificationLow.valid || batterySoCClasificationLow.pristine" class="alert alert-danger">
                    {{ batterySoCClasificationLow.errors | myFormValidationMessage: { field: 'vehicle_types.bev.soc_classification_low' } }}
                </div>
            </div>

        </fieldset>
    </form>
    <footer fixedFooter>
        <button type="submit" (click)="onSubmit(editForm)" [disabled]="editForm.invalid" class="btn secondary-btn">
            {{ 'form.actions.save' | translate }}          
        </button>
        <button (click)="back()" type="reset" class="btn alternative-btn">
            {{ 'form.actions.cancel' | translate }}
        </button>
    </footer>
</page-container>
