.timepicker {
    display: flex;
    align-items: center;
    .timepicker-spacer {
        margin: 0 5px;
    }

    .timepicker-selector {
        width: 40px;
        input {
            margin: 0px;
            width: 40px;
            text-align: center;
            padding: 10px 5px;           
        }
        button {
            width: 40px;
            min-width: unset;
        }
    }
}

