<div class="timepicker">
    <div class="timepicker-selector">

        <button aria-label="increment value" class="btn icon-button primary-color" type="button" (click)="incrementValue('hours')">
            <i class="material-icons">keyboard_arrow_up</i>
        </button>

        <input type="text" 
                (blur)="onFocusOut($event, 'hours')"
                [(ngModel)]="hoursString" 
                name="hours"
                size="2" 
                maxlength="2" 
                placeholder="HH"/>
        
        <button aria-label="decrement value" class="btn icon-button primary-color" type="button" (click)="decrementValue('hours')">
            <i class="material-icons">keyboard_arrow_down</i>
        </button>

    </div>
    <div class="timepicker-spacer">:</div>
    <div class="timepicker-selector">

        <button aria-label="increment value" class="btn icon-button primary-color" type="button" (click)="incrementValue('minutes')">
            <i class="material-icons">keyboard_arrow_up</i>
        </button>

        <input type="text" 
                (blur)="onFocusOut($event, 'minutes')"
                [(ngModel)]="minutesString" 
                name="minutes"
                size="2" 
                maxlength="2" 
                placeholder="MM" />

        <button aria-label="decrement value" class="btn icon-button primary-color" type="button" (click)="decrementValue('minutes')">
            <i class="material-icons">keyboard_arrow_down</i>
        </button>

    </div>
</div>