<fieldset *ngIf="driver.hasAccount">
    <legend> 
        {{ 'drivers.account.user' | translate }}
    </legend>
    <p class="user-account">
        {{ 'drivers.account.user.description' | translate }}: <b>{{ driver.username }}</b>
    </p>
    <button aria-label="submit-account blocked" type="submit" [disabled]="loading " class="btn secondary-btn" (click)="onSubmitBlockAccount()">
        {{ (driver.accountBlocked == true ?  'drivers.account.user.unblock' : 'drivers.account.user.block') | translate }}      
    </button>
    <button aria-label="submit user remove" type="submit" [disabled]="loading " class="btn secondary-btn" (click)="onSubmitRemoveAccount()">
        {{ 'drivers.account.user.remove' | translate }}      
    </button>

    <div *ngIf="loading">
        <br/> 
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
</fieldset>