<div class="dialog edit-company-event-property ">
    <div class="header">   
        <div class="title">
            <h3>{{ 'form.actions.edit' | translate }}</h3>
        </div>     
        <button aria-label="clear" mat-icon-button>
            <mat-icon (click)="closeDialog()">clear</mat-icon>
        </button>
    </div>

    <div *ngIf="loading">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
    <div class="content">
        <form #editEventPropertyForm="ngForm" (ngSubmit)="onSubmit(editEventPropertyForm)" class="edit-form"> 
            <div class="form-row">
                <label class="tag width20" for="id">{{ 'event_properties.index' | translate }}</label>
                <div class="field width-remain">
                <label>{{ record.id }}</label>
                </div>
            </div>
            <div class="form-row">
                <label class="tag width20" for="name">{{ 'event_properties.label' | translate }}</label>
                <div class="field width-remain">
                    <input type="text" 
                            id="label" 
                            name="name"
                            required
                            [(ngModel)]="record.name" 
                            #name="ngModel"/>
                </div>
                <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                    {{ name.errors | myFormValidationMessage: { field: 'event_properties.label' } }}
                </div>
            </div>

            <footer id="footer">
                <button aria-label="submit" type="submit" [disabled]="!editEventPropertyForm.form.valid || loading " class="btn secondary-btn">
                    {{ 'form.actions.save' | translate }}          
                </button>
                <button aria-label="close" (click)="closeDialog()" type="reset" class="btn alternative-btn">
                    {{ 'form.actions.cancel' | translate }}
                </button>
            </footer>
        </form>
    </div>
</div>
