<div class="dashboard-asset-selection">
    <custom-selector style="width: 100%" 
                    [ngClass]="{'inactivate' : disabled}"
                    [options]="assetOptions"
                    [(modelData)]="modelData.type"
                    [dataID]="'dashboard-asset-types'"
                    (modelDataChange)="onSelectAssetType($event)">
    </custom-selector>

    <div style="width: 100%" >
        <asset-groups *ngIf="modelData.type == assetTypes.VehicleGroups" 
                        [htmlID]="'assetGroupsMenu'"
                        [fetchData]="true"
                        [selected]="modelData.id"
                        [type]="groupTypes.Vehicle"
                        [showNoneOption]="showNoneOption"
                        (notifyOnChange)="onChangeGroup($event)">
        </asset-groups>

        <vehicle-types-list *ngIf="modelData.type == assetTypes.VehicleTypes"
                            [showAllOption]="true"
                            [showNoneOption]="showNoneOption"
                            [authorizedOnly]="true"
                            [(modelData)]="modelData.id"
                            (modelDataChange)="onVehicleTypeSelect($event)">
        </vehicle-types-list>

        <asset-groups *ngIf="modelData.type == assetTypes.DriverGroups" 
                        [htmlID]="'assetGroupsMenu'"
                        [fetchData]="true"
                        [selected]="modelData.id"
                        [type]="groupTypes.Driver"
                        [showNoneOption]="showNoneOption"
                        (notifyOnChange)="onChangeGroup($event)">
        </asset-groups>

        <asset-group-dimensions *ngIf="modelData.type == assetTypes.DriverGroupDimensions"
                    [(modelData)]="modelData.id"
                    (modelDataChange)="onDriverGroupDimensionSelect($event)"
                    [editing]="false"
                    [showAllOption]="true"
                    [showNoneOption]="false">
        </asset-group-dimensions>

        <search-mechanism *ngIf="modelData.type == assetTypes.DriverUsers"
                            class="search-assets"
                            placeholder="{{ 'form.search.pleaceholder' | translate }}"
                            [name]="driverName"
                            [chosenOption]="assetSearchTypes.DriverUser"
                            (onSelect)="onDriverUserSelect($event)">
        </search-mechanism>
    </div>
</div>