﻿<div #moreOptionEditingOptionsDialog class="more-options-editing-options-dialog">
    <div class="ico"></div>
    <ul *ngFor="let option of options;">
        <li *ngIf="option.enabled" (click)="onSelectOption(option)">
            {{ option.term | translate }}
        </li>
    </ul>
</div>