<page-container title="{{ 'admin.categories.drivers.manage' | translate }}: {{ 'user_roles.access.title' | translate }}"
                [backButton]="true"
                (notifyOnBack)="back()"
                [loading]="loading">
                
    <form pageContent #editForm="ngForm" (ngSubmit)="onSubmit(editForm)" class="edit-form"> 
        <div class="admin-edit-label">{{ getLabelEntity()  }}</div>

        <!-- AUTHORISED ASSETS -->
        <fieldset>
            <asset-group-membership *ngIf="!loading"
                                    [groupType]="groupTypes.Driver"
                                    [includeUngrouped]="false"
                                    [showSelectAll]="true"
                                    [(groupIDs)]="driver.groupIDs">
            </asset-group-membership>
        </fieldset>
        <!-- END OF AUTHORISED ASSETS -->
        
    </form>
    <footer fixedFooter>
        <button aria-label="submit" type="submit" (click)="onSubmit(editForm)" [disabled]="editForm.invalid" class="btn secondary-btn">
            {{ 'form.actions.save' | translate }}          
        </button>
        <button aria-label="back" (click)="back()" type="reset" class="btn alternative-btn">
            {{ 'form.actions.cancel' | translate }}
        </button>
    </footer>           
</page-container>
