@import "../../../styles/variables";

 .event-data-widget {
    .table-head {
        margin: 0px;
        font-size: 10pt;
    }
    .wrap-overlay {
        padding: 0px;
        .table-wrapper {
            height: 210px;
            .table {
                font-size: 10pt;
            }
        }
    }
    .return-to-top {
        right: 20px;
    }

 }