<div class="event-widget event-data-widget" [ngClass]="!visibility ? 'event-widget-hide' : ''">
    <div class="card add-shadows widget-row-1">
        <div class="header">
            <span class="title" *ngIf="!editMode">{{ widget.title }}</span>
            <div class="editing" *ngIf="editMode">
                <form (ngSubmit)="onSave(widget)" #eventWidgetForm="ngForm">
                    <input type="text" class="form-control" id="name" required [(ngModel)]="widget.title" name="name"  #widgetName>
                    <div class="btns">
                        <button aria-label="submit" type="submit" [disabled]="eventWidgetForm.invalid" class="btn secondary-btn">
                            {{ 'form.actions.save' | translate }}          
                        </button>
                        <button aria-label="reset" type="reset" class="btn alternative-btn" (click)="onEdit(true)">
                            {{ 'form.actions.cancel' | translate }}
                        </button>
                    </div>
                </form>
            </div>

            <div class="header-buttons" *ngIf="!editMode">
                <button aria-label="edit" class="icon-button" (click)="onEdit(false)"> 
                    <mat-icon class="primary-color">mode_edit</mat-icon>
                </button>
                <button aria-label="delete" class="icon-button" (click)="openDeleteDialog(widget.id)"> 
                    <mat-icon class="primary-color">delete_forever</mat-icon>
                </button>
                <button aria-label="toggle visibility" class="icon-button" (click)="onToggleVisibility()"> 
                    <mat-icon class="button-size-32 primary-color" *ngIf="visibility">expand_less</mat-icon>
                    <mat-icon class="button-size-32 primary-color" *ngIf="!visibility">expand_more</mat-icon>
                </button>
                <maximize-button [referenceID]="elementRef.nativeElement.id" (notifyOnResize)="onResize($event)"></maximize-button>
            </div>
        </div>
        <div class="widget-content">
            <events-grid #eventsWidgetGrid [id]="'datalist_grid_' + widget.id"
                        [filters]="widget" 
                        [widgetView]="true"
                        [autoRefreshEnabled]="autoRefreshEnabled"
                        [style.width.%]="100"
                        [style.height.%]="100">
            </events-grid>
        </div>
        <div class="widget-footer-buttons" *ngIf="!loading">
            <button aria-label="edit" class="icon-button" (click)="onEdit(false)" *ngIf="!editing">
                <mat-icon class="primary-color">mode_edit</mat-icon>
            </button>
            <button aria-label="delete dialog" class="icon-button" (click)="openDeleteDialog(widget.id)" *ngIf="!editing">
                <mat-icon class="primary-color">delete_forever</mat-icon>
            </button>
            <button aria-label="toggle visibility" class="icon-button" *ngIf="!maximized" (click)="onToggleVisibility()"> 
                <mat-icon class="button-size-32 primary-color" *ngIf="visibility">expand_less</mat-icon>
                <mat-icon class="button-size-32 primary-color" *ngIf="!visibility">expand_more</mat-icon>
            </button>
            <maximize-button [referenceID]="elementRef.nativeElement.id" (notifyOnResize)="onResize($event)"></maximize-button>
        </div>
    </div>
</div>