﻿<div class="toggle-buttons" *ngIf="!ddlMode">
    <div *ngFor="let priority of data">
        <input type="radio" [id]="'priority_' + priority.id" [name]="'priority_' + priority.id"
               [(ngModel)]="modelData"
               [value]="priority.id"
               (ngModelChange)="onSelectOption(priority.id)">
        <label [for]="'priority_' + priority.id">{{ priority.name }}</label>
    </div>
</div>
<custom-selector class="selectOnMobile"
                [ngClass]="ddlMode ? 'desktop' : ''"
                [options]="data"
                [(modelData)]="modelData"
                [dataID]="'priority-idxs'"
                [loading]="loading"
                (modelDataChange)="onSelectOption($event)">
</custom-selector>