﻿@import "../../styles/toggle-btn";

.toggle-buttons {
    display: none;
}

.selectOnMobile {
    display: block;
}

@media screen and (min-width: @break-point) {

    .toggle-buttons {
        display: flex;
    }

    .selectOnMobile:not(.desktop) {
        display: none;
    }    

}