﻿@import "../../styles/variables";

.color-picker {
    position: relative;
    .color-selected {
        width: 36px;
        height: 36px;
        border-radius:4px;
        border: 1px solid @neutral-color;
        position: relative;
        &:before, &:after {
            content: '';
            position: absolute;
            bottom: 0;
            right: 0;
            border-color: transparent;
            border-style: solid;
        }
        &:before {
            border-width: 0.25em;
            border-right-color: @neutral-color;
            border-bottom-color: @neutral-color;
        }
        &:after {           
            border-width: 0.25em;
            border-right-color: @neutral-color;
            border-bottom-color: @neutral-color;
        }
    }
    .wrapper {
        background: #fff;
        color: @paragraph;
        padding: 5px;       
    }

    &.modal {
        &.open {
            .wrapper {
               display: flex;
            }
        }
        &.close {
            .wrapper, .ico {
                display: none;
            }
        }
        .wrapper {
            position: absolute;
            top: 45px;            
            width: 130px;
            max-height: 440px;
            overflow-y: hidden;
            z-index: 50000;
            border: 1px solid @divider;
            border-radius: 2px;
            box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 
                0px 8px 10px 1px rgba(0, 0, 0, 0.14), 
                0px 3px 14px 2px rgba(0, 0, 0, 0.12);
            
            flex-direction: row;
            flex-wrap: wrap;
            .picker-colors {
                margin: 2px;
                flex: 0 1 auto;
                width: 35px;
                height: 35px;
                border: 1px solid @divider;  
            }
        }
         .ico {
            z-index: 50001;
            width: 10px;
            height: 10px;
            background-color: #fff;
            border: 1px solid @divider;    
            border-right: 0px;
            border-top: 0px;
            transform: rotate(135deg);
            position: absolute;
            right: 15px;
        }
    }
}
@media screen and (max-width: @break-point) {
    .color-picker {
        &.modal {
            .wrapper {
                width: 120px;
                .form {
                    max-height: 320px;
                }
            }
        }
    }
}