﻿<div class="color-picker modal" [ngClass]="open ? 'open' : 'close'">
    <div class="color-selected" [ngStyle]="{ 'background-color' : modelData }" (click)="setVisibility()"></div>    
    <div class="wrapper">
        <ng-template ngFor let-color [ngForOf]="options">
            <div class="picker-colors" [ngStyle]="{ 'background-color' : color }" (click)="onOptionChange(color)"></div>
        </ng-template>
    </div>
</div>