.audit-log-acl {
    .acl {
        border: 1px solid #dedede;
        margin-top: 15px;

        .acl-type {
            color: #565454;
            font-size: 12pt;
            padding: .5em 1em;
            background-color: #dedede;
        }
        .acl-cnt {
            padding: .5em 2em;
            &.revoked {
                color: red;
                
            }
            &.granted {
                color: green;
            }
        }
        
    }
    .module {
        list-style: disc;
        .properties {
            list-style: circle;

            .property {
                padding: .4em;
                margin-left: 1.5em;
            }
        }
    }
}