<div class="audit-log-acl ">
    <div class="acl">
        <div class="acl-type">Revoked</div>
        <div class="acl-cnt revoked">
            <ng-container *ngTemplateOutlet="aclTemplate;
                context: {
                    data: revoked
                }">
            </ng-container>
        </div>
    </div>
    <div class="acl">
        <div class="acl-type">Granted</div>
        <div class="acl-cnt granted">
            <ng-container *ngTemplateOutlet="aclTemplate;
                context: {
                    data: granted
                }">
            </ng-container>
        </div>
    </div>


    <ng-template #aclTemplate let-data="data">
        <ng-template ngFor let-module [ngForOf]="data">
            <ul class="module">
                <li>{{ module.id | myAccessRightsModuleName }}</li>
                
                <ul class="properties" *ngIf="module.properties && module.properties.length > 0">
                    <ng-template ngFor let-property [ngForOf]="module.properties">
                        <li class="property">{{ module.id | myAccessRightsPropertyName: property.id }}</li>
                    </ng-template>
                </ul>

            </ul>
        </ng-template>    
    </ng-template>    
</div> 