@import "../../styles/variables";

.password-rules {
    font-size: 0.8em;
    color: #5f5e5e;
    background-color: #f7f5f5;
    border: 1px solid #E0E5E6;
    border-radius: 4px;
    padding: 1em;
    margin: -25px 0 1.5em 0;
    border-top: 0px;
    text-align: justify;

    .rules {
        color: #868686;
        mat-icon {
            visibility: hidden;
            font-size: 1.5em;
            vertical-align: middle;
        }
        .valid {
            color: #5f5e5e;
            mat-icon {
                visibility: visible;
                color: #10a311;
            }
        }
    }
}