﻿
<div class="password-rules" *ngIf="!isPasswordValid">
    {{ 'password_policies.rules' | translate }}:
   
    <p *ngIf="loading"> {{ 'data.loading' | translate }}</p>

    <ul class="rules" *ngIf="!loading">
        <li [ngClass]="{'valid': !validation.minPasswordLengthInvalid }"> 
            <mat-icon>check</mat-icon>   
            {{ 'password_policies.rules.min_password_length' | translate | myStringFormat: [rules.minPasswordLength] }}
        </li>
        <li *ngIf="rules.minLowerCaseChars" [ngClass]="{'valid': !validation.minLowerCaseCharsInvalid }">
            <mat-icon>check</mat-icon>   
            {{ 'password_policies.rules.min_lower_case_chars' | translate | myStringFormat: [rules.minLowerCaseChars] }}
        </li>
        <li *ngIf="rules.minUpperCaseChars" [ngClass]="{'valid': !validation.minUpperCaseCharsInvalid }">
            <mat-icon>check</mat-icon> 
            {{ 'password_policies.rules.min_upper_case_chars' | translate | myStringFormat: [rules.minUpperCaseChars] }}
        </li>
        <li *ngIf="rules.minDigits" [ngClass]="{'valid': !validation.minDigitsInvalid }">
            <mat-icon>check</mat-icon> 
            {{ 'password_policies.rules.min_numbers' | translate | myStringFormat: [rules.minDigits] }}
        </li>
        <li *ngIf="rules.minSpecialChars" [ngClass]="{'valid': !validation.minSpecialCharsInvalid }">
            <mat-icon>check</mat-icon> 
            {{ 'password_policies.rules.min_special_chars' | translate | myStringFormat: [rules.minSpecialChars] }}
        </li>
    </ul>
</div>