@import "../../../styles/variables";

.chart-widget {
    height: 100%;
    .widget-content {
        .score-build-up {
            margin-top: 47px;
            height: 85%;
        }
        .score {
            position: absolute;
            top: 60px;
            padding: 5px 0;
            height: 45px;
            background-color: @bgGrey;
            width: 100%;
            .valign {
                text-align: center;
            }
            span {
                display: inline-block;
            }
            .score_value {
                font-size: 1.5em;
            }
            .score_letter {
                margin-right: 10px;
                width: 35px;
                height: 35px;
                line-height: 35px;
                font-size: 1.5em;
            }
            
        }
        .referenceAssetsNote {
            position: absolute;
            bottom: 0px;
            font-size: 9pt;
            text-align: center;
            width: 100%;
            font-style: italic;
        }
    }
    .score-build-up-legend {
        width: 100%;
        position: absolute;
        top: 92px;
        overflow-y: auto;
        overflow-x: hidden;
    }
}
