<div class="widgets chart-widget">
    <div class="card add-shadows" [ngClass]="'widget-row-2'">
        <div class="header">
            <div class="title">{{ widget.title }}</div>
            <div class="header-buttons">
                <button aria-label="edit" class="icon-button" (click)="edit(widget.id)" *ngIf="!editing && widget.allowUserToRemove == true">
                    <mat-icon class="primary-color">mode_edit</mat-icon>
                </button>
                <button aria-label="delete forever" class="icon-button" (click)="openDialog(widget)" *ngIf="!editing && widget.allowUserToRemove == true">
                    <mat-icon class="primary-color">delete_forever</mat-icon>
                </button>
                <maximize-button *ngIf="!editing" [referenceID]="elementRef.nativeElement.id" ></maximize-button>
            </div>
        </div>
        <div class="loader" *ngIf="loading">
            <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
        </div>     
        <ng-template [ngIf]="!loading">
            <div class="widget-content">
                <ng-template [ngIf]="widget.type == widgetTypes.ScoreBuildUp && score">
                    <div class="score">
                        <div class="valign">
                            <span *ngIf="score.normalized" [innerHtml]="score | myScoreFormat: scoreFormatter.all"> </span>
                            <span *ngIf="!score.normalized"> {{ 'dashboard.edit_widget.score_not_applied' | translate }}</span>
                        </div>
                    </div>
                </ng-template>
                <amchart *ngIf="!message && chartOptions" 
                        [type]="chartType" 
                        [htmlID]="'esc' + widget.id" 
                        [options]="chartOptions" 
                        [customLegend]="widget.type == widgetTypes.ScoreBuildUp ? true : false"
                        [ngClass]="widget.type == widgetTypes.ScoreBuildUp ? 'score-build-up' : ''">
                </amchart>
                <div class="referenceAssetsNote" *ngIf="referenceAssetsSelected()">
                    * {{ 'dashboard.chart_widget.reference_assets_color_note' | translate }}
                </div>
                <div style="width: 100%;  margin: auto;" *ngIf="message">
                    <h3 class="msg" align="center">{{ message | translate }}</h3>
                </div>
            </div>
                
            <div class="widget-footer-buttons">
                <button aria-label="edit" class="icon-button" (click)="edit(widget.id)" *ngIf="!editing && widget.allowUserToRemove == true">
                    <mat-icon class="primary-color">mode_edit</mat-icon>
                </button>
                <button aria-label="delete forever" class="icon-button" (click)="openDialog(widget)" *ngIf="!editing && widget.allowUserToRemove == true">
                    <mat-icon class="primary-color">delete_forever</mat-icon>
                </button>
                <maximize-button *ngIf="!editing" [referenceID]="elementRef.nativeElement.id" ></maximize-button>
            </div>
        </ng-template>
    </div>
</div>
