﻿@import "../../styles/variables";

//----------------- START of DRIVERS-VEHICLES-SEARCH COMPONENT -----------------//

@search-asset-height: 64px;
.trip-review-search {
    height: 100%;
    .content {
        background: #fff;
    }
    .search-asset {
        height: @search-asset-height;
    }
    .search-options {
        height: calc(~'100% - @{search-asset-height} - 10px');
        margin-top: 5px;
        display: flex;
        .search-type {
            height: 98%;
            width: 150px;
            z-index: 3;
            background: @form-tabs;
            border: 1px solid @divider;
            .toggle-btn {
                display: block;
                margin-right: -1px;
                label {
                    width: 100%;
                    text-align: left;
                    padding: 10px 15px;
                    height: 41px;
                    border-left:0px; 
                    border-top:0px; 
                }
            }
        }
        .search-results {
            overflow-y: scroll;
            flex: 1 1 auto;
            padding: 1em;
            border: 1px solid @divider;
            border-left: 0px;
            z-index: 1;
            height: 98%;
            background-color: #fff;
            .result {
                display: flex;
                align-items: center;
                padding: 0em 1em;
                height: 40px;
                border-bottom: 1px solid @divider;
                color: @paragraph;
                cursor: pointer;
                
                &:nth-of-type(even) { 
                    background-color: @form-tabs; 
                }
                &:nth-of-type(odd) { 
                    background-color: #fff; 
                } 
                &:hover {
                    background-color: @form-tabs-hover;
                }   
                span {
                    padding: 0px;
                    vertical-align: middle;
                    &.name {
                        width: 90%;
                    }
                    &.arrow-button {
                        width: 10%;
                        text-align: right;
                    }
                }
            }
        }
    }   
}

//----------------- END of DRIVERS-VEHICLES-SEARCH COMPONENT -----------------//

@media screen and (max-width: @break-point) {
    .trip-review-search {
        .search-options{
            .search-type {
                width: 80px !important;
                .toggle-btn label {
                    font-size: 10pt;
                    padding: 10px !important;
                }
            }
            .search-results {
                font-size: 10pt;
            }
        }
    }
}