<page-container [title]="'sidebar.trip_review'">
    <div pageContent class="trip-review-search">
        <div class="search-asset">
            <mat-form-field class="autocomplete">
                <input #term type="text" matInput [formControl]="termControl" placeholder="{{ 'form.search.pleaceholder' | translate }}">
                <div class="autocomplete-clear" *ngIf="!loading && termControl.value && termControl.value.length > 0" (click)="clearInput($event)"  >
                    <mat-icon>clear</mat-icon>
                </div>    
                <div class="autocomplete-loader" *ngIf="loading">
                    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
                </div>
            </mat-form-field>
        </div>

        <div class="search-options">
            <div class="search-type">
                <div class="toggle-btn tab-like vertical" *ngIf="isManager">
                    <input type="radio" id="me" name="searchtype"   
                            [(ngModel)]="chosenOption"
                            value="" (change)="clickOption()"/>
                    <label for="me">{{ 'assets.me' | translate }}</label>
                </div>
                <div class="toggle-btn tab-like vertical">	
                    <input type="radio" id="vehicle" name="searchtype"
                            [(ngModel)]="chosenOption"
                            [value]="searchOptions.Vehicle" (change)="clickOption()"/>
                    <label for="vehicle">{{ 'assets.vehicle' | translate }}</label>
                </div>
                <div class="toggle-btn tab-like vertical">		
                    <input type="radio" id="driver" name="searchtype"
                            [(ngModel)]="chosenOption"
                            [value]="searchOptions.Driver" (change)="clickOption()"/>
                    <label for="driver">{{ 'assets.driver' | translate }}</label>
                </div>
            </div>
            
            <div class="search-results">
                <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
                <ng-template ngFor let-item [ngForOf]="items | async" class="result">
                    <div class="result" [ngClass]="{'redirect-starting' : startRedirecting }" (click)="selected(item)" >
                        <span class="name">{{item.name}}</span>
                        <span class="arrow-button">
                            <mat-icon>keyboard_arrow_right</mat-icon>
                        </span>
                    </div>
                </ng-template>
            </div>
        </div>
    </div>
</page-container>
