<mat-form-field class="autocomplete">
    <input matInput #term [(ngModel)]="inputSelected" 
                        [placeholder]="placeholder" 
                        [matAutocomplete]="auto" 
                        [disabled]="disabled"
                        (keyup)="search(term.value)">
    <div class="autocomplete-clear" *ngIf="!loading && !disabled && inputSelected && inputSelected.length > 0" (click)="clearInput($event)"  >
        <mat-icon>clear</mat-icon>
    </div>    
    <div class="autocomplete-loader" *ngIf="loading">
        <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
    </div>
</mat-form-field>

<mat-autocomplete #auto="matAutocomplete" ng-disabled="disabled">
    <mat-option (onSelectionChange)="selected(item)" *ngFor="let item of items | async" [value]="item.name">
        {{ item.name }}
    </mat-option>
</mat-autocomplete>