﻿@import "../../../styles/variables";

.view-subscriptions {
    .subscriptions { 
        .hide {
            display: none;
        }
        .separator {
            border-bottom:1px solid @divider;
            margin:1em 0;
        }
        .separator-dashed {
            border-bottom:2px dashed @divider;
            margin:.5em 0 1em;
        } 
        .last {
            justify-content: center;
            &:before {
                width: 0!important;
            }
        }       
        
    }
}
.delete-confirmation{
    padding: 10px;
    footer{
        padding: 10px;
        button
        {
            color:#fff;
            margin: 3px 0px;
            max-height: 50px;
        }
    }
}



@media screen and (min-width: @break-point) {
    .view-subscriptions {                  
        .subscriptions {
            .last {
                justify-content: flex-end;
            }                                     
        }
    }    
}