<page-container class="view-subscriptions"
                [title]="'reporting.subscriptions'"
                [backButton]="true"
                (notifyOnBack)="back()"
                [addButton]="true"
                (notifyOnAdd)="createSubscription()">
       
    <div pageContent>
        <data-table [records]="subscriptions"
                    [settings]="tableSettings"
                    [loading]="loading"
                    (onActionClick)="onManage($event)">
        </data-table>
    </div>
</page-container>
