<page-container class="edit-driver-settings"
                title="{{ 'admin.categories.drivers.manage' | translate }}: {{ action | translate }}"
                [backButton]="true"
                (notifyOnBack)="back()"
                [loading]="loading">

    <div pageContent>
        <div class="admin-edit-label">{{ getLabelEntity() }}</div>

        <form #editForm="ngForm" (ngSubmit)="onSubmit(editForm)" class="edit-form">
            <fieldset>
                <div class="form-row">
                    <label class="tag width20" for="ownID">{{ 'drivers.ID' | translate }}</label>
                    <div class="field width-remain">
                        <input type="text"
                                name="ownID"
                                id="ownID"
                                [(ngModel)]="driver.ownID"
                                #ownID="ngModel"/>
                    </div>
                </div>
                <div class="form-row">
                    <label class="tag width20" for="firstname">{{ 'drivers.firstname' | translate }}</label>
                    <div class="field width-remain">
                        <input type="text"
                                id="firstname"
                                name="firstname"
                                required
                                [(ngModel)]="driver.firstname"
                                #firstname="ngModel"/>
                    </div>
                    <div [hidden]="firstname.valid || firstname.pristine" class="alert alert-danger">
                        {{ firstname.errors | myFormValidationMessage: { field: 'users.firstname' } }}
                    </div>
                </div>
                <div class="form-row">
                    <label class="tag width20" for="lastname">{{ 'drivers.lastname' | translate }}</label>
                    <div class="field width-remain">
                        <input type="text"
                                id="lastname"
                                name="lastname"
                                required
                                [(ngModel)]="driver.lastname"
                                #lastname="ngModel"/>
                    </div>
                    <div [hidden]="lastname.valid || lastname.pristine" class="alert alert-danger">
                        {{ lastname.errors | myFormValidationMessage: { field: 'users.lastname' } }}
                    </div>
                </div>
                <div class="form-row">
                    <label class="tag width20" for="description">{{ 'drivers.description' | translate }}</label>
                    <div class="field width-remain">
                        <textarea rows="2"
                                id="description"
                                name="description"
                                [(ngModel)]="driver.description"
                                #description="ngModel">
                        </textarea>
                    </div>
                    <div [hidden]="description.valid || description.pristine" class="alert alert-danger">
                        {{ description.errors | myFormValidationMessage: { field: 'drivers.description' } }}
                    </div>
                </div>
                <div class="form-row">
                    <label class="tag width20" for="email">{{ 'drivers.email' | translate }}</label>
                    <div class="field width-remain">
                        <input type="text"
                                id="email"
                                name="email"
                                validateEmail
                                [(ngModel)]="driver.email"
                                #email="ngModel"/>
                    </div>
                    <div [hidden]="email.valid || email.pristine" class="alert alert-danger">
                        {{ email.errors | myFormValidationMessage: { field: 'users.email' } }}
                    </div>
                </div>
                <div class="form-row">
                    <label class="tag width20" for="phone">{{ 'drivers.phone_number' | translate }}</label>
                    <div class="field width-remain">
                        <input type="text" id="phone"  name="phone"
                                validatePhoneNumber
                                [(ngModel)]="driver.phone"
                                #phone="ngModel"/>
                    </div>
                    <div [hidden]="phone.valid || phone.pristine" class="alert alert-danger">
                        {{ phone.errors | myFormValidationMessage: { field: 'users.phone_number' } }}
                    </div>
                </div>
                <div class="form-row">
                    <label class="tag width20" for="pin">{{ 'drivers.pin' | translate }}</label>
                    <div class="field width-remain">
                        <custom-selector class="ddl"
                                        [options]="pinTypeOptions"
                                        [(modelData)]="driver.pinType">
                        </custom-selector>
                        <input type="text"
                                id="pin"
                                name="pin"
                                [(ngModel)]="driver.pin"
                                #pin="ngModel"/>
                    </div>
                    <div [hidden]="pin.valid || pin.pristine" class="alert alert-danger">
                        {{ pin.errors | myFormValidationMessage: { field: 'drivers.pin' } }}
                    </div>
                </div>
                <div class="form-row">
                    <label class="tag width20" for="useAlias">
                        {{ 'drivers.use_alias' | translate }}
                    </label>
                    <div class="field width-remain toggle-buttons">
                        <input type="checkbox"
                                id="useAlias"
                                name="allowAccountCreation"
                                [(ngModel)]="driver.useAlias"
                                #useAlias="ngModel"/>
                        <label for="useAlias">
                            {{ (driver.useAlias == true ?  'form.actions.enabled' : 'form.actions.disabled') | translate }}
                        </label>
                    </div>
                </div>
            </fieldset>

        </form>
    </div>

    <footer fixedFooter>
        <button aria-label="submit" type="submit" (click)="onSubmit(editForm)" [disabled]="editForm.invalid || loading " class="btn secondary-btn">
            {{ 'form.actions.save' | translate }}
        </button>
        <button aria-label="back" (click)="back()" type="reset" class="btn alternative-btn">
            {{ 'form.actions.cancel' | translate }}
        </button>
    </footer>
</page-container>
