@import "../../../styles/variables";

.diagnostics {
    .card {
        .header {
            border-top: 0px;
            .title {
                font-size: 20px;
            }
        }
        .card-contents {
            padding: 1em 2em;
            display: flex;
            flex-wrap: wrap;
            .content-row {
                padding-right: 1em;
                flex: 0 1 auto;
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                .tag {
                    flex: 1 1 auto;
                    padding-right: 1em;
                }
                .date-pickers {
                    flex: 1 1 auto;
                    display: flex;
                    align-items: center;
                    justify-content: space-evenly;
                    datepicker {
                        margin-right: .5em;
                    }
                }
            }
        }
    }
    
    .refresh-button {
        text-align: right;
        padding: .5em 0;
        color: var(--secondary-color);
        cursor: pointer;
        .mat-icon {           
            vertical-align: middle;
            font-weight: bold;
        }
        span {
            vertical-align: middle;
        }
    }
}