<page-container title="{{ 'ev_charging_points_manager.diagnostics' | translate }}: {{ cpHeaderTitle ? cpHeaderTitle : ''}}" 
                [backButton]="true"
                (notifyOnBack)="back()">

    <div class="diagnostics" pageContent>
             
        <div class="card add-shadows" >
            <div class="header" >
                <span class="title">{{ 'ev_charging_points_manager.diagnostics.new_diagnostic' | translate }}</span>
            </div>
            <div class="card-contents">
                <div class="content-row">
                    <label class="tag" for="sinceDiagnostic">{{ 'ev_charging_points_manager.diagnostics.since' | translate }}:</label>  
                    <div class="date-pickers">       
                        <datepicker [id]="'sinceDiagnostic'" 
                                [(modelData)]="sinceDate"
                                [max]="tillDate">
                        </datepicker>
                        <timepicker [stepMinutes]="1" [(hours)]="sinceDateHours" [(minutes)]="sinceDateMinutes"></timepicker>
                    </div>   
                </div>            
                <div class="content-row">          
                    <label class="tag" for="tillDiagnostic">{{ 'ev_charging_points_manager.diagnostics.till' | translate }}:</label>
                    <div class="date-pickers">
                        <datepicker [id]="'tillDiagnostic'" 
                                [(modelData)]="tillDate"
                                [max]="tillDate">
                        </datepicker>
                        <timepicker [stepMinutes]="1" [(hours)]="tillDateHours" [(minutes)]="sinceDateMinutes"></timepicker>
                    </div>                
                </div>            
                <div class="content-row">      
                    <button type="button" aria-label="stop-transaction" (click)="createDiagnostic()" class="btn primary-btn">
                        {{ 'ev_charging_points_manager.diagnostics.create_diagnostic' | translate }}
                        <mat-icon>keyboard_arrow_right</mat-icon>
                    </button>        
                </div>                     
            </div>
                  
            <mat-progress-bar *ngIf="loadingNewDiagnostic" mode="indeterminate"></mat-progress-bar>

        </div>        
        <div class="border-title">
            <div class="border"></div>
            <h3> {{ 'ev_charging_points_manager.diagnostics' | translate }}</h3>
        </div>
        
        <!-- FILTERS -->
        <filters>
            <div class="filter-rows">
                <div class="filter-row edit-form">
                    <div class="form-row">
                        <label class="tag" for="period-selector">{{ 'period_selector.title' | translate }}:</label>
                        <div class="field width-remain">
                            <period-selector [htmlID]="'period'"
                                                [options]="periodSelectorOptions"
                                                [(modelData)]="request.periodType"
                                                (modelDataChange)="onPeriodSelect($event)">
                            </period-selector>
                        </div>
                    </div>
                </div>
                <div class="filter-row edit-form">
                    <div class="form-row">
                        <label class="tag" for="period-selector">{{ 'ev_charging_points_manager.diagnostics.statuses' | translate }}:</label>
                        <div class="field width-remain">
                            <custom-selector class="ddl" dataID="status-options"
                                                [options]="statusOptions"
                                                [(modelData)]="request.status"
                                                (modelDataChange)="onStatusSelect($event)">
                            </custom-selector>
                        </div>
                    </div>
                </div>              
            </div>
        </filters>   
        <!-- END OF FILTERS -->

        <!-- DATA TABLE -->
        <mat-progress-bar *ngIf="downloading" mode="indeterminate"></mat-progress-bar>
        <ng-template [ngIf]="tableSettings.length > 0">
            <div *ngIf="readyForTableRefresh && !downloading" class="refresh-button" (click)="refreshTable()">     
                <mat-icon>refresh</mat-icon>                    
                <span>                   
                   {{ 'ev_charging_points_manager.diagnostics.click_to_get_updated_table' | translate }}
                </span>           
            </div>
            <data-table [records]="diagnosticsData"
                        [settings]="tableSettings"
                        [loading]="loading"
                        [pager]="pager"
                        [sorting]="request.sorting"
                        (onSortSelection)="onSort($event)"
                        (onScrollDown)="onScrollDown()"
                        (onActionClick)="onDownloadDiagnostic($event)">
            </data-table>
        </ng-template>
        <!-- END OF DATA TABLE-->
    </div>

</page-container>
