<page-container class="edit-fair-use-policy"
                title="{{ 'book_n_go.fair_use_policies.title' | translate }}: {{ action | translate }}"
                [backButton]="true"
                (notifyOnBack)="back()"
                [loading]="loading">
                
    <form pageContent #editForm="ngForm" (ngSubmit)="onSubmit(editForm)" class="edit-form"> 
        <div class="admin-edit-label">{{ getLabelEntity() }}</div>

        <fieldset>
            <div class="form-row">
                <label class="tag" for="name">{{ 'book_n_go.fair_use_policies.name' | translate }}</label>
                <div class="field width-remain">
                    <input type="text" id="name" required
                        [(ngModel)]="policy.name" name="name"
                        #name="ngModel"/>
                </div>
                <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                    {{ 'form.errors.required' | translate | myStringFormat: ['book_n_go.fair_use_policies.name' | translate] }}
                </div>
            </div>
            <div class="form-row">
                <label class="tag">{{ 'book_n_go.fair_use_policies.max_future_booking_1' | translate }}</label>
                <div class="field">
                    <input class="number" type="number" id="maxBookingsOverPeriod" min="0"
                        [(ngModel)]="policy.maxBookingsOverPeriod" name="maxBookingsOverPeriod"
                        #maxBookingOverPeriod="ngModel"/>
                    <div class="field-msg">{{ 'book_n_go.fair_use_policies.max_future_booking_2' | translate }}</div>
                    <custom-selector class="ddl"
                                    [options]="maxBookingsOverPeriodTypes"
                                    [(modelData)]="policy.maxBookingsOverPeriodType"
                                    [dataID]="'maxBookingsOverPeriodTypes'">
                    </custom-selector>
                </div>
            
            </div>
            <div class="form-row">
                <label class="tag" for="maxBookingLengthHours">{{ 'book_n_go.fair_use_policies.max_length_booking_1' | translate }}</label>
                <div class="field">
                    <input class="number" type="number" id="maxBookingLengthHours" min="0"
                        [(ngModel)]="policy.maxBookingLengthHours" name="maxBookingLengthHours"
                        #maxBookingLengthHours="ngModel"/>
                    <span class="field-msg">{{ 'book_n_go.fair_use_policies.max_length_booking_2' | translate }}</span>
                </div>
            
            </div>
            <div class="form-row">
                <label class="tag" for="cancelationFeeHours">{{ 'book_n_go.fair_use_policies.cancelation_fee_1' | translate }}</label>
                <div class="field">
                    <input class="number" type="number" id="cancelationFeeHours" min="0"
                        [(ngModel)]="policy.cancelationFeeHours" name="cancelationFeeHours"
                        #cancelationFeeHours="ngModel"/>
                    <span class="field-msg">{{ 'book_n_go.fair_use_policies.cancelation_fee_2' | translate }}</span>
                </div>
            
            </div>
        </fieldset>
       
    </form>
    <footer fixedFooter>
        <button aria-label="submit" type="submit" (click)="onSubmit(editForm)" [disabled]="editForm.invalid" class="btn secondary-btn">
            {{ 'form.actions.save' | translate }}          
        </button>
        <button  aria-label="back" (click)="back()" type="reset" class="btn alternative-btn">
            {{ 'form.actions.cancel' | translate }}
        </button>
    </footer>
</page-container>
