<page-container [title]="'admin.categories.locations'" 
                [backButton]="true"
                (notifyOnBack)="back()"
                [options]="pageOptions"
                (notifyOnOptionSelection)="onSelectPageOption($event)">
    
    <div pageContent>
        <!-- FILTERS -->
        <filters>
            <div class="filter-rows reverse">
                <div class="filter-row">
                    <mat-form-field class="autocomplete">
                        <input type="text" matInput 
                                [formControl]="searchTermControl" 
                                placeholder="{{ 'form.search.pleaceholder' | translate }}"/>
                        <div class="autocomplete-clear" *ngIf="!loading && request.searchTerm && request.searchTerm.length > 0" (click)="clearInput($event)">
                            <mat-icon>clear</mat-icon>
                        </div>
                    </mat-form-field>
                </div>
                <div class="filter-row">
                    <label class="tag one-tag">{{ 'admin.categories.locations.groups' | translate }}</label>
                    <div class="location-groups">
                        <location-groups style="width: 100%" 
                                        [htmlID]="'location-groups'"    
                                        [showAllOption]="true"    
                                        [selected]="groupSelected"       
                                        [fetchData]="true"                           
                                        (notifyOnChange)="onChangeLocalGroups($event)">
                        </location-groups>                                                 
                    </div>
                </div>
            </div>
        </filters>    
        <!-- END OF FILTERS -->

        <data-table [records]="vehicles"
                    [settings]="tableSettings"
                    [loading]="loading"
                    [pager]="pager"
                    [sorting]="request.sorting"
                    (onActionClick)="onManage($event)"
                    (onSortSelection)="onSort($event)"
                    (onScrollDown)="onScrollDown()">
        </data-table>
    </div>
</page-container>
