﻿<div class="dialog firmware-update">
    <div class="header">
        <div class="title">
            <h3>{{ 'ev_charging_points_manager.perform.firmware_update' | translate }}</h3>
        </div>
        <button aria-label="clear" mat-icon-button>
            <mat-icon (click)="closeDialog()">clear</mat-icon>
        </button>
    </div>
    <div *ngIf="loading">
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </div>
    <div class="content">        
        <form #editForm="ngForm" (ngSubmit)="onSubmit(editForm)" class="edit-form"> 
            <div class="form-row">
                <label class="tag width20" for="location">{{ 'ev_charging_points_manager.perform.firmware_update.filename' | translate }}</label>
                <div class="field width-remain">
                    <input type="text" 
                        id="location" 
                        name="location"
                        required 
                        [(ngModel)]="data.location" 
                        #location="ngModel"/>
                </div>
                <div [hidden]="location.valid || location.pristine" class="alert alert-danger">
                    {{ 'form.errors.required' | translate | myStringFormat: ['ev_charging_points_manager.perform.firmware_update.filename' | translate] }}
                </div>
            </div>
            <div class="form-row">
                <label class="tag width20" for="retrieveDate">{{ 'ev_charging_points_manager.perform.firmware_update.retrieval' | translate }}</label>
                <div class="field width-remain">
                    <datepicker [id]="'retrieveDTP'" 
                                [(modelData)]="retrieveDatePicker">
                    </datepicker>
                    <timepicker [stepMinutes]="1" [(hours)]="retrieveDateHours" [(minutes)]="retrieveDateMinutes"></timepicker>
                </div>
            </div>
            <footer id="footer">
                <button aria-label="submit" type="submit" [disabled]="!editForm.form.valid" class="btn secondary-btn">
                    {{ 'form.actions.save' | translate }}          
                </button>
                <button aria-label="back" (click)="closeDialog()" type="reset" class="btn alternative-btn">
                    {{ 'form.actions.cancel' | translate }}
                </button>
            </footer>
        </form>
    </div>
</div>