﻿@import "../../styles/variables";

.announcements-wrapper {    
    .header {
        display: flex;
        border-bottom: 1px solid @divider;
        padding-bottom: .25em;
        .title {
           flex-grow: 1;
        }
    }   
    .announcement {
        margin: 8px 0;
        border-radius: 3px;
        .warning {         
            background-color: #fcf8e3;
            border-color: #faebcc;
            color: #8a6d3b;
        }
        .info {         
            background-color: #d9edf7;
            border-color: #bce8f1;
            color: #3a87ad;
        }
        .content {
            margin: 0;
            padding: 1.5em;
            p {
                font-size: 1.1em;
            }
        }
    }
}
