﻿
<ng-template [ngIf]="announcements && announcements.length > 0">
    <div class="announcements-wrapper">
        <div class="dialog">
            <div class="content">
                <div *ngFor="let announcement of announcements">
                    <div class="card add-shadows announcement">
                        <div *ngIf="announcement.type" [ngClass]="{ 'warning' : announcement.type === announcementTypes.warning , 'info' : announcement.type === announcementTypes.information }">
                            <div class="content">
                                <p><b>{{ announcement.title }}: </b>{{ announcement.description }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
</ng-template>
