﻿@import "../../../styles/variables";

@media screen and (min-width: @break-point) {
    .insert-correction-trip {
        min-width: 550px;
        .form-row {
            .tag {
                width: 120px;                
                padding: 0 .5em;
                word-wrap:break-word;
            }
        }
    }
}
