﻿
<div class="dialog insert-correction-trip">
    <div class="header">
        <div class="title">
            <h3>{{ 'fiscal_trips.nl.insert_correction_trip.title' | translate }}</h3>
        </div>
        <button aria-label="close dialog" mat-icon-button>
            <mat-icon (click)="closeDialog()">clear</mat-icon>
        </button>
    </div>

    <div *ngIf="loading">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>  
    <div class="content">
        <div class="note note-warning">
            {{ 'fiscal_trips.nl.automatic_validation.warning' | translate}}         
        </div>
         <!-- INSERT CORRECTION TRIP FORM -->
        <form class="edit-form" #insertCorrectionTripForm="ngForm" (ngSubmit)="insert(insertCorrectionTripForm)">
            <div class="form-row">
                <label class="tag" for="odometer">
                    {{ 'fiscal_trips.nl.insert_correction_trip.odometer' | translate }}
                     <small>({{ 'measurement.metric.distance' | translate }})</small>
                </label>
                <div class="field width-remain">
                    <input type="number"
                           id="odometer"
                           name="odometer" 
                           min="0"
                           step="1"
                           validateInteger
                           required                  
                           [(ngModel)]="request.odometer"
                           #odometer="ngModel"/>                  
                </div>
                <div [hidden]="odometer.valid || odometer.pristine" class="alert alert-danger">
                    {{ odometer.errors | myFormValidationMessage: { field: 'fiscal_trips.nl.insert_correction_trip.odometer' } }}
                </div>
            </div>           

            <footer>
                <button aria-label="submit" type="submit" class="btn secondary-btn" [disabled]="insertCorrectionTripForm.invalid || loading">
                    {{ 'fiscal_trips.nl.insert_correction_trip.insert_button' | translate }}
                </button>
                <button aria-label="reset" type="reset" (click)="closeDialog()" class="btn alternative-btn">
                    {{ 'form.actions.cancel' | translate }}
                </button>
            </footer>

        </form>
        <!-- END OF INSERT CORRECTION TRIP FORM -->
    </div>
</div>
