@import "../../../../styles/variables";

.drive-score-percentages {
    .label-mapping {
        display: flex; 
        flex-direction: column;
        flex-wrap: nowrap;
        .form-item {
            flex: 0 1 auto;            
            flex-wrap: nowrap;
            div {
                display: flex; 
                .score {
                    flex-grow:0;
                    padding:10px;
                    color: #fff;                
                    margin-bottom: 10px;
                    border-radius: 2px;
                    &A{
                        background: @energy-A;               
                    }
                    &B{
                        background: @energy-B;               
                    }
                    &C{
                        background: @energy-C;               
                    }
                    &D{
                        background: @energy-D;               
                    }
                    &E{
                        background: @energy-E;               
                    }
                    &F{
                        background: @energy-F;               
                    }
                    &G{
                        background: @energy-G;               
                    }
                    &H{
                        background: @energy-H;               
                    }
                }
                .input {
                    flex-grow:2;
                    margin-right: .5em;
                    input {
                        padding:10px 0 10px 10px;  
                        max-width:200px;  
                        &.disabled {
                            pointer-events: none;
                            color: @disabled; 
                        }                
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: @break-point) and (max-width: 59.9em) {
    .drive-score-percentages {
        .label-mapping {            
            flex-direction: row;  
            flex-wrap: wrap;          
            .form-item {
                flex: 0 1 25%;
                flex-wrap: wrap;  
                div {
                    .input {               
                        input {                    
                            min-width:100px;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: @large-break-point) {
    .drive-score-percentages {
        .label-mapping {            
            flex-direction: row;   
            flex-wrap: wrap;         
            .form-item {
                flex: 0 1 12.5%;
                flex-wrap: wrap;  
                div {
                    .input {               
                        input {                    
                            min-width:60px;
                        }
                    }
                }
            }
        }

    }
}