<div class="drive-score-percentages" >
    <div class="label-mapping">
        <ng-template ngFor let-perc [ngForOf]="modelData | myDriveScorePercentagesSort" >
            <ng-container *ngTemplateOutlet="percTemplate; context:
                {
                    item: perc,
                    name: 'perc_inp_' + letterMapping[value],
                    letter: letterMapping[perc.value],
                    min: calcMin(perc.value),
                    max: calcMax(perc.value)
                }">
            </ng-container>
            
        </ng-template>
    </div>
</div>

   <!-- LETTER MAPPING TEMPLATE -->
   <ng-template #percTemplate    
                let-item="item" 
                let-name="name"
                let-letter="letter"
                let-min="min"
                let-max="max">
        <div class="form-item">
            <div>
                <div class="score" [class]="'score score' + letter"> {{ letter }}</div>
                <div class="input">
                    <input [ngClass]="{'disabled': letter === 'H' }"
                        type="number" 
                        [id]="name" 
                        [name]="name" 
                        [(ngModel)]="item.percentage" 
                        [min]="min" 
                        [max]="max"
                        required
                        validateNumber
                        validateRange
                        #inputname="ngModel"
                        (change)="onPercentageChange(inputname.valid)"/>
                </div>
            </div>
            <div [hidden]="inputname.valid || inputname.pristine" class="alert alert-danger">
                {{ inputname.errors | myFormValidationMessage: { field: letter, min: min, max: max } }}
            </div>
        </div>
   </ng-template>