<div class="card add-shadows event-filters">
    <div class="event-filter-contents">
        <div class="events-list">
            <div class="search-engines">               
                <div class="search-engines-field">
                    <search-mechanism placeholder="{{'assets.vehicle' | translate }}"
                                        [name]="request.vehicleName"
                                        [chosenOption]="searchTypes.Vehicle"
                                        (onSelect)="onVehicleSelect($event)">
                    </search-mechanism>
                </div>
            
                <div class="search-engines-field">
                    <search-mechanism placeholder="{{'assets.driver' | translate }}"
                                        [name]="request.driverName"
                                        [chosenOption]="searchTypes.Driver"
                                        (onSelect)="onDriverSelect($event)">
                    </search-mechanism>
                </div>
                
                <div class="search-engines-field">
                    <search-mechanism placeholder="{{'assets.location' | translate }}"
                                        [name]="request.locationName"
                                        [chosenOption]="searchTypes.Location"
                                        (onSelect)="onLocationSelect($event)">
                    </search-mechanism>
                </div>
                
                <div class="search-engines-field">
                    <search-mechanism [placeholder]="'Rule'"
                                        [name]="request.ruleName"
                                        [chosenOption]="searchTypes.Rule"
                                        (onSelect)="onRuleSelect($event)">
                    </search-mechanism>
                </div>
                <div class="search-engines-field">
                
                </div>
            </div>            
        </div>
        <div class="events-list">
            <div class="form-row">
                <label class="tag">{{ 'assets.title' | translate }}</label>
                <div class="field asset-groups">
                    <div>
                        <entity-types [htmlID]="'entity-type'"
                                      [enabled]="entityTypesOptions"
                                      [selected]="entityOption"
                                      [showNoneOption]="true"
                                      (notifyOnChange)="onChangeEntityTypeGroup($event)">
                        </entity-types>
                    </div>
                    <div *ngIf="entityOption && entityOption != entityTypes.Me && entityOption != entityTypes.None">                       
                        <div class="assets-field" style="display: block;">
                            <asset-groups [htmlID]="'assetGroupsMenu'"
                                          [fetchData]="true"
                                          [selected]="request.groupID"
                                          [type]="request.groupType"
                                          (notifyOnChange)="onChangeGroup($event)">
                            </asset-groups>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <label class="tag" for="period-selector">{{ 'period_selector.title' | translate }}</label>
                <div class="field">
                    <period-selector [htmlID]="'period-selector'"
                                        [options]="periodSelectorOptions"
                                        [modelData]="request.periodType"
                                        (modelDataChange)="onPeriodSelect($event)">
                    </period-selector>
                </div>
            </div>
            <div class="form-row">
                <label class="tag">{{ 'events.list.priority' | translate }}</label>
                <div class="field">                    
                    <events-priorities-list [(modelData)]="request.priorityIdx" (modelDataChange)="onEventPropertySelect($event)"> </events-priorities-list>
                </div>
            </div>           
            <div class="form-row">
                <label class="tag">{{ 'events.list.status' | translate }}</label>
                <div class="field">
                    <events-statuses-list [(modelData)]="request.statusIdx" (modelDataChange)="onEventPropertySelect($event)"></events-statuses-list>
                </div>
            </div>
            <div class="form-row">
                <label class="tag">{{ 'events.list.class' | translate }}</label>
                <div class="field">                    
                    <events-classes-list [(modelData)]="request.classIdx" (modelDataChange)="onEventPropertySelect($event)"></events-classes-list>
                </div>
            </div>
        </div>
    </div>
</div>