@import "../../styles/toggle-btn";

.event-filters {
    position: relative;
    margin-bottom: 1em;
    padding: 1em;

    .toggle-filters-panel {
        margin-bottom: 10px;
        > span {
            position: absolute;
            top: 0;
            display: block;
            height: 30px;
            width: 30px;
            border-radius: 0px 5px 5px 0px;
            background: #fff;
            padding: 2px;
            text-align: center;
            line-height: 28px;
            cursor: pointer;
            box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
        }
        &.open  > span {
            right: -30px;
        }
        &.close  > span {
            left: -17px;
        }

    }

    .event-filter-contents {
        padding-bottom: 10px;
        &.filters-hide {
            display: none;
            box-shadow: 0px;
        }
        &.filters-show {
            display: block;
            box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);

        }
        
    }

    .events-list {
        .search-engines {
            display: flex;
            flex-flow: column wrap;
            width:96%;
            .search-engines-field {
                flex: 0 1 auto;
                margin-right: 0;
                .mat-form-field {
                    display: block;
                }
            }
        }       
        .form-row {
            display: flex;
            flex-flow: row nowrap;
            margin: 0 0 10px 0;
            width:97%; 
            .tag {
                min-width: 80px;
                flex: 0 1 auto;
                font-size: 0.85em;
                padding: .5em 0;                          
            }              
            .field {
                flex: 1 1 auto;   
                display:flex;
                flex-flow: column nowrap; 
                > div {
                    flex: 0 1 auto;
                    &:not(:first-child) {
                        margin-top: 10px;
                    }
                }
                
                input {
                    margin-bottom: 0px;
                }                
                mat-radio-group {
                    display: inline-flex;
                    flex-direction: column;
                }
                
                .toggle-buttons {
                    display:none;
                }
                .selectOnMobile {
                    display: block;
                }
            }
        }       
    }
}

@media screen and (min-width: @break-point) {
    .event-filters {
        .toggle-filters-panel {
            &.close  > span {
                left: -33px;
            }
        }
        .events-list {           
            .search-engines {               
                flex-flow: row wrap; 
                .search-engines-field {  
                    margin-right: 25px;                  
                    .mat-form-field {
                        display: inline-block;
                    }
                }              
            }   
            .form-row {
                flex-flow: row nowrap;               
                .tag {
                    flex: 0 1 80px;  
                    font-size: 1em;            
                }              
                .field {
                    flex: 2 1 auto; 
                    flex-flow: row wrap;
                    > div {
                        min-width: 250px;
                        flex: 0 1 auto;
                         &:not(:first-child) {
                            margin-top:0;
                        }
                        &:first-child {
                            margin-right: 5px;
                        }
                    }
                    .radio-buttons {
                        flex: 2 1 auto !important; 
                    }
                    .toggle-buttons {
                        display: flex;
                    }   
                    .selectOnMobile {
                        display: none;
                    }    
                }               
            }   
        }
    }
}
