﻿<page-container class="transactions"
                title="{{ 'ev_charging_points_manager.transactions' | translate }}: {{ cpHeaderTitle ? cpHeaderTitle : ''}}" 
                [backButton]="true"
                (notifyOnBack)="back()"
                [loading]="loadingSingle">
  
    <div pageContent>
       <div class="transaction-details" >
            <div class="card add-shadows" >
                <div class="header" >
                    <span class="title">{{ 'ev_charging_points_manager.transactions.transaction_details' | translate }}</span>
                </div>

                <div class="card-contents">
                    <div class="message"  *ngIf="loadingSingle || !selectedTransaction; else lastTransactionView">
                        <h4 align="center">{{ message | translate }}</h4>
                    </div>
                    <ng-template #lastTransactionView>
                        <div class="row-result">
                            <span class="tags">{{ 'ev_charging_points_manager.transactions.start' | translate }}</span>
                            <span class="result">{{ selectedTransaction.startTimestamp | myDateFormat: { 
                                display: dateDisplayOptions.both, 
                                dateFormat: userOptions.localOptions.short_date,
                                showSeconds: true 
                            } }}</span>
                        </div>
                        <div class="row-result">
                            <span class="tags">{{ 'ev_charging_points_manager.transactions.stop' | translate }}</span>
                            <span class="result" *ngIf="selectedTransaction.stopTimestamp">{{ selectedTransaction.stopTimestamp | myDateFormat: { 
                                display: dateDisplayOptions.both, 
                                dateFormat: userOptions.localOptions.short_date,
                                showSeconds: true 
                            } }}</span>
                            <span class="result" *ngIf="!selectedTransaction.stopTimestamp">-</span>
                        </div>
                        <div class="separator"></div>
                        <div class="row-result">
                            <span class="tags">{{ 'ev_charging_points_manager.transactions.transaction_id' | translate }}</span>
                            <span class="result">{{ selectedTransaction.id }}</span>
                        </div>
                        <div class="row-result">
                            <span class="tags">{{ 'ev_charging_points_manager.transactions.vehicle_label' | translate }}</span>
                            <span class="result">{{ selectedTransaction.vehicleLabel }}</span>
                        </div>
                        <div class="row-result">
                            <span class="tags">{{ 'ev_charging_points_manager.transactions.connector' | translate }}</span>
                            <span class="result">{{ selectedTransaction.connectorID }}</span>
                        </div>
                        <div class="separator"></div>
                        <div class="row-result">
                            <span class="tags">{{ 'ev_charging_points_manager.transactions.meter_value_start' | translate }}</span>
                            <span class="result">{{ selectedTransaction.meterStart }} {{ userOptions.metrics.kWh }}</span>
                        </div>
                        <div class="row-result">
                            <span class="tags">{{ 'ev_charging_points_manager.transactions.meter_value_stop' | translate }}</span>
                            <span class="result">{{ selectedTransaction.meterStop }} {{ selectedTransaction.meterStop ? userOptions.metrics.kWh : '-'}}</span>
                        </div>

                        <footer *ngIf="!selectedTransaction.stopTimestamp">
                            <button type="button" aria-label="stop-transaction" (click)="stopTransaction()" class="btn primary-btn">
                                {{ 'ev_charging_points_manager.transactions.stop_transaction' | translate }}
                            </button>
                        </footer>
                    </ng-template>
                </div>
            </div>
            <div class="summary" *ngIf="meterValues && meterValues.length > 0">
                <div class="left card add-shadows">
                    <div class="header" >
                        <span class="title">
                            {{ 'ev_charging_points_manager.transactions.measurands' | translate }}
                        </span>
                    </div>
                    <div class="card-contents" >
                        <ng-template ngFor let-item [ngForOf]="meterValuesLast">
                            <div class="row-result">
                                <span class="tags"> {{ item.measurand | myMeasurandTranslation }}</span>
                                <span class="result">{{ item.value }} {{ item.unitOfMeasure | myUnitOfMeasureTranslation }}</span>
                                <span class="result"> {{ toDateTime(item.timestamp) }}</span>
                            </div>
                        </ng-template>
                    </div>
                </div>    

                <div class="right card add-shadows" >
                    <div class="header chart-options" >
                        <label>{{ 'ev_charging_points_manager.transactions.measurand' | translate }}:</label>
                        <custom-selector class="ddl" 
                                        [(modelData)]="selectedFirstMeasurand"
                                        dataID="measurands"
                                        [options]="measurands"
                                        (modelDataChange)="drawMeasurandChart()">
                        </custom-selector>  
                        <custom-selector class="ddl" 
                                        [(modelData)]="selectedSecondMeasurand"
                                        dataID="measurands"
                                        [options]="measurands"
                                        (modelDataChange)="drawMeasurandChart()">
                        </custom-selector>
                    </div>
                    <div class="chart">
                        <amchart [type]="chartType" 
                                [htmlID]="'measurand_chart'" 
                                [options]="measurandChartOptions"
                                style="margin: 0 10px; width:100%; height:250px; display: block;">
                                
                        </amchart>
                        <div id="legend"></div>
                        
                    </div>
                </div>
            </div>
        </div>
        
        <br/>
        <div class="transactions-history">
            <div class="border-title">
                <div class="border"></div>
                <h3> {{ 'ev_charging_points_manager.transactions.history' | translate }}</h3>
            </div>
    
            <div style="padding: 1em; height: 500px;">
                <filters>
                    <div class="filter-rows">
                        <div class="filter-row">                    
                            <button type="button" aria-label="stop-transaction" (click)="getLastTransaction()" class="btn primary-btn">
                                {{ 'ev_charging_points_manager.transactions.get_last_transaction' | translate }}
                                <mat-icon>keyboard_arrow_right</mat-icon>
                            </button>                         
                        </div>
                        <div class="filter-row">                    
                            <label class="tag one-tag" for="period-selector">{{ 'period_selector.title' | translate }}:</label>                        
                            <period-selector [htmlID]="'period'"
                                                [options]="periodSelectorOptions"
                                                [(modelData)]="request.periodType"
                                                (modelDataChange)="onPeriodSelect($event)">
                            </period-selector>                        
                        </div>                                        
                        <div class="filter-row">                    
                            <mat-form-field class="autocomplete">
                                <input matInput #term 
                                        [(ngModel)]="request.vehicleLabel"
                                        placeholder="{{ 'assets.vehicle' | translate }}"
                                        [matAutocomplete]="auto"
                                        (keyup)="onVehicleSearch(term.value)">
                                <div class="autocomplete-clear" *ngIf="!loadingSearchVehicles && request.vehicleLabel && request.vehicleLabel.length > 0" (click)="clearInput($event)">
                                    <mat-icon>clear</mat-icon>
                                </div>
                                <div class="autocomplete-loader" *ngIf="loadingSearchVehicles">
                                    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
                                </div>
                            </mat-form-field>
        
                            <mat-autocomplete #auto="matAutocomplete" ng-disabled="disabled">
                                <mat-option (onSelectionChange)="onVehicleSelect(item)" *ngFor="let item of items | async" [value]="item.vehicleID ? item.vehicleLabel : item.vehicleChargingID">
                                    {{ item.vehicleID ? item.vehicleLabel : item.vehicleChargingID }}
                                </mat-option>
                            </mat-autocomplete>                       
                        </div>
                    </div>
                </filters>     
                <data-table [records]="data"
                            [(settings)]="tableSettings"
                            [loading]="loading"
                            [pager]="pager"
                            [sorting]="request.sorting"
                            (onSortSelection)="onSort($event)"
                            (onScrollDown)="loadMore()"
                            (onActionClick)="onTransactionDetails($event)">
                </data-table>
            </div>
        </div>   
    </div>
</page-container>
