@import "../../../styles/variables";

.transactions {

    .card {
        .header {
            border-top: 0px;
            .title {
                font-size: 20px;
            }
        }
        .chart {
            padding: 0 2em 2em 2em;
            #legend {
                width: 100%;
                height: 12px!important;        
                svg {
                    position: relative!important;
                    width: 100%!important;
                }                     
            }
        }
    }
    .transaction-details {
        .card-contents {
            padding: 1em 2em;
            .message {
                display: flex;
                vertical-align: middle;
                text-align: center;
                color: @neutral-color;
                justify-content: center;
            }
        }
       
        .row-result {
            display: flex;
    
            .tags {
                font-size: 1em;
                font-weight: 500;
                color: @sublabel;
                flex: 0 1 50%;
                padding: .5em 0;
            }
    
            .result {
                font-size: 1em;
                font-weight: 500;
                color: @paragraph;
                flex: 0 1 50%;
                padding: .5em 0;
            }
        }
        footer {
            border-top: 1px solid #E0E5E6;
            background: #fff;
            margin-top: 10px;
            padding-top: 10px;
        }
    }
    
    .summary {
        display: flex;
        flex-direction: row;

        .left {
            width: 50%;
            margin-right: 15px;
        }
        .right {
            width: 50%;
        }
        .card {
            max-height: 380px;
            overflow-y: auto;
        }
    }

    fieldset {
        legend {
            font-size: 14pt;
        }

        > div {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto;

            .left-fieldset {
                grid-column-start: 1;
                grid-column-end: 3;
                grid-row-start: 1;
                grid-row-end: 2;
            }
        }
    }

    .chart-options {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        margin: 0 0 10px 0;
        label {
            margin-right: 10px;
        }
        .ddl {
            flex: 1 1 auto;
            margin-bottom: 0;
        }
    }
}

@media screen and (max-width: @break-point) {
    .transactions {
        .summary {
            flex-direction: column;
            .left {
                width: 100%;
            }
            .right {
                width: 100%;
            }
        }
        .chart-options { 
            flex-flow: column wrap;
            .ddl {                
                margin-top:.5em;
            }
        }

    }
}