﻿@import "../charging-status";

.ev-charging-points-manager {
    .maps {
        position: relative;
        height: 300px;
        margin: .5em 0;
    }
    .ev-table {
        padding-top: .5em;
    }
}

