﻿<page-container class="ev-charging-points-manager"
                [title]="'sidebar.ev_operations.charge_points_manager'">
    
    <div pageContent>
        <filters>
            <div class="filter-rows">
                <div class="filter-row">
                    <label class="tag one-tag">{{ 'assets.groups.charge_point' | translate }}:</label>                    
                    <asset-groups   style="width: 100%"
                                    [fetchData]="true" 
                                    [htmlID]="'cpGroupsMenu'" 
                                    [type]="groupTypes.ChargePoint" 
                                    [selected]="request.groupID"
                                    (notifyOnChange)="onChangeGroup($event)">
                    </asset-groups>
                </div>
                <div class="filter-row">                
                    <label class="tag one-tag">{{ 'ev_charging_points_manager.status' | translate }}:</label>                    
                    <custom-selector style="width: 100%"
                                        class="ddl" 
                                        dataID="cp-status"
                                        [options]="chargePointStatuses"
                                        [(modelData)]="request.chargePointStatus"
                                        (modelDataChange)="get(true)">
                    </custom-selector>                   
                </div>
                <div class="filter-row">
                    <div class=" toggle-buttons">
                        <input type="checkbox"
                                id="showMap" 
                                name="showMap"
                                [(ngModel)]="request.showMap" 
                                (change)="onShowMap()"/>
                        <label for="showMap">
                            {{ 'ev_charging_points_manager.show_map' | translate }}
                        </label>
                    </div>
                    
                </div>
            </div>
        </filters>        
        <div class="maps" *ngIf='request && request.showMap'>   
            <div class="loader" *ngIf="!mapInitializing"> <!--style="height: 150px;" --> 
                <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
            </div>           
            <google-map  id="charge_points_amp" 
                        [mode]="mapModes.marker"
                        [chargePoints]="cpMarkers"
                        [loading]="loading"
                        (mapInitializing)="mapInitializing = $event">
            </google-map>
        </div>
        <div class="ev-table">
            <data-table [records]="evChargingPointsData"
                        [(settings)]="tableSettings"
                        [loading]="loading"
                        [pager]="pager"
                        [sorting]="request.sorting"
                        (onSortSelection)="onSort($event)"
                        (onScrollDown)="loadMore()"
                        (onActionClick)="onManage($event)">
            </data-table>
        </div>
    </div>
</page-container>

<more-options-edit-options-dialog></more-options-edit-options-dialog>