<page-container class="users"
                [title]="'admin.categories.users'" 
                [backButton]="true"
                (notifyOnBack)="back()"
                [addButton]="true"
                (notifyOnAdd)="manage()">
    
    <div pageContent>
        <!-- FILTERS -->
        <filters>
            <div class="filter-rows reverse">
                <div class="filter-row">
                    <mat-form-field class="autocomplete">
                        <input type="text" matInput 
                                [formControl]="searchTermControl" 
                                placeholder="{{ 'form.search.pleaceholder' | translate }}"/>
                        <div class="autocomplete-clear" *ngIf="!loading && request.searchTerm && request.searchTerm.length > 0" (click)="clearInput($event)">
                            <mat-icon>clear</mat-icon>
                        </div>
                    </mat-form-field>
                </div>
                <div class="filter-row ddl-filter">
                    <label class="tag one-tag">{{ 'users.role' | translate }}</label>
                    <user-roles-list class="ddl" 
                                        [(modelData)]="request.userRoleID" 
                                        (modelDataChange)="get(true)"
                                        [showAllOption]="true">
                    </user-roles-list>
                </div>
            </div>
        </filters>    
        <!-- END OF FILTERS -->

        <!-- DATA -->
        <data-table [records]="users"
            [settings]="tableSettings"
            [loading]="loading"
            [pager]="pager"
            [sorting]="request.sorting"
            (onActionClick)="onManage($event)"
            (onSortSelection)="onSort($event)"
            (onScrollDown)="onScrollDown()">
        </data-table>
        <!-- END OF DATA -->
    </div>
</page-container>