<page-container class="edit-announcements"
                title="{{ 'announcements_admin.edit_announcement_title' | translate }}: {{ action | translate }}"
                [backButton]="true"
                (notifyOnBack)="back()"
                [loading]="loading">

    <form pageContent #editForm="ngForm" (ngSubmit)="onSubmit(editForm)" class="edit-form"> 
        <fieldset>           

            <div class="form-row">
                <label class="tag width20" for="title">{{ 'announcements_admin.edit.title' | translate }}</label>
                <div class="field width-remain">
                    <input type="text" id="title" required [(ngModel)]="announcement.title" name="title" #title="ngModel"/>
                </div>
                <div [hidden]="title.valid || title.pristine" class="alert alert-danger">
                    {{ 'form.errors.required' | translate | myStringFormat: ['announcements_admin.edit.title' | translate] }}
                </div>
            </div>

            <div class="form-row">
                <label class="tag width20" for="description">{{ 'announcements_admin.edit.description' | translate }}</label>
                <div class="field width-remain">
                    <input type="text" id="description" required [(ngModel)]="announcement.description" name="description" #description="ngModel"/>
                </div>
                <div [hidden]="description.valid || description.pristine" class="alert alert-danger">
                    {{ 'form.errors.required' | translate | myStringFormat: ['announcements_admin.edit.description' | translate] }}
                </div>
            </div>
            <div class="form-row">
                <label class="tag width20" for="showOnPage">{{ 'announcements_admin.edit.show_on_page' | translate }}</label>
                <div class="field width-remain">
                    <input type="text" id="showOnPage" [(ngModel)]="announcement.showOnPage" name="showOnPage" #showOnPage="ngModel"/>
                </div>               
            </div>
            <div class="form-row">
                <label class="tag width20" for="type">{{ 'announcements_admin.edit.type' | translate }}</label>
                <div class="field width-remain">
                    <custom-selector class="ddl"                           
                                    [options]="announcementOptions"
                                    [(modelData)]="announcement.type"
                                    [dataID]="'type'"                                                                         
                                    name="type">
                    </custom-selector>                   
                </div>                
            </div>
            <div class="form-row">
                <mat-slide-toggle
                    class="example-margin"                                         
                    [checked]="checked"
                    [labelPosition]="'before'"
                    (change)="dateTimeToggle($event)">
                    {{ 'announcements_admin.edit.period_enable' | translate }}
                </mat-slide-toggle>
            </div>
            <ng-template [ngIf]="checked">
                <div class="form-row">
                    <label class="tag width20" for="sinceDTP">{{ 'announcements_admin.edit.start_date' | translate }}</label>
                    <div class="field width-remain">
                        <datepicker [id]="'sinceDTP'" 
                                    [(modelData)]="sinceDate"
                                    (modelDataChange)="updateSinceDate()">
                        </datepicker>
                        <timepicker [stepMinutes]="15" [(hours)]="sinceDateHours" [(minutes)]="sinceDateMinutes"></timepicker>
                    </div>
                </div>

                <div class="form-row">
                    <label class="tag width20" for="tillDTP">{{ 'announcements_admin.edit.end_date' | translate }}</label>
                    <div class="field width-remain">
                        <datepicker [id]="'tillDTP'" 
                                    [(modelData)]="tillDate"
                                    [min]="sinceDate">
                        </datepicker>
                        <timepicker [stepMinutes]="15" [(hours)]="tillDateHours" [(minutes)]="tillDateMinutes"></timepicker>
                    </div>
                </div>
            </ng-template>
            
        </fieldset>
    </form>

    <footer fixedFooter>
        <button aria-label="submit" type="submit" (click)="onSubmit(editForm)" [disabled]="editForm.invalid || loading" class="btn secondary-btn">
            {{ 'form.actions.save' | translate }}          
        </button>
        <button aria-label="back" (click)="back()" type="reset" class="btn alternative-btn">
            {{ 'form.actions.cancel' | translate }}
        </button>
    </footer>
</page-container>
