<page-container title="{{ 'admin.categories.users.groups' | translate }}: {{ 'assets.group.members' | translate }}"
                [backButton]="true"
                (notifyOnBack)="back()">

    <div pageContent #wrapper class="edit-form">
        <div class="admin-content">
            <div class="admin-edit-label">{{ getLabelEntity() }}</div>
        </div>
        <div class="form-row">
            <search-mechanism placeholder="{{ 'assets.group.members.add_member' | translate }}"
                        [name]="memberToAdd"
                        [chosenOption]="searchTypes.User"
                        (onSelect)="onAddMember($event)"
                        [groupID]="request.id">
            </search-mechanism>
        </div>
            
        <data-table [records]="members"
                    [settings]="tableSettings"
                    [loading]="loading"
                    [pager]="pager"
                    [sorting]="request.sorting"
                    (onActionClick)="onManage($event)"
                    (onSortSelection)="onSort($event)"
                    (onScrollDown)="onScrollDown()">
        </data-table>
    </div>
</page-container>
