.editing-options-dialog {
    display: none;
    background-color: #fff;
    position: fixed;
    border: 1px solid #e0e4e5;
    border-radius: 2px;
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
    z-index: 500000;
    font-size: 14px;
    width: 100px;
    max-width: 100px;
    li {
        cursor: pointer;
        color: #898d8d;
        padding: .7em;
        border-bottom: 1px solid #e0e4e5;
        word-wrap: break-word;
        &:hover {
            background-color: #e0e4e5;
        }
    }  

    .ico {
        z-index: -1;
        width: 10px;
        height: 10px;
        background-color: #fff;
        border: 1px solid #e0e4e5;
        border-right: 0px;
        border-bottom: 0px;
        transform: rotate(135deg);
        position: absolute;
        right: -6px;
        top: 18px;
    }
}
