@import "../../styles/variables";
@event-widget-header-height: 60px;
@event-widget-footer-height: 45px;
.events-widgets {
    .editor {
        box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.1);
        border: 1px solid #E0E5E6;
        padding: 7px;
        height: 38px;
    }
    .events-widgets-container {
        display: flex;
        flex-direction: column;
        height: 100%;
        &.edit-layout {
            .header-buttons {
                display: none !important;
            }
        }
    
        .widget-order {
            top: 11px;
            right: 0px;
            background-color: #fff;
            padding: 7px 3px;
            display: block;
            position: absolute;
            width: 80px;
            [mat-icon-button] {
                background: #1C5074;
                background: var(--primary-color);
                color: #fff;
                width: 28px;
                height: 28px;
                mat-icon {
                    font-size: 20px;
                    line-height: 10px;
                }
                &:disabled {
                    background-color: @disabled;
                }
            }
        }
      
        .event-widget {
            height: 360px;
            margin-bottom: 10px;
            .widget-row-1 {
                height: 99%;
            }
            .widget-content {
                position: relative;
                height: calc(~'100% - @{event-widget-header-height} - @{event-widget-footer-height}');
                .table-layout.fixed-height {
                    height: 100%;
                }
            }
            .header {
                position: relative;
                padding: 0!important;
                display: flex;
                height: 60px;
                align-items: center;
                .title {
                    color: #293230;
                    font-size: 16px;
                    text-align: left;
                    padding: 0 1em;
                    flex-grow:2;
                }
                .header-buttons {
                    padding: 7px;
                    position: absolute;
                    right: 0;
                    top: 0;
                    display: none;
                }
            }
            &.event-widget-hide {
                height:calc(~'@{event-widget-header-height} + @{event-widget-footer-height}');
                .widget-content {
                    display: none;
                }
            }

            .msg {
                margin: 50px;                
                color: @sublabel;
            }
            
            .widget-footer-buttons {
                border-top: 1px solid @divider;
                background-color: #fff;
                position: absolute;
                width: 100%;
                bottom: 0px;
                left: 0px;
                height: @event-widget-footer-height;
                display: block;
            }

            .editing {
                width: 100%;
                form {
                    display: flex;
                    input {
                        flex: 1 0 0%;
                    }
                }
            }
        }
        .maximized  {
            .event-widget {
                height: 90vh;
            }
        }
    }
}

@media screen and (min-width: @break-point) {
   .events-widgets {
       .events-widgets-container {
            .event-widget {
                &.event-widget-hide {
                    height: @event-widget-header-height;
                }
                .widget-content {
                    height: calc(~'100% - @{event-widget-header-height}');
                }
                .header { 
                    height: 60px;
                    .header-buttons {          
                        display: block;
                    }
                    .title {
                        font-size: 20px;
                    }
                }
                .widget-footer-buttons {
                    display: none;
                }
            }
        }
    }
}