<div class="events-widgets" >
    <div class="loader" *ngIf="loading">
        <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
    </div>

    <div class="editor" *ngIf="editLayoutMode && !loading">
        <a href="javascript:void(0)" class="primary" (click)="onSaveEdit()">{{ 'customize_layout.save_layout' | translate }}</a>
        <a href="javascript:void(0)" class="primary" (click)="onCancelEdit()">{{ 'customize_layout.cancel_changes' | translate }}</a>
    </div>
    <div class="events-widgets-container" *ngIf="widgets && widgets.length > 0" [ngClass]="editLayoutMode ? 'edit-layout' : ''">
        <ng-template ngFor let-w [ngForOf]="widgets" let-i="index">
            <div style="position: relative">
                <event-heatmap-widget *ngIf="w.type == widgetTypes.HeatMap"
                    [id]="'heatmap_' + w.id" 
                    [widget]="w"
                    (onUpdate)="update($event)"
                    (onDelete)="delete($event)"
                    [autoRefreshEnabled]="autoRefreshEnabled"
                    [style.display]="hideElement('heatmap_' + w.id) == true ? 'none' : 'block'">  
                </event-heatmap-widget>
                <event-data-widget  *ngIf="w.type == widgetTypes.Data"
                    [id]="'datalist_' + w.id" 
                    [widget]="w"
                    (onUpdate)="update($event)"
                    (onDelete)="delete($event)"
                    [autoRefreshEnabled]="autoRefreshEnabled"
                    [style.display]="hideElement('datalist_' + w.id) == true ? 'none' : 'block'">
                </event-data-widget>
            
                <div class="widget-order button-options" *ngIf="editLayoutMode && !loading"> 
                    <button aria-label="change widget order up" mat-icon-button (click)="onChangeWidgetOrderUp(w)" [disabled]="i===0">
                        <mat-icon>arrow_upward</mat-icon>
                    </button>
                    <button aria-label="change widget order down" mat-icon-button (click)="onChangeWidgetOrderDown(w)" [disabled]="i === widgets.length - 1">
                        <mat-icon>arrow_downward</mat-icon>
                    </button>
                </div>
            </div>
        </ng-template>
    </div>
</div>