<page-container title="{{ 'admin.categories.users.roles' | translate }}: {{ 'user_roles.category.data_access' | translate }}"
                [backButton]="true"
                (notifyOnBack)="back()"
                [loading]="loading">

    <form pageContent #editForm="ngForm" (ngSubmit)="onSubmit(editForm)" class="edit-form"> 
        <div class="admin-edit-label">{{ getLabelEntity() }}</div>

        <div class="form-row">
            <label class="tag width20" for="allowAccessToCompanyStats">{{ 'user_roles.category.data_access.allow_access_to_company_stats' | translate }}</label>
            <div class="field width-remain toggle-buttons">
                <input type="checkbox"
                        id="allowAccessToCompanyStats" 
                        name="allowAccessToCompanyStats"
                        [(ngModel)]="role.allowAccessToCompanyStats" 
                        #allowAccessToCompanyStats="ngModel"/>
                <label for="allowAccessToCompanyStats">
                    {{ (role.allowAccessToCompanyStats == true ?  'form.actions.enabled' : 'form.actions.disabled') | translate }}
                </label>
            </div>
        </div>

        <div class="form-row">
            <label class="tag width20" for="allowAccessToVehicleTypeStats">{{ 'user_roles.category.data_access.allow_access_to_vehicle_type_stats' | translate }}</label>
            <div class="field width-remain toggle-buttons">
                <input type="checkbox"
                        id="allowAccessToVehicleTypeStats" 
                        name="allowAccessToVehicleTypeStats"
                        [(ngModel)]="role.allowAccessToVehicleTypeStats" 
                        #allowAccessToVehicleTypeStats="ngModel"/>
                <label for="allowAccessToVehicleTypeStats">
                    {{ (role.allowAccessToVehicleTypeStats == true ?  'form.actions.enabled' : 'form.actions.disabled') | translate }}
                </label>
            </div>
        </div>

        <div class="form-row">
            <label class="tag" for="hideTripsAndPositionsOlderThan">  {{ 'user_roles.category.data_access.hide_trips_positions_older_than'  | translate }}</label>
            <div class="field">
                <input class="number" 
                        id="hideTripsAndPositionsOlderThan" 
                        min="1"
                        required
                        validateNumber
                        [(ngModel)]="role.hideTripsAndPositionsOlderThan" 
                        name="hideTripsAndPositionsOlderThan"
                        #hideTripsAndPositionsOlderThan="ngModel"/>
                <span class="field-msg">
                    {{ 'time.days' | translate}}
                </span>
            </div>
            <div [hidden]="hideTripsAndPositionsOlderThan.valid || hideTripsAndPositionsOlderThan.pristine" class="alert alert-danger">
                {{ hideTripsAndPositionsOlderThan.errors | myFormValidationMessage: { field: 'user_roles.category.data_access.hide_trips_positions_older_than', min: 1 } }}
            </div>   
        </div>
      
    </form>
      
    <footer fixedFooter>
        <button aria-label="submit" type="submit" (click)="onSubmit(editForm)" [disabled]="editForm.invalid || loading " class="btn secondary-btn">
            {{ 'form.actions.save' | translate }}          
        </button>
        <button aria-label="back" (click)="back()" type="reset" class="btn alternative-btn">
            {{ 'form.actions.cancel' | translate }}
        </button>
    </footer>
</page-container>
