<div class="widgets events-widget">
    <div class="card add-shadows" [ngClass]="'widget-row-2'">
        <div class="header">
            <div class="title">{{ widget.title }}</div>
            <div class="header-buttons">
                <button aria-label="edit" class="icon-button" (click)="edit(widget.id)" *ngIf="!editing && widget.allowUserToRemove == true">
                    <mat-icon class="primary-color">mode_edit</mat-icon>
                </button>
                <button aria-label="delete forever" class="icon-button" (click)="openDialog(widget)" *ngIf="!editing && widget.allowUserToRemove == true">
                    <mat-icon class="primary-color">delete_forever</mat-icon>
                </button>
                <maximize-button *ngIf="!editing" [referenceID]="elementRef.nativeElement.id" ></maximize-button>
            </div>
        </div>
        <div class="widget-content" *ngIf="!loading">
            <ng-template [ngIf]="!message && result && result.items">
                <div class="events-row" *ngFor="let item of result.items">
                    <div class="events-row-cell rule-name">
                        {{ item.ruleName ? item.ruleName : '-' }}
                    </div>
                    <div class="events-row-cell num">{{ item.numOfEvents }}</div>
                </div>
            </ng-template>
            <div style="width: 100%;  margin:auto;" class="message" *ngIf="message">
                <h3 class="msg" align="center">{{ message | translate }}</h3>
            </div>
        </div>
        <div class="loader" *ngIf="loading">
            <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
        </div>
        <div class="widget-footer-buttons" *ngIf="!loading">
            <button aria-label="edit" class="icon-button" (click)="edit(widget.id)" *ngIf="!editing && widget.allowUserToRemove == true">
                <mat-icon class="primary-color">mode_edit</mat-icon>
            </button>
            <button aria-label="delete forever" class="icon-button" (click)="openDialog(widget)" *ngIf="!editing && widget.allowUserToRemove == true">
                <mat-icon class="primary-color">delete_forever</mat-icon>
            </button>
            <maximize-button *ngIf="!editing" [referenceID]="elementRef.nativeElement.id" ></maximize-button>
        </div>
    </div>
</div>
