@import "../../../styles/variables";

.events-widget {
    height: 100%;
    .widget-content {
        display: block !important;
        border-collapse: collapse;
        width: 100%;
        height: 100%;
        overflow-y: auto !important;
        background-color: #f6f6f6;
        .events-row {
            font-size: 10pt;
            display: flex;
            border-bottom: 1px solid @divider;
            .first {
                padding-left: 10px;
                div {
                    width: 20px;
                    display: inline-block;
                    text-align: center;
                }
            }
            &-cell {
                padding: 10px;
                &.rule-name {
                    width: 80%;
                }
                &.num {
                    font-weight: bold;
                    width: 20%;
                    text-align: right;
                }
            }
        }
        .message {
            display: flex;
            vertical-align: middle;
            text-align: center;
            color: @neutral-color;
            justify-content: center;
        }
    }
}

@media screen and (min-width: @break-point) {
    .events-widget {
        .widget-content {
            .events-row {
                font-size: 12pt;
            }
        }
    }
}
