﻿<div class="dialog">
    <div class="header">
        <div class="title">
            <h2>
                {{ 'ev_charging_points_manager.details.unlock.action' | translate }}
            </h2>
        </div>
        <div class="button">
            <button aria-label="clear" mat-icon-button (click)="dialogRef.close('no')">
                <mat-icon>clear</mat-icon>
            </button>
        </div>
    </div>
    <div class="content">        
        <div class="form-row">
            <label class="tag width20" for="connector" style="display: block;">{{ 'ev_charging_points_manager.details.unlock.selection' | translate }}</label>
            <div class="field width-remain">
                <custom-selector class="ddl"                           
                                [options]="showOptions"
                                [modelData]="selectedConnector"
                                [dataID]="'connector'"
                                (modelDataChange)="changeConnector($event)"                                     
                                name="connector">
                </custom-selector>               
            </div>                
        </div> 
        <br>
        <br>
        <footer class="footer">
            <button [disabled]="!selectedConnector" aria-label="submit" class="btn primary-btn" (click)="dialogRef.close(selectedConnector.id.toString())">
                {{ 'ev_charging_points_manager.details.unlock' | translate }}
            </button>
            <button aria-label="cancel" class="btn alternative-btn" (click)="dialogRef.close('no')">
                {{ 'form.actions.cancel' | translate }}
            </button>
        </footer>
    </div>    
</div>