/* Return to top button */

.return-to-top {
    position: absolute !important;
    bottom: 10px;
    right: 45px;
    background: rgba(0, 0, 0, 0.7);
    color: #fff !important;
    display: inline-block;
}
