<ul class="menu">
    <li class="item" *ngFor="let tab of tabs" (click)="selectTab(tab)" [class.active]="tab.active" [class.disabled]="tab.disabled">
        <div class="title">
            <ng-container *ngTemplateOutlet="tab.headerTemplate ? tab.headerTemplate : defaultTabHeader; context: { title: tab.title }"></ng-container>
        </div>
    </li>
</ul>

<ng-content></ng-content>

<ng-template #defaultTabHeader let-title="title">
    {{ title }}
</ng-template>
