@import "../../styles/variables";

tabs {
    ul.menu {
        margin: 0px;
        padding: 0px;
        list-style: none;
        li.item {
			display: inline-block;
            cursor: pointer;

            .title {
                cursor: pointer;
                padding: 14px 24px;
                background-color: @form-tabs;
                color: #8F999D;
                border: 1px solid #e0e5e6;
                border-bottom: 0px;
                font-size: 1.1em;
                &:hover {
                    background-color: @form-tabs-hover;
                }
            }
            &.active {
                border-bottom: 1px solid #ffffff;
                .title {
                    background-color: #fff;
                    color: #505956;
                    font-weight: 500;
                    &:hover {
                        background-color: #fff;
                    }
                }
            }

            &.disabled {
                color: hsla(150, 5%, 75%, 1);
                cursor: not-allowed;
                .title {
                    cursor: not-allowed;
                    &:hover {
                        background-color: transparent;
                    }
                }
            }
        }
    }
    tab { 
        height: inherit;  
        .tab-contents {
            background-color: #fff;
            border: 1px solid @divider;
            margin-top: -1px;
            height: inherit;
        }
    }
}

@media only screen and (max-width: @break-point) {
    tabs {
        ul.menu {
            li.item {
                .title {
                    padding: 10px;
                    font-size: 0.9em;

                }
            }
        }
    }
}