<div style="display: flex; align-items: center;">
    <mat-form-field class="autocomplete" style="flex: 0 1 auto; margin-right: .75em;">
        <input matInput #term [(ngModel)]="inputSelected"
                [placeholder]="placeholder"
                [matAutocomplete]="auto"            
                (keyup)="search(term.value)">
        <div class="autocomplete-clear" *ngIf="!loading && inputSelected && inputSelected.length > 0" (click)="clearInput(false, $event)">
            <mat-icon>clear</mat-icon>
        </div>
        <div class="autocomplete-loader" *ngIf="loading">
            <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
        </div>
    </mat-form-field>
    <button style="flex: 0 1 auto;" type="button" *ngIf="!inputVehicle && inputSelected  && inputSelected.length > 2 && inputSelected !== '' && !listSelected" aria-label="add" class="btn-small primary-btn" (click)="onAddNew(inputSelected)">
        <mat-icon>add_circle_outline</mat-icon>
    </button>
</div>

<mat-autocomplete #auto="matAutocomplete" ng-disabled="disabled">
    <mat-option (onSelectionChange)="selected(item)" *ngFor="let item of items | async" [value]="item">
        {{ item.name }}
    </mat-option>
</mat-autocomplete>