@import "../../../shared/data-table/data-table";

.view-reports {
    fieldset {
        border-color: var(--primary-color);
        background: none;
    }
    .table-layout {
        background: none;
        .table-contents {
            overflow-y: auto;
        }
    }
    .section-header {
        font-size: 1.4em;
        font-weight: 600;
        margin-top: 1em;
        margin-bottom: .5em;
        background: none;
    }
    .mat-expansion-panel-body {
        overflow-x: hidden;
    }
}

