<page-container class="view-reports"
                [title]="'reporting.reports'"
                [backButton]="true"
                (notifyOnBack)="back()"
                [loading]="loading">

    <div pageContent class="table-layout table-mobile-off">
        <fieldset>
            <legend class="section-header primary-color">
                {{ 'reports.standard_reports' | translate }}
            </legend>

            <mat-accordion *ngIf="standardReportsData">
                <ng-container  *ngFor="let type of reportAssetTypes" >
                    <mat-expansion-panel class="accordion" *ngIf="type.enabled" >
                        <mat-expansion-panel-header class="accordion-header">
                            {{ type.name | translate }}
                        </mat-expansion-panel-header>
                        <div class="accordion-content-wrapper table-contents">
                            <table >
                                <tbody>
                                    <tr *ngFor="let item of standardReportsData | myStandarReportFilter: type.id">
                                        <td>
                                            {{ 'reports.standard_reports_names.' + item.standardType | translate }}
                                        </td>
                                        <td class="no-wrap">
                                            <!-- excecute -->
                                            <button aria-label="execute" class="ud-button" mat-icon-button
                                                    (click)="navigateFor('execute', item.id)"
                                                    [matTooltip]="'reports.execute.title' | translate"
                                                    matTooltipPosition="below"
                                                    matTooltipShowDelay="1000">
                                                <mat-icon>insert_drive_file</mat-icon>
                                            </button>
                                            <!-- edit -->
                                            <button aria-label="edit" class="ud-button" mat-icon-button
                                                        (click)="navigateFor('edit', item.id)"
                                                        [matTooltip]="'customize_layout.customize' | translate"
                                                        matTooltipPosition="below"
                                                        matTooltipShowDelay="1000">
                                                <mat-icon>edit_mode</mat-icon>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </mat-expansion-panel>
                </ng-container>
            </mat-accordion>

        </fieldset>

        <fieldset>
            <legend class="section-header primary-color">
                {{ 'reports.custom_reports' | translate }}
            </legend>
            <div class="table-contents">
                <table *ngIf="customReportsData" >
                    <tbody>
                        <tr *ngFor="let item of customReportsData">
                            <td>
                                {{ item.name }}
                            </td>
                            <td class="no-wrap">
                                <!-- excecute -->
                                <button aria-label="excecute" class="ud-button" mat-icon-button
                                    (click)="navigateFor('execute', item.id)"
                                    [matTooltip]="'reports.execute.title' | translate"
                                    matTooltipPosition="below"
                                    matTooltipShowDelay="1000">
                                    <mat-icon>insert_drive_file</mat-icon>
                                </button>
                                <!-- edit -->
                                <button aria-label="edit" class="ud-button" mat-icon-button
                                        (click)="navigateFor('edit', item.id)"
                                        [matTooltip]="'form.actions.edit' | translate"
                                        matTooltipPosition="below"
                                        matTooltipShowDelay="1000">
                                    <mat-icon>edit</mat-icon>
                                </button>
                                <!-- delete -->
                                <button aria-label="delete" class="ud-button" mat-icon-button
                                        (click)="openDialog(item)"
                                        [matTooltip]="'form.actions.delete' | translate"
                                        matTooltipPosition="below"
                                        matTooltipShowDelay="1000">
                                    <mat-icon>delete</mat-icon>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </fieldset>

    </div>
</page-container>
