﻿
<div class="dialog insert-replacement-vehicle-trip">
    <div class="header">
        <div class="title">
            <h3>{{ 'fiscal_trips.nl.insert_replacement_vehicle_trip.title' | translate }}</h3>
        </div>
        <button aria-label="close dialog" mat-icon-button>
            <mat-icon (click)="closeDialog()">clear</mat-icon>
        </button>
    </div>
    <div *ngIf="loading">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
    <div class="content">
        
        <!-- EDIT TRIP FORM -->
        <form class="edit-form insert-replacement-vehicle-trip-form" #insertReplacementVehicleTripForm="ngForm" (ngSubmit)="save(insertReplacementVehicleTripForm)">
            <div class="form-row">
                <label class="tag" for="">{{ 'fiscal_trips.nl.vehicle_label' | translate }}</label>
                <div class="field width-remain">
                    <replacement-vehicle-search placeholder="{{ 'form.search.pleaceholder' | translate }}" 
                                [inputVehicle]="inputVehicle"                           
                                (onSelect)="onListItemSelectOrAddNew($event)"
                                (onNewAdd)="onListItemSelectOrAddNew($event)">
                    </replacement-vehicle-search>
                </div>
            </div>
            <div class="form-row">
                <label class="tag" for="start-address">{{ 'fiscal_trips.nl.start_address' | translate }}</label>
                <div class="field width-remain">
                    <address-autocomplete [style.width.%]="100" [modelData]="startLocation" (modelDataChange)="locationChange($event, 'start')"> </address-autocomplete>
                    <input type="hidden"
                           id="start-address"
                           name="start-address"                           
                           required                           
                           [(ngModel)]="trip.startAddress"
                           #startAddress="ngModel"/>                  
                </div>                
                <div [hidden]="startAddress.valid || startAddress.pristine  || startLocation.address" class="alert alert-danger">
                    {{ startAddress.errors | myFormValidationMessage: { field: 'fiscal_trips.nl.start_address' } }}
                </div>
            </div>
            <div class="form-row">
                <label class="tag" for="start-at">{{ 'fiscal_trips.nl.insert_replacement_vehicle_trip.start_timestamp' | translate }}</label>
                <div class="field width-remain">
                    <datepicker [id]="'sinceDTP'" 
                                [(modelData)]="startDate"
                                [max]="maxStartTime">                                
                    </datepicker>
                    <timepicker [stepMinutes]="1" [(hours)]="startDateHours" [(minutes)]="startDateMinutes"></timepicker>
                </div>              
            </div>           
            <div class="form-row">
                <label class="tag" for="stop-address">{{ 'fiscal_trips.nl.stop_address' | translate }}</label>
                <div class="field width-remain">
                    <address-autocomplete [style.width.%]="100" [modelData]="stopLocation" (modelDataChange)="locationChange($event, 'stop')"> </address-autocomplete>
                    <input type="hidden"
                           id="stop-address"
                           name="stop-address"
                           required
                           [(ngModel)]="trip.stopAddress" 
                           #stopAddress="ngModel"/>                    
                </div>                
                <div [hidden]="stopAddress.valid || stopAddress.pristine  || stopLocation.address" class="alert alert-danger">
                    {{ stopAddress.errors | myFormValidationMessage: { field: 'fiscal_trips.nl.stop_address' } }}
                </div>
            </div>
            <div class="form-row">
                <label class="tag" for="stop-at">{{ 'fiscal_trips.nl.insert_replacement_vehicle_trip.stop_timestamp' | translate }}</label>
                <div class="field width-remain">
                    <datepicker [id]="'tillDTP'" 
                                    [(modelData)]="stopDate"
                                    [max]="maxStopTime">        
                        </datepicker>
                        <timepicker [stepMinutes]="1" [(hours)]="stopDateHours" [(minutes)]="stopDateMinutes"></timepicker>
                </div>               
            </div>    
            <div class="form-row">
                <label class="tag" for="totalDistance">
                    {{ 'fiscal_trips.nl.distance' | translate }}   
                    <small>({{ 'measurement.metric.distance' | translate }})</small>
                </label>
                <div class="field width-remain">
                    <input type="number"
                           id="totalDistance"
                           name="totalDistance"
                           required
                           [(ngModel)]="trip.totalDistance"                    
                           #totalDistance="ngModel"/>                   
                </div>
                <div [hidden]="totalDistance.valid || totalDistance.pristine" class="alert alert-danger">
                    {{ totalDistance.errors | myFormValidationMessage: { field: 'fiscal_trips.nl.distance' } }}
                </div>
            </div>
            <div class="form-row">
                <label class="tag" for="business-distance">
                    {{ 'fiscal_trips.nl.business_distance' | translate }}
                    <small>({{ 'measurement.metric.distance' | translate }})</small>
                </label>
                <div class="field width-remain">
                    <input type="number"
                           id="business-distance"
                           name="business-distance"
                           required
                           validateNumber
                           min="0"
                           max="{{trip.totalDistance}}"
                           [(ngModel)]="trip.businessDistance" 
                           (change)="checkMilage('business')"
                           (keyup)="checkMilage('business')"
                           #businessDistance="ngModel"/>                  
                </div>
                <div [hidden]="businessDistance.valid || businessDistance.pristine" class="alert alert-danger">
                    {{ businessDistance.errors | myFormValidationMessage: { field: 'fiscal_trips.nl.business_distance' } }}
                </div>
            </div>

            <div class="form-row">
                <label class="tag" for="private-distance">
                    {{ 'fiscal_trips.nl.private_distance' | translate }}   
                    <small>({{ 'measurement.metric.distance' | translate }})</small>
                </label>
                <div class="field width-remain">
                    <input type="number"
                           id="private-distance"
                           name="private-distance"
                           min="0"
                           max="{{trip.totalDistance}}"
                           required
                           validateNumber
                           [(ngModel)]="trip.privateDistance"
                           (change)="checkMilage('private')"
                           (keyup)="checkMilage('private')" 
                           #privateDistance="ngModel"/>                   
                </div>
                <div [hidden]="privateDistance.valid || privateDistance.pristine" class="alert alert-danger">
                    {{ privateDistance.errors | myFormValidationMessage: { field: 'fiscal_trips.nl.private_distance' } }}
                </div>
            </div>            

            <footer>
                <button aria-label="submit" type="submit" class="btn secondary-btn" [disabled]="insertReplacementVehicleTripForm.invalid || loading">
                    {{ 'form.actions.save' | translate }}
                </button>
                <button aria-label="reset" type="reset" (click)="closeDialog()" class="btn alternative-btn">
                    {{ 'form.actions.cancel' | translate }}
                </button>
            </footer>

        </form>
        <!-- END OF EDIT TRIP FORM -->
    </div>
</div>
