﻿@import "../../../styles/variables";

.insert-replacement-vehicle-trip  { 
    .form-row {
       .field {
            datepicker {
                margin-right: .75em;
           }
       }
    }
}

@media screen and (min-width: @break-point) {
    .insert-replacement-vehicle-trip  {
        min-width: 550px;
        .form-row {
            .tag {
                width: 120px;                
                padding: 0 .5em;
                word-wrap:break-word;
            }
        }
    }
}
