<mat-list class="settings-list">
    <ng-template ngFor let-option [ngForOf]="options">
        <ng-template [ngIf]="option.visible == undefined || option.visible == true">
            <h3 class="grouping-title secondary-color" mat-subheader>{{ option.title | translate }}</h3>
            <mat-list-item *ngFor="let item of option.items">
                <ng-template [ngIf]="item.allowed == undefined || item.allowed == true">
                    <mat-icon mat-list-icon *ngIf="item.icon">{{ item.icon }}</mat-icon>
                    <a class="option-link primary-link" mat-line [routerLink]="item.params" [skipLocationChange]="skipLocChange">{{ item.option | translate }}</a>
                    <p mat-line *ngIf="item.description">{{ item.description }} </p>
                </ng-template>
            </mat-list-item>
            <div class="divider"></div>
        </ng-template>
    </ng-template>
</mat-list>