.settings-list-wrapper {
    margin-top: 1em;

    .settings-list
    {
        .mat-list-icon {
            color: rgba(0, 0, 0, 0.54);
        }
        .grouping-title {
            font-size: 14pt;
        }
        .option-link {
            font-size: 12pt !important;
            word-break: break-word;
            white-space: normal !important;
            text-overflow: initial !important;
        }
        .divider {
            margin-bottom: 15px;
        }
    }
}