﻿<div class="dialog audit-log-details">
    <div class="header">
        <div class="title">
            <h3 [ngSwitch]="data.revisionType">
                <ng-template [ngSwitchCase]="revisionTypes.CommentRevision">
                   {{ 'fiscal_trips.nl.audit_log.revision_type.comment_revision' | translate }}
                </ng-template>
                <ng-template [ngSwitchCase]="revisionTypes.DeviationRevision">
                    {{ 'fiscal_trips.nl.audit_log.revision_type.deviation_revision' | translate }}
                </ng-template>
                <ng-template [ngSwitchCase]="revisionTypes.DistanceRevision">
                    {{ 'fiscal_trips.nl.audit_log.revision_type.distance_revision' | translate }}
                </ng-template>
                <ng-template [ngSwitchCase]="revisionTypes.StartLocationRevision">
                    {{ 'fiscal_trips.nl.audit_log.revision_type.start_location_revision' | translate }}
                </ng-template>
                <ng-template [ngSwitchCase]="revisionTypes.StopLocationRevision">
                    {{ 'fiscal_trips.nl.audit_log.revision_type.stop_location_revision' | translate }}
                </ng-template>
            </h3>
        </div>
        <button aria-label="clear" mat-icon-button>
            <mat-icon (click)="closeDialog()">clear</mat-icon>
        </button>
    </div>
    <div class="content">
        <div class="edit-form">
            <div class="form-row">
                <label class="tag" for="date-time">{{ 'fiscal_trips.nl.audit_log.revision.created' | translate }}</label>
                <div class="field width-remain">
                    {{ data.timestamp | myDateFormat: { display: dateDisplayOptions.both, dateFormat: userOptions.localOptions.short_date } }}
                </div>
            </div>
          
            <div class="form-row">                    
                <div class="field width-remain">
                    <ul *ngIf="details && details.length > 0">
                        <li *ngFor="let detail of details;">
                            <label class="tag">{{ detail.label | myFiscalTripsNLAuditLogParameterName: data.revisionType }}</label>
                            
                            <ng-template [ngIf]="detail.oldValue">
                                <span class="red"> {{ detail.oldValue | myFiscalTripsNLAuditLogParameterValue: data.revisionType }} </span>
                                <ng-template [ngIf]="detail.newValue">{{'audit_log.details.changed_to' | translate }}</ng-template>
                            </ng-template>
                            <ng-template [ngIf]="detail.newValue">
                                <span class="green"> {{ detail.newValue | myFiscalTripsNLAuditLogParameterValue: data.revisionType }} </span>
                            </ng-template>
                        </li>
                    </ul>
                    <span *ngIf="!details || details.length === 0">
                        {{ 'audit_log.details.no_changes' | translate }}
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>