﻿.audit-log-details {
    max-height: 500px;
    
    .tag {
        min-width: 100px;
    }

    ul {
        li {
            padding: 0.5em 0;
            .green {
                color:green;
            }

            .red {
                color: #bf3232;
            }
        }
    }
}
