<page-container title="{{ 'admin.categories.users.roles' | translate }}: {{ action | translate }}"
                [backButton]="true"
                (notifyOnBack)="back()"
                [loading]="loading">

    <form pageContent #editForm="ngForm" (ngSubmit)="onSubmit(editForm)" class="edit-form"> 
        <div class="admin-edit-label">{{ getLabelEntity() }}</div>
            
        <fieldset>
            <legend>{{ 'form.field.basic_data' | translate }}</legend>
            <div class="form-row">
                <label class="tag width20" for="isAdmin">{{ 'user_roles.name' | translate }}</label>
                <div class="field width-remain">
                    <input type="text" 
                            id="name" 
                            name="name"
                            required 
                            [(ngModel)]="role.name"
                            #name="ngModel"/>
                </div>
                <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                    {{ name.errors | myFormValidationMessage: { field: 'user_roles.name' } }}
                </div>
            </div>
        </fieldset>
        <fieldset >
            <legend>Role type</legend>
            <div class="form-row">
                <label class="tag width20" for="isDriver">{{ 'user_roles.is_driver' | translate }}</label>
                <div class="field width-remain toggle-buttons">
                    <input type="checkbox"
                            id="isDriver" 
                            name="isDriver"
                            [(ngModel)]="role.isDriver" 
                            #isDriver="ngModel"
                            [disabled]="role.id > 0"
                            (change)="onIsDriverChange()"/>
                    <label for="isDriver">
                        {{ (role.isDriver == true ?  'form.actions.enabled' : 'form.actions.disabled') | translate }}
                    </label>
                </div>
            </div>
            <div class="form-row">
                <label class="tag width20" for="isAdmin">{{ 'user_roles.is_admin' | translate }}</label>
                <div class="field width-remain toggle-buttons">
                    <input type="checkbox"
                            id="isAdmin" 
                            name="isAdmin"
                            [(ngModel)]="role.isAdmin" 
                            #isAdmin="ngModel"
                            [disabled]="role.id > 0"
                            (change)="onIsAdminChange()"/>
                    <label for="isAdmin">
                        {{ (role.isAdmin == true ?  'form.actions.enabled' : 'form.actions.disabled') | translate }}
                    </label>
                </div>
            </div>
        </fieldset>
        
        <!-- END OF BASIC ROLE DATA -->
     
    </form>
        
    <footer fixedFooter>
        <button aria-label="submit" type="submit" (click)="onSubmit(editForm)" [disabled]="editForm.invalid" class="btn secondary-btn">
            {{ 'form.actions.save' | translate }}          
        </button>
        <button aria-label="back" (click)="back()" type="reset" class="btn alternative-btn">
            {{ 'form.actions.cancel' | translate }}
        </button>
    </footer>
</page-container>
