@import "../../../styles/variables";

.ranking-widget {
    height: 100%;

   .widget-content {
        display: block !important;
        width: 100%;
        background-color: #f6f6f6;
        overflow-y: auto;

        .ranking-row {
            font-size: 10pt;
            display:flex;
            border-bottom: 1px solid @divider;
            &-cell {
                padding: 8px 0;
                &.first {
                    width: 77%;
                    display: flex;
                    align-items:center;
                    .ranking {
                        width: 23%;
                        font-weight: bold;
                    }
                    .trend {
                        width: 10%;
                        min-width: 25px;
                        mat-icon {
                            font-size: 30pt;
                            vertical-align: middle;
                            margin-top: -19px;
                            margin-left: -5px;
                        }
                        .upward {
                            color: #00A74E;
                        }
                        .downside {
                            color: #C34706;
                        }
                        .steady {
                            border: 2px solid #C1C1C1;
                            border-radius: 2px;
                            width: 15px;
                            margin-left: 7px;
                        }
                    }
                    .name {
                        width: 65%;
                    }
                }
                &.scores {
                    flex: 0 1 auto;     
                    .score_letter {
                        margin-right: 3px;
                        display: inline-block;
                    }
                    .score_value {
                        font-weight: normal;
                    }
                }
            }
        }
        .message {
            text-align: center;
        }
    }
}

@media screen and (min-width: @break-point) {
    .ranking-widget {
         .widget-content {
            .ranking-row {
                font-size: 12pt;
            }
        }
    }
}
