<div class="widgets ranking-widget">
    <div class="card add-shadows" [ngClass]="'widget-row-2'">
        <div class="header">
            <div class="title">{{ widget.title }}</div>
            <div class="header-buttons">
                <button aria-label="edit" class="icon-button" (click)="edit(widget.id)" *ngIf="!editing && widget.allowUserToRemove == true">
                    <mat-icon class="primary-color">mode_edit</mat-icon>
                </button>
                <button aria-label="delete forever" class="icon-button" (click)="openDialog(widget)" *ngIf="!editing && widget.allowUserToRemove == true">
                    <mat-icon class="primary-color">delete_forever</mat-icon>
                </button>
                <maximize-button *ngIf="!editing" [referenceID]="elementRef.nativeElement.id" ></maximize-button>
            </div>
        </div>
        <div class="widget-content" *ngIf="!loading">
            <ng-template [ngIf]="!message && result && result.items">
                <div class="ranking-row" *ngFor="let item of result.items">
                    <ng-template [ngIf]="!widget.assetID"> 
                        <div class="ranking-row-cell first">
                            <div class="trend" [ngSwitch]="item.changeTrend">
                                <div *ngSwitchCase="'0'" class="upward"><mat-icon>arrow_drop_up</mat-icon></div>
                                <div *ngSwitchCase="'1'" class="downside"><mat-icon>arrow_drop_down</mat-icon></div>
                                <div *ngSwitchCase="'2'" class="steady"></div>
                                <div *ngSwitchCase="'3'"><mat-icon></mat-icon></div>
                            </div>
                            
                            <div class="ranking">
                                <span class="rank">{{ item.rank }}</span>
                                <span *ngIf="item.previousRank && item.previousRank != item.rank">({{ item.previousRank }})</span>
                            </div>
                            <div class="name">{{ item.firstname }} {{ item.lastname }}</div>
                        </div>
                        <div class="ranking-row-cell scores" [innerHtml]="item.score | myScoreFormat: scoreFormatter.all"></div>
                    </ng-template>

                    <!-- ranking widget for driver -->
                    <ng-template [ngIf]="widget.assetID"> 
                        <div class="ranking-row-cell first">
                            <div class="ranking">    
                                {{ item.rank }} / {{ item.totalRows }} 
                            </div>
                            <div class="name">{{ item.groupName }}</div>
                        </div>
                    </ng-template>
                    </div>
            </ng-template>
            <div style="width: 100%;  margin: auto;" class="message" *ngIf="message">
                <h3 class="msg" align="center">{{ message | translate }}</h3>
            </div>
        </div>
        <div class="loader" *ngIf="loading">
            <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
        </div>
        <div class="widget-footer-buttons" *ngIf="!loading">
            <button aria-label="edit" class="icon-button" (click)="edit(widget.id)" *ngIf="!editing && widget.allowUserToRemove == true">
                <mat-icon class="primary-color">mode_edit</mat-icon>
            </button>
            <button aria-label="delete forever" class="icon-button" (click)="openDialog(widget)" *ngIf="!editing && widget.allowUserToRemove == true">
                <mat-icon class="primary-color">delete_forever</mat-icon>
            </button>
            <maximize-button *ngIf="!editing" [referenceID]="elementRef.nativeElement.id" ></maximize-button>
        </div>
    </div>
</div>
