<page-container class="edit-company-settings"
                title="{{ 'admin.categories.company.manage' | translate }}: {{ 'form.actions.edit' | translate }}"
                [backButton]="true"
                (notifyOnBack)="back()"
                [loading]="loading">
    <div pageContent>
        <form #editForm="ngForm" (ngSubmit)="onSubmit(editForm)" class="edit-form">
            <div class="admin-edit-label">{{ getLabelEntity() }}</div>

            <fieldset>
                <legend>{{ 'form.field.basic_data' | translate }}</legend>
                <div class="form-row">
                    <label class="tag width20" for="name">{{ 'company.name' | translate }}</label>
                    <div class="field width-remain">
                        <input type="text"
                                id="name"
                                name="name"
                                required
                                [(ngModel)]="company.name"
                                #name="ngModel"/>
                    </div>
                    <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                        {{ name.errors | myFormValidationMessage: { field: 'company.name' } }}
                    </div>
                </div>
                <div class="form-row">
                    <label class="tag width20" for="description">{{ 'company.description' | translate }}</label>
                    <div class="field width-remain">
                        <textarea rows="2"
                                id="description"
                                name="description"
                                [(ngModel)]="company.description"
                                #description="ngModel">
                        </textarea>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend>Profile</legend>
                <div class="form-row">
                    <label class="tag width20" for="accountCreationCodePrefix">{{ 'company.account_creation_code_prefix' | translate }}</label>
                    <div class="field width-remain">
                        <input class="code-prefix" type="text"
                                id="accountCreationCodePrefix"
                                name="accountCreationCodePrefix"
                                pattern="[A-Za-z]{5}"
                                maxLength="5"
                                [(ngModel)]="company.accountCreationCodePrefix"
                                #accountCreationCodePrefix="ngModel"/>
                    </div>
                    <div [hidden]="accountCreationCodePrefix.valid || accountCreationCodePrefix.pristine" class="alert alert-danger">
                        {{ 'company.errors.account_creation_code_prefix' | translate }}
                    </div>
                </div>
                <div class="form-row">
                    <label class="tag width20" for="vehicle_label">{{ 'labels.vehicle' | translate }}</label>
                    <div class="field width-remain">
                        <custom-selector class="ddl"
                                        [options]="vehicleLabels"
                                        [(modelData)]="company.vehicleLabel"
                                        [dataID]="'vehicle_label'">
                        </custom-selector>
                    </div>
                </div>
                <div class="form-row">
                    <label class="tag width20" for="driver_label">{{ 'labels.driver' | translate }}</label>
                    <div class="field width-remain use-aliases">
                        <custom-selector class="ddl"
                                        [options]="driverLabels"
                                        [(modelData)]="company.driverLabel"
                                        [dataID]="'driver_label'">
                        </custom-selector>
                        <div class="toggle-buttons">
                            <input type="checkbox"
                                    id="allowAliasesUse"
                                    name="allowAliasesUse"
                                    [(ngModel)]="company.allowAliasesUse"
                                    #allowAliasesUse="ngModel"/>
                            <label for="allowAliasesUse">
                                {{ 'company.driver_label.allow_aliases_use' | translate }}
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <label class="tag width20" for="culture">{{ 'company.language' | translate }}</label>
                    <div class="field width-remain">
                        <cultures-list class="ddl" [(modelData)]="company.culture"></cultures-list>
                    </div>
                </div>
                <div class="form-row">
                    <label class="tag width20" for="timeZoneIndex">{{ 'company.timezone' | translate }}</label>
                    <div class="field width-remain">
                        <timezones-list class="ddl" [(modelData)]="company.timeZoneIndex"></timezones-list>
                    </div>
                </div>
                <div class="form-row">
                    <label class="tag width20" for="measurement_system">{{ 'measurement.system' | translate }}</label>
                    <div class="field width-remain">
                        <custom-selector class="ddl"
                                        [options]="measurementSystems"
                                        [(modelData)]="company.measurementSystem"
                                        [dataID]="'measurement_system'">
                        </custom-selector>
                    </div>
                </div>
            </fieldset>

        </form>
    </div>
    <footer fixedFooter>
        <button aria-label="submit" type="submit" (click)="onSubmit(editForm)" [disabled]="editForm.invalid || loading " class="btn secondary-btn">
            {{ 'form.actions.save' | translate }}
        </button>
        <button aria-label="back" (click)="back()" type="reset" class="btn alternative-btn">
            {{ 'form.actions.cancel' | translate }}
        </button>
    </footer>
</page-container>
