@import "../../../styles/variables";

.edit-company-settings {
    textarea {
        resize: none;
    }
    .code-prefix {
        max-width: 250px;
    }
    .use-aliases {
        .toggle-buttons {
            margin-left: 5px;
        }
    }
}


@media screen and (max-width: @break-point) {
    .edit-company-settings  {
        .use-aliases {
            flex-flow: row wrap;
        }
    }   
}