.edit-company-appearance-settings {
    .upload-logo {
        flex-flow: column;
        .image-preview {
            width: 100%;
        }
        .file-input {
            width: 100%;
            display: flex;
            input {
                margin-bottom: 0px;
                max-width: 200px;
            }
        }
        .upload-notes {
            margin-top: 10px;
            width: 100%;
            font-size: 10pt;
        }
    
    }
}