<page-container class="edit-company-appearance-settings"
                title="{{ 'admin.categories.company.manage' | translate }}: {{ 'company.category.appearance' | translate }}"
                [backButton]="true"
                (notifyOnBack)="back()"
                [loading]="loading">

    <div pageContent>
        <div class="admin-edit-label">{{ getLabelEntity() }}</div>

        <!-- THEME SELECTION -->
        <fieldset  class="edit-form">
            <legend>{{ 'company.theme' | translate }}</legend>
                <div class="form-row">
                    <label class="tag width20" for="primaryColor">{{ 'company.theme.color_primary' | translate }}</label>
                    <div class="field width-remain">
                        <color-picker [options]="colorPickerPrimaryOptions"
                            [(modelData)]="theme.primaryColor">
                        </color-picker>
                    </div>
                </div>
                <div class="form-row">
                    <label class="tag width20" for="secondaryColor">{{ 'company.theme.color_secondary' | translate }}</label>
                    <div class="field width-remain">
                        <color-picker [options]="colorPickerSecondaryOptions"
                            [(modelData)]="theme.secondaryColor">
                        </color-picker>
                    </div>
                </div>
                <footer>
                    <button type="button"
                            class="btn secondary-btn"
                            (click)="setTheme()">
                            {{ 'company.theme.custom' | translate }}
                    </button>
                    <button type="button"
                            class="btn primary-btn"
                            (click)="setDefaultTheme()">
                            {{ 'company.theme.default' | translate }}
                    </button>
                </footer>
        </fieldset>
        <!-- END OF THEME SELECTION -->

        <br/>
        <!-- LOGO SELECTION -->
        <fieldset class="edit-form">
            <legend>{{ 'company.logo' | translate }}</legend>
            <div class="form-row">
                <div class="upload-logo">
                    <div class="image-preview" *ngIf="!loading">
                        <img #logoImage [src]="company.logoURL" (error)="imgErrorHandler($event)"/>
                    </div>
                    <div class="file-input">
                        <input #fileLogoInput type="file" />
                        <button type="button"
                                class="btn primary-btn"
                                [disabled]="loading"
                                (click)="uploadLogo()">
                            <mat-icon>file_upload</mat-icon>
                            {{ 'file_upload.upload' | translate }}
                        </button>
                        <ng-template [ngIf]="company.logoURL">
                            <button type="button"
                                    class="btn delete-btn"
                                    (click)="removeLogo()">
                                <mat-icon>clear</mat-icon>
                                {{ 'file_upload.remove' | translate }}
                            </button>
                        </ng-template>
                    </div>
                    <div class="upload-notes">
                        <div>{{ 'file_upload.file_size' | translate }}: <b>200KB</b></div>
                        <div>{{ 'company.image_min_width' | translate }}: <b>480px</b></div>
                        <div>{{ 'file_upload.allowed_types' | translate }}: <b>png</b></div>
                    </div>
                </div>
            </div>
        </fieldset>
        <!-- END OF LOG SELECTION -->
    </div>
</page-container>
