﻿
<page-container class="page-error">
    <div pageContent>
        <h1>{{ 'error_pages.access_denied.title' | translate }}</h1>      
        <h4>{{ 'error_pages.access_denied.content' | translate }}</h4>
    </div>
</page-container>