<page-container title="{{ 'admin.categories.company.manage' | translate }}: {{ 'company.category.notifications.event_properties' | translate }}"
                [backButton]="true"
                (notifyOnBack)="back()">
    
    <div pageContent class="table-mobile-off">
        <div class="admin-edit-label">{{ getLabelEntity() }}</div>
        
        <mat-accordion>

            <mat-expansion-panel class="accordion">
                <mat-expansion-panel-header class="accordion-header">
                    {{ 'event_properties.priorities' | translate }}
                </mat-expansion-panel-header>
                <br/>

                <data-table [records]="eventPriorities"
                            [settings]="tableSettingsPriorities"
                            [loading]="loadingEventPriorities"
                            (onActionClick)="onManage($event, 'priority')">
                </data-table>
                
            </mat-expansion-panel>
        
            <mat-expansion-panel class="accordion">
                <mat-expansion-panel-header class="accordion-header">
                    {{ 'event_properties.classes' | translate }}
                </mat-expansion-panel-header>
                <br/>
                
                <data-table [records]="eventClasses"
                            [settings]="tableSettingsClasses"
                            [loading]="loadingEventClasses"
                            (onActionClick)="onManage($event, 'class')">
                </data-table>
            
            </mat-expansion-panel>

            <mat-expansion-panel class="accordion">
                <mat-expansion-panel-header class="accordion-header">
                    {{ 'event_properties.statuses' | translate }}
                </mat-expansion-panel-header>
                <br/>

                <data-table [records]="eventStatuses"
                            [settings]="tableSettingsStatuses"
                            [loading]="loadingEventStatuses"
                            (onActionClick)="onManage($event, 'status')">
                </data-table>

            </mat-expansion-panel>

        </mat-accordion>
    
    </div>                                
</page-container>
