﻿
<div class="report-subscriptions-list">
    <custom-selector class="subscriptions-ddl"
                [loading]="loading"
                [options]="data"
                [(modelData)]="modelData"
                [dataID]="'report-subscriptions'">
    </custom-selector>

    <div class="add-wrapper">
        <button aria-label="add" [disabled]="disableAddBtn" class="btn primary-btn" (click)="onAddTo()">
            <mat-icon>add_circle_outline</mat-icon>
        </button>
    </div>
</div>
