<page-container [title]="'quick_filters.title'" 
                [backButton]="true"
                (notifyOnBack)="back()"
                [addButton]="true"
                (notifyOnAdd)="onAddQuickFilter()">

        <data-table pageContent 
                [records]="qfData"
                [settings]="tableSettings"
                [loading]="loading"
                (onActionClick)="onManageQuickFilter($event)">
        </data-table>
</page-container>
