@import "../../styles/variables";

@table-details-height: 45px;
@table-header-height: 60px;

.data-table-title-tooltip {
    background-color: #575e65;
}

.table-layout {
    width: 100%;
    height: 100%;
    max-width: 100%;
    background-color: #fff;
    font-size: 15px;
    &.fixed-height {
        height: 600px;
    }

    .table-details {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: @table-details-height;
        padding: 0.7em;
        margin-bottom: 0;
        border-bottom: 1px solid rgba(0, 0, 0, 0.125);
        border-top: 3px solid #8F999D;
        color: @alternative-text;
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
        
        .mobile-sort-options {
            display: none;
        }

        .right {
            display: flex;
            justify-content: space-between;
        }
    }

    .table-header {
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
        border-bottom: 1px solid rgba(0, 0, 0, 0.125);
        color: @sublabel;
        font-weight: bold;

        .column-header {
            display: table-cell;
            vertical-align: middle;
            // same padding as td
            padding: 8px 10px;
            // this is only for tables with no data
            // after data insertion column widths are calculated
            width: 10%;
            height: @table-header-height;
            

            &.hide-col {
                display: none;
            }

            &.sortable {
                cursor: pointer;
            }

            .sort-icon {
                vertical-align: middle;
            }
            .title {
                word-wrap: break-word;
                max-height: 90px;
                overflow: hidden;
                // text-overflow: ellipsis;
            }
           
        }
    }

    .table-contents {
        height: calc(~'100% - @{table-details-height} - @{table-header-height}');
        overflow-y: scroll;
        // To smooth any scrolling behavior (iOS)
        -webkit-overflow-scrolling: touch;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);

        table {
            width: 100%;
            max-width: 100%;
            background-color: #fff;
            margin: 0;
            padding: 0;
            border-collapse: collapse;
            border-spacing: 0;

            tbody {
                tr {
                    width: 100%;
                    border: 1px solid @divider;
                    border-left: 0px;
                    border-right: 0px;
                    padding: 5px;

                    &:hover:not(.nohover) {
                        background-color: #e5e5e5;
                    }

                    &.loader {
                        height: 15px;
                    
                        td {
                            padding: 0px;
                        }
                    }

                    &.message {
                        border: 0px;

                        td {
                            color: @sublabel;
                            background-color: #fff;
                            padding: 3em 1em;
                            text-align: center;
                            font-weight: bold;
                        }
                    }

                    &:nth-child(2n+1) {
                        background-color: #f6f6f6;
                    }

                    &:nth-child(2n) {
                        background-color: #fff;
                    }

                    td {
                        // add a min width so headers appear even when empty data
                        min-width: 50px;
                        max-width: 180px;
                        line-height: 1.5;
                        vertical-align: top;
                        text-align: left;
                        color: @paragraph;
                        padding: 8px 10px;

                        &.no-wrap {
                            white-space: nowrap;
                            vertical-align: middle;
                            text-align: right;
                        }

                        &.hide-col {
                            display: none;
                        }
                    }
                }

                // grouping
                tr.group, tr.group:hover {
                    background-color: #ddd !important;
                    cursor: pointer;
                }
                tr.collapsed {
                    display: none !important;
                }
            }
        }
    }
}

@media screen and (max-width: @break-point) {
    .table-layout:not(.table-mobile-off) {
        height: unset;
        font-size: 14px;
        .table-details {
            .mobile-sort-options {
                display: inline-flex;
            }
        }

        .table-header {
            display: none;
        }

        .table-contents {
            max-height: 500px !important;
            height: 500px !important;
            table {
                border: 0;

                tbody {
                    tr {
                        display: block;
                        border-bottom: 1px solid @divider;
                       
                        td {
                            display: block;
                            text-align: right;
                            max-width: none;
                            width: 100%;
                            &:last-child {
                                border-bottom: 0;
                            }

                            &:first-child {
                                border-top: 0;
                            }

                            &:before {
                                content: attr(data-label);
                                float: left;
                                text-transform: uppercase;
                                font-weight: bold;
                                text-align: left;
                                margin-right: 3px;
                            }
                        }
                    }
                }
            }
        }
    }
}