﻿<div class="dialog generated-reports table-layout">
    <div class="header">
        <div class="title">
            <h2>{{ 'export_files.title' | translate }}</h2>
        </div>
        <div class="button">
            <button aria-label="clear" mat-icon-button (click)="dialogRef.close()">
                <mat-icon>clear</mat-icon>
            </button>
        </div>
    </div>
    <div class="content table-contents add-shadows">
        <table>
            <thead>
                <tr class="table-header">
                    <th class="column-header">
                        <span class="title">{{ 'export_files.timestamp' | translate }}</span>
                    </th>
                    <th class="column-header">
                        <span class="title">{{ 'export_files.type_name' | translate }}</span>
                    </th>
                    <th class="column-header">
                        <span class="title">{{ 'export_files.message' | translate }}</span>
                    </th>
                    <th > </th>
                </tr>
            </thead>
            <tbody>
                <!-- loader -->
                <tr class="loader" *ngIf="loading">
                    <td [attr.colspan]="settings.length">
                        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                    </td>
                </tr>
                <!-- end loader -->
                <ng-template [ngIf]="request && request.length > 0">
                    <tr *ngFor="let item of request">                                    
                        <td class="datetime" attr.data-label="{{ 'export_files.timestamp' | translate }}">
                            {{ item.timestamp | myDateFormat : { display: dateDisplayOptions.both, dateFormat: "M/D/YYYY" } }}
                        </td>                                     
                        <td class="export-type"  attr.data-label="{{ 'export_files.type_name' | translate }}">
                            <div *ngIf="item.exportType">{{ item.exportType | translate  }}:</div>
                            {{ item.typeName | translate }}
                        </td>  
                        <td class="description" attr.data-label="{{ 'export_files.message' | translate }}">
                            <span [ngClass]="[ item.error ? 'error-message' : 'success-message']">{{ item.message | translate }}</span>
                        </td>                                       
                        <td>
                            <!-- download link -->
                            <a *ngIf="item.download" target='_blank' aria-label="download file" class="ud-button" mat-icon-button 
                                (click)="removeFromList(item)"
                                [href]="item.fileURL"
                                [matTooltipPosition]="'above'"
                                matTooltip="{{ 'export_files.button.download' | translate }}">
                                <mat-icon>file_download</mat-icon>
                            </a> 
                            <!-- end of download link -->

                            <!-- done button -->
                            <button *ngIf="!item.download" aria-label="remove file from list" class="ud-button" mat-icon-button 
                                (click)="removeFromList(item)"
                                [matTooltipPosition]="'above'" 
                                matTooltip="{{ 'export_files.button.done' | translate }}">
                                <mat-icon>done</mat-icon>
                            </button> 
                            <!-- end of done link -->
                        </td>
                    </tr>
                </ng-template>
            </tbody>
        </table>

        <footer class="footer">        
            <button aria-label="clear all" class="btn alternative-btn" (click)="removeFromList()">
                {{ 'export_files.button.clear_all' | translate }}
            </button>
        </footer>             
    </div>       
</div>
