@import "../../styles/variables";
@import "../../shared/data-table/data-table.less";

.generated-reports {
    max-height: 80vh;
    .table-contents {
        height: 100% !important;
        .column-header .title {
            font-weight: bold;
        }
        .datetime {
            width: 21%;
        }
        .description {
            width: 30%;
            .error-message {
                color: @high-alert;
                
            }
            .success-message {
                color: @good-alert;
                font-weight: bold;
            }  
        }
        .export-type {
            width: 30%;
            div {
                font-weight: bold;
                color: #656464;
            }
        }
    }
}
