<page-container class="ev-charging-monitor"
                [title]="'sidebar.ev_operations.charging_monitor'"
                [options]="pageOptions"
                (notifyOnOptionSelection)="onSelectPageOption($event)">

    <div pageContent>
        <filters>
            <div class="filter-rows">
                <div class="filter-row">
                    <search-mechanism style="width: 100%; text-align: center;"
                                    placeholder="{{'assets.location' | translate }}"
                                    [name]="request.chargeLocationName"
                                    [chosenOption]="searchTypes.Location"
                                    (onSelect)="onLocationSelect($event)">
                    </search-mechanism>
                </div>
                <div class="filter-row">
                    <div style="width: 100%; text-align: center;">
                        <mat-form-field class="autocomplete">
                            <input #term type="text" matInput
                                    [(ngModel)]="request.searchTerm"
                                    [formControl]="termControl"
                                    placeholder="{{ 'form.search.pleaceholder' | translate }}" />
                            <div class="autocomplete-clear" *ngIf="!loading && request.searchTerm && request.searchTerm.length > 0" (click)="clearInput($event)">
                                <mat-icon>clear</mat-icon>
                            </div>
                        </mat-form-field>
                    </div>
                </div>
                <div class="filter-row">
                    <div class=" toggle-buttons">
                        <input type="checkbox"
                                id="errors-only" 
                                name="errors-only"
                                [(ngModel)]="request.errorsOnly" 
                                (change)="onChangeShowErrorsOnly()"/>
                        <label for="errors-only">
                            {{ 'ev_charging_monitor.show_errors' | translate }}
                        </label>
                    </div>
                </div>
            </div>
        </filters>

        <data-table [records]="evChargingData"
                    [(settings)]="tableSettings"
                    [loading]="loading"
                    [pager]="pager"
                    [sorting]="request.sorting"
                    (onSortSelection)="onSort($event)"
                    (onScrollDown)="loadMore()">
        </data-table>
    </div>
</page-container>
