<page-container class="view-drivers"
                [title]="'admin.categories.drivers'" 
                [backButton]="true"
                (notifyOnBack)="back()"
                [options]="pageOptions"
                (notifyOnOptionSelection)="onSelectPageOption($event)">
    <div pageContent>
        <!-- FILTERS -->
        <filters>
            <div class="filter-rows reverse">
                <div class="filter-row">
                    <mat-form-field class="autocomplete">
                        <input type="text" matInput 
                                [formControl]="searchTermControl" 
                                placeholder="{{ 'form.search.pleaceholder' | translate }}"/>
                        <div class="autocomplete-clear" *ngIf="!loading && request.searchTerm && request.searchTerm.length > 0" (click)="clearInput($event)">
                            <mat-icon>clear</mat-icon>
                        </div>
                    </mat-form-field>
                </div>
                <div class="filter-row">
                    <label class="tag one-tag">{{ 'assets.title' | translate }}</label>
                    <div class="asset-options">
                        <entity-types   class="entity-types"
                                        [htmlID]="'entity-type'" 
                                        [enabled]="entityTypesData" 
                                        [selected]="entityTypes.Drivers">
                        </entity-types>
                        <div class="assets-ddl">
                            <asset-groups   [fetchData]="true" 
                                            [htmlID]="'driversGroupsMenu'" 
                                            [type]="groupTypes.Driver" 
                                            [selected]="request.groupID"
                                            (notifyOnChange)="onChangeGroup($event)">
                            </asset-groups>
                        </div>
                    </div>
                </div>
            </div>
        </filters>    
        <!-- END OF FILTERS -->
        
        <!-- DATA -->
        <data-table [records]="drivers"
                    [settings]="tableSettings"
                    [loading]="loading"
                    [pager]="pager"
                    [sorting]="request.sorting"
                    (onActionClick)="onManage($event)"
                    (onSortSelection)="onSort($event)"
                    (onScrollDown)="onScrollDown()">
        </data-table>
        <!-- END OF DATA -->
    </div>

</page-container>
