<mat-progress-bar class="my-map-loader" mode="indeterminate" *ngIf="progressBarService.loading"></mat-progress-bar>   
<div #myMap [id]="mapID" class="my-map"></div>
<map-custom-options *ngIf = "customOptionsGroups && customOptionsGroups.length > 0" 
                    [groups] = "customOptionsGroups"
                    [style.height.px] = "mapHeight"
                    [id]="'map-custom-options_' + mapID" 
                    style = "display:none">
</map-custom-options>
