@import "../styles/variables";

.my-map-loader {
    position: absolute;
    left: 0;
    top: 0;
    z-index:10000;
}
.my-map {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}


/* Map Styles */
.marker-lbl {
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, .25);
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    padding:2px;
    background: #fff;          /* the default background */
    &.green {
        color: #41784f;
        border:1px solid #fff;
    }
    &.red {
        color: #bf3232;
        border:1px solid #fff;
    }
    &.default {
        color: #565b5d;
        border:1px solid @neutral-color;
    }
}
.map-tooltip {
    max-width: 350px;
    min-width: 250px;
    .tooltip-header {
        background: @form-tabs;
        border: 1px solid @divider;
        border-bottom: 0px;
    }
    .hidden {
        display: none;
    }
    table.tooltip-contents {
        margin-top: -1px;
        width: 100%;
        border: 1px solid @divider;
        font-weight: 400;
        th {
            font-weight: bold;
            color: @sublabel; 
            padding: 5px;
        }
        tr {
            border-bottom: 1px solid @divider;
            padding: 5px;
            color: @paragraph;
            &:nth-of-type(even) { 
                background-color: @form-tabs; 
            }
            &:nth-of-type(odd) { 
                background-color: #fff; 
            }
            &:last-child { 
                 border-bottom: 0px
            }
        }
        td {
            padding: 4px;
        }
    }

    #tooltip-info {
       tr {
         td:first-child {
            font-weight: bold;
            color: @sublabel;
         }
       }
    }
}


/*
* Inrix Legend classes
*/
.InrixLegend
{
    position: absolute;
	bottom:5px !important;
	background-color: White;
    opacity: 0.8;
    padding: 2px 5px;
    text-align: center;
    border-radius: 5px;

    .InrixLegendEntry {
        background-position: left top;
        background-repeat: repeat;
    }

    .SmallCheckerBoard 
    {
        background-image:  url(/assets/images/map/small_checker_board.png);
    }

    th,  td {
        background-color: White;
        color: black;
        font-family: Arial;
        font-size: 11px;
        font-weight: normal;
        height: 1em;
        text-align: center;
        white-space: nowrap;
        min-width: 45px;
    }

}

/*
* Inrix tooltips
*/
.traffic-camera {
    .title {
        background-color: #000;
        color: white;
        border-top: 0px;
        border-bottom: 1px solid #E0E5E6;
        align-items: center;
        padding: .5em;
    }
    .copyright {
        background-color: #000;
        border: 1px ridge #fff;
        color: #fff;
        font-size: 12px;
        opacity: .6;
        padding: 1px;
        text-align: center;
        width: 235px;
    }
}

.traffic-incident {
    max-width: 280px;
    .title {
        background-color: #000;
        color: white;
        border-top: 0px;
        border-bottom: 1px solid #E0E5E6;
        align-items: center;
        padding: .5em;
    }
    .table {
        font-size: 12px;
        tr {
            border-bottom: 1px solid @divider;
            padding: 5px;
            color: #000;
            &:nth-of-type(even) { 
                background-color: @form-tabs; 
            }
            &:nth-of-type(odd) { 
                background-color: #fff; 
            }
            &:last-child { 
                 border-bottom: 0px
            }
        }
        td {
            &.label {
                color: @paragraph;
                font-weight: bold;
            }
            padding: 4px;
        }
    }

}
