<div class="country-selection">
    <button aria-label="lang menu" mat-button class="selected primary-color" type="button" [matMenuTriggerFor]="langMenu">
        <mat-icon class="ddl-icon">language</mat-icon> 
        {{ selected ? selected.label : '' }}
        <mat-icon class="ddl-icon">arrow_drop_down</mat-icon> 
    </button>
        
    <mat-menu x-position="before" y-position="below" #langMenu="matMenu">
        <div class="country-selection-options">
            <ng-template ngFor let-lang [ngForOf]="options">
                <button aria-label="select" type="button" mat-menu-item (click)="selectCountry(lang)">
                    <span class="flag" [ngClass]="'flag-' + lang.codeCss"></span>
                    <span class="label">{{lang.label}}</span>
                </button>
            </ng-template>
            <button aria-label="clear" *ngIf="noneOption" type="button" mat-menu-item (click)="selectCountry()">
                <mat-icon>clear</mat-icon>
                <span class="label">{{ 'form.actions.clear' | translate }}</span>
            </button>
        </div>
    </mat-menu>
</div>