@import "./flags/flag";

.country-selection {
    text-align: right;
    button {
        border-radius: 2px;
    }
    .ddl-icon {
        vertical-align: middle;          
    }
    div {
        font-size: 0.85em;     
        display: inline-block;
    }            
    .selected {       
        cursor: pointer;         
        font-weight: bold;
    }
}

.country-selection-options {
    button {
        height: 35px;
        line-height: 35px;
    }
    .label { 
        font-size: 11pt;
    }
    .flag {
        vertical-align: middle;
        margin-right: .5em;
    }
}