﻿<div class="dialog change-password">
    <div class="header">
        <div class="title">
            <h3>{{ 'reset_password.title' | translate }}</h3>
        </div>

    </div>
    <div *ngIf="loading">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
    <div class="content">
        <!-- ACCOUNT CREATION FORM -->
        <form class="edit-form account-creation-form"
                #changePasswordForm="ngForm"
                (ngSubmit)="onChangePassword(changePasswordForm)" >
            <div class="form-content">
                <div class="form-row input-with-icon" style="flex-flow: column wrap;">
                    <input type="password"
                            id="oldPassword"
                            name="oldPassword"
                            placeholder="{{ 'reset_password.old_password' | translate }}"
                            required
                            [(ngModel)]="request.oldPassword"
                            #oldPassword="ngModel"/>
                    <mat-icon>lock</mat-icon>
                    <div [hidden]="oldPassword.valid || oldPassword.pristine" class="alert alert-danger">
                        {{ oldPassword.errors | myFormValidationMessage: { field: 'reset_password.old_password' } }}
                    </div>
                </div>

                <div class="form-row input-with-icon" style="flex-flow: column wrap;">
                    <input type="password"
                            id="newPassword"
                            name="newPassword"
                            placeholder="{{ 'reset_password.new_password' | translate }}"
                            required
                            [(ngModel)]="request.newPassword"
                            #newPassword="ngModel"/>
                    <mat-icon>lock</mat-icon>
                    <div [hidden]="newPassword.valid || newPassword.pristine" class="alert alert-danger">
                        {{ newPassword.errors | myFormValidationMessage: { field: 'reset_password.new_password' } }}
                    </div>
                </div>
                <password-rules
                        [password]="request.newPassword"
                        [type]="passwordRulesOptions.issuer"
                        (onValidation)="onPasswordValidation($event)">
                </password-rules>

                <div class="form-row input-with-icon" style="flex-flow: column wrap;">
                    <input type="password"
                            id="confirmNewPassword"
                            name="confirmNewPassword"
                            placeholder="{{ 'reset_password.confirm_new_password' | translate }}"
                            required
                            validateEqual="newPassword"
                            [(ngModel)]="request.confirmNewPassword"
                            #confirmNewPassword="ngModel"/>
                        <mat-icon>lock</mat-icon>
                    <div [hidden]="confirmNewPassword.valid || confirmNewPassword.pristine" class="alert alert-danger">
                        {{ confirmNewPassword.errors | myFormValidationMessage: { field: 'reset_password.confirm_new_password', compareField: 'reset_password.new_password' } }}
                    </div>
                </div>
                <re-captcha #captcha *ngIf="showRecaptcha" [(ngModel)]="request.recaptchaReactive" (resolved)="onCaptchaResolved($event)" name="captcha" required></re-captcha>

            </div>
            <footer>
                <button aria-label="submit" type="submit" class="btn secondary-btn"
                        [disabled]="changePasswordForm.invalid || !isPasswordValid || loading">
                    {{ 'form.actions.save' | translate }}
                </button>
                <button aria-label="cancel" (click)="closeDialog()" type="reset" class="btn alternative-btn">
                    {{ 'form.actions.cancel' | translate }}
                </button>
            </footer>
        </form>
        <!-- END OF ACCOUNT CREATION -->
    </div>

</div>
