﻿<page-container class="audit-log"
                [title]="'audit_log.title'">

    <div pageContent>
        <filters>
            <div class="filter-rows" style="flex-wrap: wrap;">
                <div class="filter-row" style="width:auto">                
                    <label class="tag">{{ 'period_selector.title' | translate }}:</label>  
                    <div class="asset-options">       
                        <period-selector class="entity-types" 
                                        [htmlID]="'period'"
                                        [options]="periodSelectorOptions"
                                        [(modelData)]="request.periodType"
                                        (modelDataChange)="onPeriodSelect($event)">
                        </period-selector>  
                    </div>               
                </div>
                <div class="filter-row" style="width:auto">                
                    <label class="tag">{{ 'audit_log.header.entity_type' | translate }}:</label>
                    <div class="asset-options">
                        <custom-selector class="entity-types" dataID="entity-type-options"
                                        [options]="entityTypeOptions"
                                        [(modelData)]="request.entityType"
                                        (modelDataChange)="onEntitySelect($event)">
                        </custom-selector>
                    </div>                
                </div>
                <div class="filter-row" style="width:auto">                
                    <label class="tag">{{ 'audit_log.header.action' | translate }}:</label>
                    <div class="asset-options">
                        <custom-selector class="entity-types" dataID="action-options"
                                        [options]="actionOptions"
                                        [(modelData)]="request.action"
                                        (modelDataChange)="onActionSelect($event)">
                        </custom-selector>
                    </div>                
                </div>
                <div class="filter-row search-filter">                
                    <mat-form-field class="autocomplete">
                        <input matInput #term [(ngModel)]="inputSelected"
                            placeholder="{{ 'form.search.pleaceholder' | translate }}"
                            (keyup)="onSearch(term.value)">
                        <div class="autocomplete-clear" *ngIf="!loadingSearch && inputSelected && inputSelected.length > 0" (click)="clearInput($event)">
                            <mat-icon>clear</mat-icon>
                        </div>
                        <div class="autocomplete-loader" *ngIf="loadingSearch">
                            <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
                        </div>
                    </mat-form-field>               
                </div>
            </div>
        </filters>
    
        <data-table [records]="data"
                    [(settings)]="tableSettings"
                    [loading]="loading"
                    [pager]="pager"
                    [sorting]="request.sorting"
                    (onSortSelection)="onSort($event)"
                    (onScrollDown)="loadMore()"
                    (onActionClick)="onAuditLogDetails($event)">
        </data-table>
    </div>
</page-container>

       