<page-container title="{{ 'sidebar.follow_up' | translate }}">

    <div class="follow-up" pageContent>
        <!-- FILTERS -->
        <filters>
            <toolbar [entityID]="quickFilterEntities.FollowUp"
                [showSaveOption]="true"
                [params]="request.quickFilters"
                [sorting]="request.sorting"
                (requestChange)="onChangeQuickFilterOption($event)">
            </toolbar>    
            <div class="period-row">
                <label class="tag" for="period-selector">{{ 'period_selector.title' | translate }}:</label>
                <div class="field">
                    <div>
                        <period-selector [htmlID]="'period'"
                                        [options]="periodSelectorOptions"
                                        [(modelData)]="request.periodType"
                                        (modelDataChange)="onPeriodSelect($event)">
                        </period-selector>
                    </div>
                </div>
            </div>
        </filters>   
        <!-- END OF FILTERS -->

        <!-- DATA TABLE -->
        <data-table [records]="driverSummaryData"
                    [settings]="tableSettings"
                    [loading]="loading"
                    [pager]="pager"
                    [sorting]="request.sorting"
                    (onSortSelection)="onSort($event)"
                    [energyUnit]="energyTypeUnit"
                    (onScrollDown)="onScrollDown()">
        </data-table>
        <!-- DATA TABLE -->  
    </div>
</page-container>
