﻿@import "../styles/variables";
@import "../styles/scores";

.follow-up {
    
    .period-row {
        display: flex;
        align-items: center;
        width:99%;
        .tag {
            margin-right: 5px;
        }
        .field {
            flex-grow: 1;
        }
    }

    .mobile {
        display: none;
    }
    
}

@media screen and (max-width: @break-point) {
    .follow-up {
        
        .period-row {
            .tag {
                font-size: .9em;
            }
            
        }
        .mobile {
            margin-top: 5px;
            display: flex;
            justify-content: space-between;
        }
        .hide-filters {
            display: none;
        }
        
    }
}
