<page-container title="{{ 'admin.categories.vehicles.groups' | translate }}: {{ 'form.actions.edit' | translate }}"
                [backButton]="true"
                (notifyOnBack)="back()">


    <div pageContent>
        <div class="admin-edit-label">{{ labelService.get() }}</div>

        <div class="settings-list-wrapper">
            <settings-list [options]="options"></settings-list>
        </div>
    </div>
</page-container>