﻿<div class="dialog get-diagnostics" style="max-width: 550px;">
    <div class="header">
        <div class="title">
            <h3>{{ 'ev_charging_points_manager.ocpp.message.details' | translate }}</h3>
        </div>
        <button aria-label="clear" mat-icon-button>
            <mat-icon (click)="closeDialog()">clear</mat-icon>
        </button>
    </div>
    <div *ngIf="loading">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
    <div class="content">
        <div style="padding: 1em;">
            {{ jsonData | json }}
        </div>
        <footer id="footer">
            <button aria-label="back" (click)="closeDialog()" type="reset" class="btn primary-btn">
                {{ 'form.actions.close' | translate }}
            </button>
        </footer>
    </div>
</div>