﻿<page-container [title]="'sidebar.fiscal_trips'"
                [options]="pageOptions"
                (notifyOnOptionSelection)="onSelectPageOption($event)">
    
    <div class="fiscal-trips-nl" pageContent>
        <div class="top-area">
            <div class="card add-shadows filters-bar">      
                <div class="period-row">
                    <label class="tag" for="period-selector">{{ 'period_selector.title' | translate }}:</label>
                    <div class="field">
                        <div>
                            <period-selector [htmlID]="'period'"
                                            [options]="periodSelectorOptions"
                                            [(modelData)]="request.periodType"
                                            (modelDataChange)="onPeriodSelect($event)">
                            </period-selector>
                        </div>
                    </div>
                </div>
                <div class="period-row">
                    <div class="field toggle-buttons">
                        <input  type="checkbox" 
                                id="show_all_non_validated" 
                                name="show_all_non_validated"
                                [(ngModel)]="request.onlyNonValidated"
                                (ngModelChange)="onAllNonValidated()">
                        <label for="show_all_non_validated">Show only non validated</label>
                    </div>
                </div>
            </div>
            <div class="card add-shadows driver-summary">
                <fiscal-trips-nl-driver-summary [modelData]="driverSummaryRequest" (oldestNonValidatedTripEvent)="oldestNonValidatedTripClick($event)"></fiscal-trips-nl-driver-summary>
            </div>
            <div class="card add-shadows display-info-row">
                <div class="display-info">
                    <p class="row">
                        <span class="fiscal-trips-notation non-validated"></span> 
                        {{ 'fiscal_trips.nl.icons.non_validated' | translate }}
                    </p>
                    <p class="row">
                        <span class="fiscal-trips-notation correction"></span> 
                        {{ 'fiscal_trips.nl.icons.correction' | translate }}
                    </p>
                    <p class="row">
                        <span class="fiscal-trips-notation combined"></span> 
                        {{ 'fiscal_trips.nl.icons.combined' | translate }}
                    </p>
                    <p class="row">
                        <span class="fiscal-trips-notation replacement-vehicle"></span> 
                        {{ 'fiscal_trips.nl.icons.replacement_vehicle' | translate }}
                    </p>
                </div>
            </div>
        </div>
        
        <data-table [uniqueID]="'fiscal'"
                    [records]="fiscalTrips"
                    [loading]="loading"
                    [pager]="pager"
                    [sorting]="request.sorting"
                    [(settings)]="tableSettings"
                    (onActionClick)="onShowTripMenu($event)"
                    (onSortSelection)="onSort($event)"
                    (onScrollDown)="onScrollDown()">
        </data-table>

    </div>
    <footer class="fiscal-trips-dates" fixedFooter>
        <div class="previous-date">
            <button aria-label="previous date" (click)="onPreviousDate()">
                <mat-icon>keyboard_arrow_left</mat-icon>
                <span>{{ previousDay | myDateFormat : { display: dateDisplayOptions.date, dateFormat: 'DD MMMM' } }}</span>
            </button>
        </div>
        <div class="next-date">
            <button aria-label="next date" (click)="onNextDate()" [disabled]="disableNextDate">
            <span>{{ nextDay | myDateFormat : { display: dateDisplayOptions.date, dateFormat: 'DD MMMM' } }}</span>
                <mat-icon *ngIf="!disableNextDate">keyboard_arrow_right</mat-icon>               
            </button>
        </div>
    </footer>
</page-container>


<more-options-edit-options-dialog></more-options-edit-options-dialog>
<fiscal-trips-nl-multiple-edit-options [trips]="selectedTrips" (onSelectOption)="onMultipleRowActionSelect($event)"></fiscal-trips-nl-multiple-edit-options>
