﻿@import "../../styles/variables";

.fiscal-trips-nl {
    .top-area {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        
        .display-info-row {
            width: 15%;
            margin-left: .5em;
            display: flex;
            .display-info {
                font-size: small;
                padding: 1em .5em;
                width: 100%;
                p {
                    width: 100%;
                    .fiscal-trips-notation {
                        display: inline-block;
                        vertical-align: middle;
                    }
                }
            }
        }

        .driver-summary {
            width: 37%;
            margin-left: .5em;
            padding: .7em 1em;
        }
    
        .filters-bar {
            width: 45%;
            padding: 1em 2em;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;

            .period-row {
                display: flex;
                flex: 1 1 auto;
                flex-direction: row;
                align-items: center;

                .tag {
                    font-size: 1em;   
                    margin-right: 5px;
                    min-width: initial;
                }

                .field {
                    flex: 1 1 auto;
                }
            }
        }
    }
}

.fiscal-trips-dates {
    display: flex;
    background-color: #fff;
    height: inherit;
    padding: unset !important;
    border-top: unset !important;
    button {
        background: @form-tabs;
        outline: none;
        border: none;
        cursor: pointer;
        height: inherit;
        font-size: 1.2em;
        &:hover {
            background: @form-tabs-hover;
        }
        &:disabled {
            color: @disabled;
            &:hover {
                background: @form-tabs;
                cursor: default;
            }
        }    
        span {
            vertical-align: super;
        }
    }

    .previous-date {
        flex: 1 0 auto;
        text-align: left;
        z-index: 1;
        overflow: visible;
        height: inherit;
    }

    .next-date {
        text-align: right;
        flex: 1 0 auto;
        z-index: 1;
        overflow: visible;
        height: inherit;
    }
}

.fiscal-trips-notation {
    width: 28px;
    height: 28px;
    display: block;
    background-image: url(fiscal-trip-icons.svg);
    &.non-validated {
        background-position: -107px 1px;
    }

    &.correction {
        background-position: -36px 0;
    }
    
    &.combined {
        background-position: -74px 0;
    }

    &.replacement-vehicle {
        background-position: 1px 0;
    }
}

@media screen and (max-width: @break-point) {
    .fiscal-trips-nl {
        .top-area {
            flex-direction: column;

            .driver-summary {
                width: 100%;
                margin-left: 0em;
            }
            .display-info-row {
                width: 100%;
                margin-left: 0em;
                .display-info {
                    p {
                        display: inline-block;
                    }
                }
            }

            .filters-bar {
                width: 100%;
                flex-direction: column;
                .period-row {
                    .tag {
                        font-size: .9em;
                        min-width: 120px;
                    }
                }
            }
        }
    }
    .fiscal-trips-dates  {
        button {
            padding: .25em;
            font-size: 1em;
        }
    }
}