﻿@import "../../styles/variables";

.page-error {   
    .content {
        h1 {
            text-align: center;
            font-size: 3em;
            color: @paragraph;
            font-weight: bold;
            margin: 1.25em 0 0.25em;
        }
        h4 {
            text-align: center;
            font-weight: 300;
            margin-bottom: 1em;
        }
    }
}


@media screen and (min-width: @break-point) {
    .page-error {        
        .content {
            h1 {
                font-size: 5.5em;
                margin: 0.5em 0 0.25em;
            }           
        }
    }
}
