﻿
<div class="dialog forgot-password">
    <div class="header">   
        <div class="title">
            <h3>{{ 'forgot_password.title' | translate }}</h3>
        </div>     
        <button aria-label="clear" mat-icon-button>
            <mat-icon (click)="closeDialog()">clear</mat-icon>
        </button>
    </div>
    <div *ngIf="loading">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
    <div class="content">        
        <!-- FORGOT PASSWORD FORM -->
        <form *ngIf="!emailSent" class="edit-form forgot-password-form"
                #forgotPasswordForm="ngForm" 
                (ngSubmit)="onForgotPassword(forgotPasswordForm)">
            <p>{{ 'forgot_password.description' | translate }} </p> 
            <div class="form-row input-with-icon">
                <input type="email"
                        id="email" 
                        name="email"
                        placeholder="{{ 'forgot_password.email' | translate }}"
                        required
                        validateEmail
                        [(ngModel)]="forgotPasswordEmail" 
                        #email="ngModel"/>
                <mat-icon>contact_mail</mat-icon>
                <div [hidden]="email.valid || email.pristine" class="alert alert-danger">
                    {{ email.errors | myFormValidationMessage: { field: 'forgot_password.email' } }}
                </div>
            </div>

            <footer>
                <button aria-label="submit" type="submit" class="btn secondary-btn"
                        [disabled]="forgotPasswordForm.invalid || loading">
                    {{ 'form.actions.send' | translate }}          
                </button>
                <button aria-label="reset" (click)="closeDialog()" type="reset" class="btn alternative-btn">
                    {{ 'form.actions.cancel' | translate }}
                </button>
            </footer>
        </form>
        <!-- END OF FORGOT PASSWORD FORM -->

        <!-- Upon successfull email delivery -->
        <div *ngIf="emailSent" >
            <p innerHTML="{{ 'forgot_password.email_sent_success' | translate : { value : forgotPasswordEmail }  }}">
            
            </p>
            <footer>
                <button aria-label="close" (click)="closeDialog()" type="reset" class="btn alternative-btn">
                    {{ 'form.actions.close' | translate }}
                </button>
            </footer>
        </div>
    </div>
</div>
