@import "../../styles/variables";

.user-menu {
    span {
        font-weight: 500;
        font-size: 16px;
    }

    .user-menu-notification {
        color: var(--primary-color);
        font-size: 25px;
        width: 26px;
        height: 28px;
        margin-right: 0.25em;
        vertical-align: middle;
    }
}