<div class="user-menu">            
    <!-- take over button -->
    <back-to-admin></back-to-admin> 

    <span *ngIf="showFullname">
        {{ getFullname() }}
    </span>
    <!-- <span class="counter-wrapper" *ngIf="filesForDownload && filesForDownload.length > 0">
        <mat-icon class="primary-color-hover">
            notifications_active
        </mat-icon>
        <span class="file-counter outer-counter">{{ filesForDownload.length }} </span>    
    </span>       -->
    <mat-icon class="user-menu-notification" 
        *ngIf="counterNumber > 0"        
        matBadge="{{ counterNumber }}" 
        matBadgeColor="warn">
            notifications
    </mat-icon>
    <button aria-label="option" mat-icon-button [matMenuTriggerFor]="optionMenu">                
        <mat-icon>keyboard_arrow_down</mat-icon>
    </button>
    <mat-menu x-position="before" y-position="below" #optionMenu="matMenu">                
        <button aria-label="change password" mat-menu-item (click)="changePassword()">
            <mat-icon>lock</mat-icon> 
            {{ 'app.user_menu.change_password' | translate }} 
        </button>
        <button aria-label="audit log" mat-menu-item (click)="auditLog()">
            <mat-icon>event_note</mat-icon> 
            {{ 'app.user_menu.audit_log' | translate }} 
        </button>
        <button *ngIf="announcements && announcements.length > 0" mat-menu-item (click)="announcementsBottomSheet()">
            <div class="file-counter inner-counter">{{ announcements.length }}</div>
            <mat-icon>announcement</mat-icon> 
                {{ 'announcements.title' | translate }}
        </button> 
        <button *ngIf="filesForDownload && filesForDownload.length > 0" mat-menu-item (click)="exportFiles()">
            <div class="file-counter inner-counter">{{ filesForDownload.length }}</div>
            <mat-icon class="icon icon-reporting"></mat-icon> 
                {{ 'export_files.title' | translate }}  
        </button> 
        <button aria-label="log out" mat-menu-item (click)="logout()"><mat-icon>exit_to_app</mat-icon> {{ 'app.user_menu.sign_out' | translate }}  </button>
    </mat-menu>
</div>