<page-container class="edit-company-map-settings"
                title="{{ 'admin.categories.company.manage' | translate }}: {{ 'form.actions.edit' | translate }}"
                [backButton]="true"
                (notifyOnBack)="back()"
                [loading]="loading">

    <form pageContent #editForm="ngForm" (ngSubmit)="onSubmit(editForm)" class="edit-form"> 
        <div class="admin-edit-label">{{ getLabelEntity() }}</div>
        <fieldset>
            <div class="form-row">
                <label class="tag width20" for="refreshIntervalMinutes">{{ 'company.refresh_interval' | translate }}</label>
                <div class="field width-remain refresh-interval">
                    <mat-slider max="10"
                                min="1"
                                step="1"
                                thumbLabel
                                tickInterval="1"
                                name="refreshIntervalMinutes"
                                [(ngModel)]="company.refreshIntervalMinutes">
                    </mat-slider>
                    <span>{{ company.refreshIntervalMinutes }} {{ 'time.minute_s' | translate }}</span>
                </div>
            </div>
            <div class="form-row">
                <label class="tag width20" for="singleMapPointScale">{{ 'company.single_map_point_scale' | translate }}</label>
                <div class="field width-remain">
                    <input class="number"
                            type="number" 
                            id="singlePointMapScale" 
                            name="singlePointMapScale"
                            [(ngModel)]="company.singleMapPointScale" 
                            #singleMapPointScale="ngModel"/>
                    {{ userOptions.metrics.distance }}
                </div>
                <div [hidden]="singleMapPointScale.valid || singleMapPointScale.pristine" class="alert alert-danger">
                    {{ singleMapPointScale.errors | myFormValidationMessage: { field: 'company.single_map_point_scale' } }}
                </div>
            </div>
            <div class="form-row">
                <label class="tag width20" for="showVehiclesOfflineAfterHours">{{ 'company.show_vehicles_offline_after' | translate }}</label>
                <div class="field width-remain">
                    <input class="number"
                            type="number" 
                            id="showVehiclesOfflineAfterHours" 
                            name="showVehiclesOfflineAfterHours"
                            [(ngModel)]="company.showVehiclesOfflineAfterHours" 
                            #showVehiclesOfflineAfterHours="ngModel"/>
                    {{ 'time.hour_s' | translate }}
                </div>
                <div [hidden]="showVehiclesOfflineAfterHours.valid || showVehiclesOfflineAfterHours.pristine" class="alert alert-danger">
                    {{ showVehiclesOfflineAfterHours.errors | myFormValidationMessage: { field: 'company.show_vehicles_offline_after' } }}
                </div>
            </div>
            <footer>
                <button aria-label="submit" type="submit" [disabled]="!editForm.form.valid || loading " class="btn secondary-btn">
                    {{ 'form.actions.save' | translate }}          
                </button>
                <button aria-label="back" (click)="back()" type="reset" class="btn alternative-btn">
                    {{ 'form.actions.cancel' | translate }}
                </button>
            </footer>
        </fieldset>
    </form>
</page-container>
