@import "../../../styles/variables";

.edit-company-map-settings {
    mat-slider {
        width: 250px;
    }
}


@media screen and (max-width: @break-point) {
    .edit-company-map-settings {
        .refresh-interval {
            flex-flow: row wrap;
        }
    }   
}