﻿<div class="dialog">
    <div class="header">
        <div class="title">
            <h2>
                {{ request.title | translate }}
            </h2>
        </div>
        <div class="button">
            <button aria-label="clear" mat-icon-button (click)="dialogRef.close('no')">
                <mat-icon>clear</mat-icon>
            </button>
        </div>
    </div>
    <div class="content">
        <h4 [innerHTML] ="request.message | translate: request.param"> </h4>
        <br />
        <footer class="footer">
            <button aria-label="submit" class="btn primary-btn" (click)="dialogRef.close('yes')">
                {{ request.submitButtonTitle | translate }}
            </button>
            <button aria-label="cancel" class="btn alternative-btn" (click)="dialogRef.close('no')">
                {{ 'form.actions.cancel' | translate }}
            </button>
        </footer>
    </div>    
</div>