@import "../../styles/variables";

/* custom options styles */
.map-custom-options-container {
    position: absolute;
    top: 20px;
    height: inherit;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
    border-right: 1px solid @divider;
    background: rgb(255,255,255);

    .map-custom-options-contents {
        width: 250px;
        height: 94%;
        padding: 5px;
        overflow-y: scroll;
        background: rgb(255,255,255);
        
        fieldset {
            .cluster-wrapper {
                display: flex;
                flex-flow: column wrap;
                .option {                                        
                    margin-bottom: 8px;
                }
            }
        }
    }

    .map-custom-options-toggle-container {
        position: absolute;
        top: 23px;
        right: -24px;
        width: 23px;
        height: 48px;
        cursor: pointer;
        border-right: 1px solid #D4D4D4;
        box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
        background-color: #fff;
        .map-custom-options-toggle-button {
            margin-top: 10px;
        }
    }


    &.expanded {
        transform: translateX(0);
        -webkit-transform: translateX(0);
        transition-duration: 1s;
        .map-custom-options-toggle-button {
            -moz-transform: rotate(90deg);
            -webkit-transform: rotate(90deg);
            -o-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
            transform: rotate(90deg);
        }
    }

    &.collapsed {
        transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        transition-duration: 1s;
        .map-custom-options-toggle-button {
            -moz-transform: rotate(-90deg);
            -webkit-transform: rotate(-90deg);
            -o-transform: rotate(-90deg);
            -ms-transform: rotate(-90deg);
            transform: rotate(-90deg);
        }
    }
}