<div class="map-custom-options-container" [ngClass]="this.expanded ? 'expanded' : 'collapsed'">
    <div class="map-custom-options-contents" >
        <fieldset *ngIf="mapBasicOptions">
            <legend>
                <span>{{ 'map.custom_options.basics_title' | translate }}</span>
                <button aria-label="toggle cluster" type="button" mat-icon-button (click)="toggleCluster(clusters.basic)">
                    <mat-icon>keyboard_arrow_down</mat-icon>
                </button>
            </legend>
            <div [@openClose]="basicOptionsStatus" class="cluster-wrapper">
                <div class="option" *ngFor="let option of mapBasicOptions">
                    <input class="css-checkbox" type="checkbox" md-menu-disable-close="md-menu-disable-close"
                        [attr.id]="option.name"
                        [checked]="option.checked"
                        [disabled]="option.disabled"
                        (click)="service.onChangeOption(option)" />
                    <label class="css-label" [attr.for]="option.name">{{ option.term | translate }}</label>
                </div>
            </div>
        </fieldset>
        <fieldset *ngIf="mapTripOptions">
            <legend>
                <span>{{ 'map.custom_options.trips_title' | translate }}</span>
                <button aria-label="toggle cluster" type="button" mat-icon-button (click)="toggleCluster(clusters.trip)">
                    <mat-icon>keyboard_arrow_down</mat-icon>
                </button>
            </legend>
            <div [@openClose]="tripOptionsStatus" class="cluster-wrapper">
                <div class="option" *ngFor="let option of mapTripOptions">
                    <input class="css-checkbox" type="checkbox" md-menu-disable-close="md-menu-disable-close"
                        [attr.id]="option.name"
                        [checked]="option.checked"
                        [disabled]="option.disabled"
                        (click)="service.onChangeOption(option)" />
                        <label class="css-label" 
                            [attr.for]="option.name" 
                            [matTooltip]="option.description | translate"
                            matTooltipPosition="below"
                            matTooltipShowDelay="1000">
                            {{ option.term | translate }}
                    </label>
                </div>
            </div>
            
        </fieldset>
        <fieldset  *ngIf="mapTrafficOptions && mapTrafficOptions.length > 0">
            <legend>
                <span>{{ 'map.custom_options.live_data_title' | translate }}</span>
                <button aria-label="toggle cluster" type="button" mat-icon-button (click)="toggleCluster(clusters.traffic)">
                    <mat-icon>keyboard_arrow_down</mat-icon>
                </button>
            </legend>
            <div [@openClose]="trafficOptionsStatus" class="cluster-wrapper">
                <div class="option" *ngFor="let option of mapTrafficOptions">
                    <input class="css-checkbox" type="checkbox" md-menu-disable-close="md-menu-disable-close"
                        [attr.id]="option.name"
                        [checked]="option.checked"
                        [disabled]="option.disabled"
                        (click)="service.onChangeOption(option)" />
                    <label class="css-label" 
                            [attr.for]="option.name" 
                            [matTooltip]="option.description | translate"
                            matTooltipPosition="below"
                            matTooltipShowDelay="1000">
                            {{ option.term | translate }}
                    </label>
                </div>
            </div>
            
        </fieldset>
    </div>
    <div class="map-custom-options-toggle-container" (click)="toggleBar()">
        <div class="map-custom-options-toggle-button">
            <mat-icon>arrow_drop_down</mat-icon>
        </div>
    </div>
</div>