﻿<div class="dialog edit-ip">
    <div class="header">
        <div class="title">
            <h3>{{ (!request.id ? 'form.actions.add' : 'form.actions.edit') | translate }}</h3>
        </div>
        <button aria-label="clear" mat-icon-button>
            <mat-icon (click)="closeDialog()">clear</mat-icon>
        </button>
    </div>
    <div class="content">
        <div *ngIf="loading">
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </div>
        <!-- FORGOT PASSWORD FORM -->
        <form class="edit-form forgot-password-form" #editIPForm="ngForm" (ngSubmit)="onSaveIP(editIPForm)">

            <div class="form-content">
                <div class="form-row">
                    <label class="tag width20" for="fromIP">{{ 'company.ip_restrictions.from_ip' | translate }}</label>
                    <input type="text"
                           id="fromIP"
                           name="fromIP"                           
                           required
                           validateIP
                           [(ngModel)]="request.fromIP"
                           #fromIP="ngModel" />
                    <div [hidden]="fromIP.valid || fromIP.pristine" class="alert alert-danger">
                        {{ fromIP.errors | myFormValidationMessage: { field: 'company.ip_restrictions.from_ip' } }}
                    </div>
                </div>

                <div class="form-row">
                    <label class="tag width20" for="toIP">{{ 'company.ip_restrictions.to_ip' | translate }}</label>
                    <input type="text"
                           id="toIP"
                           name="toIP"                          
                           required
                           validateIP
                           [(ngModel)]="request.toIP"
                           #toIP="ngModel" />
                    <div [hidden]="toIP.valid || toIP.pristine" class="alert alert-danger">
                        {{ toIP.errors | myFormValidationMessage: { field: 'company.ip_restrictions.to_ip' } }}
                    </div>
                </div>
            </div>
            <footer>
                <button aria-label="submit" type="submit" class="btn secondary-btn"
                        [disabled]="editIPForm.invalid || loading">
                    {{ 'form.actions.save' | translate }}
                </button>
                <button aria-label="cancel" (click)="closeDialog()" type="reset" class="btn alternative-btn">
                    {{ 'form.actions.cancel' | translate }}
                </button>
            </footer>
        </form>
        <!-- END OF FORGOT PASSWORD FORM -->        
    </div>
</div>