﻿@import "../../../styles/variables";

.view-score-definition {
    overflow: hidden;

    button.ddl {
        color:#fff;
        margin: 3px 0px;
        max-height: 50px;
    }
    .default {
        mat-icon {            
            font-size: 20pt;
        }
    }
   .error-on-load {
        bottom: 0;
        right: 0;
        margin: 3em auto auto;
        position: absolute;
        top: 0;
        left: 0;               
        height: 0px; 
        padding: 1em;  
        color: @sublabel;                             
    }
}
.delete-confirmation{
    padding: 10px;
    footer{
        padding: 10px;
        button
        {
            color:#fff;
            margin: 3px 0px;
            max-height: 50px;
        }
    }
}



@media screen and (min-width: @break-point) {
    .view-score-definition {
        .error-on-load {          
            margin: auto;                                     
        }
    }
}