﻿<div class="toggle-buttons"  *ngIf="!ddlMode">
    <div *ngFor="let class of data">
        <input type="radio" [id]="'class_' + class.id" [name]="'class_' + class.id"
               [(ngModel)]="modelData"
               [value]="class.id"
               (ngModelChange)="onSelectOption(class.id)">
        <label [for]="'class_' + class.id">{{ class.name  }}</label>
    </div>
</div>
<custom-selector class="selectOnMobile" 
                [ngClass]="ddlMode ? 'desktop' : ''"
                [options]="data"
                [(modelData)]="modelData"
                [dataID]="'class-idxs'"
                [loading]="loading"
                (modelDataChange)="onSelectOption($event)">
</custom-selector>