<page-container title="{{ 'admin.categories.users.manage' | translate }}: {{ 'form.actions.edit' | translate }}"
                [backButton]="true"
                (notifyOnBack)="back()"
                [loading]="loading">

    <form pageContent #editForm="ngForm" (ngSubmit)="onSubmit(editForm)" class="edit-form"> 
        <div class="admin-edit-label">{{ getLabelEntity() }}</div>

        <fieldset>
            <legend>{{ 'users.role' | translate }}</legend>
            <div class="form-row">
                <div class="field width-remain">
                    <user-roles-list class="ddl" [(modelData)]="user.roleID"></user-roles-list>
                </div>
            </div>
            <div class="form-row" style="margin-top:15px;">
                <div class="field width-remain">
                    <button aria-label="submit" type="submit" [disabled]="!editForm.form.valid || !user.roleID || loading " class="btn secondary-btn">
                        {{ 'form.actions.save' | translate }}          
                    </button>
                    <button  style="margin-left:5px;" aria-label="back" (click)="back()" type="reset" class="btn alternative-btn">
                        {{ 'form.actions.cancel' | translate }}
                    </button>
                </div>
            </div>
        </fieldset>
    </form>
</page-container>
