
<!-- TOP BAR -->
<mat-toolbar *ngIf="checkIfLoggedIn && showLoggedIn" class="toolbar">
    <div class="item left">
        <div class="menu-option" *ngIf="!opening">
            <button aria-label="menu"  mat-icon-button (click)="openClose()">
                <mat-icon>menu</mat-icon>
            </button>
        </div>
        <company-logo></company-logo>
    </div>
    <div class="item center" id="title-placeholder"> </div>
    <div class="item right">        
        <user-menu [showFullname]="opening"></user-menu>
    </div>
</mat-toolbar>
    

<!-- SIDE MENU BAR -->
<mat-sidenav-container [ngClass]="{ 'space-on-top' : showLoggedIn && checkIfLoggedIn }" fullscreen >

    <mat-sidenav *ngIf="showLoggedIn && checkIfLoggedIn" class="site-sidenav" #start mode="{{mode}}" [opened]="opening">
        <header class="nav-header">
            <div class="name">
                <span *ngIf="userOptions.getUser()" class="user-name">{{ userOptions.getUser().initials }}</span>
                <span *ngIf="userOptions.getUser() && menu" class="full-name">{{ userOptions.getUser().fullname }}</span>
            </div>
        </header>
        <ul>
            <ng-template ngFor let-item [ngForOf]="sidebarOptions">
                <li [ngClass]="{'full' : menu, 'active': active }" *ngIf="item.hasAccess">
                    <a *ngIf="!item.children" routerLink="/{{item.routeParam}}" [skipLocationChange]="skipLocChange" routerLinkActive="active" (click)="openClose()">
                        <i class="icon icon-{{item.icon}}"></i><span *ngIf="menu">{{ item.title | translate }}</span>
                    </a>                      

                    <ng-template [ngIf]="item.children && !menu">
                        <div [matMenuTriggerFor]="innerMenu">
                            <i class="icon icon-{{item.icon}}"></i><span *ngIf="menu">{{ item.title | translate }}</span>
                        </div>
                        <mat-menu [overlapTrigger]="false" x-position="before" y-position="below" #innerMenu="matMenu">
                            <ng-template ngFor let-innerItem [ngForOf]="item.children">
                                <button aria-label="inner menu" *ngIf="innerItem.hasAccess" mat-menu-item routerLink="/{{innerItem.routeParam}}" [skipLocationChange]="skipLocChange">
                                    <span>{{ innerItem.title | translate }}</span>
                                </button>
                            </ng-template>

                           
                        </mat-menu>
                    </ng-template>

                    <ng-template [ngIf]="item.children && menu">
                        <div *ngIf="item.children && menu" (click)="showChildMenu(item.routeParam)">
                            <i class="icon icon-{{item.icon}}"></i><span *ngIf="menu">{{ item.title | translate }}</span>
                        </div>
                        <ul class="inner-menu" [@openClose]="item.opened ? 'expanded' : 'collapsed'">
                            <ng-template ngFor let-innerItem [ngForOf]="item.children">
                                <li *ngIf="innerItem.hasAccess">
                                    <a routerLink="/{{innerItem.routeParam}}" routerLinkActive="active" [skipLocationChange]="skipLocChange">
                                        <span>{{ innerItem.title | translate }}</span>
                                    </a>
                                </li>
                            </ng-template>
                        </ul>
                    </ng-template>
                </li>
            </ng-template>

            <li class="expand-button" (click)="largerMenu()">
                <i class="icon icon-enlarge2"></i>
            </li>
        </ul>
    </mat-sidenav>
    
    <breadcrumb></breadcrumb>     
    <router-outlet></router-outlet>            

</mat-sidenav-container>
