@import "../styles/variables";

body {
    background: @bgGrey;
    font-family: @primary-font-families;
    font-size: @primary-font-size;
    background: @bgGrey;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}

h1 {
    font-size: 3.5em;
    letter-spacing: 1px;    
}

h2 {
    font-size:1.625em;
}

h3 {
    font-size: 1.250em;
}

h4 {
    font-size: 1em;
}

h5 {
    font-size: 0.875em;
}

h6 {
    font-size: 0.5em;
}

p {
    font-weight: 400;
    font-size: 0.875em;
}

small {
    font-weight: 400;
    line-height: 100%;
    font-size: 0.750em;
}

label {
    font-weight: 500;
    font-size: 12pt;
}

a {
    font-weight: bold;
    font-size: 16pt;
}


.mat-input-element {
    box-shadow: none !important;
    margin-bottom: 0 !important;
}

.center {
  text-align: center;
}

.hidden {
  display: none!important;
}

.clear {
  clear: both;
}

.over-line {
  text-decoration: line-through;
}

.mat-input-wrapper {
    margin: 8px 0!important;
}

mat-sidenav-layout {
    background: @bgGrey;
}

a.primary-link {
    font-weight: 500;
    font-size: 10pt;
    margin-left: 10px;
    background: none;
    color: #1C5074;
    color: var(--primary-color);
    line-height: 25px;
    font-style: normal;
    text-decoration: none;
}

a.primary-link:hover {
    cursor: pointer;
    text-decoration: underline;
    color: #236391;
    color: var(--primary-color-hover);
}

.space-on-top {
    margin-top: 56px;
}

/* TOOLTIP */
.mat-tooltip {
    background-color: #293230;
    font-size: 14px !important;
}


/* EXPORT-IMPORT FILES COUNTER */
.counter-wrapper {
    padding-top: 2px;
    vertical-align: middle;    
    display: inline-block;
    height: 30px;
}

.file-counter {            
    border-radius: 50%;
    font-size: .7em!important;
    color: #fff;    
    text-align: center;
    background: red;   
}

.inner-counter {
    left: 30px;
    top: 3px;
    width: 18px;
    height: 18px;    
    line-height: 18px;
    position: absolute;  
}

.outer-counter {    
    right: 55px;
    top: 17px;
    width: 15px;
    height: 15px;    
    line-height: 15px;
    position: absolute; 
}



/* FIELDSET */
fieldset {
    width: 100%;
    padding: 1em;
    border: 1px solid @divider;
    border-radius: 2px;
    margin-top: 20px;
    box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.1) !important;
    background-color: #ffffff;
    legend {
        &.liner {
            background-image: linear-gradient(to bottom, #fafafa, #ffff);
        }
        padding: 0em .5em;
        color: @sublabel;
        font-size: 11pt;
        mat-icon {
            vertical-align: middle;
        }
        .bold {
          font-weight: bold !important;
        }
    }
}

/* AUTOCOMPLETE */

.autocomplete {
    width: 100%;
    
    .autocomplete-loader {
        width:inherit;
        z-index:10;
        mat-progress-spinner {
            right: 0px;
            position: absolute;
            top: 6px;
            width: 20px!important;
            height: 20px!important;
            svg {
                width: 20px!important;
                height: 20px!important;
            }
        }
    }
    .autocomplete-clear {
        width:inherit;
        z-index:10;
        cursor: pointer;
        mat-icon {
            color: #1C5074;
            color: var(--primary-color);
            font-size: 14pt;
            right: -5px;
            position: absolute;
            top: 7px;
        }
    }
}

/* ICONS */

.mat-icon-button:hover {
    background-color: rgba(0,0,0,.12);
    border-radius: 50%;
    opacity: 1;
    transition: opacity .2s cubic-bezier(.35,0,.25,1),background-color .2s cubic-bezier(.35,0,.25,1);
}

.custom-svg-icon {
    color: #1C5074;
    color: var(--primary-color) !important;
}



/*------ end of DEFAULT CSS ------*/

/* Base Styles */

.card { 
    background: white;
    //padding: 24px;
    display: block;
    position: relative;
    opacity: 1;    
    border-radius: 2px;
    margin-bottom: 12px;        
    .header {
        border-top: 5px solid @neutral-color;
        border-bottom: 1px solid @divider;
        padding: 1em .5em;
        h2 {
            span {
                vertical-align: middle;
            }
        }
    }
    .content {
        padding: 1em 2em;
    }
    .footer {
        padding: 1em .5em;
    }
}

.add-shadows {       
   box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    -webkit-transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
    will-change: box-shadow;
    &:hover {
        box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    }  
}

/* Accordion */
.accordion {
    .accordion-header {
        font-size: 12pt;
        border-bottom: 1px solid @divider;
        color: #1C5074;
        color: var(--primary-color);
    }
    .accordion-content-wrapper {
        max-height: 420px;
        overflow-y: auto;
        overflow-x: hidden;
        margin: 0 -20px;
        padding: 1em;
    }
}

/* Tabs */

 .mat-tab-header {
    border-bottom: 0px;
    padding:0;  
    background-color: @form-tabs; 
    .mat-tab-list {          
        border-bottom: 1px solid @divider;
    }
   
    .mat-tab-label {
        border-top: 1px solid @divider;
        border-left: 1px solid @divider;
        &:focus {
            background: #fff;  
        }
        &:hover:not(.mat-tab-disabled) {
            background: @form-tabs-hover;                    
        }
        &.mat-tab-disabled {
            cursor: not-allowed;
        }
    }
    .mat-ripple {
        background: @form-tabs; 
        &:last-child {
            border-right: 1px solid @divider;
        }
    }
    .mat-tab-label-active {
        background: #fff;    
        border-bottom: 0px;
        opacity: 1 !important;
        &:hover {
            background: #fff;                    
        }
    }
    .mat-ink-bar {
        background-color:#fff;
        bottom: -1px;
    }
} 


/* Loader */

.loader {
    width:inherit;
    height:300px;
    padding: 1em 2em;            
    position: relative;           
    z-index:10;           
    mat-progress-spinner {
        bottom: 0;
        right: 0;
        margin: auto;
        position: absolute;
        top: 0;
        left: 0;               
        width: 50px!important;
        height: 50px!important;  
        svg {
            width: 50px!important;
            height: 50px!important;
        }                 
    }
}

/* Button Styles */
.btn {
    padding: 3px 10px;
    border-radius: 2px;
    min-height: 38px;
    font-family: @primary-font-families;
    font-weight: 500;
    font-size: 11pt;
    cursor: pointer;
    min-width: 100px;
    &:disabled {
        background-color: #8e979b;
        border: 1px solid #8e979b;
        color: #e3e5e6;
        cursor: default;
        &:hover, &:focus  {
            background-color: #8e979b;
            border: 1px solid #8e979b;
            color: #e3e5e6;
            cursor: default;
        }
    }
    mat-icon {
        vertical-align: middle;
    }
}

.btn-small {
    .btn();
    min-width: 50px!important;
}


.alternative-btn {
    background-color: transparent;
    border: 1px solid @alternative-color-hover;
    color: @alternative-text;
    &:hover, &:focus  {
        background-color: @alternative-color-hover;
    }
}

.delete-btn {
    background-color: transparent;
    border: 1px solid @alternative-color-hover;
    color: @alternative-text;
    &:hover, &:focus  {
        background-color: #fff;
        color: #DD1E02;
    }
}

.icon-button {
    background: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    padding: 0.2em;
    font-size: 1em;
}

.ud-button { 
    border: 0px;
    background-color: transparent;
    color: #8F999D !important;
}

.ud-button:hover { 
    color: grey;
    border: medium none;
    cursor: pointer;
    outline: medium none;
}

.button-size-32 {
    font-size: 32px !important;
    line-height: 32px !important;
    height: 32px !important;
    width: 32px !important;
}

/* Search Styles */
.search {
    margin: 0 auto 12px;
    z-index: 20;
    h1 {
        margin-bottom: 10px;
    }
    label {
        font-size: 1em;
        text-align: left;
    }
    input {
        display:block;
        padding: 15px;
        margin: 5px 0;
        font-size: 1.275em;
        color: #475B62;
        border: 1px solid #C5C5C5;
        border-radius: 4px;
        outline: 0;
    }
}

.mat-menu-panel {
    max-height: 280px!important;
    max-width: 200px!important;
}

/* Browsers version Dialog Styles */
.browsers-version {
    .header {
        &:after {
            border: none!important;
        }
    }
}

/* NOTES / ALERTS */
.note {
    padding: 1em;
    margin: 0 0 1.5em 0;
    text-align: justify;
    font-size: .9em;
    border-radius: 4px;
    border: 1px solid transparent;

    &.note-warning {
        color: #8a6d3b;
        background-color: #fcf8e3;
        border-color: #faebcc;
    }

    &.note-description {
        color: #5f5e5e;
        background-color: #EFEFEF;
        border-color: #e7e7e7;
    }
}

/* TITLE WITH BORDER LEFT-RIGHT */
.border-title {
    position: relative;
    text-align: center;
    width: 100%;
    h3 {
        color: #686868;
        background-color: #fafafa;
        display: inline-block;
        font-size: 22px;
        margin: 1em 0;
        padding: 0 25px;
        position: relative;
    }
    .border {
        margin-top: -.5px;
        position: absolute;
        top: 50%;
        background-color: #c8d0de;
        height: 1px;
        width: 100%;
    }
}

@media screen and (min-width: @break-point) {
    h1 {
        font-size: 4.5em;       
    }

    h2 {
        font-size:2em;
    }

    h3 {
        font-size: 1.625em;
    }

    h4 {
        font-size: 1.250em;
    }

    h5 {
        font-size: 1em;
    }

    h6 {
        font-size: 0.875em;
    }

    .row {
      max-width:100%;        
    }

    .mat-menu-panel {
        max-height:500px!important;
        max-width: 280px!important;
    }

    .row {
      padding: 0 1.75438596%;     
    }

    .card {              
        .header {            
            padding: 1em;
            h2 {
                span {
                    vertical-align:bottom;
                }
            }
        }
        .footer {
            padding: 1em;
        }

    }

    .space-on-top {
        margin-top: 64px;
    }
}
