﻿// @import '../../../node_modules/@angular/material/theming';

@import '~@angular/material/theming';

@include mat-core();

$black-87-opacity: rgba(black, 0.87);
$white-87-opacity: rgba(white, 0.87);

/*---------- DEFAULT TEMPLATE BLUE/GREEN ----------*/
$mat-blue-primary: (  
    50 : #e4eaee,
    100 : #bbcbd5,
    200 : #8ea8ba,
    300 : #60859e,
    400 : #3e6a89,
    500 : #1c5074,
    600 : #19496c,
    700 : #144061,
    800 : #113757,
    900 : #092744,
    A100 : #7bb6ff,
    A200 : #489aff,
    A400 : #157eff,
    A700 : #0071fb,
    contrast: (    
        100: $black-87-opacity,
        200: $black-87-opacity,
        300: $black-87-opacity,
        400: $black-87-opacity,
        500: white,
        600: white,
        700: white,
        800: $white-87-opacity,
        900: $white-87-opacity,
        A100: $black-87-opacity,
        A200: white,
        A400: white,
        A700: white,
    )
);

$mat-blue-secondary: (
    50 : #edf6ea,
    100 : #d1e8cc,
    200 : #b2d9aa,
    300 : #93c987,
    400 : #7cbe6e,
    500 : #65b254,
    600 : #5dab4d,
    700 : #53a243,
    800 : #49993a,
    900 : #378a29,
    A100 : #d4ffcd,
    A200 : #a7ff9a,
    A400 : #7bff67,
    A700 : #65ff4d,
    contrast: (
        50: $black-87-opacity,
        100: $black-87-opacity,
        200: $black-87-opacity,
        300: $black-87-opacity,
        400: $black-87-opacity,
        500: $black-87-opacity,
        600: $black-87-opacity,
        700: $black-87-opacity,
        800: white,
        900: white,
        A100: $black-87-opacity,
        A200: $black-87-opacity,
        A400: $black-87-opacity,
        A700: $black-87-opacity,
    )
);


/*---------- CUSTOM LIGHT BLUE/LIGHT GREEN TEMPLATE ----------*/
$mat-tirquaz-primary: (
    50 : #e2f4f6,
    100 : #b7e4e9,
    200 : #87d2da,
    300 : #56bfcb,
    400 : #32b2c0,
    500 : #0ea4b5,
    600 : #0c9cae,
    700 : #0a92a5,
    800 : #08899d,
    900 : #04788d,
    A100 : #b9f2ff,
    A200 : #86e9ff,
    A400 : #53e0ff,
    A700 : #3adcff,
    contrast: (
        50: $black-87-opacity,
        100: $black-87-opacity,
        200: $black-87-opacity,
        300: $black-87-opacity,
        400: $black-87-opacity,
        500: white,
        600: white,
        700: white,
        800: white,
        900: $white-87-opacity,
        A100: $black-87-opacity,
        A200: $black-87-opacity,
        A400: $black-87-opacity,
        A700: $black-87-opacity,
    )
);

$mat-tirquaz-secondary: (
    50 : #f8fae5,
    100 : #eef2be,
    200 : #e3ea93,
    300 : #d8e268,
    400 : #cfdb47,
    500 : #c7d527,
    600 : #c1d023,
    700 : #baca1d,
    800 : #b3c417,
    900 : #a6ba0e,
    A100 : #fcffe7,
    A200 : #f5ffb4,
    A400 : #efff81,
    A700 : #ecff68,
    contrast: (
        50: $black-87-opacity,
        100: $black-87-opacity,
        200: $black-87-opacity,
        300: $black-87-opacity,
        400: $black-87-opacity,
        500: $black-87-opacity,
        600: $black-87-opacity,
        700: $black-87-opacity,
        800: $black-87-opacity,
        900: white,
        A100: $black-87-opacity,
        A200: $black-87-opacity,
        A400: $black-87-opacity,
        A700: $black-87-opacity,
    )
);

/*---------- CUSTOM PURPLE/ORANGE TEMPLATE ----------*/
$mat-purple-primary: (
    50 : #ded7f2,
    100 : #ad9ddf,
    200 : #8a73d2,
    300 : #5e3ebf,
    400 : #5236a8,
    500 : #472f91,
    600 : #3c287a,
    700 : #302063,
    800 : #25194c,
    900 : #1a1135,
    A100 : #d2c6f9,
    A200 : #8a6aef,
    A400 : #5129ca,
    A700 : #4e30aa,
    contrast: (
        50: $black-87-opacity,
        100: $black-87-opacity,
        200: $black-87-opacity,
        300: white,
        400: white,
        500: $white-87-opacity,
        600: $white-87-opacity,
        700: $white-87-opacity,
        800: $white-87-opacity,
        900: $white-87-opacity,
        A100: $black-87-opacity,
        A200: white,
        A400: $white-87-opacity,
        A700: $white-87-opacity,
    )
);

$mat-purple-secondary: (
    50 : #ffffff,
    100 : #fde5d4,
    200 : #fac59e,
    300 : #f79c5a,
    400 : #f58b3d,
    500 : #f47920,
    600 : #ea690c,
    700 : #cd5c0a,
    800 : #af4f09,
    900 : #924207,
    A100 : #ffffff,
    A200 : #ffd0ae,
    A400 : #ff9548,
    A700 : #fa8733,
    contrast: (
        50: $black-87-opacity,
        100: $black-87-opacity,
        200: $black-87-opacity,
        300: $black-87-opacity,
        400: $black-87-opacity,
        500: $black-87-opacity,
        600: $black-87-opacity,
        700: $black-87-opacity,
        800: white,
        900: white,
        A100: $black-87-opacity,
        A200: $black-87-opacity,
        A400: $black-87-opacity,
        A700: black,
    )
);


$theme-blue-primary: mat-palette($mat-blue-primary);
$theme-blue-accent: mat-palette($mat-blue-secondary);
$theme-blue-warn: mat-palette($mat-red);

$theme-blue: mat-light-theme($theme-blue-primary, $theme-blue-accent, $theme-blue-warn);

@include angular-material-theme($theme-blue);



$theme-tirquaz-primary: mat-palette($mat-tirquaz-primary);
$theme-tirquaz-accent: mat-palette($mat-tirquaz-secondary);
$theme-tirquaz-warn: mat-palette($mat-red);

$theme-tirquaz: mat-light-theme($theme-tirquaz-primary, $theme-tirquaz-accent, $theme-tirquaz-warn);

[class^="theme-tirquaz"] {
    @include angular-material-theme($theme-tirquaz);
}



$theme-purple-primary: mat-palette($mat-purple-primary);
$theme-purple-accent: mat-palette($mat-purple-secondary);
$theme-purple-warn: mat-palette($mat-red);

$theme-purple: mat-light-theme($theme-purple-primary, $theme-purple-accent, $theme-purple-warn);

[class^="theme-purple"] {
    @include angular-material-theme($theme-purple);
}