@import "../styles/variables";

.site-sidenav {
    background: @bgGrey !important;
    min-width:80px !important;
    max-width: 300px;
    box-shadow: 0 3px 16px -5px rgba(0,0,0,.2) !important;
    border-right: 1px solid @bgGrey;
    
    header {
        text-align:center;
        padding:15pt 10pt;
        background:@bgWhite;
        height: 100px;
        width: 100%;
        display: table;
        &.full {
            padding: 0 10pt;
        }
        .name {    
            display: table-cell;
            vertical-align: middle;
            .user-name {
                font-size:15pt;
                background: #FFD80F;
                padding:7pt;
                border-radius:50%;
                color:@text-color;
            }
            .full-name {
                font-size:12pt;
                padding-left:5pt;
            }
        }
    }
    ul {
        li {
            background:@bgWhite;
            text-align: center;
            list-style: none;
            border-top: 1px solid @divider;               
            &:last-child {
                border-bottom: 1px solid @divider;
            }
            &:hover {
                background: #65B254;
                background: var(--secondary-color);
                a {
                    border-left-color: #65B254;
                    border-left:4px solid var(--secondary-color);
                    color: @bgWhite;
                }
                > div { 
                    border-left-color: #65B254;
                    border-left:4px solid var(--secondary-color);
                    color: @bgWhite;
                    &:hover {
                        border-left-color: #65B254;
                        border-left:4px solid var(--secondary-color);
                    }
                }
            }           
            &.full {
                text-align: left;               
                a {
                    &:hover {
                        border-left-color: #65B254;
                        border-left:4px solid var(--secondary-color);
                    }
                    border-left:4px solid @bgWhite;         
                    padding: 8pt 30pt 4pt 10pt;
                    i {
                        display: inline-block;
                        width: 50px;
                        vertical-align: middle;
                        text-align: center;
                    }
                    span {
                        padding-left:6pt;
                        font-size:11pt;
                   }
                }
                > div {
                    padding: 8pt 30pt 4pt 10pt;
                    i {
                        display: inline-block;
                        width: 50px;
                        vertical-align: middle;
                        text-align: center;
                    }
                    span {
                        padding-left:6pt;
                        font-size:11pt;
                        font-weight: bold;
                   }      
                }
            }
            a {
                text-decoration:none;
                color: #1C5074;             
                color: var(--primary-color);
                padding: 8pt 2pt 4pt;
                display:block;
                border-left:4px solid @bgWhite;         
                &.active {
                    border-left-color: #65B254;
                    border-left:4px solid var(--secondary-color);
                }
                .icon {
                    font-size:24pt;
                }            
            }
            > div {
                text-decoration:none;
                color: #1C5074;             
                color: var(--primary-color);
                padding: 8pt 2pt 4pt;
                display:block;
                border-left:4px solid @bgWhite; 
                &.active {
                    border-left-color: #65B254;
                    border-left:4px solid var(--secondary-color);
                }                       
                .icon {
                    font-size:24pt;
                }            
            }

            .inner-menu {
                li {                    
                    text-align: left;
                    &:last-child {
                        border-bottom: none;
                    }
                    &:hover {
                        background: #1C5074;
                        background: var(--primary-color);
                    }
                    a {      
                        font-weight: normal;
                        text-decoration:none;
                        color: #1C5074;
                        color: var(--primary-color);
                        padding: 2pt;
                        display:block;
                        border-left: 8px solid @bgWhite !important;         
                        &.active {
                            border-left: 8px solid var(--secondary-color) !important;
                        }
                        &:hover {
                            color:@bgWhite;
                            border-left-color: #1C5074;
                            border-left: 8px solid var(--primary-color) !important;                          
                        }                       
                        span {
                            font-size: 11pt;
                            padding-left: 1.5em;
                        }   
                              
                    }
                }
            }




            &.expand-button {
                position:relative;                
                background:@bgWhite;
                color: #1C5074;
                color: var(--primary-color);
                padding: 8pt 0 4pt;
                font-size: 24pt;
                text-align: center;
                width:100%;
                &:hover {
                    color:@bgWhite;
                    background: #65B254;
                    background: var(--secondary-color);
                }                
            }                 
        }
    }

    
}

@media screen and (min-width: @break-point) {
    .site-sidenav {
        ul {
            li {
                 &.expand-button {
                    position: absolute;
                    bottom: 0;                          
                }
            }
        }
    }
}

@media screen and (min-height: @break-point) {
    .site-sidenav {
        ul {
            li {
                 &.expand-button {
                    position: absolute;
                    bottom: 0;                          
                }
            }
        }
    }
}


@media screen and (max-height: @break-point) {
    .site-sidenav {
        ul {
            li {
                 &.expand-button {
                    position: relative;                         
                }
            }
        }
    }
}


