@import "../styles/variables";

@toolbar-desktop-height: 64px;
@toolbar-mobile-height: 56px;
.toolbar {
    height: @toolbar-mobile-height;
    background: @bgWhite !important;
    color: @text-color;
    border-bottom: 1px solid @divider;
    box-shadow: 0 2px 16px 0px rgba(0,0,0,.2);

    z-index: 2;
    position: absolute;
    .left {
        width: 20%;
    }
    
    .right {
        width: 30%;
        text-align: right;
    }

    .center {
        flex: 1 1 auto;
        text-align: center;
        visibility: visible;
        font-size: 14px !important;
        overflow: hidden;

        .page-card-header {
            justify-content: center;
            background-color: transparent;
            border: 0px;
            padding: 0px;

            position: unset;
            width: unset;

            .title {
                padding: 0px;
                font-size: 12pt;
                color: @paragraph;
                max-width: 190px;
                text-overflow: ellipsis;
                /* Required for text-overflow to do anything */
                white-space: nowrap;
                overflow: hidden;
            }
            .more-add-options {
                flex:unset;
                .header-button {
                    margin-top: 12px;
                    position: relative;
                    background: transparent;
                    border-width: 0px;
                    width: inherit;
                    height: inherit;
                }
            } 
        }
    }

    .company-logo-img {
        display: none;
    }
}

@media screen and (min-width: @break-point) {
    .toolbar {
        height: @toolbar-desktop-height;
        .left {
            width: 30%;
        }
        .right {
            width: 60%;
        }
        .center {
            visibility: hidden;
        }
        .company-logo-img {
            display: block;
            max-height: @toolbar-desktop-height;
            max-width: 250px;
            img {
                vertical-align: middle;
            }
        }
    }
}