<page-container title="{{ 'events.details.title' | translate }}" 
                [backButton]="true"
                (notifyOnBack)="back()"
                [loading]="loading">

    <div pageContent class="event-details">
        <div class="left-info card add-shadows">
            <ng-template [ngIf]="eventDetails">
                <div class="info-row">
                    <span class="tag">{{ 'events.list.dateTime' | translate }}</span>
                    <span class="value">{{ eventDetails.timestamp | myDateFormat: { display: dateDisplayOptions.both, dateFormat: userOptions.localOptions.short_date } }}</span>
                </div>
                <div class="info-row">
                    <span class="tag">{{ 'events.list.vehicle' | translate }}</span>
                    <span class="value">{{ eventDetails.vehicleLabel }}</span>
                </div>                
                <div class="info-row">
                    <span class="tag">{{ 'events.list.driver' | translate }}</span>
                    <span class="value">{{ eventDetails.driverLabel }}</span>
                </div>               
                <div class="info-row">
                    <span class="tag">{{ 'events.list.locationAddress' | translate }}</span>
                    <span class="value">{{ eventDetails.address }}</span>
                </div>
                <div class="info-row">
                    <span class="tag">{{ 'events.details.event_message' | translate }}</span>
                    <span class="value">{{ eventDetails.description }}</span>
                </div>        
                <div class="info-row">
                    <span class="tag">{{ 'events.list.priority' | translate }}</span>
                    <span class="value">{{ eventDetails.priorityLabel !== '' ? eventDetails.priorityLabel : eventDetails.priorityIDX }}</span>
                </div>
                <div class="info-row">
                    <span class="tag">{{ 'events.list.class' | translate }}</span>
                    <span class="value">{{ eventDetails.classLabel !== '' ? eventDetails.classLabel : eventDetails.classIDX }}</span>
                </div>           
                <div class="info-row status-row">
                    <span class="tag">{{ 'events.list.status' | translate }}</span>
                    <div class="value">
                        <span class="lbl">{{ eventDetails.statusLabel !== '' ? eventDetails.statusLabel : eventDetails.statusIDX }}</span>
                        <span class="btn">
                            <button aria-label="edit" class="ud-button" mat-icon-button (click)="openDialog()">
                                <mat-icon>mode_edit</mat-icon>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="info-row" *ngIf="historicData && historicData.length > 0">
                    <span class="tag">{{ 'events.details.status_changes' | translate }}</span>
                </div>

                <div *ngIf="historicData && historicData.length > 0">
                    <data-table [records]="historicData"
                                [settings]="historyTableSettings"
                                [loading]="loadingHistoricData">
                    </data-table>
                </div>                           
            </ng-template>
        </div>
        <div class="right-info card add-shadows">
            <google-map [mode]="mapModes.marker" 
                    [loading]="loadingTraces"
                    [traces]="traces" 
                    [events]="[eventDetails]"  
                    [customOptionsGroups]="[customOptionsGroups.trip]">
            </google-map>
        </div>
    </div>
</page-container>
