﻿@import "../../styles/variables";

.event-details {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    
    .left-info {
        width: 48%;
        padding: 1em;
        overflow-y: scroll;
    }

    .right-info {
        width: 50%;
        margin-left: 1em;
    }
    .info-row {
        display: flex;
        align-items: center;
        .tag {
            font-size: 1em;
            font-weight: 500;
            color: rgba(41,50,48,0.6);
            flex: 0 1 30%;
            padding: .5em .5em .5em 0;
        }
        .value {
            font-size: 1em;
            font-weight: 500;
            color: rgba(41,50,48,0.9);
            flex: 0 1 70%;
            padding: .5em 0;
        }
    }
}


@media screen and (max-width: @break-point) {
    .event-details {
        flex-direction: column;
        .left-info {
            min-height: 100%;
            width: 100%;
        }

        .right-info {
            min-height: 300px;
            width: 100%;
            margin-left: 0em;
        }
    }
}
