<page-container title="{{ 'admin.categories.charge_points.groups' | translate }}: {{ 'assets.group.members' | translate }}"
                [backButton]="true"
                (notifyOnBack)="back()">
                
    <div pageContent #wrapper class="edit-form">
        <div class="admin-content">
            <div class="admin-edit-label">{{ getLabelEntity() }}</div>
        </div>
        <div class="form-row">
            <mat-form-field class="autocomplete">
                <input matInput #searchTerm 
                                    placeholder="{{ 'assets.group.members.add_member' | translate }}" 
                                    [matAutocomplete]="auto" 
                                    (keyup)="getCpGroupNonMembers(searchTerm.value)">
                <div class="autocomplete-loader" *ngIf="loadingNonMembersCps">
                    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
                </div>
            </mat-form-field>

            <mat-autocomplete #auto="matAutocomplete" ng-disabled="disabled">
                <mat-option (onSelectionChange)="onAddMember(item)" *ngFor="let item of cpsNonMembers" [value]="item.name">
                    {{ item.name }}
                </mat-option>
            </mat-autocomplete>
        </div>
        
        <data-table [records]="members"
                    [settings]="tableSettings"
                    [loading]="loading"
                    [pager]="pager"
                    [sorting]="request.sorting"
                    (onActionClick)="onManage($event)"
                    (onSortSelection)="onSort($event)"
                    (onScrollDown)="onScrollDown()">
        </data-table>
    </div>
</page-container>
