<mat-form-field class="autocomplete">
    <input matInput #term [(ngModel)]="inputSelected"
            placeholder="{{ 'form.search.pleaceholder' | translate }}"
            [matAutocomplete]="auto"
            (keyup)="search(term.value)">
    <div class="autocomplete-clear" *ngIf="!loading && inputSelected && inputSelected.length > 0" (click)="clearInput($event)">
        <mat-icon>clear</mat-icon>
    </div>
    <div class="autocomplete-loader" *ngIf="loading">
        <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
    </div>
</mat-form-field>
<button type="button" *ngIf="inputSelected" 
                    aria-label="add" 
                    class="btn-small primary-btn" 
                    [disabled]="!optionValid(inputSelected)" 
                    (click)="onAddNew(inputSelected)">
    <mat-icon>add_circle_outline</mat-icon>
</button>

<mat-autocomplete #auto="matAutocomplete" ng-disabled="disabled">
    <mat-option (onSelectionChange)="selected(item)" *ngFor="let item of items | async" [value]="item">
        {{ item }}
    </mat-option>
</mat-autocomplete>