@import "_mixins";
@import "_variables";

/* BEGIN Bold Italic */
@font-face {
	font-family: Roboto;
	.fontdef-woff(@FontPath, @FontName, @FontVersion, "BoldItalic");
	font-weight: 700;
	font-style: italic;
    font-display: swap;
}
@font-face {
	font-family: Roboto;
	.fontdef-woff(@FontPath, @FontName, @FontVersion, "BoldItalic");
	font-weight: bold;
	font-style: italic;
    font-display: swap;
}
/* END Bold Italic */
