@import "_mixins";
@import "_variables";

/* BEGIN Bold */
@font-face {
	font-family: Roboto;
	.fontdef-woff(@FontPath, @FontName, @FontVersion, "Bold");
	font-weight: 700;
	font-style: normal;
    font-display: swap;
}
@font-face {
	font-family: Roboto;
	.fontdef-woff(@FontPath, @FontName, @FontVersion, "Bold");
	font-weight: bold;
	font-style: normal;
    font-display: swap;
}
/* END Bold */
