@import "_mixins";
@import "_variables";

/* BEGIN Italic */
@font-face {
	font-family: Roboto;
	.fontdef-woff(@FontPath, @FontName, @FontVersion, "Italic");
	font-weight: 400;
	font-style: italic;
    font-display: swap;
}
@font-face {
	font-family: Roboto;
	.fontdef-woff(@FontPath, @FontName, @FontVersion, "Italic");
	font-weight: normal;
	font-style: italic;
    font-display: swap;
}
/* END Italic */
