@import "_mixins";
@import "_variables";

/* BEGIN Light Italic */
@font-face {
	font-family: Roboto;
	.fontdef-woff(@FontPath, @FontName, @FontVersion, "LightItalic");
	font-weight: 300;
	font-style: italic;
    font-display: swap;
}
/* END Light Italic */
