@import "_mixins";
@import "_variables";

/* BEGIN Medium Italic */
@font-face {
	font-family: Roboto;
	.fontdef-woff(@FontPath, @FontName, @FontVersion, "MediumItalic");
	font-weight: 500;
	font-style: italic;
    font-display: swap;
}
/* END Medium Italic */
