@import "_mixins";
@import "_variables";

/* BEGIN Medium */
@font-face {
	font-family: Roboto;
	.fontdef-woff(@FontPath, @FontName, @FontVersion, "Medium");
	font-weight: 500;
	font-style: normal;
    font-display: swap;
}
/* END Medium */
