@import "_mixins";
@import "_variables";

/* BEGIN Regular */
@font-face {
	font-family: Roboto;
	.fontdef-woff(@FontPath, @FontName, @FontVersion, "Regular");
	font-weight: 400;
	font-style: normal;
    font-display: swap;
}
@font-face {
	font-family: Roboto;
	.fontdef-woff(@FontPath, @FontName, @FontVersion, "Regular");
	font-weight: normal;
	font-style: normal;
    font-display: swap;
}
/* END Regular */
