﻿
<div class="dialog edit-trip">
    <div class="header">
        <div class="title">
            <h3>{{ 'fiscal_trips.nl.edit-dialog.title' | translate }}</h3>
        </div>
        <button aria-label="close dialog" mat-icon-button>
            <mat-icon (click)="closeDialog()">clear</mat-icon>
        </button>
    </div>
    <div *ngIf="loading">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
    <div class="content">
        <div class="note note-warning" *ngIf="!trip.isValidated">
            {{ 'fiscal_trips.nl.automatic_validation.warning' | translate }}         
        </div>
        <!-- EDIT TRIP FORM -->
        <form class="edit-form" #editSelectedTripForm="ngForm" (ngSubmit)="save(editSelectedTripForm)">
            <div class="form-row">
                <label class="tag" for="stop-address">{{ 'fiscal_trips.nl.start_address' | translate }}</label>
                <div class="field width-remain">
                    <input type="text"
                           id="start-address"
                           name="start-address"                           
                           required                           
                           [(ngModel)]="trip.startAddress"
                           #startAddress="ngModel"/>                  
                </div>
                <div [hidden]="startAddress.valid" class="alert alert-danger">
                    {{ startAddress.errors | myFormValidationMessage: { field: 'fiscal_trips.nl.start_address' } }}
                </div>
            </div>
            <div class="form-row">
                <label class="tag" for="stop-address">{{ 'fiscal_trips.nl.stop_address' | translate }}</label>
                <div class="field width-remain">
                    <input type="text"
                           id="stop-address"
                           name="stop-address"
                           required
                           [(ngModel)]="trip.stopAddress" 
                           #stopAddress="ngModel"/> 
                </div>
                <div [hidden]="stopAddress.valid" class="alert alert-danger">
                    {{ stopAddress.errors | myFormValidationMessage: { field: 'fiscal_trips.nl.stop_address' } }}
                </div>
            </div>
            <div class="form-row">
                <label class="tag" for="totalDistance">
                    {{ 'fiscal_trips.nl.distance' | translate }}   
                    <small>({{ 'measurement.metric.distance' | translate }})</small>
                </label>
                <div class="field width-remain">
                    <input type="number"
                           id="totalDistance"
                           name="totalDistance"
                           required
                           [(ngModel)]="trip.totalDistance" 
                           disabled
                           #totalDistance="ngModel"/>                   
                </div>
                <div [hidden]="totalDistance.valid || totalDistance.pristine" class="alert alert-danger">
                    {{ totalDistance.errors | myFormValidationMessage: { field: 'fiscal_trips.nl.distance' } }}
                </div>
            </div>
            <div class="form-row">
                <label class="tag" for="business-distance">
                    {{ 'fiscal_trips.nl.business_distance' | translate }}
                    <small>({{ 'measurement.metric.distance' | translate }})</small>
                </label>
                <div class="field width-remain">
                    <input type="number"
                           id="business-distance"
                           name="business-distance"
                           required
                           validateNumber
                           min="0"
                           max="{{trip.totalDistance}}"
                           [(ngModel)]="trip.businessDistance" 
                           (change)="checkMilage('business')"
                           (keyup)="checkMilage('business')"
                           #businessDistance="ngModel"/>                  
                </div>
                <div [hidden]="businessDistance.valid || businessDistance.pristine" class="alert alert-danger">
                    {{ businessDistance.errors | myFormValidationMessage: { field: 'fiscal_trips.nl.business_distance' } }}
                </div>
            </div>

            <div class="form-row">
                <label class="tag" for="private-distance">
                    {{ 'fiscal_trips.nl.private_distance' | translate }}   
                    <small>({{ 'measurement.metric.distance' | translate }})</small>
                </label>
                <div class="field width-remain">
                    <input type="number"
                           id="private-distance"
                           name="private-distance"
                           min="0"
                           max="{{trip.totalDistance}}"
                           required
                           validateNumber
                           [(ngModel)]="trip.privateDistance"
                           (change)="checkMilage('private')"
                           (keyup)="checkMilage('private')" 
                           #privateDistance="ngModel"/>                   
                </div>
                <div [hidden]="privateDistance.valid || privateDistance.pristine" class="alert alert-danger">
                    {{ privateDistance.errors | myFormValidationMessage: { field: 'fiscal_trips.nl.private_distance' } }}
                </div>
            </div>

            <div class="form-row">
                <label class="tag" for="comment">{{ 'fiscal_trips.nl.comment' | translate }}</label>
                <div class="field width-remain">
                    <input type="text"
                           id="comment"
                           name="comment"                           
                           [(ngModel)]="trip.comment" />                   
                </div>
            </div>

            <div class="form-row">
                <label class="tag" for="deviation-distance">
                    {{ 'fiscal_trips.nl.deviation_distance' | translate }} 
                    <small>({{ 'measurement.metric.distance' | translate }})</small>
                </label>
                <div class="field width-remain">
                    <input type="number"
                           id="deviation-distance"
                           name="deviation-distance"   
                           validateNumber                        
                           [(ngModel)]="trip.deviationDistance" />                
                </div>
            </div>

            <div class="form-row">
                <label class="tag" for="deviation-comments">{{ 'fiscal_trips.nl.deviation_comments' | translate }}</label>
                <div class="field width-remain">
                    <input type="text"
                           id="deviation-comments"
                           name="deviation-comments"                           
                           [(ngModel)]="trip.deviationComment" />                    
                </div>
            </div>          


            <footer>
                <button aria-label="submit" type="submit" class="btn secondary-btn" [disabled]="editSelectedTripForm.invalid || loading">
                    {{ 'form.actions.save' | translate }}
                </button>
                <button aria-label="reset" type="reset" (click)="closeDialog()" class="btn alternative-btn">
                    {{ 'form.actions.cancel' | translate }}
                </button>
            </footer>

        </form>
        <!-- END OF EDIT TRIP FORM -->
    </div>
</div>
