<page-container title="{{ 'admin.categories.vehicles.groups' | translate }}: {{ 'vehicle.group.category.authorized_drivers' | translate }}"
                [backButton]="true"
                (notifyOnBack)="back()">

    <div pageContent #wrapper class="edit-form">
        <div class="admin-edit-label">{{ getLabelEntity() }}</div>
        <div class="form-row">
            <div class="form-row">
                <mat-form-field class="autocomplete">
                    <input matInput #searchTerm 
                                        placeholder="{{ 'vehicle.group.category.authorized_drivers.add_group' | translate }}" 
                                        [matAutocomplete]="auto" 
                                        mat-no-cache="true"
                                        (keyup)="getUnauthorizedDriverGroups(searchTerm.value);">
                    <div class="autocomplete-loader" *ngIf="loadingUnauthorizedGroups">
                        <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
                    </div>
                </mat-form-field>

                <mat-autocomplete #auto="matAutocomplete" ng-disabled="disabled">
                    <mat-option (onSelectionChange)="onAuthorizeDriverGroup(item.id); searchTerm.value = null;" *ngFor="let item of unauthorizedGroups" [value]="item.name">
                        {{ item.name }}
                    </mat-option>
                </mat-autocomplete>
            </div>
        </div>
        
        <data-table [records]="authorizedGroups"
                    [settings]="tableSettings"
                    [loading]="loading"
                    [sorting]="request.sorting"
                    (onActionClick)="onManage($event)"
                    (onSortSelection)="onSort($event)">
        </data-table>
    </div>
</page-container>
